﻿@model PMS_HT.Models.tbl_purchase_details

@using (Ajax.BeginForm("Add", "InventoryPurchaseDetails", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { id = "itemAddForm" }))
{


    <div class="form-horizontal">
        <div class="modal-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Memo_No,"Memo No", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @*@Html.EditorFor(model => model.Memo_No, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Memo_No, "", new { @class = "text-danger" })*@
                        <input type="text" id="Memo_No" name="Memo_No" class="form-control" value="@ViewBag.Memo_No" readonly />
                    </div>
                </div>

                <div class="form-group">
                    <label class = "control-label col-md-3">Supplier Name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" value="@ViewBag.Supplier_Name" readonly />
                    </div>
                </div>
                <input type="text" id="Purchase_Master_ID" name="Purchase_Master_ID" value="@ViewBag.Purchase_Master_ID" hidden />
                <div class="form-group">
                    @Html.LabelFor(model => model.Item_ID, "Item", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Item_ID", null, htmlAttributes: new { @class = "form-control", @onchange= "FillUnit()" })
                        @Html.ValidationMessageFor(model => model.Item_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Stock_Location_ID, "Stock Location", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Stock_Location_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Stock_Location_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @onchange = "calculate()", @onkeyup = "calculate()" } })
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        <label class="control-label" style="text-align:left;font-style:italic;color:crimson;font-weight:700;" id="unit">@ViewBag.unit</label>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Purchase_Price,"Unit Price", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Purchase_Price, new { htmlAttributes = new { @class = "form-control", @onchange="calculate()", @onkeyup="calculate()" } })
                        @Html.ValidationMessageFor(model => model.Purchase_Price, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Item_Vat,"Vat (%)", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Item_Vat, new { htmlAttributes = new { @class = "form-control", @onchange = "calculate()", @onkeyup = "calculate()" } })
                        @Html.ValidationMessageFor(model => model.Item_Vat, "", new { @class = "text-danger" })
                    </div>
                </div>    
                
                <div class="form-group">
                    <label class="control-label col-md-3">Total</label>
                    <div class="col-md-8">
                        <input type="text" id="total" name="total" class="form-control" value="0" readonly />
                    </div>
                </div>            
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
        <button type="submit" class="btn btn-success" name="cmd"><i class="fa fa-check"></i>&nbsp;Save</button>
    </div>
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    function FillUnit() {
        var item_id = $('#Item_ID').val();
        $("#unit").val("");
        $.ajax({
            url: '/InventoryItem/FillUnit',
            type: "GET",
            dataType: "JSON",
            data: { item_id: item_id },
            success: function (data) {
                $("#unit").html(data);
            }
        });
    }
    function calculate()
    {
        var textone = Number($('#Quantity').val().trim());
        var texttwo = Number($('#Purchase_Price').val().trim());
        var vatpercent = Number($('#Item_Vat').val().trim());
        var result = textone * texttwo;
        var vat = (result * vatpercent) / 100;
        var itemTotal = result + vat;
        $('#total').val(itemTotal.toFixed(2));
    }
    $('#itemAddForm').validate({
        rules: {
            Quantity: {
                required:true,
                number: true
            },
            Purchase_Price: {
                required: true,
                number: true
            },
            Item_Vat: {
                number: true
            }
        },
        messages: {
            Quantity: {
                required:"Provide Purchased Quantity",
                number: "Purchased Quantity must be a number"
            },
            Purchase_Price: {
                required: "Provide Unit Price",
                number: "Unit Price must be a number"
            },
            Item_Vat: {
                number: "Vat Percent must be a number"
            }
        }
    });
</script>