﻿@model PMS_HT.Models.tbl_supplier_ledger

<script src="~/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<script src="~/Scripts/DatePicker_.js"></script>

@using (Ajax.BeginForm("CashBack", "InventoryPurchaseDetails", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { id = "cashBackForm" }))
{
    <div class="form-horizontal">
        <div class="modal-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Supplier_ID, "Supplier Name", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Supplier_ID", null, "--Select Supplier--", htmlAttributes: new { @class = "form-control", @onchange = "FillMemoNo()" })
                        @Html.ValidationMessageFor(model => model.Supplier_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Purchase_Master_ID, "Memo No", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        <select id="Purchase_Master_ID" name="Purchase_Master_ID" class="form-control" onchange="FillData()">
                            <option>--Select Memo--</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-3">Total Receivable</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="total" value="0" readonly disabled />
                    </div>
                </div>
            </div>            
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-3">Paid</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="Debit" name="Debit" onkeyup="ShowHide()" onchange="ShowHide()" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-3">Tran.Date</label>
                    <div class="col-md-8">
                        <input type="datetime" id="Transaction_Date" name="Transaction_Date" class="form-control datefield" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-3">Particulars</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="Particulars" name="Particulars" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
        <button type="submit" class="btn btn-success" name="cmd" id="cmd" disabled><i class="fa fa-check"></i>&nbsp;Save</button>
    </div>
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        $('.modal-title').html("Cash Back From Supplier");
    });
    function FillMemoNo() {
        var supl_id = $('#Supplier_ID').val();
        if (supl_id != null && supl_id != "")
        {
            $.ajax({
                url: '/InventoryPurchaseDetails/FillMemoNo',
                type: "GET",
                dataType: "JSON",
                data: { supl_id: supl_id },
                success: function (memos) {
                    $("#Purchase_Master_ID").html(""); // clear before appending new list
                    $("#Purchase_Master_ID").append($('<option></option>').val('').html("--Select Memo--"));
                    $.each(memos, function (i, sub) {
                        $("#Purchase_Master_ID").append(
                            $('<option></option>').val(sub.Purchase_Master_ID).html(sub.Memo_No));
                    });
                }
            });
            $("#Purchase_Master_ID").append($('<option></option>').val('').html("--Select Memo--"));
            $('#total').val("0");
            $('#Credit').val("");
        }
        else {
            $("#Purchase_Master_ID").html(""); // clear before appending new list
            $("#Purchase_Master_ID").append($('<option></option>').val('').html("--Select Memo--"));
            $('#total').val("0");
            $('#Credit').val("");
        }
        $('#cmd').prop("disabled", true);
    }

    function FillData()
    {
        var master_id = $('#Purchase_Master_ID').val();
        if (master_id != null && master_id != "") {
            $.ajax({
                url: '/InventoryPurchaseDetails/FillRecivable',
                type: "GET",
                dataType: "JSON",
                data: { master_id: master_id },
                success: function (total) {
                    $('#total').val(total);
                    if (Number(total) > 0) {
                        $('#cmd').prop("disabled", false);
                    }
                }
            });
            $('#total').val("0");
            $('#Credit').val("");
        }
        else {
            $('#cmd').prop("disabled", true);
            $('#total').val("0");
            $('#Credit').val("");
        }
    }

    function ShowHide() {
        var textone = Number($('#total').val().trim());
        var texttwo = Number($('#Credit').val().trim());
        if (texttwo <= textone  && texttwo > 0) {
            $('#cmd').prop("disabled", false);
        }
        else {
            $('#cmd').prop("disabled", true);
        }
    }

    $('#cashBackForm').validate({
        rules: {
            Transaction_Date: {
                required: true
            },
            Credit: {
                required:true,
                number: true
            },
            Particulars: {
                required: true
            }
        },
        messages: {
            Transaction_Date: {
                required: "Provide Transaction Date"
            },
            Credit: {
                required:"Provide Received Amount",
                number: "Paid Amount must be a number"
            },
            Particulars: {
                required: "Provide Particular"
            }
        }
    });

</script>


