﻿@model IEnumerable<PMS_HT.Models.tbl_purchase_details>

@{
    ViewBag.Title = "Details";
}

<script src="~/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<script src="~/Scripts/DatePicker_.js"></script>
<script src="~/Scripts/AddViewModel.js"></script>
<div class="container">
    <div class="row">
        @using (Html.BeginForm("Pay", "InventoryPurchaseDetails", FormMethod.Post, new { id = "itemAddForm", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">Memo No</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" readonly value="@ViewBag.Memo_No" />
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">Total Payable</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="total" value="@ViewBag.Total" readonly />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">Due</label>
                        <div class="col-md-8">
                            <input type="text" id="due" name="due" class="form-control" value="@ViewBag.Total" readonly />
                        </div>
                    </div>
                </div>
            </div>
            <input type="text" id="Purchase_Master_ID" name="Purchase_Master_ID" value="@ViewBag.Purchase_Master_ID" hidden readonly />
            <input type="text" id="Supplier_ID" name="Supplier_ID" value="@ViewBag.Supplier_ID" hidden readonly />
            <input type="number" id="source" name="source" value=1 hidden readonly />

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">Supplier Name</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" value="@ViewBag.Sup_Name" readonly />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">Discount</label>
                        <div class="col-md-8">
                            <input type="text" id="discount" name="discount" class="form-control" onkeyup="calculate()" onchange="calculate()" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">Particular</label>
                        <div class="col-md-8">
                            <input type="text" id="Particulars" name="Particulars" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">Tran. Date</label>
                        <div class="col-md-8">
                            <input type="datetime" id="Transaction_Date" name="Transaction_Date" class="form-control datefield" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">Paid Amount</label>
                        <div class="col-md-8">
                            <input type="text" id="paid" name="paid" class="form-control" onkeyup="calculate()" onchange="calculate()" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4"></div>
                        <div class="col-md-8" style="text-align:center">
                            <button type="submit" class="btn btn-success btn-lg" name="cmd" id="cmd" style="width:100%; font-size:x-large;"><i class="fa fa-credit-card" style="font-size:xx-large"></i>&nbsp;Pay</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">


            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">

                <div class="portlet-title">
                    <div class="caption">
                        <a href="@Url.Action("Add", "InventoryPurchaseDetails", new { id = Model.FirstOrDefault().Purchase_Master_ID })" id="Add" class="btn default editDialog"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add Item To Memo</a>

                        Inventory Memo Details
                    </div>
                    <div class="caption" style="float:right">
                        <button class="btn grey-steel" onclick="printStatement()"><i class="fa fa-file-pdf-o" style="font-size:16px;color:red" aria-hidden="true">&nbsp;PDF</i></button>
                    </div>
                    <div class="tools">
                    </div>
                </div>

                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_editable_1">
                        <thead>
                            <tr>
                                <th>SL No </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbl_item.Item_Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbl_stock_location.Stock_Location_Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Quantity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Purchase_Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Item_Vat)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{i++;}
                                        @i
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbl_item.Item_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbl_stock_location.Stock_Location_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Purchase_Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Item_Vat)
                                    </td>
                                    @if (item.Quantity.Value > 0)
                                    {
                                        <td>
                                            <a href="@Url.Action("ReturnProduct", "InventoryPurchaseDetails", new { id = item.Purchase_Details_ID})" id="Add" class="btn btn-sm purple"><i class="fa fa-reply"></i>&nbsp;Return</a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }


                                </tr>
                                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add New Item To Memo</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        var total = Number($('#total').val());
        if (total <= 0) {
            $('#cmd').prop("disabled", true);
        }
    });

    $('.editDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
    });

    $('.btn-sm').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
            $('.modal-title').html("Return Product");
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
    });

    function calculate() {
        var total = Number($('#total').val());
        var discount = Number($('#discount').val());
        var paid = Number($('#paid').val());
        var due = total - discount - paid;
        $('#due').val(due);

    }

    function printStatement() {
        var id = '@ViewBag.Purchase_Master_ID';
        //window.location = "/InventoryPurchaseDetails/ExportMemo/?id=" + id;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ExportMemo")',
            data: { id: id },
            success: function (data) {
                var str = "data:application/pdf;base64," + data;
                var object = '<iframe width="100%" height="100%" src="' + str + '"></iframe>';
                var generator = window.open("", "", "top=100,left=500,width=500,height=500");
                generator.document.write(object);
                generator.document.close();
            }
        });
    }

    $('#itemAddForm').validate({
        rules: {
            Transaction_Date: {
                required: true
            },
            paid: {
                number: true
            },
            discount: {
                number: true
            },
            Particulars: {
                required: true
            },
            due: {
                number: true,
                min: 0
            }
        },
        messages: {
            Transaction_Date: {
                required: "Provide Transaction Date"
            },
            paid: {
                number: "Paid Amount must be a number"
            },
            discount: {
                number: "Discount must be a number"
            },
            Particulars: {
                required: "Provide Particular"
            },
            due: {
                number: "must be number",
                min: "Due can't be negetive"
            }
        }
    });
</script>