﻿@model IEnumerable<PMS_HT.Models.tbl_purchase_master>

@{
    ViewBag.Title = "Stock Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">

                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_2">
                        <thead>
                            <tr>
                                <th>SL No </th>
                                <th>
                                    Memo No
                                </th>
                                <th>
                                    Supplier Name
                                </th>

                                @*<th>
                                        Advanced Amount
                                    </th>
                                    <th>
                                        Discount
                                    </th>*@
                                <th>
                                    Total
                                </th>
                                <th>
                                    Purchase Date
                                </th>
                                <th>
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{i++;}
                                        @i
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details", "InventoryPurchaseDetails", new { id = item.Purchase_Master_ID })">@Html.DisplayFor(modelItem => item.Memo_No)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbl_supplier.Sup_Name)
                                    </td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.Advanced_Amount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Discount)
                                        </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Memo_Total)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Purchase_Date)
                                    </td>
                                    @if (item.status != null)
                                    {
                                        if (item.status == "Due")
                                        {
                                            <td style="color:red;font-size:large;font-weight:700;text-align:center;">@item.status</td>
                                        }
                                        else if (item.status == "Paid")
                                        {
                                            <td style="color:green;font-size:large;font-weight:700;text-align:center;">@item.status </td>
                                        }
                                        else
                                        {
                                            <td>@item.status</td>
                                        }
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                </tr>
                                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>