﻿@model PMS_HT.Models.tbl_supplier_ledger

<script src="~/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<script src="~/Scripts/DatePicker_.js"></script>

@using (Ajax.BeginForm("Pay", "InventoryPurchaseDetails", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { id = "itemAddForm" }))
{
    <div class="form-horizontal">
        <div class="modal-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Supplier_ID, "Supplier Name", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Supplier_ID", null,"--Select Supplier--", htmlAttributes: new { @class = "form-control", @onchange = "FillMemoNo()" })
                        @Html.ValidationMessageFor(model => model.Supplier_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Purchase_Master_ID, "Memo No", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        <select id="Purchase_Master_ID" name="Purchase_Master_ID" class="form-control" onchange="FillData()">
                            <option>--Select Memo--</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-3">Total Payable</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="total" value="0" readonly disabled/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-3">Discount</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="discount" name="discount" onkeyup="calculate()" onchange="calculate()" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-3">Paid</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="paid" name="paid" onkeyup="calculate()" onchange="calculate()" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-3">Tran.Date</label>
                    <div class="col-md-8">
                        <input type="datetime" id="Transaction_Date" name="Transaction_Date" class="form-control datefield" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-3">Particulars</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="Particulars" name="Particulars" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-3">Due</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="due" value="0" readonly disabled/>
                    </div>
                </div>
            </div>
            <input type="number" id="source" name="source" value=2 hidden readonly />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
        <button type="submit" class="btn btn-success" name="cmd" id="cmd" disabled><i class="fa fa-credit-card"></i>&nbsp;Pay</button>
    </div>
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        $('.modal-title').html("Pay");
    });
    function FillMemoNo() {
        var supl_id = $('#Supplier_ID').val();
        if (supl_id != null && supl_id != "") 
        {
            $.ajax({
                url: '/InventoryPurchaseDetails/FillMemoNo',
                type: "GET",
                dataType: "JSON",
                data: { supl_id: supl_id },
                success: function (memos) {
                    $("#Purchase_Master_ID").html(""); // clear before appending new list
                    $("#Purchase_Master_ID").append($('<option></option>').val('').html("--Select Memo--"));
                    $.each(memos, function (i, sub) {
                        $("#Purchase_Master_ID").append(
                            $('<option></option>').val(sub.Purchase_Master_ID).html(sub.Memo_No));
                    });
                }
            });
            $("#Purchase_Master_ID").append($('<option></option>').val('').html("--Select Memo--"));
            $('#total').val("0");
            $('#due').val("0");
            $('#paid').val("");
            $('#discount').val("");
        }
        else {
            $("#Purchase_Master_ID").html(""); // clear before appending new list
            $("#Purchase_Master_ID").append($('<option></option>').val('').html("--Select Memo--"));
            $('#total').val("0");
            $('#due').val("0");
            $('#paid').val("");
            $('#discount').val("");
        }
        $('#cmd').prop("disabled", true);
    }

    function FillData()
    {
        var master_id = $('#Purchase_Master_ID').val();
        if (master_id != null && master_id != "") {
            $.ajax({
                url: '/InventoryPurchaseDetails/FillData',
                type: "GET",
                dataType: "JSON",
                data: { master_id: master_id },
                success: function (total) {
                    $('#total').val(total);
                    $('#due').val(total);
                    if (Number(total) > 0) {
                        $('#cmd').prop("disabled", false);
                    }
                }
            });
            $('#total').val("0");
            $('#due').val("0");
            $('#paid').val("");
            $('#discount').val("");
        }
        else {
            $('#cmd').prop("disabled", true);
            $('#total').val("0");
            $('#due').val("0");
            $('#paid').val("");
            $('#discount').val("");
        }
    }
    function calculate() {
        var total = Number($('#total').val());
        var discount = Number($('#discount').val());
        var paid = Number($('#paid').val());
        var due = total - discount - paid;
        $('#due').val(due);

    }
    $('#itemAddForm').validate({
        rules: {
            Transaction_Date: {
                required: true
            },
            paid: {
                number: true
            },
            discount: {
                number: true
            },
            Particulars: {
                required: true
            },
            due: {
                number: true,
                min: 0
            }
        },
        messages: {
            Transaction_Date: {
                required: "Provide Transaction Date"
            },
            paid: {
                number: "Paid Amount must be a number"
            },
            discount: {
                number: "Discount must be a number"
            },
            Particulars: {
                required: "Provide Particular"
            },
            due: {
                number: "must be number",
                min: "Due can't be negetive"
            }
        }
    });

</script>

