﻿@model PMS_HT.Models.tbl_stock
@using PMS_HT.Models
@{ 
    tbl_purchase_details memos = ViewBag.memo;
}

<script src="~/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<script src="~/Scripts/DatePicker_.js"></script>

@using (Ajax.BeginForm("ReturnProduct", "InventoryPurchaseDetails", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { id = "returnForm" }))
{
    <div class="form-horizontal">
        <div class="modal-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-3">Memo No</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" value="@memos.Memo_No" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Supplier Name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" value="@memos.tbl_purchase_master.tbl_supplier.Sup_Name" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Item</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" value="@memos.tbl_item.Item_Name" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Purchased Quantity</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="purchased" value="@memos.Quantity" readonly />
                    </div>
                </div>
                <input type="number" id="details_id" name="details_id" value="@memos.Purchase_Details_ID" hidden readonly />
                <div class="form-group">
                    <label class="control-label col-md-3">Location</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" value="@memos.tbl_stock_location.Stock_Location_Name" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Available Stock</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="available" value="@ViewBag.Available" readonly />
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Stock_Out,"Return Quantity", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Stock_Out, new { htmlAttributes = new { @class = "form-control", @onchange = "ShowHide()", @onkeyup = "ShowHide()" } })
                        @Html.ValidationMessageFor(model => model.Stock_Out, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        <label class="control-label" style="text-align:left;font-style:italic;color:crimson;font-weight:700;" id="unit">@memos.tbl_item.tbl_unit.Unit_Name</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Date</label>
                    <div class="col-md-8">
                        <input type="datetime" id="stock_change_date" name="stock_change_date" class="form-control datefield" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Note</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="note" name="note" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
        <button type="submit" class="btn btn-success" name="cmd" id="cmd2"><i class="fa fa-reply"></i>&nbsp;Return</button>
    </div>
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>    
    function ShowHide()
    {
        var textone = Number($('#available').val().trim());
        var texttwo = Number($('#purchased').val().trim());
        var textthree = Number($('#Stock_Out').val().trim()); 
        if (textthree <= textone && textthree <= texttwo && textthree > 0) {
            $('#cmd2').prop("disabled", false);
        }
        else
        {
            $('#cmd2').prop("disabled", true);
        }           
    }
    $('#returnForm').validate({
        rules: {
            Stock_Out: {
                required:true,
                number: true
            },
            stock_change_date: {
                required: true
            }
        },
        messages: {
            Stock_Out: {
                required:"Provide Returned Quantity",
                number: "Returned Quantity must be a number"
            },
            stock_change_date: {
                required: "Provide Date"
            }
        }
    });
</script>