﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_RestaurantAdmin.cshtml";
}
<div class="row">
    <div class="col s12 m3">
        <div class="card gradient-45deg-deep-orange-orange">
            <div class="padding-4">
                <div class="col s7 m7">
                    <i class="mdi mdi-view-dashboard background-round material-icons"></i>
                    <p class="white-text">Orders</p>
                </div>
                <div class="col s5 m5 right-align">
                    <h5 class="mb-0 white-text">690</h5>
                    <p class="no-margin white-text">New</p>
                    <p class="white-text">6,00,00</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card gradient-45deg-green-teal">
            <div class="padding-4">
                <div class="col s7 m7">
                    <i class="mdi mdi-view-dashboard background-round material-icons"></i>
                    <p class="white-text">Orders</p>
                </div>
                <div class="col s5 m5 right-align">
                    <h5 class="mb-0 white-text">690</h5>
                    <p class="no-margin white-text">New</p>
                    <p class="white-text">6,00,00</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card gradient-45deg-blue-indigo">
            <div class="padding-4">
                <div class="col s7 m7">
                    <i class="mdi mdi-view-dashboard background-round material-icons"></i>
                    <p class="white-text">Orders</p>
                </div>
                <div class="col s5 m5 right-align">
                    <h5 class="mb-0 white-text">690</h5>
                    <p class="no-margin white-text">New</p>
                    <p class="white-text">6,00,00</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card gradient-45deg-light-blue-cyan">
            <div class="padding-4">
                <div class="col s7 m7">
                    <i class="mdi mdi-view-dashboard background-round material-icons"></i>
                    <p class="white-text">Orders</p>
                </div>
                <div class="col s5 m5 right-align">
                    <h5 class="mb-0 white-text">690</h5>
                    <p class="no-margin white-text">New</p>
                    <p class="white-text">6,00,00</p>
                </div>
            </div>
        </div>
    </div>
</div>