﻿@model PMS_HT.Models.tbl_guest_stay_info

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet box blue-chambray">
    <div class="portlet-title">
        <div class="caption">
            <a href="@Url.Action("TransactionDetail","FrontDeskGuestOverview", new { Area = "",id = Model.Stay_Info_ID })" class="btn green-jungle">
                <i class="fa fa-reply"></i> Back
            </a>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="fullscreen"> </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="col-md-offset-3">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.tbl_guest_info.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.tbl_guest_info.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tbl_room_info.Room_No)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.tbl_room_info.Room_No)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Arrival_Date)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Arrival_Date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Departure_Date)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Departure_Date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.No_of_Nights)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.No_of_Nights)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.No_of_Adult)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.No_of_Adult)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.No_of_Child)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.No_of_Child)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.No_of_Extra_Person)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.No_of_Extra_Person)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.No_of_Extra_Bed)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.No_of_Extra_Bed)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Reserved_Date)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Reserved_Date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Booking_Date)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Booking_Date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Check_Out_Date)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Check_Out_Date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Check_Out_Time)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Check_Out_Time)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Check_Out_Note)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Check_Out_Note)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsConfirmed)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IsConfirmed)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.InOrOut)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.InOrOut)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Airport_Pickup)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Airport_Pickup)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Transportation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Transportation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Special_Request)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Special_Request)
                </dd>
            </dl>
            <a href="@Url.Action("Edit", new { id = Model.Stay_Info_ID })" class="btn yellow-gold editBtn" style="margin-left:150px;">
                <i class="fa fa-pencil"></i> 
                Edit
            </a>
        </div>        
    </div>
</div>

<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="divForUpdateId">Update Stay Information</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>

<script>
    $('.editBtn').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
            $('#Edit-Model').modal({
                backdrop: 'static',
            }, 'show');
        });
    });
</script>






