﻿@model PMS_HT.Models.tbl_guest_stay_info

@{
    ViewBag.Title = "Edit";
    Layout = null;
}
<style>
    .form-group {
        margin-bottom: 5px;
    }
</style>
<script src="~/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<script src="~/Scripts/DatePicker_.js"></script>
<br />
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "createForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Stay_Info_ID)
	    @Html.HiddenFor(model => model.Image)
 
        <div class="form-group">
            @Html.LabelFor(model => model.Arrival_Date, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                <div class="input-group date form_meridian_datetime input-large ShiftUnset">
                    @Html.EditorFor(model => model.Arrival_Date, new { htmlAttributes = new { @class = "form-control", @size = "16", @Value = Model.Arrival_Date.ToString("dd MMMM yyyy HH:mm:ss") } })
                    @Html.ValidationMessageFor(model => model.Arrival_Date, "", new { @class = "text-danger" })
                    <span class="input-group-btn">
                        <button class="btn default date-reset" type="button">
                            <i class="fa fa-times font-red-thunderbird"></i>
                        </button>
                        <button class="btn default date-set" type="button">
                            <i class="fa fa-calendar font-red-thunderbird"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Departure_Date, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                <div class="input-group date form_meridian_datetime input-large ShiftUnset">
                    @Html.EditorFor(model => model.Departure_Date, new { htmlAttributes = new { @class = "form-control", @size = "16", @Value = Model.Departure_Date.ToString("dd MMMM yyyy HH:mm:ss") } })
                    @Html.ValidationMessageFor(model => model.Departure_Date, "", new { @class = "text-danger" })
                    <span class="input-group-btn">
                        <button class="btn default date-reset" type="button">
                            <i class="fa fa-times font-red-thunderbird"></i>
                        </button>
                        <button class="btn default date-set" type="button">
                            <i class="fa fa-calendar font-red-thunderbird"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.No_of_Nights, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.No_of_Nights, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.No_of_Nights, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.No_of_Adult, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.No_of_Adult, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.No_of_Adult, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.No_of_Child, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.No_of_Child, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.No_of_Child, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.No_of_Extra_Person, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.No_of_Extra_Person, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.No_of_Extra_Person, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.No_of_Extra_Bed, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.No_of_Extra_Bed, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.No_of_Extra_Bed, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.DropDownList("Status", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.Room_ID)
        @Html.HiddenFor(model => model.Guest_ID)
        @Html.HiddenFor(model => model.Company_ID)
        @Html.HiddenFor(model => model.Guest_Group_ID)
        @Html.HiddenFor(model => model.Travel_Agent_ID)
        @Html.HiddenFor(model => model.Room_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Reserved_Date, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                <div class="input-group date form_meridian_datetime input-large ShiftUnset">
                    @Html.EditorFor(model => model.Reserved_Date, new { htmlAttributes = new { @class = "form-control", @size = "16", @Value = Model.Reserved_Date.HasValue ? Model.Reserved_Date.Value.ToString("dd MMMM yyyy HH:mm:ss") : "" } })
                    @Html.ValidationMessageFor(model => model.Reserved_Date, "", new { @class = "text-danger" })
                    <span class="input-group-btn">
                        <button class="btn default date-reset" type="button">
                            <i class="fa fa-times font-red-thunderbird"></i>
                        </button>
                        <button class="btn default date-set" type="button">
                            <i class="fa fa-calendar font-red-thunderbird"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Booking_Date, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                <div class="input-group date form_meridian_datetime input-large ShiftUnset">
                    @Html.EditorFor(model => model.Booking_Date, new { htmlAttributes = new { @class = "form-control", @size = "16", @Value = Model.Booking_Date.HasValue ? Model.Booking_Date.Value.ToString("dd MMMM yyyy HH:mm:ss") : "" } })
                    @Html.ValidationMessageFor(model => model.Booking_Date, "", new { @class = "text-danger" })
                    <span class="input-group-btn">
                        <button class="btn default date-reset" type="button">
                            <i class="fa fa-times font-red-thunderbird"></i>
                        </button>
                        <button class="btn default date-set" type="button">
                            <i class="fa fa-calendar font-red-thunderbird"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Check_Out_Date, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                <div class="input-group date form_meridian_datetime input-large ShiftUnset">
                    @Html.EditorFor(model => model.Check_Out_Date, new { htmlAttributes = new { @class = "form-control", @size = "16", @Value = Model.Check_Out_Date.HasValue ? Model.Check_Out_Date.Value.ToString("dd MMMM yyyy HH:mm:ss") : "" } })
                    @Html.ValidationMessageFor(model => model.Check_Out_Date, "", new { @class = "text-danger" })
                    <span class="input-group-btn">
                        <button class="btn default date-reset" type="button">
                            <i class="fa fa-times font-red-thunderbird"></i>
                        </button>
                        <button class="btn default date-set" type="button">
                            <i class="fa fa-calendar font-red-thunderbird"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Check_Out_Time, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Check_Out_Time, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Check_Out_Time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Check_Out_Note, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Check_Out_Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Check_Out_Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.IsConfirmed, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsConfirmed)
                    @Html.ValidationMessageFor(model => model.IsConfirmed, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InOrOut, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                <div class="checkbox">
                    @Html.EditorFor(model => model.InOrOut)
                    @Html.ValidationMessageFor(model => model.InOrOut, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Airport_Pickup, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Airport_Pickup)
                    @Html.ValidationMessageFor(model => model.Airport_Pickup, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Transportation, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Transportation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Transportation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Special_Request, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Special_Request, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Special_Request, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-3 col-md-8">
                <button type="button" class="btn green-jungle" data-dismiss="modal"><i class="fa fa-reply"></i>&nbsp;Back</button>
                <button type="submit" class="btn yellow-gold"><i class="fa fa-check"></i> Save</button>
            </div>
        </div>
    </div>
}
