﻿<table class="table table-striped table-bordered table-hover table-responsive" id="sample_2">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Salary Payable</th>
            <th>Salary Paid</th>
            <th>Due</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; decimal payable = 0, paid = 0,due = 0;}

        @if (ViewBag.SalaryExpense != null)
        {
            foreach (var item in ViewBag.SalaryExpense)
            {
                payable += Convert.ToDecimal(item.Payable);
                paid += Convert.ToDecimal(item.Paid);
                due += Convert.ToDecimal(item.Due);
                <tr>
                    <td>
                        @item.EmpName
                    </td>
                    <td>
                        @item.Payable
                    </td>
                    <td>@item.Paid</td>
                    <td>@item.Due</td>
                </tr>
                                }
                            }

        <tr style="background-color:#e7efec">
            <th>Total Salary Payable</th>
            <td>@payable</td>
            <td></td>
            <td></td>
        </tr>
        <tr style="background-color:#eed8d8">

            <th>Total Salary Paid</th>
            <td></td>
            <td>@paid</td>
            <td></td>
        </tr>
        <tr style="background-color:#e7efec">

            <th>Total Salary Due</th>
            <td></td>
            <td></td>
            <td>@due</td>
        </tr>
    </tbody>

</table>

