﻿
@model IEnumerable<PMS_HT.Models.tbl_banquet_transactions>


@{
    ViewBag.Title = "Grand Salary Payable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AddViewModel.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Grand Salary Payable
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">

                    @*@using (Html.BeginForm("Index", "PayRollGrandEmployeeSalaryPayable", FormMethod.Get))
                    {
                        <div class="form-group">
                            <label class="control-label col-md-2">Date Range</label>
                            <div class="col-md-4">
                                <div class="input-group input-large date-picker input-daterange">
                                    <input type="text" id="dob" class="form-control" name="dob">
                                    <span class="input-group-addon"> to </span>
                                    <input type="text" id="date" class="form-control" name="date">
                                </div>
                            </div>
                            <div class="btn default col-md-1">
                                <input type="button" id="searchButton" value="Search" />
                            </div>
                        </div>

                    }*@

                    <div class="container">
                        <div class="row">
                            <table class="table table-striped table-bordered table-hover table-responsive" id="sample_2">
                                <thead>
                                    <tr>
                                        <th>Employee Name</th>
                                        <th>Salary Payable</th>
                                        <th>Salary Paid</th>
                                        <th>Due</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int i = 0; decimal payable = 0, paid = 0, due = 0;}

                                    @if (ViewBag.SalaryExpense != null)
                                    {
                                        foreach (var item in ViewBag.SalaryExpense)
                                        {
                                            payable += Convert.ToDecimal(item.Payable);
                                            paid += Convert.ToDecimal(item.Paid);
                                            due += Convert.ToDecimal(item.Due);
                                            <tr>
                                                <td>
                                                    @item.EmpName
                                                </td>
                                                <td>
                                                    @item.Payable
                                                </td>
                                                <td>@item.Paid</td>
                                                <td>@item.Due</td>
                                            </tr>
                                        }
                                    }

                                    <tr style="background-color:#e7efec">
                                        <th>Total Salary Payable</th>
                                        <td>@payable</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr style="background-color:#eed8d8">

                                        <th>Total Salary Paid</th>
                                        <td></td>
                                        <td>@paid</td>
                                        <td></td>
                                    </tr>
                                    <tr style="background-color:#e7efec">

                                        <th>Total Salary Due</th>
                                        <td></td>
                                        <td></td>
                                        <td>@due</td>
                                    </tr>
                                </tbody>

                            </table>


                            @*<div class="col-md-10 col-lg-11 col-sm-8" id="partialView">
                                @Html.Partial("DateRangeEmployeeSalaryPayable")
                            </div>*@
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

@*<script>
        $(Document).ready(function () {
            $("#dob").datepicker({
                dateFormat: 'dd/mm/yy',
            });
            $("#date").datepicker({
                dateFormat: 'dd/mm/yy',
            });
        });
        $("#searchButton").click(function () {
            var dobVal = $("#dob").val();
            var dateVal = $("#date").val();
            $.post('@Url.Action("DateRangeEmployeeSalaryPayable")',
              { dob: dobVal, date: dateVal }, function (data) {
                  $("#partialView").html(data);
              });
        });
</script>*@


<script>
    $('.editDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
    });
</script>


