﻿@{
    ViewBag.Title = "Banquet Available";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AddViewModel.js"></script>
<script src="~/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Banquet Available
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">

                    @using (Html.BeginForm("Index", "BanquetAvailable", FormMethod.Get))
                    {
                        <div class="form-group">
                            <div class="container">
                                <div class="row">


                                    <label class="control-label col-md-2">Date Range</label>
                                    <div class="date form_datetime col-md-3">
                                        <input type="text" id="dob" class="form-control" name="dob">
                                        <button class="btn default date-set" type="button" style="display:none">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>


                                    <div class="col-md-1">
                                        <span class="input-group-addon"> to </span>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="date form_datetime">
                                            <input type="text" id="date" class="form-control" name="date">
                                            <button class="btn default date-set" type="button" style="display:none">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="btn default col-md-1">
                                        <input type="button" id="searchButton" value="Search" />
                                    </div>
                                </div>
                            </div>
                        </div>


                    }
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-lg-10 col-sm-10" id="partialView">
                                @Html.Partial("SearchBanquet")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $("#searchButton").click(function () {
        var dobVal = $("#dob").val();
        var dateVal = $("#date").val();
        $.post('@Url.Action("SearchBanquet")',
          { dob: dobVal, date: dateVal }, function (data) {
              $("#partialView").html(data);
          });
    });
</script>

