﻿<table class="table table-striped table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>SL No </th>
            <th>Banquet Name</th>

        </tr>
    </thead>
    <tbody>
        @{ int i = 0;}
        @if (ViewBag.Banquet != null)
        {
            foreach (var item in ViewBag.Banquet)
            {
                <tr>
                    <td>
                        @{i++;}
                        @i
                    </td>
                    <td>
                        @item.Banquet_Name
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
