﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet box blue-madison">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-comments"></i>Arrival Guests
                    </div>
                    <div class="input-group" style="float: right; width: 25%;font-size: 18px;line-height: 18px;padding: 10px 0;">
                        <input type="text" id="date" class="form-control" name="date">
                        <span class="input-group-btn">
                            <button type="button" class="btn red-sunglo" name="printVacant" id="printVacant"><i class="fa fa-file-pdf-o"></i>&nbsp; PDF</button>
                        </span>
                    </div>
                </div>
                <div class="portlet-body" id="partialView">
                    @Html.Partial("Search")
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>
    <script>
    $(document).ready(function () {
        $("#date").datepicker({
            dateFormat: 'dd/mm/yy'
        });
        $("#date").val('@DateTime.Today.Date.ToString("dd/MM/yyyy")');
        var today = '@DateTime.Today.Date';
        search(today);
    });
    $("#date").change(function () {
        var dateVal = $("#date").val();
        search(dateVal);
    });
    function search(dateVal) {
        var type = "departure";
        $.post('@Url.Action("search")',
            { dt: dateVal, type:type }, function (data) {
                $("#partialView").html(data);
            });
    }
    $("#printVacant").click(function () {
        var type = "Departure";
        var dateVal = $("#date").val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ExportArrivalReport")',
            data: { dt: dateVal, type: type },
            success: function (data) {
                if (data == "error") {
                    alert("Bad request");
                }
                else {
                    var str = "data:application/pdf;base64," + data;
                    var object = '<iframe width="100%" height="100%" src="' + str + '"></iframe>';
                    var generator = window.open("", "", "top=100,left=500,width=500,height=500");
                    generator.document.write(object);
                    generator.document.close();
                }
            }
        });
    });
    </script>
