﻿@{
    var data = ViewBag.Data;
}
<div class="table-scrollable">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th> Sl No </th>
            <th> Room No </th>
            <th> Guest Name </th>
            <th> Phone </th>
            <th> Address </th>
            <th> Arrival Date </th>
            <th> Departure Date </th>
            <th> CheckOut Date</th>
        </tr>
        </thead>

        <tbody>
        @{ int i = 0; }
        @if(ViewBag.Data != null)
        {
            foreach (var item in data)
            {
                <tr>
                    <td>
                        @{
                            i++;
                            string checkOutDateTime =  "";
                            if (item.Check_Out_Date != null)
                            {
                                DateTime checkoutDateTime= item.Check_Out_Date.Add(item.Check_Out_Time);
                                checkOutDateTime = checkoutDateTime.ToString("dd/MM/yyyy HH:mm:ss");
                            }
                        }
                        @i
                    </td>
                    <td> @item.tbl_room_info.Room_No </td>
                    <td> @item.tbl_guest_info.Name</td>
                    <td> @item.tbl_guest_info.Phone</td>
                    <td> @item.tbl_guest_info.Address</td>
                    <td> @item.Arrival_Date</td>
                    <td> @item.Departure_Date</td>
                    <td> @checkOutDateTime</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
