﻿@model IEnumerable<PMS_HT.Models.tbl_subcategory>

@{
    ViewBag.Title = "SubCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/AddViewModel.js"></script>

@Html.Partial("~/Views/Shared/_InventorySettingsControl.cshtml");

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <a href="@Url.Action("Add", "InventorySubCategory")" id="Add" class="btn default"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New SubCatagory</a>
                        SubCategory
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_2">
                        <thead>
                            <tr>
                                <th>SL No </th>
                                <th>Sub Category Name</th>
                                <th>Edit</th>
                                @*<th>Delete</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{i++;}
                                        @i
                                    </td>
                                    <td onmouseout="toggler(@i)" onmouseover="toggler(@i)" onclick="toggler(@i)">
                                        @item.Subcata_Name (@item.tbl_item.Count)
                                        <ul id="@i" class="nav nav-list" hidden>
                                            @foreach (var subcategory in item.tbl_item)
                                            {
                                                <li style="padding-left:1em;"><i class="fa fa-cube"></i> @subcategory.Item_Name</li>
                                            }
                                        </ul>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "InventorySubCategory", new { id = item.Subcata_ID })" class="editDialog"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                                    </td>
                                    @*<td>
                                            @Ajax.ActionLink(" Delete", "Delete", "InventorySubCategory", new { @id = item.Subcata_ID }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-record" }, new { onclick = "return confirm('Are you sure you wish to delete this Sub Category?');", @class = "fa fa-trash-o" })
                                        </td>*@
                                </tr>
                                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add SubCategory</h4>
            </div>
            <div class="divForAdd">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update SubCategory</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var id = '@ViewBag.Title';
        $('#' + id).removeClass("btn-outline");
    });
    $('.editDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
    });
    function toggler(listid) {
        $('#' + listid).toggle();
    }
</script>