﻿@model PMS_HT.Models.tbl_banquet_transactions

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_banquet_transactions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tbl_banquet_amenities.Amenities_Heading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_banquet_amenities.Amenities_Heading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_banquet_booking.Banq_Booking_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_banquet_booking.Banq_Booking_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_banquet_prog.Person_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_banquet_prog.Person_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tran_Ref_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tran_Ref_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Particulars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Particulars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Debit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Debit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tran_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tran_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.B_Tran_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
