﻿@model IEnumerable<PMS_HT.Models.tbl_banquet_transactions>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>



<div class="container">
    <div class="row">
        <div class="col-md-12">         
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Cash Collection by Date
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">

                    @*<div class="form-group">
                        @Html.LabelFor(model => model.Tran_Date, "Date", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Tran_Date, new { htmlAttributes = new { @class = "form-control datefield" } })
                            @Html.ValidationMessageFor(model => model.Tran_Date, "", new { @class = "text-danger" })
                        </div>
                    </div>*@


@using (Html.BeginForm("Index", "BanquetIncome", FormMethod.Get))
{
                    <div class="form-group">
                        <label class="control-label col-md-2">Date Range</label>
                        <div class="col-md-4">
                            <div class="input-group input-large date-picker input-daterange">
                               <input type="text" id="dob" class ="form-control" name="dob" >
                                <span class="input-group-addon"> to </span>
                                <input type="text" id="date" class="form-control" name="date" >                                                    
                            </div>                         
                        </div>
                        <div class="btn default col-md-1">
                            <input type="button" id="searchButton" value="Search" />
                        </div>
                    </div>
}

                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-lg-10 col-sm-8" id="partialView">
                                @Html.Partial("ViewDateWiseBanquetIncome")
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
 
<script>
        $(Document).ready(function () {
            $("#dob").datepicker({
                dateFormat: 'dd/mm/yy',            
            });
            $("#date").datepicker({
                dateFormat: 'dd/mm/yy',
            });
        });
        $("#searchButton").click(function () {
            var dobVal = $("#dob").val();
            var dateVal = $("#date").val();
            $.post('@Url.Action("ViewDateWiseBanquetIncome")',
              { dob: dobVal, date: dateVal }, function (data) {
                  $("#partialView").html(data);
              });
        });
</script>