﻿<table class="table table-striped table-bordered table-hover" id="sample_2">
    <thead>
        <tr>
            <th>SL No </th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; decimal x = 0;}
        @if (ViewBag.transactions != null)
        {
            foreach (var item in ViewBag.transactions)
            {
                x += Convert.ToDecimal(@item.Credit);
                <tr>
                    <td>
                        @{i++;}
                        @i
                    </td>
                    <td>
                        @item.Credit
                    </td>
                    <td>
                        @item.Tran_Date
                    </td>
                </tr>
            }
       }

        <tr style="background-color:#e7efec">
            <td>Total</td>
            <td>@x</td>
            <td></td>
        </tr>
    </tbody>
</table>

