﻿
@{
    ViewBag.Title = "general";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content-inner">
    <div class="row">
        <div class="col-md-12 page-404">
            <div class="number font-green"> Error!! </div>
            <div class="details">
                @if (ViewBag.context != null)
                {
                    <h4>@ViewBag.context.Message</h4>
                }
                <br />
                @if (User.IsInRole("Manager") || User.IsInRole("Admin") || User.IsInRole("Super Admin"))
                {
                    if (ViewBag.context != null)
                    {
                        <p>
                            @ViewBag.context.StackTrace
                        </p>
                    }
                    <a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-home"></i> Return home </a>
                }
                else if (User.IsInRole("Frontdesk"))
                {
                    <a href="@Url.Action("Index", "FrontDesk")"> Return home </a>
                }
                else if (User.IsInRole("Inventory"))
                {
                    <a href="@Url.Action("Index", "InventoryHome")"> Return home </a>
                }
                else if (User.IsInRole("HR"))
                {
                    <a href="@Url.Action("Index", "HrEmployee")"> Return home </a>
                }
                else if (User.IsInRole("Housekeeping"))
                {
                    <a href="@Url.Action("Index", "HouseKeepingTaskSchedule")"> Return home </a>
                }
                else if (User.IsInRole("Account"))
                {
                    <a href="@Url.Action("Index", "AccountsIncomeStatement")"><i class="fa fa-backward"></i> Return home </a>
                }
                else
                {
                    int id = (int)Session["UserID"];
                    <a href="@Url.Action("Details", "HrEmployee", new { id = id })"> Return home </a>
                }

                }
            </div>
        </div>
    </div>
</div>


