﻿@model PMS_HT.Models.tbl_unit

@using (Ajax.BeginForm("Add", "InventoryUnit", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { id = "unitAddForm" }))
{
    <div class="form-horizontal">
        <div class="modal-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row form-group">
                    @Html.LabelFor(model => model.Unit_Name, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Unit_Name, new { @class = "form-control", @placeholder = "Unit name" })
                        @Html.ValidationMessageFor(model => model.Unit_Name, "", new { @class = "text-danger" })
                    </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
        <button type="submit" class="btn btn-success" name="cmd"><i class="fa fa-check"></i>&nbsp;Save</button>
    </div>
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    $('#unitAddForm').validate({
        rules: {
            Unit_Name: "required"
        },
        messages: {
            Unit_Name: "Please provide the Category Name."
        }
    });
</script>