﻿@model PMS_HT.Models.tbl_designation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_designation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Designation_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Basic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Basic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Designation_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
