﻿@model IEnumerable<PMS_HT.Models.tbl_room_transactions>

@{
    ViewBag.Title = "All Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-group {
        margin-bottom: 5px;
    }
</style>


<div class="portlet box blue-chambray">
    <div class="portlet-title">
        <div class="caption">
            <a href="@Url.Action("TransactionDetail","FrontDeskGuestOverview", new { Area = "",id = Model.FirstOrDefault().Stay_Info_ID })" class="btn green-jungle">
                <i class="fa fa-reply"></i> Back
            </a>
            <a href="@Url.Action("Create", new { id = ViewBag.Id })" class="btn purple addBtn">
                <i class="fa fa-plus"></i> Create New
            </a>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="fullscreen"> </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tran_Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tran_Ref_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tran_Ref_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Particulars)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Debit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Credit)
                </th>
                <th>
                    Performed By
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tran_Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tran_Ref_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tran_Ref_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Particulars)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Debit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Credit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tbl_emp_info.Emp_Name)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.Guest_Tran_ID })" class="btn yellow-gold editDialog"><i class="fa fa-pencil"></i> Edit</a>
                        <a href="@Url.Action("Delete", new { id = item.Guest_Tran_ID })" class="btn red-thunderbird deleteDialog"><i class="fa fa-trash"></i> Delete</a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="divForUpdateId">Update Item</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>

<script>  

    $('.addBtn').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
            $('#Edit-Model').modal({
                backdrop: 'static',
            }, 'show');
            $('#divForUpdateId').html("Add Transaction");
        });
    });

    $('.editDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
            $('#Edit-Model').modal({
                backdrop: 'static',
            }, 'show');
            $('#divForUpdateId').html("Update Transaction");
        });
    });
    
    $('.deleteDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
            $('#Edit-Model').modal({
                backdrop: 'static',
            }, 'show');
            $('#divForUpdateId').html("Delete Transaction");
        });
    });

</script>


