﻿@model PMS_HT.Models.tbl_room_transactions

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<script src="~/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<script src="~/Scripts/DatePicker_.js"></script>
<br />
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "createForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Room_ID, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.DropDownList("Room_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Room_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Guest ID</label>
            <div class="col-md-8">
                <input type="number" value="@ViewBag.Guest_ID" class="form-control" id="Guest_ID" name="Guest_ID" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tran_Ref_ID, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Tran_Ref_ID, new { htmlAttributes = new { @class = "form-control", @Value = 1, @readonly = true } })
                @Html.ValidationMessageFor(model => model.Tran_Ref_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tran_Ref_Name, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.DropDownList("Tran_Ref_Name", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tran_Ref_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Particulars, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Particulars, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Particulars, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Debit, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Debit, new { htmlAttributes = new { @class = "form-control", @readonly = true, @Value = 0 } })
                @Html.ValidationMessageFor(model => model.Debit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Credit, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Credit, new { htmlAttributes = new { @class = "form-control", @Value = 0 } })
                @Html.ValidationMessageFor(model => model.Credit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tran_Date, htmlAttributes: new { @class = "control-label col-md-3" })


            <div class="col-md-8">
                <div class="input-group date form_meridian_datetime input-large ShiftUnset">
                    @Html.EditorFor(model => model.Tran_Date, new { htmlAttributes = new { @class = "form-control", @size = "16", @placeholder = "Transaction Date" } })
                    @Html.ValidationMessageFor(model => model.Tran_Date, "", new { @class = "text-danger" })
                    <span class="input-group-btn">
                        <button class="btn default date-reset" type="button">
                            <i class="fa fa-times font-red-thunderbird"></i>
                        </button>
                        <button class="btn default date-set" type="button">
                            <i class="fa fa-calendar font-red-thunderbird"></i>
                        </button>
                    </span>
                </div>

                @*@Html.EditorFor(model => model.Tran_Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tran_Date, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Stay_Info_ID, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                <input type="number" value="@ViewBag.Stay_Info_ID" class="form-control" id="Stay_Info_ID" name="Stay_Info_ID" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Laundry_Item_ID, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.DropDownList("Laundry_Item_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Laundry_Item_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Laundry_Service_ID, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.DropDownList("Laundry_Service_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Laundry_Service_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Garment_In_ID, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.DropDownList("Garment_In_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Garment_In_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Emp_ID, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.DropDownList("Emp_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Emp_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-8">
                <button type="button" class="btn green-jungle" data-dismiss="modal"><i class="fa fa-reply"></i>&nbsp;Back</button>
                <button type="submit" class="btn purple"><i class="fa fa-check"></i> Save</button>
            </div>
        </div>
    </div>
}

<div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    $('#Tran_Ref_Name').change(function () {
        var selectedVal = $(this).val();
        var credit = $('#Credit');
        var debit = $('#Debit')
        $('#Tran_Ref_ID').val(selectedVal);
        if (selectedVal == 2 || selectedVal == 4 || selectedVal == 5 || selectedVal == 6 || selectedVal == 9 || selectedVal == 15 || selectedVal == 16 || selectedVal == 17 || selectedVal == 18) {
            credit.val(0);
            credit.prop('readonly', true);
            debit.prop('readonly', false);
        }
        else {
            debit.val(0);
            debit.prop('readonly', true);
            credit.prop('readonly', false);
        }

    });

    $('#createForm').validate({
        rules: {
            Room_ID: {
                required: true,
                number: true
            },
            Guest_ID: {
                required: true,
                number: true
            },
            Stay_Info_ID: {
                required: true,
                number: true
            },
            Debit: {
                required: true,
                number: true
            },
            Credit: {
                required: true,
                number: true
            },
            Reorder_Level: {
                number: true,
            },
            Tran_Date : "required",
            Particulars: "required"
        },
        messages: {
            
        }
    });
</script>
