﻿@model PMS_HT.Models.tbl_room_transactions

@{
    ViewBag.Title = "Delete";
    Layout = null;
}
<div style="margin:10px;">
    <h3 style="text-align:center;">Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.tbl_guest_info.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_guest_info.Name)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.tbl_room_info.Room_No)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_room_info.Room_No)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tran_Ref_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tran_Ref_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Debit)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Debit)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Credit)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Credit)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tran_Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tran_Date)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color" style="text-align:center;">
                <button type="button" class="btn green-jungle" data-dismiss="modal"><i class="fa fa-reply"></i>&nbsp;Back</button>
                <button type="submit" class="btn red-thunderbird"><i class="fa fa-trash"></i> Delete</button>
            </div>
        }
    </div>
</div>
