﻿@*<head>
        <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
        <script src="~/assets/apps/scripts/jquery-1.10.2.js" type="text/javascript"></script>
        <script src="~/assets/apps/scripts/jquery-ui.js" type="text/javascript"></script>
    </head>
    @{

    }

    <div class="row">
        <div class="col-md-2">
            <div class="datepicker">

            </div>
        </div>
        <div class="col-md-2">


        </div>


        <div class="col-md-8">
            @foreach (var item in ViewBag.status)
            {
                if (@item.tbl_room_info.Room_No == "101" && (Convert.ToDateTime(@ViewBag.Date) >= @item.Arrival_Date && Convert.ToDateTime(@ViewBag.Date) <= @item.Departure_Date) && @item.Status == "Check In")
                {

                    @Html.ActionLink("101", "Create", "FrontDeskGuestStay", new { @id = 101 }, new { @class = "btn btn-danger" })
                    break;
                }
                else if (@item.tbl_room_info.Room_No == "101" && (Convert.ToDateTime(@ViewBag.Date) >= @item.Arrival_Date && Convert.ToDateTime(@ViewBag.Date) <= @item.Departure_Date) && @item.Status == "Reserved")
                {
                    @Html.ActionLink("101", "Create", "FrontDeskGuestStay", new { @id = 101 }, new { @class = "btn btn-success" })
                    break;
                }
                else if (@item.tbl_room_info.Room_No == "101" && (Convert.ToDateTime(@ViewBag.Date) >= @item.Arrival_Date && Convert.ToDateTime(@ViewBag.Date) <= @item.Departure_Date) && @item.Status == "Booked")
                {
                    @Html.ActionLink("101", "Create", "FrontDeskGuestStay", new { @id = 101 }, new { @class = "btn btn-primary" })
                    break;
                }

                else if (@item.tbl_room_info.Room_No == "101" && ViewBag.Date != null && (Convert.ToDateTime(@ViewBag.Date) < @item.Arrival_Date || Convert.ToDateTime(@ViewBag.Date) > @item.Departure_Date) && @item.Status == null)
                    {
                        @Html.ActionLink("101", "Create", "FrontDeskGuestStay", new { @id = 101 }, new
                        {
                            @class = "btn btn-default",
                            @style = "color: #ff6161;"
                        })
                    break;
                }
                else if (@item.tbl_room_info.Room_No == "101" && ViewBag.Date == null && @item.Status == null)
                {
                    @Html.ActionLink("101", "Create", "FrontDeskGuestStay", new { @id = 101 }, new
                   {
                       @class = "btn btn-default",
                       @style = "color: #ff6161;"
                   })
                    break;
                }
            }


        </div>
    </div>


    <script src="~/assets/apps/scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="~/assets/apps/scripts/jquery-ui.js" type="text/javascript"></script>*@
@*<script>
    $('.datepicker').datepicker({
        dateFormat: "dd-mm-yy",
        onSelect: function (dateText, inst)
        {*@
@*$.ajax({
        type: "POST",
       source : '@Url.Action("DateLoad", "FrontDesk", new { @id = "_id_" })'
     .replace("_id_", dateText),
        global: true,
        data: {fofo: dateText},
        processData: false,
        contentType: false,
        cache: false,
        success: function(data){
            console.log(data);
        },
    });*@




@*$.get('@Url.Action("DateLoad", "FrontDesk", new { @id = "_id_" })'
    .replace("_id_", dateText),
       function (data) {

       //    $("#shawn").html(data);

           return data;

      });*@
@*//document.getElementById("rahul").innerHTML = dateText;*@






@*$.post({
        url: @Url.Action("DateLoad", "FrontDesk") + '?id=' + dateText,
        type: 'POST',
        // ... other ajax options ...
    });*@

@*var dateAsString = dateText; //the first parameter of this function

    //document.getElementById("userListIdHidden").value = dateAsString;
    //var dateAsObject = $(this).datepicker('getDate'); //the getDate method*@
@*source: '@Url.Action("DateLoad","FrontDesk")'*@
@*location.href = '@Url.Action("DateLoad", "FrontDesk", new { @id = "_id_" })'
    .replace('_id_', dateAsString);*@

@*location.href = '@Url.Action("DateLoad", "FrontDesk")/' + dateAsString;*@


@*}
        });
    </script>*@
