﻿@Styles.Render("~/Content/datpaginator")

<style>
    .pagination > li > a {
        color: #444d58;
        background-color: #ddd;
        font-size: 12px;
        border: 1px solid #bbb;
        padding: 5px;
    }

    .datepaginator a {
        font-size: 15px;
        font-weight: 400;
    }

    .color-label {
        color: green;
        position: fixed;
        left: 0px;
        bottom: 10px;
        opacity: 1;
    }
</style>
<!--Start switcher section-->
<section class="switcher-section">
    <div class="switcher-wrapper">
        <span>Room Colors</span>
        <ul>
            <li><span style="color:@ViewBag.ClearColor"><i class="fa fa-home fa-2x"></i></span> Clear room</li>
            <li><span style="color:@ViewBag.OccupiedColor"><i class="fa fa-home fa-2x"></i></span>Occupied Room</li>
            <li><span style="color:@ViewBag.UpcomingDepartColor"><i class="fa fa-home fa-2x"></i></span>Expected Departure Room</li>
            <li><span style="color:@ViewBag.ReservedColor"><i class="fa fa-home fa-2x"></i></span>Reserved Room</li>
            <li><span style="color:@ViewBag.BookedColor"><i class="fa fa-home fa-2x"></i></span>Bookded Room </li>
            <li><span style="color:@ViewBag.DirtyColor"><i class="fa fa-home fa-2x"></i></span>Dirty Room</li>
            <li><span style="color:@ViewBag.OutOfOrderColor"><i class="fa fa-home fa-2x"></i></span>OutOfOrder Room</li>
            <li><span style="color:@ViewBag.HouseUseColor"><i class="fa fa-home fa-2x"></i></span>House Use Room</li>
        </ul>
        <span>Icons</span>
        <ul>
            <li><span style="color:#FFF"><i class="fa fa-user-secret"></i></span> VIP Guest</li>
            <li><span style="color: #FFF"><i class="fa fa-plane"></i></span> Airport Pickup</li>
            <li><span style="color: #FFF"><i class="fa fa-car"></i></span> Transportation</li>
            <li><span style="color: #FFF"><i class="fa fa-slack"></i></span> Special Requests</li>
            <li><span style="color: #FFF"><i class="fa fa-bell"></i></span> Previous Stay Preference</li>
            <li><span style="color: #FFF"><i class="fa fa-envelope"></i></span> Pending Message</li>
            <li><span style="color: #FFF"><i class="fa fa-gift"></i></span> Pending Parcel</li>
            <li><span style="color: #FFF"><i class="fa fa-key"></i></span> Guest Outside</li>
        </ul>
    </div>
    <div class="switcher"><i class="fa fa-question"></i></div>
</section>
<!--End switcher section-->
<div onmousemove="canceltimer(event)" onkeypress="canceltimer(event)" onclick="canceltimer(event)" class="container">
    <div class="row">
        @if (!User.IsInRole("Frontdesk"))
        {
            <div id="datepaginator_sample_2" class="col-md-12 green-turquoise">

            </div>
            <div>
                &nbsp;
            </div>
        }
        <div class="col-md-12 col-lg-12 col-sm-12" id="partialView">
            @Html.Partial("Search")

        </div>

        <div id="dialog-confirm" title="Check Out or Extend Stay">
            <p id="pId" hidden style="color: blue">

            </p>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/datepaginator")
<script>

    $('#datepaginator_sample_2').datepaginator({
        onSelectedDateChanged: function (event, date) {
            var dd = moment(date).format("YYYY-MM-D");
            $.post('@Url.Action("Search")',
                { id:  dd}, function (data) {
                    $("#partialView").html(data);
                });
        }
    });
    var tim;
    function reload () {
        tim = setTimeout("location.reload(true);",750000);   // 12.5 minutes
    }

    function canceltimer(e) {
        clearTimeout(tim);  // cancel the timer on each mousemove/click
        reload();  // and restart it
    }
    //Auto Refresh End

    //Scheduled Check Out Message
    $(document).ready(function () {
        reload();
        $('[data-toggle="tooltip"]').tooltip();

        var messageList = @Html.Raw(Json.Encode(ViewBag.Alert));
        var message="";
        var count = @Html.Raw(Json.Encode(ViewBag.AlertCount));
        if (count != 0) {
            $(function () {
                for (var i = 0; i < count; i++) {
                    message= messageList[i];
                    if(message[0] == "E")
                    {
                        document.getElementById("pId").innerHTML += '<strong style="color:red">' +message+"</strong><br/>";
                    }
                    else{
                        document.getElementById("pId").innerHTML += message+"<br/>";
                    }

                }
                $("#pId").show();
                $("#dialog-confirm").dialog({
                    resizable: false,
                    height: "auto",
                    width: "auto",
                    modal: true,
                    buttons: {
                        Close: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });
        }


        /*START MONAYEM*/

        // Custom style for switcher

        var switcher 	= $('.switcher') ;
        var switcherSec = $('.switcher-section') ;

        switcherSec.mouseover(function(){
            switcherSec.addClass('switcher-open ') ;
        }).mouseleave(function(){
            switcherSec.removeClass('switcher-open ') ;
        })

        /*END MONAYEM*/
    });
    //Scheduled Check Out Message Done



</script>
