﻿@model IEnumerable<PMS_HT.Models.tbl_room_info>

@{
    ViewBag.Title = "PrintRoomReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PrintRoomReport</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tbl_floor_setup.Floor_No)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.tbl_roomtype_setup.Roomtype_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room_No)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>  
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_floor_setup.Floor_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_roomtype_setup.Roomtype_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
    </tr>
}

</table>
<div class="btn default col-md-1">
    <input type="button" id="printReportButton" value="PDF" />
</div>
<script>
$("#printReportButton").click(function () {
        window.location = "/FrontDesk/ExportReport/?catagory=Floor";
});
</script>