﻿@using PMS_HT.Models
@{
    Layout = null;
    List<tbl_room_info> roomss = ViewBag.rooms;
    List<tbl_floor_setup> floors = ViewBag.floors;
    List<tbl_roomtype_setup> categories = ViewBag.categories;
    List<tbl_room_view_setup> roomview = ViewBag.roomview;
    List<tbl_guest_stay_info> all_guest_stay = ViewBag.status;
}

<script>
    function showStatus(divId, status) {
        switch (status) {
            case "CheckIn":
                var elements = $('.'+divId);
                elements.css({'backgroundColor':'@ViewBag.OccupiedColor'});
                break;
            case "Reserved":
                var elements = $('.'+divId);
                elements.css({'backgroundColor':'@ViewBag.ReservedColor'});
                break;
            case "Booked":
                var elements = $('.'+divId);
                elements.css({'backgroundColor':'@ViewBag.BookedColor'});
                break;
            case "Clear":
                var elements = $('.'+divId);
                elements.css({'backgroundColor':'@ViewBag.ClearColor'});
                break;
            case "Dirty":
                var elements = $('.'+divId);
                elements.css({'backgroundColor':'@ViewBag.DirtyColor'});
                break;
            case "OutOfOrder":
                var elements = $('.'+divId);
                elements.css({'backgroundColor':'@ViewBag.OutOfOrderColor'});
                break;
            case "HouseUse":
                var elements = $('.'+divId);
                elements.css({'backgroundColor':'@ViewBag.HouseUseColor'});
                break;
            default:
                {
                    var elements = $('.'+divId);
                    elements.css({'backgroundColor':'#808080'});
                    elements.html(divId + "<br/>" + "Error");
                }
        }
    }

    function showUpcomingDepartStatus(datestatus, guestname, roomno, phone,arrival_date, SL, msgCount, parcelCount, inOrOut, vip)
    {
        var innerData = '<span class="SL" hidden>' + SL +'</span>';
        innerData += '<span style="font-size:small">'+ datestatus + ' (' + roomno +')</span>';
        innerData += '<br/>';
        innerData += '<span style="font-size:small">' + guestname + '</span>';
        innerData += '<br/>';

        var elements = $('.'+roomno);
        if (vip) {
            innerData += '<i class="fa fa-user-secret blink" style="float:left; padding:5px;"></i>';
            elements.css({"border-color": "#000",
                "border-width":"3px",
                "border-style":"solid"});
        }

        if (msgCount != null && msgCount > 0) {
            innerData += '<i class="fa fa-envelope" style="float:left; padding:5px;"></i>';
        }
        if (parcelCount != null && parcelCount > 0) {
            innerData += '<i class="fa fa-gift" style="float:left; padding:5px;"></i>';
        }
        if (inOrOut) {
            innerData += '<i class="fa fa-key" style="float:left; padding:5px;"></i>';
        }

        elements.css({'backgroundColor':'@ViewBag.UpcomingDepartColor'});
        elements.attr('title' , guestname + "\n" + phone + "\n" + arrival_date);
        elements.attr("data-toggle", "tooltip");
        elements.attr("data-placement", "auto");
        elements.html(innerData);
    }

    function showReserveBookingStatus(datestatus, guestname, roomno, phone,arrival_date, airport, transport, requests, preferences, SL, msgCount, parcelCount, vip)
    {
        var innerData = '<span class="SL" hidden>' + SL +'</span>';
        innerData += '<span style="font-size:small">'+ datestatus + ' (' + roomno +')</span>';
        innerData += '<br/>';
        innerData += '<span style="font-size:small">' + guestname + '</span>';
        var attribute = "* " + phone + "  * ";
        innerData += '<br />';

        var elements = $('.'+roomno);
        if (vip) {
            innerData += '<i class="fa fa-user-secret blink" style="float:left; padding:5px;"></i>';
            elements.css({"border-color": "#000",
                "border-width":"3px",
                "border-style":"solid"});
        }

        if (airport) {
            innerData += '<i class="fa fa-plane" style="float:left; padding:5px;"></i>';
            attribute += 'Airport Pickup' + "  * ";
        }
        if (transport != null) {
            innerData += '<i class="fa fa-car" style="float:left; padding:5px;"></i>';
            attribute += transport + "  * ";
        }
        if (requests != null) {
            innerData += '<i class="fa fa-slack" style="float:left; padding:5px;"></i>';
            attribute += requests + "  * ";
        }
        if (preferences != null) {
            innerData += '<i class="fa fa-bell" style="float:left; padding:5px;"></i>';
            attribute += preferences + "  * ";
        }
        if (msgCount != null && msgCount > 0) {
            innerData += '<i class="fa fa-envelope" style="float:left; padding:5px;"></i>';
        }
        if (parcelCount != null && parcelCount > 0) {
            innerData += '<i class="fa fa-gift" style="float:left; padding:5px;"></i>';
        }

        elements.attr('title' , attribute);
        elements.attr("data-toggle", "tooltip");
        elements.attr("data-placement", "auto");
        elements.html(innerData);
        showStatus(roomno, datestatus);
    }

    function showDirtyStatus(roomno)
    {
        var elements = $('.'+roomno);
        elements.css({'backgroundColor':'@ViewBag.DirtyColor'});
        elements.html('<i class="fa fa-times fa-3x"></i><span style="font-size:x-large">Dirty('+roomno+')</span>');
    }

    function showOutOfOrderStatus(roomno)
    {
        var elements = $('.'+roomno);
        elements.css({'backgroundColor':'@ViewBag.OutOfOrderColor'});
        elements.html('<i class="fa fa-wrench fa-3x"></i><span>OutOfOrder<br />'+roomno+'</span>');
    }
    function showHouseUseStatus(roomno)
    {
        var elements = $('.'+roomno);
        elements.css({'backgroundColor':'@ViewBag.HouseUseColor'});
        elements.html('<i class="fa fa-home fa-3x"></i><span>House Use<br />'+roomno+'</span>');
    }

    function showNameStatus(datestatus, guestname, roomno, phone,arrival_date, SL, msgCount, parcelCount, inOrOut, vip)
    {
        var innerData = '<span class="SL" hidden>' + SL +'</span>';
        innerData += '<span style="font-size:small">'+ datestatus + ' (' + roomno +')</span>';
        innerData += '<br/>';
        innerData += '<span style="font-size:small">' + guestname + '</span>';
        innerData += '<br/>';

        var elements = $('.'+roomno);
        elements.css({'backgroundColor':'#808080'});
        if (vip) {
            innerData += '<i class="fa fa-user-secret blink" style="float:left; padding:5px;"></i>';
            elements.css({"border-color": "#000",
                "border-width":"3px",
                "border-style":"solid"});
        }

        if (msgCount != null && msgCount > 0) {
            innerData += '<i class="fa fa-envelope" style="float:left; padding:5px;"></i>';
        }
        if (parcelCount != null && parcelCount > 0) {
            innerData += '<i class="fa fa-gift" style="float:left; padding:5px;"></i>';
        }
        if (inOrOut) {
            innerData += '<i class="fa fa-key" style="float:left; padding:5px;"></i>';
        }

        elements.attr('title' , guestname + "\n" + phone + "\n" + arrival_date);
        elements.attr("data-toggle", "tooltip");
        elements.attr("data-placement", "auto");
        elements.html(innerData);
        showStatus(roomno, datestatus);
    }
</script>


@functions{
    public int compareDate(DateTime Ddate, DateTime Darrdate, DateTime Ddepdate)
    {
        if (Ddate >= Darrdate.Date && Ddate <= Ddepdate)
        {
            return 1;
        }
        return 0;
    }
}


<div class="row">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="modal fade bs-modal-lg in" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Guest Stay Information <b style="padding-left:20%;font-size:x-large;">Room </b> <b style="font-size:x-large;" id="roomNo"></b></h4>
                            </div>
                            <div class="divForAdd">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BEGIN Portlet PORTLET-->
                <div class="portlet box purple-medium">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Room Status : @ViewBag.Date.ToString("dd/MM/yyyy")
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="javascript:;" class="reload"> </a>
                            <a href="" class="fullscreen"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="portlet box green-jungle">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-gift"></i>Portlet
                                        </div>
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#portlet_tab_1" data-toggle="tab"> Room Floor </a>
                                            </li>
                                            <li>
                                                <a href="#portlet_tab_2" data-toggle="tab"> Room Category </a>
                                            </li>
                                            <li>
                                                <a href="#portlet_tab_3" data-toggle="tab"> Room View </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <!--Tab Wise Rooom Portlet-->
                                    <div class="portlet-body">
                                        <div class="tab-content">
                                            <!--Floor Wise Rooom Portlet Start-->
                                            <div class="tab-pane active" id="portlet_tab_1">
                                                <div class="tab-pane active" id="portlet_tab_1">
                                                    <div class="row">
                                                        <div class="col-md-12 col-lg-12">
                                                            <p>
                                                                <strong>Floor Wise Room Status</strong>
                                                                <input type="button" class="btn btn-primary" id="printFloorReport" value="PDF" style="float:right" />
                                                            </p>

                                                            @foreach (var item in floors)
                                                            {
                                                                int i = 0;
                                                                <div class="portlet box yellow-casablanca">
                                                                    <div class="portlet-title">
                                                                        <div class="caption">
                                                                            <i class="fa fa-hotel"></i>Floor-@item.Floor_No
                                                                        </div>
                                                                        <div class="tools">
                                                                            <a href="javascript:;" class="collapse"> </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="portlet-body">
                                                                        <div class="row">
                                                                            @foreach (var room in roomss.Where(r => r.Floor_ID == item.Floor_ID).OrderBy(b => b.Room_No))
                                                                            {
                                                                                string roomno = room.Room_No;
                                                                                string roomClass = "rooms btn btn-lg grey-cascade responsive " + roomno;
                                                                                <div id="init" class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
                                                                                    <div id="@roomno" class="@roomClass" style="margin: 10px; width: 100%; height: 100px;" onclick="checkStatus(@roomno)">
                                                                                        <i class="fa fa-bed fa-3x"></i>
                                                                                        <span style="font-size:xx-large">@roomno</span>
                                                                                    </div>
                                                                                </div>
                                                                                if (i++ == 5)
                                                                                {
                                                                                    @:</div><div class="row">
                                                                                    i = 0;
                                                                                }
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                        <!-- END Portlet PORTLET-->
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Floor Wise Rooom Portlet End-->
                                            <!--Category Wise Rooom Portlet Start-->
                                            <div class="tab-pane" id="portlet_tab_2">
                                                <div class="tab-pane active" id="portlet_tab_2">
                                                    <div class="row">
                                                        <div class="col-md-12 col-lg-12">
                                                            <p>
                                                                <strong>Category Wise Room Status</strong>
                                                                <input type="button" class="btn btn-primary" id="printCatagoryReport" value="PDF" style="float:right" />
                                                            </p>

                                                            @foreach (var item in categories)
                                                            {
                                                                int i = 0;
                                                                <div class="portlet box yellow-casablanca">
                                                                    <div class="portlet-title">
                                                                        <div class="caption">
                                                                            <i class="fa fa-hotel"></i>@item.Roomtype_Name
                                                                        </div>
                                                                        <div class="tools">
                                                                            <a href="javascript:;" class="collapse"> </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="portlet-body">
                                                                        <div class="row">
                                                                            @foreach (var room in roomss.Where(r => r.Roomtype_ID == item.Roomtype_ID).OrderBy(b => b.Room_No))
                                                                            {
                                                                                string roomno = room.Room_No;
                                                                                string roomClass = "rooms btn btn-lg grey-cascade responsive " + roomno;
                                                                                <div id="init" class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
                                                                                    <div id="@roomno" class="@roomClass" style="margin: 10px; width: 100%; height: 100px;" onclick="checkStatus(@roomno)">
                                                                                        <i class="fa fa-bed fa-3x"></i>
                                                                                        <span style="font-size:xx-large">@roomno</span>
                                                                                    </div>
                                                                                </div>
                                                                                if (i++ == 5)
                                                                                {
                                                                                    @:</div><div class="row">
                                                                                    i = 0;
                                                                                }
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                        <!-- END Portlet PORTLET-->
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Category Wise Rooom Portlet End-->
                                            <!--Category Wise Rooom Portlet Start-->
                                            <div class="tab-pane" id="portlet_tab_3">
                                                <div class="tab-pane active" id="portlet_tab_3">
                                                    <div class="row">
                                                        <div class="col-md-12 col-lg-12">
                                                            <p>
                                                                <strong>View Wise Room Status</strong>
                                                                <input type="button" class="btn btn-primary" id="printViewReport" value="PDF" style="float:right" />
                                                            </p>

                                                            @foreach (var item in roomview)
                                                            {
                                                                int i = 0;
                                                                <div class="portlet box yellow-casablanca">
                                                                    <div class="portlet-title">
                                                                        <div class="caption">
                                                                            <i class="fa fa-hotel"></i>@item.View_type
                                                                        </div>
                                                                        <div class="tools">
                                                                            <a href="javascript:;" class="collapse"> </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="portlet-body">
                                                                        <div class="row">
                                                                            @foreach (var room in roomss.Where(r => r.Room_view_ID == item.Room_view_ID).OrderBy(b => b.Room_No))
                                                                            {
                                                                                string roomno = room.Room_No;
                                                                                string roomClass = "rooms btn btn-lg grey-cascade responsive " + roomno;
                                                                                <div id="init" class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
                                                                                    <div id="@roomno" class="@roomClass" style="margin: 10px; width: 100%; height: 100px;" onclick="checkStatus(@roomno)">
                                                                                        <i class="fa fa-bed fa-3x"></i>
                                                                                        <span style="font-size:xx-large">@roomno</span>
                                                                                    </div>
                                                                                </div>
                                                                                if (i++ == 5)
                                                                                {
                                                                                    @:</div><div class="row">
                                                                                    i = 0;
                                                                                }
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                        <!-- END Portlet PORTLET-->
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Category Wise Rooom Portlet End-->
                                        </div>
                                    </div>
                                    <!--Tab Wise Rooom Portlet End-->

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- END Portlet PORTLET-->
                @{
                    var rooms = ViewBag.rooms.ToArray();
                    for (int i = 0; i < rooms.Length; i++)
                    {
                        int flag = 1;
                        var roomNo = rooms[i].Room_No;
                        DateTime TodayDate = DateTime.Now;
                        int retValue = 0;
                        tbl_guest_stay_info savedItem = null;
                        int count = 0;
                        bool IsDirty = false;
                        bool IsOutOfOrder = false;
                        bool IsHouseUse = false;
                        if (ViewBag.Date != null)
                        {
                            DateTime selectedDate = Convert.ToDateTime(ViewBag.Date);
                            if (selectedDate.Date == TodayDate.Date && rooms[i].Status == "Dirty")
                            {
                                <script>showDirtyStatus(@Html.Raw(Json.Encode(roomNo)))</script>
                                IsDirty = true;
                            }
                            else if (selectedDate.Date == TodayDate.Date && rooms[i].Status == "OutOfOrder")
                            {
                                <script>showOutOfOrderStatus(@Html.Raw(Json.Encode(roomNo)))</script>
                                IsOutOfOrder = true;
                            }
                            else if (selectedDate.Date == TodayDate.Date && rooms[i].Status == "HouseUse")
                            {
                                <script>showHouseUseStatus(@Html.Raw(Json.Encode(roomNo)))</script>
                                IsHouseUse = true;
                            }
                        }
                        if (ViewBag.status != null && !IsDirty && !IsOutOfOrder && !IsHouseUse)
                        {
                            foreach (var item in all_guest_stay)
                            {
                                count++;
                                int msg = item.tbl_messages.Count(a => a.Status == "Pending");
                                int parcel = item.tbl_package.Count(a => a.Status == "Pending");

                                if (item.Room_ID != null)
                                {
                                    if (item.tbl_room_info.Room_No == roomNo)
                                    {
                                        flag = 0;
                                        if (ViewBag.Date != null)
                                        {
                                            DateTime selectedDate = Convert.ToDateTime(ViewBag.Date);
                                            if (item.Check_Out_Date <= selectedDate)
                                            {
                                                retValue = 0;
                                            }
                                            else if (item.Status == "Clear" && selectedDate >= TodayDate.Date)
                                            {
                                                retValue = 0;
                                            }
                                            else if (item.Status == "CheckIn" && selectedDate == TodayDate.Date) // new
                                            {
                                                retValue = 1;
                                            }
                                            //else if ((item.Status == "Reserved" || item.Status == "Booked") && selectedDate > TodayDate.Date) // new 15/04/2018
                                            //{
                                            //    retValue = 1;
                                            //}
                                            else
                                            {
                                                retValue = compareDate(selectedDate, item.Arrival_Date, item.Departure_Date);
                                            }
                                        }
                                        else if (item.Check_Out_Date <= TodayDate)
                                        {
                                            retValue = 0;
                                        }
                                        else
                                        {
                                            if (item.Status == "Clear")
                                            {
                                                retValue = 0;
                                            }
                                            else if (item.Status == "CheckIn") //new
                                            {
                                                retValue = 1;
                                            }
                                            else
                                            {
                                                retValue = compareDate(TodayDate, item.Arrival_Date, item.Departure_Date);
                                            }
                                        }

                                        if (retValue == 1)
                                        {
                                            if (item.Status == "CheckIn" && item.Departure_Date.AddMinutes(-30) <= DateTime.Now)
                                            {
                                                <script>showUpcomingDepartStatus(@Html.Raw(Json.Encode(item.Status)), @Html.Raw(Json.Encode(item.tbl_guest_info.Name)), @Html.Raw(Json.Encode(roomNo)), @Html.Raw(Json.Encode(item.tbl_guest_info.Phone)), @Html.Raw(Json.Encode(item.Arrival_Date.ToString("dd/MM/yy HH:mm"))), @Html.Raw(Json.Encode(item.Stay_Info_ID)), @Html.Raw(Json.Encode(msg)), @Html.Raw(Json.Encode(parcel)), @Html.Raw(Json.Encode(item.InOrOut)), @Html.Raw(Json.Encode(item.tbl_guest_info.VIP))  )</script>
                                            }
                                            else if (item.Status == "CheckIn")
                                            {
                                                <script>showNameStatus(@Html.Raw(Json.Encode(item.Status)), @Html.Raw(Json.Encode(item.tbl_guest_info.Name)), @Html.Raw(Json.Encode(roomNo)), @Html.Raw(Json.Encode(item.tbl_guest_info.Phone)), @Html.Raw(Json.Encode(item.Arrival_Date.ToString("dd/MM/yy HH:mm"))), @Html.Raw(Json.Encode(item.Stay_Info_ID)), @Html.Raw(Json.Encode(msg)), @Html.Raw(Json.Encode(parcel)), @Html.Raw(Json.Encode(item.InOrOut)), @Html.Raw(Json.Encode(item.tbl_guest_info.VIP))  )</script>
                                                //break;
                                            }
                                            else if (item.Status == "Reserved" || item.Status == "Booked")
                                            {
                                                <script>showReserveBookingStatus(@Html.Raw(Json.Encode(item.Status)), @Html.Raw(Json.Encode(item.tbl_guest_info.Name)), @Html.Raw(Json.Encode(roomNo)), @Html.Raw(Json.Encode(item.tbl_guest_info.Phone)), @Html.Raw(Json.Encode(item.Arrival_Date.ToString("dd/MM/yy HH:mm"))), @Html.Raw(Json.Encode(item.Airport_Pickup)), @Html.Raw(Json.Encode(item.Transportation)), @Html.Raw(Json.Encode(item.Special_Request)), @Html.Raw(Json.Encode(item.tbl_guest_info.Special_Preference)), @Html.Raw(Json.Encode(item.Stay_Info_ID)), @Html.Raw(Json.Encode(msg)), @Html.Raw(Json.Encode(parcel)), @Html.Raw(Json.Encode(item.tbl_guest_info.VIP)) )</script>
                                            }
                                            else if (count < ViewBag.count)
                                            {
                                                savedItem = item;
                                                continue;
                                            }
                                            else
                                            {
                                                <script>showNameStatus(@Html.Raw(Json.Encode(item.Status)), @Html.Raw(Json.Encode(item.tbl_guest_info.Name)), @Html.Raw(Json.Encode(roomNo)), @Html.Raw(Json.Encode(item.tbl_guest_info.Phone)), @Html.Raw(Json.Encode(item.Arrival_Date.ToString("dd/MM/yy HH:mm"))), @Html.Raw(Json.Encode(item.Stay_Info_ID)), @Html.Raw(Json.Encode(msg)), @Html.Raw(Json.Encode(parcel)), @Html.Raw(Json.Encode(item.InOrOut)), @Html.Raw(Json.Encode(item.tbl_guest_info.VIP)) )</script>
                                            }
                                            break;
                                        }
                                        else if (count == ViewBag.count && savedItem != null)
                                        {
                                            <script>showNameStatus(@Html.Raw(Json.Encode(savedItem.Status)), @Html.Raw(Json.Encode(savedItem.tbl_guest_info.Name)), @Html.Raw(Json.Encode(roomNo)), @Html.Raw(Json.Encode(item.tbl_guest_info.Phone)), @Html.Raw(Json.Encode(item.Arrival_Date.ToString("dd/MM/yy HH:mm"))), @Html.Raw(Json.Encode(item.Stay_Info_ID)), @Html.Raw(Json.Encode(msg)), @Html.Raw(Json.Encode(parcel)), @Html.Raw(Json.Encode(item.InOrOut)), @Html.Raw(Json.Encode(item.tbl_guest_info.VIP)) )</script>
                                        }
                                        else
                                        {
                                            <script>showStatus(@Html.Raw(Json.Encode(roomNo)), 'Clear')</script>
                                            continue;
                                        }
                                    }
                                    else if (count == ViewBag.count && savedItem != null)
                                    {
                                        flag = 0;
                                        <script>showNameStatus(@Html.Raw(Json.Encode(savedItem.Status)), @Html.Raw(Json.Encode(savedItem.tbl_guest_info.Name)), @Html.Raw(Json.Encode(roomNo)), @Html.Raw(Json.Encode(item.tbl_guest_info.Phone)), @Html.Raw(Json.Encode(item.Arrival_Date.ToString("dd/MM/yy HH:mm"))), @Html.Raw(Json.Encode(item.Stay_Info_ID)), @Html.Raw(Json.Encode(msg)), @Html.Raw(Json.Encode(parcel)), @Html.Raw(Json.Encode(item.InOrOut)), @Html.Raw(Json.Encode(item.tbl_guest_info.VIP)) )</script>
                                    }
                                    else
                                    {
                                        flag = 1;
                                    }
                                }
                                else
                                {
                                    <script>showStatus(@Html.Raw(Json.Encode(roomNo)), 'Clear')</script>
                                    break;
                                }
                            }
                        }
                        if (flag == 1 && !IsDirty && !IsOutOfOrder && !IsHouseUse)
                        {
                            <script> showStatus(@Html.Raw(Json.Encode(roomNo)), 'Clear') </script>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>

<div id="dialog-confirm" title="Choose room action">
    <p id="pId" hidden>

    </p>
</div>

@if (!User.IsInRole("Admin"))
{
    <script>

        function checkStatus(divId) {
            $('.divForAdd').html(null);
            $("#pId").html(null);
            $('#roomNo').text(divId);
            var roomStatus = document.getElementById(divId).innerHTML;
            if (roomStatus.match(/CheckIn/g)) {
            var InOutText = "Out";
            if (roomStatus.match(/fa fa-key/g)) {
                InOutText = "In";
            }
            $(function() {
                $("#pId").hide();
                $("#dialog-confirm").dialog(
                    {
                        resizable:false,
                        height:"auto",
                        width:600,
                        modal:true,
                        buttons:
                        [
                            {
                                text:"Edit Stay",
                                click:function() {
                                    $(this).dialog("close");
                                    $.get('@Url.Action("Edit", "FrontDeskGuestStay")',{id:divId},
                                        function(data) {
                                            $('.divForAdd').html(data);
                                            $('#Add-Model').modal({
                                                backdrop:'static'
                                            },'show');
                                        });


                                }
                            },
                            {
                                text:"CheckOut",
                                click:function() {
                                    $(this).dialog("close");
                                    $.get('@Url.Action("CheckOut", "FrontDeskGuestStay")',{id:divId},
                                        function(data) {
                                            $('.divForAdd').html(data);
                                            $('#Add-Model').modal({
                                                backdrop:'static'
                                            },'show');
                                        });


                                }
                            },
                            {
                                text:InOutText,
                                click:function() {
                                    $(this).dialog("close");
                                    var thisRoom = $('.' +divId).children('.SL').html();
                                    window.location = '@Url.Action("InOutChange", "FrontDeskGuestStay")/' + thisRoom;
                                }
                            },
                            {
                                text:"Message",
                                click:function() {
                                    $(this).dialog("close");
                                    var thisRoom = $('.' +divId).children('.SL').html();
                                    $.get('@Url.Action("StayWiseMessage", "FrontDeskGuestMessage")',{id:thisRoom},
                                        function(data) {
                                            $('.divForAdd').html(data);
                                            $('#Add-Model').modal({
                                                backdrop:'static'
                                            },'show');
                                        });


                                }
                            },
                            {
                                text:"Parcel",
                                click:function() {
                                    $(this).dialog("close");
                                    var thisRoom = $('.' +divId).children('.SL').html();
                                    $.get('@Url.Action("StayWiseParcel", "FrontDeskGuestParcel")',{id:thisRoom},
                                        function(data) {
                                            $('.divForAdd').html(data);
                                            $('#Add-Model').modal({
                                                backdrop:'static'
                                            },'show');
                                        });


                                }
                            },
                            {
                                text:"Close",
                                click:function() {
                                    $(this).dialog("close");
                                }
                            }
                        ]
                    });
            });

        }
        else if(roomStatus.match(/Reserved/g)) {
            var selectedDate = '@Convert.ToString(Session["Day"])';
            $(function() {
                if(selectedDate == "future") {
                    $("#pId").text("Selected Date is invalid for Check in");
                    $("#pId").show();
                }

                $("#dialog-confirm").dialog({
                    resizable:false,
                    height:"auto",
                    width:600,
                    modal:true,
                    buttons:
                    [
                        {
                            text:"Check In",
                            click:function() {
                                if(selectedDate == "future") {

                                } else {
                                    $(this).dialog("close");
                                    $("#pId").hide();
                                    $.get('@Url.Action("ReservedCheckIn", "FrontDeskGuestStay")',{id:divId},
                                        function(data) {
                                            $('.divForAdd').html(data);
                                            $('#Add-Model').modal({
                                                backdrop:'static'
                                            },'show');
                                        });


                                }
                            }
                        },
                        {
                            text:"Edit",
                            click:function() {
                                $(this).dialog("close");
                                var thisRoom = $('.' +divId).children('.SL').html();
                                    $("#pId").hide();
                                    $.get('@Url.Action("EditReservation", "FrontDeskGuestStay")',{id:thisRoom},
                                        function(data) {
                                            $('.divForAdd').html(data);
                                            $('#Add-Model').modal({
                                                backdrop:'static'
                                            },'show');
                                        });
                            }
                        },
                        {
                            text:"Cancellation",
                            click:function() {
                                $(this).dialog("close");
                                $.get('@Url.Action("CancelReservation", "FrontDeskGuestStay")',{id:divId},
                                    function(data) {
                                        $('.divForAdd').html(data);
                                        $('#Add-Model').modal({
                                            backdrop:'static'
                                        },'show');
                                    });


                            }
                        },
                        {
                            text:"Message",
                            click:function() {
                                $(this).dialog("close");
                                var thisRoom = $('.' +divId).children('.SL').html();
                                $.get('@Url.Action("StayWiseMessage", "FrontDeskGuestMessage")',{id:thisRoom},
                                    function(data) {
                                        $('.divForAdd').html(data);
                                        $('#Add-Model').modal({
                                            backdrop:'static'
                                        },'show');
                                    });


                            }
                        },
                        {
                            text:"Parcel",
                            click:function() {
                                $(this).dialog("close");
                                var thisRoom = $('.' +divId).children('.SL').html();
                                $.get('@Url.Action("StayWiseParcel", "FrontDeskGuestParcel")',{id:thisRoom},
                                    function(data) {
                                        $('.divForAdd').html(data);
                                        $('#Add-Model').modal({
                                            backdrop:'static'
                                        },'show');
                                    });


                            }
                        },
                        {
                            text:"Close",
                            click:function() {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
            });
        }
        else if(roomStatus.match(/Booked/g)) {
            var selectedDate = '@Convert.ToString(Session["Day"])';
            $(function() {
                if(selectedDate =="future") {
                    //alert("Selected Date is invalid for Check in");
                    $("#pId").text("Selected Date is invalid for Check in");
                    $("#pId").show();
                }
                $("#dialog-confirm").dialog(
                    {
                        resizable:false,
                        height:"auto",
                        width:600,
                        modal:true,
                        buttons:
                        [
                            {
                                text:"Check In",
                                click:function() {
                                    if(selectedDate == "future") {

                                    } else {
                                        $(this).dialog("close");
                                        $("#pId").hide();
                                        $.get('@Url.Action("BookedCheckIn", "FrontDeskGuestStay")',{id:divId},
                                            function(data) {
                                                $('.divForAdd').html(data);
                                                $('#Add-Model').modal({
                                                    backdrop:'static'
                                                },'show');
                                            });


                                    }
                                }
                            },
                            {
                                text:"Edit",
                                click:function() {

                                        $(this).dialog("close");
                                        var thisRoom = $('.' +divId).children('.SL').html();
                                        $("#pId").hide();
                                        $.get('@Url.Action("EditBooking", "FrontDeskGuestStay")',{id:thisRoom},
                                            function(data) {
                                                $('.divForAdd').html(data);
                                                $('#Add-Model').modal({
                                                    backdrop:'static'
                                                },'show');
                                            });



                                }
                            },
                            {
                                text: "Cancellation",

                                click :function() {
                                    $(this).dialog("close");
                                    $.get('@Url.Action("CancelBooking", "FrontDeskGuestStay")',{id:divId},
                                        function(data) {
                                            $('.divForAdd').html(data);
                                            $('#Add-Model').modal({
                                                backdrop:'static'
                                            },'show');
                                        });


                                }
                            },
                            {
                                text:"Message",

                                click:function() {
                                    $(this).dialog("close");
                                    var thisRoom = $('.' +divId).children('.SL').html();
                                    $.get('@Url.Action("StayWiseMessage", "FrontDeskGuestMessage")',{id:thisRoom},
                                        function(data) {
                                            $('.divForAdd').html(data);
                                            $('#Add-Model').modal({
                                                backdrop:'static'
                                            },'show');
                                        });


                                }
                            },
                            {
                                text:"Parcel",
                                click :function() {
                                    $(this).dialog("close");
                                    var thisRoom =$('.' +divId).children('.SL').html();
                                    $.get('@Url.Action("StayWiseParcel", "FrontDeskGuestParcel")',{ id: thisRoom },
                                        function (data) {
                                            $('.divForAdd').html(data);
                                            $('#Add-Model').modal({
                                                backdrop: 'static'
                                            }, 'show');
                                        });

                                }
                            },
                            {
                                text:"Close",
                                click: function () {
                                    $(this).dialog("close");
                                }
                            }
                        ]
                    });
            });
        }
            else if (roomStatus.match(/Dirty/g)) {
            var selectedDate = '@Convert.ToString(Session["Day"])';
            $(function () {
                $("#dialog-confirm").dialog({
                    resizable: false,
                    height: "auto",
                    width: "auto",
                    modal: true,
                    buttons: [
                        {
                            text:"Make Clear",
                            click: function () {
                                $(this).dialog("close");
                                window.location = '@Url.Action("MakeClear", "FrontDeskGuestStay")/' + divId;
                            }
                        },
                        {
                            text:"Assign",
                            click:function() {
                                $(this).dialog("close");
                                $("#pId").hide();
                                alert("Assign Task code");
                            }
                        },
                        {
                            text:"Close",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
            });
        }
        else if (roomStatus.match(/OutOfOrder/g)) {
            var selectedDate = '@Convert.ToString(Session["Day"])';
            $(function () {
                $("#dialog-confirm").dialog({
                    resizable: false,
                    height: "auto",
                    width: "auto",
                    modal: true,
                    buttons: [
                        {
                            text:"Make Available",
                            click: function () {
                                $(this).dialog("close");
                                window.location = '@Url.Action("MakeAvailable", "FrontDeskGuestStay")/' + divId;
                            }
                        },
                        {
                            text:"Close",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
            });
        }
        else if (roomStatus.match(/House Use/g)) {

        }
            else {
                var selectedDate = '@Convert.ToString(Session["Day"])';

                if (selectedDate =="past" ) {

                    $(function () {
                        $("#pId").text("Can not perform operation on past days");
                        $("#pId").show();
                        $("#dialog-confirm").dialog({
                            resizable: false,
                            height: "auto",
                            width: 600,
                            modal: true,
                            buttons: {
                                Ok: function () {
                                    $("#pId").hide();
                                    $(this).dialog("close");
                                }
                            }
                        });
                    });
                }
                else {
                    $.get('@Url.Action("Add", "FrontDeskGuestStay")',
                            { id: divId }, function (data) {
                                $('.divForAdd').html(data);
                            });

                    $('#Add-Model').modal({
                        backdrop: 'static'
                    }, 'show');
                }
            }
        }
        $("#printCatagoryReport").click(function () {
            printFloor("Catagory");
        });
        $("#printFloorReport").click(function () {
            printFloor("Floor");
        });
        $("#printViewReport").click(function () {
            printFloor("RoomView");
        });
        function printFloor(catagory)
        {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ExportReport")',
                data: { catagory: catagory },
                success: function (data) {
                    var str = "data:application/pdf;base64,"+data;
                    var object = '<iframe width="100%" height="100%" src="'+str+'"></iframe>';
                    var generator = window.open("","","top=100,left=500,width=500,height=500");
                    generator.document.write(object);
                    generator.document.close();
                }
            });
        }

    </script>

}
<style type="text/css">
    /*FRONT DESK STYLE*/
    @@-webkit-keyframes blinker {
        /*from {border-color: #000;}
            to {border-color: #555;}*/
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    .blink {
        text-decoration: blink;
        -webkit-animation-name: blinker;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-direction: alternate;
    }

    .rooms {
        border-radius: 5px;
    }

    .portlet-body .rooms i {
        display: block;
        color: #fff;
        text-align: center;
        padding: 10px 0px;
    }

    .tooltip {
        background-color: #000000;
    }
    /*END FRONT DESK STYLE*/
</style>
