﻿@model IEnumerable<PMS_HT.Models.tbl_laundry_item>

@{
    ViewBag.Title = "Laundry Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/AddViewModel.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <a href="@Url.Action("Add", "LaundryItem")" id="Add" class="btn default"><i class="glyphicon glyphicon-plus"></i>&nbsp;Create New</a>
                        Banquet Amenities
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_2">
                        <thead>
                            <tr>
                                <th>SL No </th>
                                <th>Laundry Category</th>
                                <th>Laundry Item</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{i++;}
                                        @i
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbl_laundry_item_category.Laundry_Item_Cata_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Laundry_Item_Name)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "LaundryItem", new { id = item.Laundry_Item_ID })" class="editDialog"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                                    </td>
                                    <td>
                                        @Ajax.ActionLink(" Delete", "Delete", "LaundryItem", new { @id = item.Laundry_Item_ID }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-record" }, new { onclick = "return confirm('Are you sure you wish to delete this Laundry Item?');", @class = "fa fa-trash-o" })
                                    </td>
                                </tr>
                                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Laundry Item</h4>
            </div>
            <div class="divForAdd">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update Laundry Item</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>

