﻿@model PMS_HT.Models.tbl_maid_info

<div class="profile-content">

    <div class="row">
@using (Html.BeginForm("Done", "HouseKeepingMaidInfo", new { id = @ViewBag.Maid_ID }, FormMethod.Post))
{
        <div class="col-md-3">


            <div class="portlet light profile-sidebar-portlet ">
                <!-- SIDEBAR USERPIC -->

                <div class="profile-userpic">
                    @if (ViewBag.Image != null)
                    {
                        <img src="~/images/maid/@ViewBag.Image" class="img-responsive" style="width: 240px; height: 200px;" alt="@Html.DisplayFor(d => d.Name)">
                    }
                    else
                    {
                        <img src="~/images/nofound.jpg" class="img-responsive" alt="@Html.DisplayFor(d => d.Name)">
                    }

                   <h2>@Html.DisplayFor(d => d.Name) </h2>
                    <h4>Cell: @Html.DisplayFor(d => d.Phone) </h4> 
               </div>

            </div>
        </div>
      <div class="col-md-9">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">Assign Task and Schedule Task</span>
             
                       
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_1_1" data-toggle="tab">Assign Task</a>
                        </li>
                        <li>
                            <a href="#tab_1_2" data-toggle="tab">Schedule Task</a>
                        </li>
                    </ul>
                </div>

                    <div class="tab-content">
                        <!-- PERSONAL INFO TAB -->

    <div><input type="submit"  value="Done" class="btn default" /></div>
   
                        <div class="tab-pane active" id="tab_1_1">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>SL No</th>
                                        <th>Task Name</th>
                                        <th>Room no</th>
                                        <th>Assign Date and Time</th>
                                        <th>Current Status</th>
                                        <th>Change Status</th>
                                        <th>Note</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int i = 0;}
                                    @foreach (var item in ViewBag.taskAssign)
                                    {
                                        <tr>
                                            <td>
                                                @{i++;}
                                                @i
                                            </td>
                                            <td>
                                                @item.Task_Heading
                                            </td>
                                            <td>
                                                @item.RoomNo
                                            </td>
                                            <td>
                                                @item.Task_Assignment_Date_Time
                                            </td>
                                            <td>
                                                @*@item.Task_Status*@
                                                @{
                                                    if (item.Task_Status == false)
                                                    {
                                                        @ViewBag.status

                                                    }
                                                    else
                                                    {
                                                        @ViewBag.status2
                                                    }
                                                }
                                            </td> 
                                            <td>
                                                <input type="checkbox" name="done" value="@item.Task_Assignment_ID" id="checkboxes" />
                                            </td>                                        
                                            <td>
                                                @item.Note
                                            </td>
                                        </tr>
                                                    }
                                </tbody>
                            </table>
                        </div>
                 

                        <!-- END PERSONAL INFO TAB -->
                        <!-- CHANGE AVATAR TAB -->
                        <div class="tab-pane" id="tab_1_2">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>SL No </th>
                                        <th>Task_Heading</th>
                                        <th>Room No</th>
                                        <th>Schedule</th>
                                        <th>Current Status</th>
                                        <th>Status</th>
                                        <th>Note</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int j = 0;}
                                    @foreach (var item in ViewBag.schedule)
                                    {
                                        <tr>
                                            <td>
                                                @{j++;}
                                                @j
                                            </td>
                                            <td>
                                                @item.TaskHeading
                                            </td>
                                            <td>
                                               @item.RoomNo 
                                            </td>
                                            <td>
                                                @item.ScheduleDateTime
                                            </td>
                                            <td>
                                                @item.TaskStatus
                                            </td>
                                            <td>
                                                <input type="checkbox" name="done" value="@item.Task_Schdule_ID" id="checkboxes" />
                                            </td>
                                            <td>
                                                @item.Note
                                            </td>
                                        </tr>
                                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- END CHANGE AVATAR TAB -->

                    </div>
               
                </div>
          
            </div>
                   }
        </div>
                                                  
    </div>

