﻿@model PMS_HT.Models.tbl_salary_transactions

<script type="text/javascript">

    $(function () {
        $(".datefield").datepicker({ dateFormat: 'dd/mm/yy' });
    });
</script>

@using (Ajax.BeginForm("Add", "PayRollSalaryEarning", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }))
{
    <div class="form-horizontal">
        <div class="modal-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                @Html.HiddenFor(model => model.Emp_ID, new { @Value = ViewBag.Emp_ID })
                <div class="form-group">
                    @Html.LabelFor(model => model.Tran_Ref_ID, "Earning", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Tran_Ref_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Tran_Ref_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Particular, "Particular", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Particular, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Particular, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Debit, "Amount", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Debit, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Debit, "", new { @class = "text-danger" })
                    </div>
                </div>


                @*<div class="form-group">
                        <div class="col-md-3">
                            @Html.Label("Month")
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Month_Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Month_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>*@


                <div class="form-group">
                    <div class="control-label col-md-3">Month</div>
                    <div class="col-md-8">
                        <select id="Month_Name" name="Month_Name" class="form-control ">
                            <option>January</option>
                            <option>February</option>
                            <option>March</option>
                            <option>April</option>
                            <option>May</option>
                            <option>June</option>
                            <option>July</option>
                            <option>August</option>
                            <option>September</option>
                            <option>October</option>
                            <option>November</option>
                            <option>December</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.Month_Name)
                    </div>

                </div>

                <div class="form-group">
                        @Html.LabelFor(model => model.Year_Name, "Year Name", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.ValidationMessageFor(model => model.Year_Name, "", new { @class = "text-danger" })

                        <select id="Year_Name" name="Year_Name" class="form-control">
                            @for (var i = 0; i < 6; i++)
                        {
                            <option>@(DateTime.Now.AddYears(i).Year)</option>
                        }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                        @Html.LabelFor(model => model.Date, "Date", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datefield" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
        <button type="submit" class="btn btn-success" name="cmd"><i class="fa fa-check"></i>&nbsp;Save</button>
    </div>
}

