﻿@model PMS_HT.Models.tbl_salary_transactions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_salary_transactions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tbl_earning_head.Earning_Head_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_earning_head.Earning_Head_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_emp_info.Emp_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_emp_info.Emp_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Particular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Particular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tran_Ref_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tran_Ref_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Debit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Debit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Salary_Tran_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
