﻿@model PMS_HT.Models.tbl_salary_transactions


<script type="text/javascript">

    $(function () {
        $(".datefield").datepicker({ dateFormat: 'dd/mm/yy' });
    });
</script>

@using (Ajax.BeginForm("Edit", "PayRollSalaryEarning", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }))
{
    @Html.HiddenFor(m => m.Salary_Tran_ID)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
    <div class="modal-body">
        <div class="row form-group">

            <div class="form-group">
                @Html.LabelFor(model => model.Tran_Ref_ID, "Earning", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.DropDownList("Tran_Ref_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Tran_Ref_ID, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Particular, "Particular", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Particular, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Particular, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                    @Html.LabelFor(model => model.Debit, "Amount", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Debit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Credit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Month_Name, "Month Name", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @{var Month_Name = new List<SelectListItem>
                        {
                        new SelectListItem { Text = "January", Value="January" },
                        new SelectListItem { Text = "February", Value="February" },
                        new SelectListItem { Text = "March", Value="March" },
                        new SelectListItem { Text = "April", Value="April" },
                        new SelectListItem { Text = "May", Value="May" },
                        new SelectListItem { Text = "June", Value="June" },
                        new SelectListItem { Text = "July", Value="July" },
                        new SelectListItem { Text = "August", Value="August" },
                        new SelectListItem { Text = "September", Value="September" },
                        new SelectListItem { Text = "October", Value="October" },
                        new SelectListItem { Text = "November", Value="November" },
                        new SelectListItem { Text = "December", Value="December" }
                        };
                    }
                    @Html.DropDownList("Month_Name", new SelectList(Month_Name, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Month_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Year_Name, "Year Name", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">                  
                    @{ 
                        var Year_Name = new List<SelectListItem>();
                        for (int i = 0; i <= 6; i++)
                        {
                            Year_Name.Add(new SelectListItem
                            {
                                Value = DateTime.Now.AddYears(i).Year.ToString(),
                                Text = DateTime.Now.AddYears(i).Year.ToString()
                            });
                        }
                    }
                   @Html.DropDownList("Year_Name", new SelectList(Year_Name, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                   @Html.ValidationMessageFor(model => model.Year_Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Date, "Date", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datefield" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
        <button type="submit" class="btn btn-success" name="cmd"><i class="fa fa-check"></i>&nbsp;Save Changes</button>
    </div>
}
