﻿<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    tr.error {
        background-color: rgba(255,0,0,0.35);
    }
</style>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/MasterDetails.js"></script>

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Master Details Entry Form
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="fullscreen"> </a>
            <a href="javascript:;" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="form-horizontal">
            <div class="form-body">
                <h3 class="form-section">Purchase Master</h3>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Memo No</label>
                            <div class="col-md-8">
                                <input type="text" id="memoNo" class="memo form-control" placeholder="Enter Memo no">
                                <span class="error">Valid Memo No required</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Discount</label>
                            <div class="col-md-8">
                                <input type="text" id="discount" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Memo Total</label>
                            <div class="col-md-8">
                                <input type="text" id="totalPrice" class="totalPrice form-control" placeholder="Total Price" disabled />
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Supplier Name</label>
                            <div class="col-md-8">
                                @Html.DropDownList("supplier", null, "Select Supplier", htmlAttributes: new { @class = "form-control", @id = "supplier" })
                                <span class="error">Select Supplier</span>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Advance Amount</label>
                            <div class="col-md-8">
                                <input type="text" id="advancePaid" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Due</label>
                            <div class="col-md-8">
                                <input type="text" id="dueAmount" class="form-control" placeholder="Due amount" disabled />
                                <span class="error">Provide Valid Discount/Advanced</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">Purchase Date</label>
                            <div class="col-md-8">
                                <input type="date" id="purchaseDate" class="form-control" name="bday" min="2012-01-02" max="2019-12-31">
                                <span class="error">Provide Purchase Date</span>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Purchase Details</h3>
                <!--/row-->
                <table class="table table-responsive">
                    <tr>
                        <td>Item</td>
                        <td>Location</td>
                        <td>Quantity</td>
                        <td>Unit</td>
                        <td>Price</td>
                        <td>Item Vat (%)</td>
                        <td>Sub Total</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="mycontainer" id="mainrow">
                        <td>
                            @*<select id="item" class="pc form-control">
                                    <option>Select</option>
                                </select>*@
                            @Html.DropDownList("Item_ID", null, "Select Product", htmlAttributes: new { @class = "product form-control", @onchange = "FillUnit()" })
                            <span class="error">Select Product</span>
                        </td>
                        <td>
                            @Html.DropDownList("Stock_Location_ID", null, "Select Location", htmlAttributes: new { @class = "location form-control" })
                            @*<select id="product" class="product form-control">
                                    <option>Select</option>
                                </select>*@
                            <span class="error">Select Location</span>
                        </td>
                        <td>
                            <input type="text" id="quantity" class="quantity form-control" />
                            <span class="error">Valid quantity required</span>
                        </td>
                        <td>
                            <input type="text" id="unit" class="unit form-control" readonly />
                        </td>
                        <td>
                            <input type="text" id="rate" class="rate form-control" />
                            <span class="error">Valid Price required</span>
                        </td>
                        <td>
                            <input type="text" id="vat" class="vat form-control" />
                            <span class="error">Valid Vat required</span>
                        </td>
                        <td>
                            <input type="text" id="subTotal" class="subTotal form-control" placeholder="sub total" disabled />
                            <span class="error">Sub Total</span>
                        </td>
                        <td>
                            <button type="button" id="add" class="btn dark btn-circle"><i class="fa fa-plus"></i></button>
                            @*<input type="button" id="add" value='<i class="fa fa-plus"></i>' class="btn blue-hoki btn-circle" />*@
                        </td>
                    </tr>
                </table>
                <div id="orderItems">
                    <table class="table table-responsive" id="orderdetailsItems"></table>
                    <span id="orderItemError" style="color:red"></span>
                </div>
            </div>
            <div class="form-actions">
                <div class="row" style="text-align:center;">
                    <button type="button" id="submit" class="btn btn-lg blue-chambray" style="font-size:x-large;"><i class="fa fa-shopping-cart" style="font-size:x-large;"></i>&nbsp;Purchase</button>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
