﻿@model PMS_HT.Models.tbl_dining_set_up

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_dining_set_up</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tbl_dining_location.Location_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_dining_location.Location_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dining_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dining_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Dining_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
