﻿@model  tbl_guest_stay_info
@using PMS_HT.Models
@{
    string vatLabel = "VAT(" + ViewBag.VatPercent + "%)";
    string scLabel = "SC(" + ViewBag.ScPercent + "%)";
    var guest1 = ViewBag.BookedGuest;
}
<style>
    label.error {
        color: red;
        font-style: italic;
    }
</style>


@using (Ajax.BeginForm("CancelBooking", "FrontDeskReserveBooking", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { id = "editReservationForm" }))
{
    <div class="form-horizontal">
        <br />
        <br />
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container-fluid">
            <div class="row form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">

                <div class="portlet-body">
                    <div class="row form-group">
                        <div class="form-group">
                            @Html.LabelFor(model => model.tbl_guest_info.Name, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                            <div class="col-md-4 col-sm-8 col-xs-8">
                                <input type="text" name="Name" id="Name" readonly class="form-control" value="@guest1.tbl_guest_info.Name">
                            </div>

                            @Html.LabelFor(model => model.tbl_guest_info.Phone, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                            <div class="col-md-4 col-sm-8 col-xs-8">
                                <input type="text" name="Phone" id="Phone" readonly class="form-control" value="@guest1.tbl_guest_info.Phone">
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="form-group ">
                            @Html.LabelFor(model => model.Arrival_Date, "Arrival Date", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <input type="text" name="Arrival_Date" id="Arrival_Date" readonly class="form-control" value="@guest1.Arrival_Date">
                            </div>
                            @Html.LabelFor(model => model.Departure_Date, "Departure Date", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <input type="text" name="Departure_Date" id="Departure_Date" readonly class="form-control" value="@guest1.Departure_Date">
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="form-group ">
                            @Html.Label("bookingDate", "Booking Date", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <input type="text" name="bookingDate" id="bookingDate" readonly class="form-control" value="@ViewBag.Booking_Date">
                            </div>
                            @Html.Label("cancelationDate", "Cancelation Date", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <input type="text" name="cancelationDate" id="cancelationDate" readonly class="form-control" value="@DateTime.Now">
                            </div>

                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="form-group ">
                            @Html.Label("rate", "Rate", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <input type="text" name="rate" id="rate" readonly class="form-control text-right" value="@ViewBag.Rate">
                            </div>
                            @Html.Label("noOfNight", "No. Of Nights", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <input type="text" name="noOfNight" id="noOfNight" value="@ViewBag.NoOfNight" readonly class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="form-group">                            
						@Html.Label("vat", vatLabel, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
						<div class="col-md-4 col-sm-4 col-xs-4">
							<input type="text" name="vat" id="vat" class="form-control text-right" value="@ViewBag.Vat" readonly>
						</div>                           
                            @Html.Label("sc", scLabel, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <input type="text" name="sc" id="sc" class="form-control text-right" value="@ViewBag.SC" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="form-group">
                            @Html.Label("perDayCharge", "Charge / Day", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <input type="text" id="perDayCharge" class="form-control text-right" value="@ViewBag.PerDayCharge" readonly>
                            </div>
                            @Html.Label("totalCharge", "Total Charge", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <input type="text" id="totalCharge" class="form-control text-right" value="@ViewBag.TotalCharge" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="form-group">
                            @Html.Label("totalChargeRounded", "Total Charge (Rounded)", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <input type="text" id="totalChargeRounded" class="form-control text-right" value="@ViewBag.TotalChargeRounded" readonly>
                            </div>
                            @Html.Label("previousPaid", "Previous Paid", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <input type="text" name="previousPaid" id="previousPaid" class="form-control text-right" value="@ViewBag.Paid" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="form-group">
                            @Html.Label("particulars", "Particulars", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2 requiredCus" })
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <input type="text" name="particulars" id="particulars" class="form-control" value="Cancel Booking">
                            </div>
                        </div>
                    </div>

                    <label><strong>Adjustment : </strong></label>
                    <div class="row form-group">
                        <div class="form-group">
                            @Html.Label("cancelationCharge", "Cancelation Charge (%)", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2 requiredCus" })
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <input type="text" name="cancelationCharge" id="cancelationCharge" class="form-control" onkeyup="GetRefund()" onchange="GetRefund()">
                            </div>

                            @Html.Label("refund", "Refund", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <input type="text" name="refund" id="refund" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group" style="text-align:right;">
                        <button type="button" class="btn red-flamingo" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
                        <button type="submit" class="btn btn-success" id="submit"><i class="fa fa-check"></i>&nbsp;Cancel Booking</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/MathRound10.js"></script>
<script>
    $(document).ready(function () {
        $('.requiredCus').each(function () {
            var htm = $(this).html();
            htm = '<span class="asterisk">*</span> ' + htm;
            $(this).html(htm);
        });
        $("#roomNo").html('@ViewBag.RoomNo');
    });

    function GetRefund() {
        var cancelationCharge = Number($("#cancelationCharge").val());
        var totalChargeRounded = Number($("#totalChargeRounded").val());
        var previousPaid = Number($("#previousPaid").val());
        var totalCancellation = (totalChargeRounded * cancelationCharge / 100);
        var refund = previousPaid - totalCancellation;
        if (totalCancellation > previousPaid) {
            refund = 0;
        }
        $("#refund").val(refund);
    }

    $('#editReservationForm').validate({
        rules: {
            particulars: "required",
            cancelationCharge: "required"
        },
        messages: {
            particulars: "This field can not be empty !",
            cancelationCharge: "This field can not be empty !"
        }
    });

    
</script>