﻿@model IEnumerable<PMS_HT.Models.tbl_guest_stay_info>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/AddViewModel.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Upcoming Reservations
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_2">
                        <thead>
                            <tr>
                                <th>SL.<br /> No</th>
                                <th>Conf.<br /> No.</th>
                                <th>Room No</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>Arrival Date</th>
                                <th>Departure Date</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{
                                            i++;
                                            int confirmationNumber = item.Stay_Info_ID + 500;
                                        }
                                        @i
                                    </td>
                                    <td>@confirmationNumber</td>
                                    <td>
                                        @item.tbl_room_info.Room_No
                                    </td>
                                    <td>
                                        @item.tbl_guest_info.Name
                                    </td>
                                    <td>
                                        @item.tbl_guest_info.Phone
                                    </td>
                                    <td>
                                        @item.tbl_guest_info.Address
                                    </td>
                                    <td>
                                        @item.Arrival_Date
                                    </td>
                                    <td>
                                        @item.Departure_Date
                                    </td>
                                    <td>
                                        @item.Status
                                    </td>
                                    @if (item.Status == "Reserved")
                                    {
                                        <td style="text-align: center;">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <a href="@Url.Action("EditReservation", "FrontDeskGuestStay", new {id = item.Stay_Info_ID})" class="editDialog btn btn-primary" data-toggle="tooltip" title="Edit Reservation"><i class="fa fa-pencil"></i> Edit</a>
                                                    <a href="@Url.Action("CancelReservation", "FrontDeskReserveBooking", new { id = item.Stay_Info_ID })" class="editDialog btn btn-danger" data-toggle="tooltip" title="Cancel Reservation"><i class="fa fa-pencil"></i> Cancel</a>
                                                </span>
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="text-align: center;">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <a href="@Url.Action("EditBooking", "FrontDeskGuestStay", new {id = item.Stay_Info_ID})" class="editDialog btn btn-primary" data-toggle="tooltip" title="Edit Booking"><i class="fa fa-pencil"></i> Edit</a>
                                                    <a href="@Url.Action("CancelBooking", "FrontDeskReserveBooking", new {id = item.Stay_Info_ID})" class="editDialog btn btn-danger" data-toggle="tooltip" title="Cancel Booking"><i class="fa fa-pencil"></i> Cancel</a>
                                                </span>
                                            </div>
                                        </td>
                                    }

                                </tr>
                                            }

                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-modal-lg in" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Reservation/Booking <b style="padding-left:20%;font-size:x-large;">Room </b> <b style="font-size:x-large;" id="roomNo"></b></h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>

<script>
    $('.editDialog').click(function (event) {
        $('.divForUpdate').html(null);
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
    });
</script>