﻿@model PMS_HT.Models.tbl_expense
<style>
    label.error {
        color: red;
        font-style: italic;
    }
</style>
@*<script src="~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>

<script src="~/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>*@
<script type="text/javascript">

    $(function () {
        $(".datefield").datepicker({ dateFormat: 'dd/mm/yy' });
    });
</script>

@using (Ajax.BeginForm("Edit", "Expense", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { id = "expenseDayWiseForm" }))
{
    @Html.HiddenFor(m => m.Exp_ID) 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <div class="modal-body">
            <div class="row form-group">
                <div class="form-group">
                    @Html.LabelFor(model => model.Exp_Head_ID, "Head Name", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-7">
                        @Html.DropDownList("Exp_Head_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Exp_Head_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", id = "Amount" } })
                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                    </div>
                </div>


                @*<div class="form-group">
                    <div class="control-label col-md-3">Date</div>

                    <div class="col-md-7 input-group date form_meridian_datetime" data-date="2012-12-215:25:00">
                        @Html.EditorFor(model => model.Created_Date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Created_Date, "", new { @class = "text-danger" })

                        <span class="input-group-btn">
                            <button class="btn default date-reset" type="button">
                                <i class="fa fa-times"></i>
                            </button>
                            <button class="btn default date-set" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>*@
                <div class="form-group">
                    <div class="control-label col-md-3">Date</div>

                    <div class="col-md-7 ">
                        @Html.EditorFor(model => model.Created_Date, new { htmlAttributes = new { @class = "form-control datefield", required = true } })
                        @*<button class="btn default date-set" type="button" style="display:none">
                    <i class="fa fa-calendar"></i>
                </button>*@
                        @Html.ValidationMessageFor(model => model.Created_Date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control", id = "Note" } })
                        @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                    </div>
                </div>                              
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
        <button type="submit" class="btn btn-success" name="cmd"><i class="fa fa-check"></i>&nbsp;Save Changes</button>
    </div>
}

<script src="~/Scripts/jquery.validate.min.js"></script>

<script>
    $('#expenseDayWiseForm').validate({
        rules: {
            Amount: {
                required: true,
                number: true,
                min:0
            },
            Note: {
                required: true,
                maxlength: 500
            }
        },
        messages: {
            Amount: {
                required: "Amount cannot be empty",
                number: "Amount must be a number",
                min: "Amount must be greater than 0"
            },
            Note: {
                required: "Please provide Note.",
                maxlength: "Maximum length is 500 characters"
            }
        }
    });

</script>
