﻿@model IEnumerable<PMS_HT.Models.tbl_expense>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/AddViewModel.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Day Wise  Total Expense 
                    </div>
                    <div class="tools">
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_2">
                        <thead>
                            <tr>
                                <th>SL No</th>                           
                                <th>Date</th>
                                <th>Total Expense</th>
                                <th></th>
                             
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0;}
                            @foreach (var item in ViewBag.ExpenseGroupWise)
                            {
                                <tr>
                                    <td>
                                        @{i++;}
                                        @i
                                    </td>
                                
                                    <td>
                                        @item.date.ToShortDateString()
                                        
                                    </td>

                                    <td>
                                        @item.Value

                                    </td>
                                    <td>@Html.ActionLink("Details", "Details", new { date = item.date.ToString("yyyy-MM-dd") })</td>
                         
                                </tr>

                             }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Transaction</h4>
            </div>
            <div class="divForAdd">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update Transaction</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>



