﻿@model PMS_HT.Models.tbl_package

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_package</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.delivering_employee.Emp_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delivering_employee.Emp_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.receiving_employee.Emp_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receiving_employee.Emp_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_guest_stay_info.No_of_Nights)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_guest_stay_info.No_of_Nights)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Package_Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Package_Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senders_Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senders_Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receiving_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receiving_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delivery_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delivery_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
