﻿@model IEnumerable<PMS_HT.Models.tbl_guest_stay_info>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">

        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-comments"></i>Today's Entry Customer Info
                </div>
                <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-2">
                        <input type="button" class="btn btn-success" name="printVacant" id="printVacant" value="PDF" />
                    </div>
                </div>
            </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th> Sl No </th>
                                    <th> Room No </th>
                                    <th> Guest Name </th>
                                    <th> Phone </th>
                                    <th> Address </th>
                                    <th> Arrival Date </th>
                                    <th>CheckOut Time</th>
                                </tr>
                            </thead>

                            <tbody>
                                @{ int i = 0; }
                                @foreach (var item in ViewBag.TodayEntryCustomerInfo)
                                {
                                    <tr>
                                        <td>
                                            @{ i++;}
                                            @i
                                        </td>
                                        <td> @item.tbl_room_info.Room_No </td>
                                        <td> @item.tbl_guest_info.Name</td>
                                        <td> @item.tbl_guest_info.Phone</td>
                                        <td> @item.tbl_guest_info.Address</td>
                                        <td>@item.Arrival_Date</td>
                                        <td>@item.Check_Out_Time</td>
                                    </tr>            }
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>

<script>
    $("#printVacant").click(function () {

        window.location = "/FrontDeskTodaysEntryGuestReport/ExportReport";
    });
</script>