﻿@model PMS_HT.Models.tbl_guest_stay_info
@{
    string vatLabel = "VAT(" + ViewBag.VatPercent + "%)";
    //string scLabel = "SC(" + ViewBag.ScPercent + "%)";
    string scLabel = "O/C(" + ViewBag.ScPercent + "%)";
}
<script src="~/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<script src="~/Scripts/DatePicker_.js"></script>
<script src="~/Scripts/jquery.webcam.js"></script>
<script src="~/Scripts/SigWebTablet.js"></script>
<script type="text/javascript">
    var tmr;

    function onSign() {
        var ctx = document.getElementById('cnv').getContext('2d');
        SetDisplayXSize(300);
        SetDisplayYSize(100);
        SetTabletState(0, tmr);
        SetJustifyMode(0);
        ClearTablet();
        if (tmr == null) {
            tmr = SetTabletState(1, ctx, 50);
        }
        else {
            SetTabletState(0, tmr);
            tmr = null;
            tmr = SetTabletState(1, ctx, 50);
        }
    }

    function onClear() {
        ClearTablet();
    }

    function onDone() {
        //alert();
        if (NumberOfTabletPoints() == 0) {
            alert("Please sign before continuing");
        }
        else {
            SetTabletState(0, tmr);
            SetSigCompressionMode(1);

            SetImageXSize(300);
            SetImageYSize(100);
            SetImagePenWidth(5);
            GetSigImageB64(SigImageCallback);
        }
    }

    function SigImageCallback(str) {
        var st = "data:image/png;base64," + str;
        document.getElementById("Signature").value = st;
    }
</script>


<script type="text/javascript">
    window.onunload = window.onbeforeunload = (function () {
        closingSigWeb()
    })

    function closingSigWeb() {
        ClearTablet();
        SetTabletState(0, tmr);
    }
</script>

<script type="text/javascript">
    $("#Camera").webcam({
        width: 320,
        height: 240,
        mode: "save",
        swffile: "@Url.Content("~/Scripts/jscam.swf")",
        onTick: function () { },
        onSave: function () {
            UploadPic();
        },
        onCapture: function () {
            //debugger;
            var arrDt = $("#Arrival_Date").val();
            webcam.save("/FrontDeskGuestStay/Capture?q=" + encodeURIComponent(arrDt));
            //$('#capture-button').prop('disabled', false);
        },
        debug: function () { },
        onLoad: function () { }

    });

    function UploadPic() {
        $.ajax({
            type: 'POST',
            url: ("@Url.Content("~/FrontDeskGuestStay/Rebind")/"),
            dataType: 'json',
            success: function (data) {
                var att = "../../WebImages/" + data;
                $("#show").attr("src", att);
                document.getElementById('Image').value = att;
                //alert("Photo Capture successfully!");
            }
        });
    }

</script>

<style>
    .text-right {
        text-align: right;
        padding-right: 20px;
    }
</style>


@using (Ajax.BeginForm("Add", "FrontDeskGuestStay", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { id = "guestAddForm" }))
{
    <div class="form-horizontal">

        <div class="form-group" style="text-align:center;">
            <div id="target" class="col-md-10" style="margin:0 auto; float:none; font-size:large; color:red">@ViewBag.FutureDateError</div>
            <div id="log" class="col-md-8">
            </div>
        </div>
        <div hidden>
            <label id="PropertyName">@ViewBag.PropertyName</label>
            <label id="PropertyAddress">@ViewBag.PropertyAddress</label>
            <label id="PropertyPhone">@ViewBag.PropertyPhone</label>
            <label id="PropertyLogo">@ViewBag.PropertyLogo</label>
        </div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container-fluid">
            <div class="row form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="portlet-body tabs">
                    <ul class="nav nav-pills">
                        <li>
                            <a href="#tab_4_1" data-toggle="tab"><i class="fa fa-camera"></i> Photo </a>
                        </li>
                        <li class="active">
                            <a href="#tab_4_2" data-toggle="tab"><i class="fa fa-info"></i> Arrival Info </a>
                        </li>
                        <li>
                            <a href="#tab_4_3" data-toggle="tab"><i class="fa fa-bars"></i> Guest Detail </a>
                        </li>
                        <li>
                            <a href="#tab_4_4" data-toggle="tab"><i class="fa fa-align-justify"></i> More Detail </a>
                        </li>
                        <li>
                            <a href="#tab_4_5" data-toggle="tab"><i class="fa fa-pencil"></i> Signature </a>
                        </li>
                        <li>
                            <a href="#tab_4_6" data-toggle="tab"><i class="fa fa-calculator"></i> Rate Info </a>
                        </li>
                    </ul>
                    <br />
                    <div class="tab-content">

                        <div class="tab-pane fade" id="tab_4_1">
                            <label><strong>Photo : </strong></label>
                            <div class="row form-group">
                                <div class="photo-frame" style="float: left;">
                                    <div id="Camera" style="text-align:center">

                                    </div>
                                    <button type="button" class="btn dark" onclick="webcam.capture();" id="capture-button"><i class="fa fa-camera"></i>&nbsp; Capture</button>
                                </div>
                                <div class="photo-frame" style="float: right;">
                                    <div>
                                        <img id="show" style="width: 320px; height: 240px;" src="../../WebImages/person.jpg" />
                                    </div>
                                    @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", id = "Image", @readonly = true } })
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane active" id="tab_4_2">
                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Arrival_Date, "Arrival Date", htmlAttributes: new { @class = "control-label col-md-3 col-sm-2 col-xs-2 requiredCus" })
                                    <div class="input-group date form_meridian_datetime input-large ShiftUnset">
                                        @Html.EditorFor(model => model.Arrival_Date, new { htmlAttributes = new { @class = "form-control", @size = "16", onchange = "setDepartureDate()", @placeholder = "Arrival Date", required = true } })
                                        @Html.ValidationMessageFor(model => model.Arrival_Date, "", new { @class = "text-danger" })
                                        <span class="input-group-btn">
                                            <button class="btn default date-reset" type="button">
                                                <i class="fa fa-times font-red-thunderbird"></i>
                                            </button>
                                            <button class="btn default date-set" type="button">
                                                <i class="fa fa-calendar font-red-thunderbird"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="ShiftSet col-md-5" hidden>
                                        <input type="text" readonly class="form-control" id="shift_arrival" />
                                    </div>
                                    <div>

                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Departure_Date, "Departure Date", htmlAttributes: new { @class = "control-label col-md-3 col-sm-2 col-xs-2 requiredCus" })
                                    <div class="input-group date form_meridian_datetime input-large ShiftUnset">
                                        @Html.EditorFor(model => model.Departure_Date, new { htmlAttributes = new { @class = "form-control", @size = "16", onchange = "checkPreviousBooking()", @placeholder = "Departure Date", required = true } })
                                        @Html.ValidationMessageFor(model => model.Departure_Date, "", new { @class = "text-danger" })
                                        <span class="input-group-btn">
                                            <button class="btn default date-reset" type="button">
                                                <i class="fa fa-times font-red-thunderbird"></i>
                                            </button>
                                            <button class="btn default date-set" type="button">
                                                <i class="fa fa-calendar font-red-thunderbird"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="ShiftSet col-md-5" hidden>
                                        <input type="text" readonly class="form-control" id="shift_departure" />
                                    </div>
                                </div>
                            </div>

                            <label><strong>Room Status : </strong></label>
                            <div class="row">
                                <div class="col-md-2" id="checkInDiv">
                                    <input type="radio" name="Status" id="CheckIn" value="CheckIn"> CheckIn &nbsp;&nbsp;
                                </div>
                                <div class="col-md-2">
                                    <input type="radio" name="Status" id="Reserved" value="Reserved" class="shiftInverse"> Reserve &nbsp;&nbsp;
                                </div>
                                <div class="col-md-2">
                                    <input type="radio" name="Status" id="Booked" value="Booked" class="shiftInverse"> Booking &nbsp;&nbsp;&nbsp;
                                </div>

                                <div class="form-group">
                                    <div id="roomList" hidden>
                                        @Html.Label("Room No", htmlAttributes: new { @class = "control-label col-md-2 requiredCus" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.DropDownList("Room_ID", null, "--Select--", htmlAttributes: new { @class = "form-control", onchange = "GetGuest()" })
                                                <span class="input-group-addon"><i class="fa fa-bed font-red-thunderbird"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <label><strong>Room Option : </strong></label>
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="radio" name="RoomOption" id="Single" value="Single" onchange="HideRoomList()" checked> New Room
                                </div>
                                <div class="col-md-3" hidden>
                                    <input type="radio" name="RoomOption" id="Multiple" onchange="GetRoomList()" value="Multiple"> Multiple Room
                                </div>
                                <div class="col-md-3">
                                    <input type="radio" name="RoomOption" id="Shift" onchange="GetRoomList()" value="Shift"> Shift Room
                                </div>
                            </div>
                            <br />
                            <label><strong>Guest Information : </strong></label>
                            <div class="row form-group">
                                <div class="form-group">
                                    <input type="text" name="gID" id="gID" hidden />
                                    @Html.LabelFor(model => model.tbl_guest_info.Name, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8 requiredCus" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.tbl_guest_info.Name, new { htmlAttributes = new { @class = "form-control", required = true, id = "Name", @placeholder = "Name" } })
                                            <span class="input-group-addon"><i class="fa fa-user-circle font-red-thunderbird"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.tbl_guest_info.Name, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.tbl_guest_info.Father_Name, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.tbl_guest_info.Father_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Father's Name" } })
                                            <span class="input-group-addon"><i class="fa fa-male font-yellow-gold"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.tbl_guest_info.Father_Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Mother_Name, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.tbl_guest_info.Mother_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mother's Name" } })
                                            <span class="input-group-addon"><i class="fa fa-female font-yellow-gold"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.tbl_guest_info.Mother_Name, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.tbl_guest_info.Maritial_Status, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            @Html.DropDownListFor(model => model.tbl_guest_info.Maritial_Status, new List<SelectListItem>
                                            {
                                            new SelectListItem {Text ="Married", Value="Married" },
                                            new SelectListItem {Text ="Unmarried", Value="Unmarried"},
                                            new SelectListItem {Text ="Divorced", Value="Divorced" },
                                            new SelectListItem {Text ="Widower", Value="Widower" },
                                            }, "--Select--", new { @class = "form-control" })
                                            <span class="input-group-addon"><i class="fa fa-info-circle font-yellow-gold"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Nationality, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            @Html.DropDownListFor(model => model.tbl_guest_info.Nationality, new List<SelectListItem>
                                            {
                                            new SelectListItem {Text ="Bangladeshi", Value="Bangladeshi" },
                                            new SelectListItem {Text ="Foreigner", Value="Foreigner"},
                                            }, new { @class = "form-control", onchange = "showHideForeign()" })
                                            <span class="input-group-addon"><i class="fa fa-globe font-yellow-gold"></i></span>
                                        </div>

                                    </div>
                                    @Html.LabelFor(model => model.tbl_guest_info.Spouse_Name, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.tbl_guest_info.Spouse_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Spouse Name" } })
                                            <span class="input-group-addon"><i class="fa fa-info font-yellow-gold"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.tbl_guest_info.Spouse_Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab_4_3">
                            <label><strong>Contact Information : </strong></label>
                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Phone, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8 requiredCus" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.tbl_guest_info.Phone, new { htmlAttributes = new { @class = "form-control", required = true, onchange = "GetFrequentGuest()", @placeholder = "Phone 1" } })
                                            <span class="input-group-addon"><i class="fa fa-phone-square font-red-thunderbird"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.tbl_guest_info.Phone, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.LabelFor(model => model.tbl_guest_info.AdditionalPhone, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.tbl_guest_info.AdditionalPhone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone 2" } })
                                            <span class="input-group-addon"><i class="fa fa-phone-square font-yellow-gold"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.tbl_guest_info.AdditionalPhone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Address, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8 requiredCus" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        @Html.TextAreaFor(model => model.tbl_guest_info.Address, new { @class = "form-control", @rows = "4", @placeholder = "Present Address", @required = true })
                                    </div>
                                    @Html.LabelFor(model => model.tbl_guest_info.Permanent_Address, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        @Html.TextAreaFor(model => model.tbl_guest_info.Permanent_Address, new { @class = "form-control", @id = "tbl_guest_info_Permanent_Address", @rows = "4", @placeholder = "Permanent Address" })
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Email, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.tbl_guest_info.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "@email" } })
                                            <span class="input-group-addon"><i class="fa fa-at font-yellow-gold"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <label><strong>Identification : </strong></label>&nbsp;&nbsp;
                            <input type="checkbox" name="Identification" id="NIdCheckbox" onchange="NIdTicked()" checked>National ID &nbsp;&nbsp;
                            <input type="checkbox" name="Identification" id="drivingLicenseCheckbox" onchange="DlTicked()">Driving License &nbsp;&nbsp;
                            <input type="checkbox" name="Identification" id="tinCertificateCheckbox" onchange="tinTicked()">Tin Certificate
                            <div class="row form-group">
                                <div class="form-group">
                                    <div id="passportDiv" hidden>
                                        @Html.LabelFor(model => model.tbl_guest_info.Passport_No, "Passport No", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2 requiredCus" })
                                        <div class="col-md-4 col-sm-6 col-xs-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.tbl_guest_info.Passport_No, new { htmlAttributes = new { @class = "form-control", @placeholder = "Passport" } })
                                                <span class="input-group-addon"><i class="fa fa-book font-red-thunderbird"></i></span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.tbl_guest_info.Passport_No, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div id="NId">
                                        @Html.LabelFor(model => model.tbl_guest_info.National_ID, "NID", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2 requiredCus" })
                                        <div class="col-md-4 col-sm-6 col-xs-4">
                                            <div class="input-group">
                                                <input type="text" name="National_ID" id="National_ID" class="form-control" placeholder="NID">
                                                <span class="input-group-addon"><i class="fa fa-id-card font-red-thunderbird"></i></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="drivingLicense" hidden>
                                        @Html.LabelFor(model => model.tbl_guest_info.Driving_License, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-4 col-sm-6 col-xs-4">
                                            <div class="input-group">
                                                <input type="text" name="Driving_License" id="Driving_License" class="form-control" placeholder="Driving License">
                                                <span class="input-group-addon"><i class="fa fa-automobile font-yellow-gold"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tinCertificate" hidden>
                                        @Html.LabelFor(model => model.tbl_guest_info.Tin_Certificate, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-4 col-sm-6 col-xs-4">
                                            <div class="input-group">
                                                <input type="text" name="Tin_Certificate" id="Tin_Certificate" class="form-control" placeholder="TIN">
                                                <span class="input-group-addon"><i class="fa fa-briefcase font-yellow-gold"></i></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label><strong>Others Informations : </strong></label>
                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Purpose_of_visit, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.tbl_guest_info.Purpose_of_visit, new { htmlAttributes = new { @class = "form-control", @placeholder = "Purpose Of Visit" } })
                                            <span class="input-group-addon"><i class="fa fa-plane font-yellow-gold"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.tbl_guest_info.Purpose_of_visit, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.LabelFor(model => model.tbl_guest_info.Country_ID, "Country", htmlAttributes: new { @class = "control-label col-md-2", @id = "CountryLabel" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            @Html.DropDownList("Country_ID", null, "--Select--", htmlAttributes: new { @class = "form-control" })
                                            <span class="input-group-addon"><i class="fa fa-globe font-yellow-gold"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.tbl_guest_info.Country_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div id="foreign" hidden>
                                <div class="row form-group">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.tbl_guest_info.Visa_No, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                        <div class="col-md-4 col-sm-8 col-xs-8">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.tbl_guest_info.Visa_No, new { htmlAttributes = new { @class = "form-control", @placeholder = "Visa No" } })
                                                <span class="input-group-addon"><i class="fa fa-address-book-o font-yellow-gold"></i></span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.tbl_guest_info.Visa_No, "", new { @class = "text-danger" })
                                        </div>

                                        @Html.LabelFor(model => model.tbl_guest_info.Visa_Date, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                        <div class="col-md-4 col-sm-8 col-xs-8">
                                            <div class="input-group">
                                                <input id="tbl_guest_info_Visa_Date" class="form-control datepicker" name="tbl_guest_info.Visa_Date" placeholder="Visa Date">
                                                <span class="input-group-addon"><i class="fa fa-calendar font-yellow-gold"></i></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.tbl_guest_info.Arrived_From, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                        <div class="col-md-4 col-sm-8 col-xs-8">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.tbl_guest_info.Arrived_From, new { htmlAttributes = new { @class = "form-control", @placeholder = "Arrived From" } })
                                                <span class="input-group-addon"><i class="fa fa-arrow-circle-left font-yellow-gold"></i></span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.tbl_guest_info.Arrived_From, "", new { @class = "text-danger" })
                                        </div>

                                        @Html.LabelFor(model => model.tbl_guest_info.Going_To, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                        <div class="col-md-4 col-sm-8 col-xs-8">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.tbl_guest_info.Going_To, new { htmlAttributes = new { @class = "form-control", @placeholder = "Going To" } })
                                                <span class="input-group-addon"><i class="fa fa-arrow-circle-right font-yellow-gold"></i></span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.tbl_guest_info.Going_To, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group ">
                                    @*<div class="form-inline">*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.tbl_guest_info.Date_of_Arr_in_Country, "Date of Arrival in Country", htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                        <div class="input-group date form_meridian_datetime col-md-5">
                                            @Html.EditorFor(model => model.tbl_guest_info.Date_of_Arr_in_Country, new { htmlAttributes = new { @class = "form-control", @placeholder = "Arrival Date In Country" } })
                                            @Html.ValidationMessageFor(model => model.tbl_guest_info.Date_of_Arr_in_Country, "", new { @class = "text-danger" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-reset" type="button">
                                                    <i class="fa fa-times font-yellow-gold"></i>
                                                </button>
                                                <button class="btn default date-set" type="button">
                                                    <i class="fa fa-calendar font-yellow-gold"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    @*</div>*@
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab_4_4">
                            <label><strong>More Information : </strong></label>
                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.No_of_Adult, "No Of Adults", htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.No_of_Adult, new { htmlAttributes = new { @class = "form-control", min = 1, id = "No_of_Adult", @placeholder = "Adults", @Value = 1 } })
                                            <span class="input-group-addon"><i class="fa fa-users font-yellow-gold"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.No_of_Adult, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.LabelFor(model => model.No_of_Child, "No of Child", htmlAttributes: new { @class = "control-label col-md-3 col-sm-8 col-xs-8" })
                                    <div class="col-md-3 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.No_of_Child, new { htmlAttributes = new { @class = "form-control", min = 0, id = "No_of_Child", @placeholder = "Children" } })
                                            <span class="input-group-addon"><i class="fa fa-child font-yellow-gold"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.No_of_Child, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Age, "Age (years)", htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8 requiredCus" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.tbl_guest_info.Age, new { htmlAttributes = new { @class = "form-control", required = true, id = "tbl_guest_info_Age", @placeholder = "Age" } })
                                            <span class="input-group-addon"><i class="fa fa-sort-numeric-desc font-red-thunderbird"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.tbl_guest_info.Age, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.LabelFor(model => model.tbl_guest_info.Identification_Mark, htmlAttributes: new { @class = "control-label col-md-3 col-sm-8 col-xs-8" })
                                    <div class="col-md-3 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.tbl_guest_info.Identification_Mark, new { htmlAttributes = new { @class = "form-control", @placeholder = "Identification Mark" } })
                                            <span class="input-group-addon"><i class="fa fa-info font-yellow-gold"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Height, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="number" class="form-control" name="feet" id="feet" min="0" max="9" placeholder="ft" />
                                            <span class="input-group-addon">Feet</span>
                                            <input type="number" class="form-control" name="inch" id="inch" min="0" max="12" placeholder="inch" />
                                            <span class="input-group-addon">Inch</span>
                                        </div>
                                    </div>
                                    @Html.LabelFor(model => model.tbl_guest_info.Skin_Color, htmlAttributes: new { @class = "control-label col-md-3 col-sm-8 col-xs-8" })
                                    <div class="col-md-3 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            @Html.DropDownListFor(model => model.tbl_guest_info.Skin_Color, new List<SelectListItem>
                                            {
                                            new SelectListItem {Text ="Fair", Value="Fair" },
                                            new SelectListItem {Text ="Brown", Value="Brown"},
                                            new SelectListItem {Text ="Dark", Value="Dark" },
                                            }, "---Select---", new { @class = "form-control" })
                                            <span class="input-group-addon"><i class="fa fa-info font-yellow-gold"></i></span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Occupation, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        @Html.TextAreaFor(model => model.tbl_guest_info.Occupation, new { @class = "form-control", @id = "tbl_guest_info_Occupation", @rows = "4", @placeholder = "Occupation" })
                                    </div>
                                    @Html.LabelFor(model => model.tbl_guest_info.Nearest_Relative_Contact_Info, htmlAttributes: new { @id = "local_address", @class = "control-label col-md-3 col-sm-8 col-xs-8" })
                                    <div class="col-md-3 col-sm-8 col-xs-8">
                                        @Html.TextAreaFor(model => model.tbl_guest_info.Nearest_Relative_Contact_Info, new { @class = "form-control", @id = "tbl_guest_info_Nearest_Relative_Contact_Info", @rows = "4", @placeholder = "Local Address" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab_4_5">
                            <label><strong>Biometrics : </strong></label>
                            <div class="row form-group">
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3" style="text-align:center;">
                                        <div style="border:double;height:105px;width:305px;">
                                            <canvas id="cnv" name="cnv" width="300" height="100"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5 col-md-offset-3" style="text-align:center;">
                                        <input id="SignBtn" class="btn btn-primary" name="SignBtn" type="button" value="Sign" onclick="javascript:onSign()" />&nbsp;
                                        <input id="button1" class="btn btn-primary" name="ClearBtn" type="button" value="Clear" onclick="javascript:onClear()" />&nbsp;
                                        <input id="button2" class="btn btn-success" name="DoneBtn" type="button" value="Done" onclick="javascript:onDone()" />&nbsp;
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    <div class="col-md-5 col-md-offset-3">
                                        @Html.EditorFor(model => model.tbl_guest_info.Signature, new
                                   {
                                       htmlAttributes = new
                                       {
                                           @class = "form-control", @*required = true,*@id = "Signature",
                                        @readonly = true
                                    }
                                })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab_4_6">
                            <label><strong>Rate Information : </strong></label>
                            <div class="row form-group" hidden>
                                <div class="form-group" style="padding-right: 20px;">
                                    <div class="col-md-offset-2 col-md-4 col-sm-8 col-xs-8">
                                        <input type="button" value="Get rate info" id="rateButton" onclick="getRateInfo()" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                            <div id="rateDiv" hidden>
                                <div class="row form-group">
                                    <div class="form-group ">
                                        @Html.Label("rate", "Rate", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                            <input type="text" name="rate" id="rate" class="form-control text-right" readonly value="@ViewBag.Rate">
                                        </div>
                                        @Html.Label("noOfNight", "No. Of Nights", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                            <input type="text" name="noOfNight" id="noOfNight" class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="form-group">
                                        @Html.Label("vat", vatLabel, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                            <input type="text" name="vat" id="vat" class="form-control text-right" value="@ViewBag.Vat" readonly>
                                        </div>
                                        @Html.Label("sc", scLabel, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                            <input type="text" name="sc" id="sc" class="form-control text-right" value="@ViewBag.SC" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div hidden>
                                    <input type="hidden" id="perDayCharge" value="@ViewBag.PerDayCharge">
                                </div>
                                <div class="row form-group">
                                    <div class="form-group">
                                        @Html.Label("perDayCharge", "Total Charge", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                            <input type="text" id="unroundedTotalPayable" class="form-control text-right" readonly>
                                        </div>

                                        @Html.Label("totalPayable", "Total Payable(Rounded)", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                            <input type="text" name="totalPayable" id="totalPayable" class="form-control text-right" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group" id="discountPaidrow">
                                    <div class="form-group">
                                        @Html.Label("discount", "Discount", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                            <input type="text" name="discount" id="discount" class="form-control text-right" onkeyup="getDue()" onchange="getDiscountedTotal()" placeholder="Discount" />
                                            @Html.ValidationMessageFor(model => model.Departure_Date, "", new { @class = "text-danger" })
                                        </div>
                                        @Html.Label("paid", "Paid", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2 requiredCus", @id = "paidlabel" })
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                            <input type="text" name="paid" id="paid" class="form-control text-right" value="0" onkeyup="getDue()" onchange="getDue()" placeholder="Paid" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="form-group">
                                        @Html.Label("due", "Due", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                            <input type="text" name="due" id="due" class="form-control text-right" readonly>
                                        </div>
                                        @Html.Label("particulars", "Particulars", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2 requiredCus" })
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                            <input type="text" name="particulars" id="particulars" class="form-control" value="Check In" placeholder="Particular" />
                                        </div>
                                    </div>
                                </div>
                                <div class="rev-book-requests" hidden>
                                    <label><strong>Reservation/Booking Requests : </strong></label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.Special_Request, htmlAttributes: new { @class = "control-label col-md-4 col-sm-8 col-xs-8" })
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <textarea name="Special_Request" id="Special_Request" class="form-control" rows="4" placeholder="Special Request"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Transportation, htmlAttributes: new { @class = "control-label col-md-4 col-sm-8 col-xs-8" })
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        @Html.EditorFor(model => model.Transportation, new { htmlAttributes = new { @class = "form-control", @placeholder = "Transportation" } })
                                                        <span class="input-group-addon"><i class="fa fa-car font-yellow-gold"></i></span>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.Transportation, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.tbl_guest_info.VIP, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8" style="padding-top: 7px;">
                                                    <input type="checkbox" name="VIP" id="VIP" value="true" style="transform:scale(2);" /><span style="margin-left: 10px;"><i class="fa fa-user-secret font-yellow-gold"></i></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Airport_Pickup, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8" style="padding-top: 7px;">
                                                    <input type="checkbox" name="Airport_Pickup" id="Airport_Pickup" value="true" style="transform:scale(2);" /><span style="margin-left: 10px;"><i class="fa fa-plane font-yellow-gold"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group" style="text-align:right;">
                                    <button type="button" class="btn red-flamingo" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;CLOSE</button>
                                    <button type="submit" id="submit" class="btn btn-success" onclick="PrintCardFuncion()"><i class="fa fa-check-square"></i>&nbsp;CHECK IN</button>
                                </div>
                                @if (ViewBag.Error != null)
                                {
                                    <div>
                                        <span style="color : red">@ViewBag.Error</span>
                                    </div>
                                }
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/MathRound10.js"></script>
<script src="~/Scripts/jspdf.min.js"></script>
<script src="~/Scripts/PrintGuestCardFull.js"></script>
<script>


    $(document).ready(function () {
        debugger;

        $('.datepicker').datepicker({ format: 'dd/mm/yyyy' });
        $.validator.setDefaults({
            ignore: ""
        });
        var selectedDate = '@Convert.ToString(Session["Day"])';
        if (selectedDate == "future") {
            document.getElementById("Reserved").checked = true;
            $("#checkInDiv").hide();
        }
        else {
            document.getElementById("CheckIn").checked = true;
        }
        $("#Arrival_Date").val('@ViewBag.ArrivalDate');
        $("#Departure_Date").val('@ViewBag.DepartureDate');
        $("#roomNo").html('@ViewBag.RoomNo');
        checkPreviousBooking();
        $('.requiredCus').each(function () {
            var htm = $(this).html();
            htm = '<span class="asterisk">*</span> ' + htm;
            $(this).html(htm);
        });
    });


    function showHideForeign() {
        var nationality = $("#tbl_guest_info_Nationality").val();
        if (nationality == "Foreigner") {
            $("#foreign").show();
            $("#passportDiv").show();
            $("#NId").hide();
            $("#tbl_guest_info_Passport_No").prop("required", true);

            $("#Country_ID").prop("required", true);
            $('#NIdCheckbox').prop('checked', false);
            $("#Country_ID").siblings('span.input-group-addon').find('i').removeClass('font-yellow-gold').addClass('font-red-thunderbird');
            $("#CountryLabel").html('<span class="asterisk">*</span> Country');
            $("#local_address").html("Local Address");
        }
        else {
            $("#foreign").hide();
            $("#passportDiv").hide();
            $("#NId").show();
            $("#tbl_guest_info_Passport_No").prop("required", false);

            $("#Country_ID").prop("required", false);
            $('#NIdCheckbox').prop('checked', true);
            $("#Country_ID").siblings('span.input-group-addon').find('i').removeClass('font-red-thunderbird').addClass('font-yellow-gold');
            $("#CountryLabel").html('Country');
            $("#local_address").html("Contact Info for relative in Chittagong");
        }
    }

    function loadCamera() {
        debugger;
    }
    $('input[name=Status]', '#guestAddForm').change(function () {
        SubmitButtonTextSelctor();
    });
    var preRoom = "";
    function GetRoomList() {
        $("#roomList").show();
        $(".shiftInverse").prop('disabled', 'disabled');
        $('input[name=Status]', '#guestAddForm').filter('[value=CheckIn]').prop('checked', true);
        $("#Room_ID").prop("required", true);
        SubmitButtonTextSelctor();
    }

    function HideRoomList() {
        $("#Arrival_Date").val("");
        $("#Departure_Date").val("");
        $(".ShiftSet").hide();
        $(".ShiftUnset").show();
        $("#roomList").hide();
        $("#discountPaidrow").show();
        $(".shiftInverse").prop('disabled', false);
        $("#Room_ID").val("");
        $("#Room_ID").prop("required", false);
        SubmitButtonTextSelctor();
    }

    function SubmitButtonTextSelctor() {
        var option = $('input[name=Status]:checked', '#guestAddForm').val();
        if (option == "CheckIn") {
            $('#submit').html('<i class="fa fa-check-square"></i>&nbsp;CHECK IN');
            $('#paidlabel').html('<span class="asterisk">*</span> Paid');
            $('#particulars').val('Check In');
            $("#discountPaidrow").show();
            $('.rev-book-requests').hide();
        }
        else if (option == "Reserved") {
            $('#submit').html('<i class="fa fa-floppy-o"></i>&nbsp;RESERVE');
            $('#paidlabel').html('Paid');
            $('#particulars').val('Reservation');
            $("#discountPaidrow").hide();
            $('.rev-book-requests').show();
        }
        else if (option == "Booked") {
            $('#submit').html('<i class="fa fa-check-square"></i>&nbsp;BOOK');
            $('#paidlabel').html('<span class="asterisk">*</span> Paid');
            $('#particulars').val('Booking');
            $("#discountPaidrow").show();
            $('.rev-book-requests').show();
        }
    }

    function GetGuest() {
        var rno = $("#Room_ID").val();
        var dd = $("#Room_ID option:selected").text();

        $.post('@Url.Action("GetRoomWiseGuestInfo")',
              { rno: rno }, function (data) {
                  if (data.Arrival_Date != null) {
                      $("#Arrival_Date").val(data.Arrival_Date);
                      $("#Departure_Date").val(data.Departure_Date);
                      $("#Name").val(data.Name);
                      $("#tbl_guest_info_Nationality").val(data.Nationality);
                      $("#tbl_guest_info_Father_Name").val(data.Father_Name);
                      $("#tbl_guest_info_Mother_Name").val(data.Mother_Name);
                      $("#tbl_guest_info_Maritial_Status").val(data.Maritial_Status);
                      $("#tbl_guest_info_Spouse_Name").val(data.Spouse_Name);
                      $("#tbl_guest_info_Phone").val(data.Phone);
                      $("#tbl_guest_info_AdditionalPhone").val(data.AdditionalPhone);
                      $("#tbl_guest_info_Address").val(data.Address);
					  $("#tbl_guest_info_Email").val(data.Email);
                      $("#tbl_guest_info_Passport_No").val(data.Passport_No);
                      $("#National_ID").val(data.National_ID);
                      $("#Driving_License").val(data.Driving_License);
                      $("#Tin_Certificate").val(data.Tin_Certificate);
                      $("#tbl_guest_info_Purpose_of_visit").val(data.Purpose_of_visit);
                      $("#Country_ID").val(data.Country_ID);
                      $("#tbl_guest_info_Visa_No").val(data.Visa_No);
                      $("#tbl_guest_info_Visa_Date").val(data.Visa_Date);
                      $("#tbl_guest_info_Arrived_From").val(data.Arrived_From);
                      $("#tbl_guest_info_Going_To").val(data.Going_To);
                      $("#tbl_guest_info_Date_of_Arr_in_Country").val(data.Date_of_Arr_in_Country);
                      $("#tbl_guest_info_Age").val(data.Age);
                      $("#No_of_Adult").val(data.No_of_Adult);
                      $("#No_of_Child").val(data.No_of_Child);
                      $("#tbl_guest_info_Identification_Mark").val(data.Identification_Mark);
                      $("#tbl_guest_info_Skin_Color").val(data.Skin_Color);
                      $("#show").attr("src", data.Image);
                      $("#Image").val(data.Image);
                      $("#Signature").val(data.Signature);
                      var height = data.Height;
                      var feet = height.slice(0, 1);
                      var inch = height.slice(7, 9);
                      inch = parseInt(inch);
                      $("#tbl_guest_info_Occupation").val(data.Occupation);
                      $("#tbl_guest_info_Nearest_Relative_Contact_Info").val(data.Nearest_Relative_Contact_Info);
                      $("#feet").val(feet);
                      $("#inch").val(inch);
                      showHideForeign();

                      $("#gID").val("");
                      $("#tbl_guest_info_Phone").prop("readonly", true);
                      $("#discountPaidrow").hide();
                      $("#shift_arrival").val(data.Arrival_Date);
                      $("#shift_departure").val(data.Departure_Date);
                      $(".ShiftSet").show();
                      $(".ShiftUnset").hide();
                      checkPreviousBooking();

                      $('#submit').html('<i class="fa fa-exchange"></i>&nbsp;SHIFT');
                      $('#particulars').val('Shift From ' + dd);
                  }
                  else {
                      $("#Room_ID").val("");
                      $("#target").html(data);
                      setTimeout(
                          function () {
                              $("#target").html(null);
                          }, 3000);
                  }
              });
    }

    function GetFrequentGuest() {
        var phone = $("#tbl_guest_info_Phone").val();
        $.post('@Url.Action("GetFrequentGuestInfo")',
              { phone: phone }, function (data) {
                  if (data != "") {
                      if (data.DNR == null || data.DNR == false) {
                          FrequentGuestDataFill(data);
                      } else {
                          var r = confirm("DNR Guest. Proceed?");
                          if (r == true) {
                              FrequentGuestDataFill(data);
                              $("#target").html("DNR(Do Not Rent)!!!");
                              setTimeout(
                                  function () {
                                      $("#target").html(null);
                                  }, 3000);
                          } else {
                              $('.modal').modal('toggle');
                          }
                      }
                  }
                  else {
                      $("#target").html("New guest. No previous information.");
                      setTimeout(
                          function () {
                              $("#target").html(null);
                          }, 3000);
                  }
              });
    }

    function FrequentGuestDataFill(data) {
        $("#gID").val(data.Guest_ID);
        $("#Name").val(data.Name);
        $("#tbl_guest_info_Nationality").val(data.Nationality);
        $("#tbl_guest_info_Father_Name").val(data.Father_Name);
        $("#tbl_guest_info_Mother_Name").val(data.Mother_Name);
        $("#tbl_guest_info_Maritial_Status").val(data.Maritial_Status);
        $("#tbl_guest_info_Spouse_Name").val(data.Spouse_Name);
        $("#tbl_guest_info_Phone").val(data.Phone);
        $("#tbl_guest_info_AdditionalPhone").val(data.AdditionalPhone);
        $("#tbl_guest_info_Address").val(data.Address);
		$("#tbl_guest_info_Email").val(data.Email);
        $("#tbl_guest_info_Passport_No").val(data.Passport_No);
        $("#National_ID").val(data.National_ID);
        $("#Driving_License").val(data.Driving_License);
        $("#Tin_Certificate").val(data.Tin_Certificate);
        $("#tbl_guest_info_Purpose_of_visit").val(data.Purpose_of_visit);
        $("#Country_ID").val(data.Country_ID);
        $("#tbl_guest_info_Visa_No").val(data.Visa_No);
        $("#tbl_guest_info_Visa_Date").val(data.Visa_Date);
        $("#tbl_guest_info_Arrived_From").val(data.Arrived_From);
        $("#tbl_guest_info_Going_To").val(data.Going_To);
        $("#tbl_guest_info_Date_of_Arr_in_Country").val(data.Date_of_Arr_in_Country);
        $("#tbl_guest_info_Age").val(data.Age);
        $("#tbl_guest_info_Identification_Mark").val(data.Identification_Mark);
        $("#tbl_guest_info_Skin_Color").val(data.Skin_Color);
        $("#Signature").val(data.Signature);
        var height = data.Height;
        var feet = height.slice(0, 1);
        var inch = height.slice(7, 9);
        inch = parseInt(inch);


        $("#tbl_guest_info_Occupation").val(data.Occupation);
        $("#tbl_guest_info_Nearest_Relative_Contact_Info").val(data.Nearest_Relative_Contact_Info);
        $("#feet").val(feet);
        $("#inch").val(inch);
        showHideForeign();
    }

    function NIdTicked() {
        $("#NId").toggle();
        var numberChecked = $("input[name='Identification']:checked").length;
        if (numberChecked < 1) {
            alert('Must provide atleast one Identification no.');
            $('#NIdCheckbox').prop('checked', true);
            $("#NId").show();
        }

    }

    function DlTicked() {
        $("#drivingLicense").toggle();
        var numberChecked = $("input[name='Identification']:checked").length;
        if (numberChecked < 1) {
            alert('Must provide atleast one Identification no.');
            $('#NIdCheckbox').prop('checked', true);
            $("#NId").show();
        }
    }

    function tinTicked() {
        $("#tinCertificate").toggle();
        var numberChecked = $("input[name='Identification']:checked").length;
        if (numberChecked < 1) {
            alert('Must provide atleast one Identification no.');
            $('#NIdCheckbox').prop('checked', true);
            $("#NId").show();
        }
    }

    function PrintCardFuncion() {
        var thisRoom = '@ViewBag.RoomNo';
        var rooomLebel = thisRoom;
        var option = $('input[name=RoomOption]:checked', '#guestAddForm').val();
        if (option == "Shift") {
            var dd = $("#Room_ID option:selected").text();
            rooomLebel = dd + " - " + thisRoom;
        }
        printCard(rooomLebel);
    }

    function getRateInfo() {
        var arriveDate = $("#Arrival_Date").val();
        var departDate = $("#Departure_Date").val();
        var method = "A";
        if (arriveDate != "" && departDate != "") {
            $("#rateDiv").show();

            $.post('@Url.Action("GetRateInfo")',
              { arriveDate: arriveDate, departDate: departDate, method: method }, function (data) {
                  $("#noOfNight").val(data);
                  getTotalPayable();
              });
            getTotalPayable();
        }
        else {
            $("#rateDiv").hide();
            alert("Please input arrival and departure dates in arrival info");
        }
    }

    function getTotalPayable() {
        var perDayCharge = Number($('#perDayCharge').val());
        var totalNights = Number($("#noOfNight").val());

        if (totalNights == 0) {
            totalNights = 1;
        }
        var unroundedTotalPayable = perDayCharge * totalNights;
        $('#unroundedTotalPayable').val(unroundedTotalPayable.toFixed(2));

        var totalPayable = Round5(unroundedTotalPayable);
        $("#totalPayable").val(totalPayable.toFixed(2));

        //var discount = Number($("#discount").val());
        //if (discount != 0) {
        //    totalPayable = totalPayable - discount;
        //    $("#totalPayable").val(totalPayable.toFixed(2));
        //}
        //else {
        //    $("#totalPayable").val(totalPayable.toFixed(2));
        //}

        getDue();
    }

    function getDue() {
        var payable = Number($("#totalPayable").val());
        var discount = Number($("#discount").val());
        var paid = Number($("#paid").val());
        var due = payable - paid - discount;
        $("#due").val(due.toFixed(2));
    }

    function setDepartureDate() {
        var Start_Date = $("#Arrival_Date").val();
        if (Start_Date != "") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("NewDepartureDate")',
                data: { Start_Date: Start_Date },
                success: function (data) {
                    $("#Departure_Date").val(data);
                },
                async: false
            });
            checkPreviousBooking();
        }
    }

    function checkPreviousBooking() {
        $("#log").ajaxError(function (event, jqxhr, settings, exception) {
            alert(exception);
        });
        var Start_Date = $("#Arrival_Date").val();
        var End_Date = $("#Departure_Date").val();
        var option = $('input[name=RoomOption]:checked', '#guestAddForm').val();
        var method = "A";
        if (option == "Shift") {
            method = "S";
        }

        if (Start_Date != "" && End_Date != "") {
            $.post('@Url.Action("ErrorMessageAdd")',
                   { Start_Date: Start_Date, End_Date: End_Date, method: method }, function (data) {
                       $("#target").html(data);
                       if (data != "") {
                           $('#submit').attr('disabled', true);
                       }
                       if (data == "") {
                           $("#target").html(null);
                           $('#submit').attr('disabled', false);
                           getRateInfo();   //arnab
                       }
                   });
        }
    }

    $.validator.addMethod("IsEmail", function (value, element, options) {
        var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-]{2,})+\.)+([a-zA-Z0-9]{2,4})+$/;
        return this.optional(element) || (regex.test(value));
    }, "Custom message ");

    $.validator.addMethod(
        "InRange",
        function (value, element, options) {
            var DiscountLevel = Number('@ViewBag.DiscountLevel');
            var totalPayable = Number($("#totalPayable").val());
            var discountableAmount = (totalPayable * DiscountLevel) / 100;
            return this.optional(element) || (value >= 0 && value <= discountableAmount);
        },
        function () {
            var DiscountLevel = Number('@ViewBag.DiscountLevel');
            var totalPayable = Number($("#totalPayable").val());
            var discountableAmount = (totalPayable * DiscountLevel) / 100;
            var cusStr = "Authorize discount 0 to " + discountableAmount + " Tk [" + DiscountLevel + "%]";
            return cusStr;
        }
    );

    $('#guestAddForm').validate({
        rules: {
            discount: {
                number: true,
                InRange: true
            },
            paid: {
                required: '#CheckIn:checked , #Booked:checked',
                number: true,
                min: 0
            },
            vat: {
                required: '#CheckIn:checked , #Booked:checked',
                number: true, min: 0
            },
            "tbl_guest_info.Phone": {
                number: true
            },
            "tbl_guest_info.Email": {
                IsEmail: true
            },
            National_ID: {
                required: '#NIdCheckbox:checked'
            },
            Driving_License: {
                required: '#drivingLicenseCheckbox:checked'
            },
            Tin_Certificate: {
                required: '#tinCertificateCheckbox:checked'
            },
            particulars: "required"
        },
        messages: {
            discount: {
                number: "Discount must be a number",
            },
            paid: {
                required: "Paid field can not be empty",
                number: "Paid amount must be a number",
                min: "Please enter valid number"
            },
            vat: {
                required: "Vat field can not be empty",
                number: "Vat must be a number",
                min: "Please enter valid number"
            },
            "tbl_guest_info.Phone": {
                number: "Phone number must be number"
            },
            "tbl_guest_info.Email": {
                IsEmail: "Provide valid email"
            },
            National_ID: {
                required: "Please provide the National Id no."
            },
            Driving_License: {
                required: "Please provide the Driving License no."
            },
            Tin_Certificate: {
                required: "Please provide the Tin Certificate no."
            },
            particulars: "Please provide the particulars."
        }
    });

</script>
