﻿@model PMS_HT.Models.tbl_guest_stay_info
@using PMS_HT.Models
@{
    tbl_guest_stay_info guest1 = ViewBag.BookedGuest;
    var height = guest1.tbl_guest_info.Height;
    var visaDate = guest1.tbl_guest_info.Visa_Date.HasValue ? guest1.tbl_guest_info.Visa_Date.Value.ToString("dd/MM/yyyy") : "";
    var arrivalDate = guest1.tbl_guest_info.Date_of_Arr_in_Country.HasValue ? guest1.tbl_guest_info.Date_of_Arr_in_Country.Value.ToString("dd MMMM yyyy hh:mm tt") : "";
    var birthdate = guest1.tbl_guest_info.Birth_Date.HasValue ? guest1.tbl_guest_info.Birth_Date.Value.ToString("dd/MM/yyyy") : "";
    var dnr = guest1.tbl_guest_info.DNR ?? false;
    var vip = guest1.tbl_guest_info.VIP ?? false;
    var imgSrc = String.IsNullOrEmpty(guest1.Image) ? "../../WebImages/person.jpg" : guest1.Image;
    string relativeLabel = "Contact info for relative in Chittagong";
    if (guest1.tbl_guest_info.Nationality == "Foreigner")
    {
        relativeLabel = "Local Address";
    }

    string vatLabel = "VAT(" + ViewBag.VatPercent + "%)";
    //string scLabel = "SC(" + ViewBag.ScPercent + "%)";
    string scLabel = "O/C(" + ViewBag.ScPercent + "%)";
}

<script src="~/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<script src="~/Scripts/DatePicker_.js"></script>
<script src="~/Scripts/jquery.webcam.js"></script>

<script type="text/javascript">
    $("#Camera").webcam({
        width: 320,
        height: 240,
        mode: "save",
        swffile: "@Url.Content("~/Scripts/jscam.swf")",
        onTick: function () { },
        onSave: function () {
            UploadPic();
        },
        onCapture: function () {
            //debugger;
            var arrDt = $("#Arrival_Date").val();
            webcam.save("/FrontDeskGuestStay/Capture?q=" + encodeURIComponent(arrDt));
            //$('#capture-button').prop('disabled', false);
        },
        debug: function () { },
        onLoad: function () { }

    });

    function UploadPic() {
        $.ajax({
            type: 'POST',
            url: ("@Url.Content("~/FrontDeskGuestStay/Rebind")/"),
            dataType: 'json',
            success: function (data) {
                var att = "../../WebImages/" + data;
                $("#show").attr("src", att);
                document.getElementById('Image').value = att;
                //alert("Photo Capture successfully!");
            }
        });
    }

</script>

@using (Ajax.BeginForm("BookedCheckIn", "FrontDeskGuestStay", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { id = "editReservationForm" }))
{
    <div class="form-horizontal">
        <div class="form-group" style="text-align:center;">
            <div id="target" class="col-md-10" style="margin:0 auto; float:none; font-size:large; color:red">@ViewBag.FutureDateError</div>
            <div id="log" class="col-md-8">
            </div>
        </div>
        <div hidden>
            <label id="PropertyName">@ViewBag.PropertyName</label>
            <label id="PropertyAddress">@ViewBag.PropertyAddress</label>
            <label id="PropertyPhone">@ViewBag.PropertyPhone</label>
            <label id="PropertyLogo">@ViewBag.PropertyLogo</label>
        </div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container-fluid">
            <div class="row form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="portlet-body tabs">
                    <ul class="nav nav-pills">
                        <li>
                            <a href="#tab_4_1" data-toggle="tab"><i class="fa fa-camera"></i> Photo </a>
                        </li>
                        <li class="active">
                            <a href="#tab_4_2" data-toggle="tab"><i class="fa fa-info"></i> Guest Info </a>
                        </li>
                        <li>
                            <a href="#tab_4_3" data-toggle="tab"><i class="fa fa-bars"></i> More Info </a>
                        </li>
                        <li>
                            <a href="#tab_4_4" data-toggle="tab"><i class="fa fa-pencil"></i> Signature </a>
                        </li>
                        <li>
                            <a href="#tab_4_5" data-toggle="tab"><i class="fa fa-calculator"></i> Rate Info </a>
                        </li>
                    </ul>
                    <br />
                    <div class="tab-content">

                        <div class="tab-pane fade" id="tab_4_1">
                            <label><strong>Photo : </strong></label>
                            <div class="row form-group">
                                <div class="photo-frame" style="float: left;">
                                    <div id="Camera" style="text-align:center">

                                    </div>
                                    <button type="button" class="btn dark" onclick="webcam.capture();" id="capture-button"><i class="fa fa-camera"></i>&nbsp; Capture</button>
                                </div>
                                <div class="photo-frame" style="float: right;">
                                    <div>
                                        <img id="show" style="width: 320px; height: 240px;" src="@imgSrc" />
                                    </div>
                                    <input type="text" id="Image" name="Image" class="form-control" value="@guest1.Image" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane active" id="tab_4_2">
                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Name, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8 requiredCus" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="Name" id="Name" required class="form-control" value="@guest1.tbl_guest_info.Name" placeholder="Name" />
                                            <span class="input-group-addon"><i class="fa fa-user-circle font-red-thunderbird"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.tbl_guest_info.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Father_Name, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="Father_Name" id="Father_Name" class="form-control" value="@guest1.tbl_guest_info.Father_Name" placeholder="Father's Name" />
                                            <span class="input-group-addon"><i class="fa fa-male font-yellow-gold"></i></span>
                                        </div>
                                    </div>

                                    @Html.LabelFor(model => model.tbl_guest_info.Mother_Name, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="Mother_Name" id="Mother_Name" class="form-control" value="@guest1.tbl_guest_info.Mother_Name" placeholder="Mother's Name" />
                                            <span class="input-group-addon"><i class="fa fa-female font-yellow-gold"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Maritial_Status, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="Maritial_Status" id="Maritial_Status" class="form-control" readonly value="@guest1.tbl_guest_info.Maritial_Status" />
                                            <span class="input-group-addon"><i class="fa fa-info-circle font-yellow-gold"></i></span>
                                        </div>
                                    </div>

                                    @Html.LabelFor(model => model.tbl_guest_info.Spouse_Name, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="Spouse_Name" id="Spouse_Name" class="form-control" value="@guest1.tbl_guest_info.Spouse_Name" placeholder="Spouse Name" />
                                            <span class="input-group-addon"><i class="fa fa-info font-yellow-gold"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <label><strong>Contact Information : </strong></label>
                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Phone, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8 requiredCus" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="Phone" id="Phone" required class="form-control" value="@guest1.tbl_guest_info.Phone" placeholder="Phone 1" />
                                            <span class="input-group-addon"><i class="fa fa-phone-square font-red-thunderbird"></i></span>
                                        </div>
                                    </div>
                                    @Html.LabelFor(model => model.tbl_guest_info.AdditionalPhone, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="AdditionalPhone" id="AdditionalPhone" class="form-control" value="@guest1.tbl_guest_info.AdditionalPhone" placeholder="Phone2" />
                                            <span class="input-group-addon"><i class="fa fa-phone-square font-yellow-gold"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Address, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8 requiredCus" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <textarea name="Address" id="Address" required class="form-control" rows=4 placeholder="Present Address">@guest1.tbl_guest_info.Address</textarea>
                                    </div>
                                    @Html.LabelFor(model => model.tbl_guest_info.Permanent_Address, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <textarea name="Permanent_Address" id="Permanent_Address" class="form-control" rows=4 placeholder="Permanent Address">@guest1.tbl_guest_info.Permanent_Address</textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Email, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="Email" id="Email" class="form-control" value="@guest1.tbl_guest_info.Email" placeholder="Email" />
                                            <span class="input-group-addon"><i class="fa fa-at font-yellow-gold"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <label><strong>Identification : </strong></label>&nbsp;&nbsp;
                            <input type="checkbox" name="Identification" id="NIdCheckbox" onchange="NIdTicked()" checked>National ID &nbsp;&nbsp;
                            <input type="checkbox" name="Identification" id="drivingLicenseCheckbox" onchange="DlTicked()">Driving License &nbsp;&nbsp;
                            <input type="checkbox" name="Identification" id="tinCertificateCheckbox" onchange="tinTicked()">Tin Certificate
                            <div class="row form-group">
                                <div class="form-group">
                                    @if (guest1.tbl_guest_info.Nationality == "Foreigner")
                                    {
                                        <div id="passportDiv">
                                            @Html.LabelFor(model => model.tbl_guest_info.Passport_No, "Passport No", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2 requiredCus" })
                                            <div class="col-md-4 col-sm-6 col-xs-4">
                                                <div class="input-group">
                                                    <input type="text" name="Passport_No" id="Passport_No" class="form-control" required value="@guest1.tbl_guest_info.Passport_No" placeholder="Passport No" />
                                                    <span class="input-group-addon"><i class="fa fa-book font-red-thunderbird"></i></span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.tbl_guest_info.Passport_No, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    }
                                    <div id="NId">
                                        @Html.LabelFor(model => model.tbl_guest_info.National_ID, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2 requiredCus" })
                                        <div class="col-md-4 col-sm-6 col-xs-4">
                                            <div class="input-group">
                                                <input type="text" name="National_ID" id="National_ID" class="form-control" value="@guest1.tbl_guest_info.National_ID" placeholder="NID" />
                                                <span class="input-group-addon"><i class="fa fa-id-card font-red-thunderbird"></i></span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.tbl_guest_info.National_ID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div id="drivingLicense" hidden>
                                        @Html.LabelFor(model => model.tbl_guest_info.Driving_License, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-4 col-sm-6 col-xs-4">
                                            <div class="input-group">
                                                <input type="text" name="Driving_License" id="Driving_License" class="form-control" value="@guest1.tbl_guest_info.Driving_License" placeholder="Driving License" />
                                                <span class="input-group-addon"><i class="fa fa-automobile font-yellow-gold"></i></span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.tbl_guest_info.Driving_License, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div id="tinCertificate" hidden>
                                        @Html.LabelFor(model => model.tbl_guest_info.Tin_Certificate, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-4 col-sm-6 col-xs-4">
                                            <div class="input-group">
                                                <input type="text" name="Tin_Certificate" id="Tin_Certificate" class="form-control" value="@guest1.tbl_guest_info.Tin_Certificate" placeholder="TIN" />
                                                <span class="input-group-addon"><i class="fa fa-briefcase font-yellow-gold"></i></span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.tbl_guest_info.Tin_Certificate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <label><strong>Others Informations : </strong></label>
                            <div class="row form-group">
                                <div class="form-group">
                                    @if (guest1.tbl_guest_info.Nationality == "Foreigner")
                                    {
                                        <div class="col-md-4 col-sm-8 col-xs-8" hidden>
                                            <input type="text" name="Nationality" id="Nationality" class="form-control" hidden value="@guest1.tbl_guest_info.Nationality">
                                        </div>
                                        @Html.LabelFor(model => model.tbl_guest_info.Country_ID, "Country", htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8 requiredCus" })
                                        <div class="col-md-4 col-sm-8 col-xs-8">
                                            <input type="hidden" name="Country_ID" id="Country_ID" class="form-control" value="@guest1.tbl_guest_info.Country_ID">
                                            <div class="input-group">
                                                <input type="text" class="form-control" readonly value="@guest1.tbl_guest_info.tbl_country.Country_Name">
                                                <span class="input-group-addon"><i class="fa fa-globe font-red-thunderbird"></i></span>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.LabelFor(model => model.tbl_guest_info.Nationality, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                        <div class="col-md-4 col-sm-8 col-xs-8">
                                            <div class="input-group">
                                                <input type="text" name="Nationality" id="Nationality" class="form-control" readonly value="@guest1.tbl_guest_info.Nationality">
                                                <span class="input-group-addon"><i class="fa fa-globe font-yellow-gold"></i></span>
                                            </div>
                                        </div>
                                    }

                                    @Html.LabelFor(model => model.tbl_guest_info.Purpose_of_visit, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="Purpose_of_visit" id="Purpose_of_visit" class="form-control" value="@guest1.tbl_guest_info.Purpose_of_visit" placeholder="Purpose of Visit" />
                                            <span class="input-group-addon"><i class="fa fa-plane font-yellow-gold"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (guest1.tbl_guest_info.Nationality == "Foreigner")
                            {
                                <div class="row form-group">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.tbl_guest_info.Visa_No, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                        <div class="col-md-4 col-sm-8 col-xs-8">
                                            <div class="input-group">
                                                <input type="text" name="Visa_No" id="Visa_No" class="form-control" value="@guest1.tbl_guest_info.Visa_No" placeholder="Visa No" />
                                                <span class="input-group-addon"><i class="fa fa-address-book-o font-yellow-gold"></i></span>
                                            </div>
                                        </div>

                                        @Html.LabelFor(model => model.tbl_guest_info.Visa_Date, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                        <div class="col-md-4 col-sm-8 col-xs-8">
                                            <div class="input-group">
                                                <input type="text" name="Visa_Date" id="Visa_Date" class="form-control datepicker" value="@visaDate" placeholder="Visa Date" />
                                                <span class="input-group-addon"><i class="fa fa-calendar font-yellow-gold"></i></span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.tbl_guest_info.Visa_Date, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.tbl_guest_info.Arrived_From, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                        <div class="col-md-4 col-sm-8 col-xs-8">
                                            <div class="input-group">
                                                <input type="text" name="Arrived_From" id="Arrived_From" class="form-control" value="@guest1.tbl_guest_info.Arrived_From" placeholder="Arrived From" />
                                                <span class="input-group-addon"><i class="fa fa-arrow-circle-left font-yellow-gold"></i></span>
                                            </div>
                                        </div>

                                        @Html.LabelFor(model => model.tbl_guest_info.Going_To, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                        <div class="col-md-4 col-sm-8 col-xs-8">
                                            <div class="input-group">
                                                <input type="text" name="Going_To" id="Going_To" class="form-control" value="@guest1.tbl_guest_info.Going_To" placeholder="Going To" />
                                                <span class="input-group-addon"><i class="fa fa-arrow-circle-right font-yellow-gold"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.tbl_guest_info.Date_of_Arr_in_Country, "Date of arrival in Country", htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                        <div class="input-group date form_meridian_datetime input-large">
                                            <input type="text" name="Date_of_Arr_in_Country" id="Date_of_Arr_in_Country" class="form-control " value="@arrivalDate" placeholder="Arrival Date In Country" />
                                            @Html.ValidationMessageFor(model => model.tbl_guest_info.Date_of_Arr_in_Country, "", new { @class = "text-danger" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-reset font-yellow-gold" type="button">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                                <button class="btn default date-set font-yellow-gold" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>

                        <div class="tab-pane fade" id="tab_4_3">
                            <label><strong>More Information : </strong></label>
                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.No_of_Adult, "No Of Adults", htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="number" name="No_of_Adult" id="No_of_Adult" class="form-control" min="0" value="@guest1.No_of_Adult" placeholder="No Of Adult" />
                                            <span class="input-group-addon"><i class="fa fa-users font-yellow-gold"></i></span>
                                        </div>
                                    </div>
                                    @Html.LabelFor(model => model.No_of_Child, "No of Child", htmlAttributes: new { @class = "control-label col-md-3 col-sm-8 col-xs-8" })
                                    <div class="col-md-3 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="number" name="No_of_Child" id="No_of_Child" class="form-control" min="0" value="@guest1.No_of_Child" placeholder="No Of Child" />
                                            <span class="input-group-addon"><i class="fa fa-child font-yellow-gold"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Age, "Age (years)", htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8 requiredCus" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="Age" id="Age" class="form-control" required value="@guest1.tbl_guest_info.Age" placeholder="Age" />
                                            <span class="input-group-addon"><i class="fa fa-sort-numeric-desc font-red-thunderbird"></i></span>
                                        </div>
                                    </div>
                                    @Html.LabelFor(model => model.tbl_guest_info.Identification_Mark, htmlAttributes: new { @class = "control-label col-md-3 col-sm-8 col-xs-8" })
                                    <div class="col-md-3 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="Identification_Mark" id="Identification_Mark" class="form-control" value="@guest1.tbl_guest_info.Identification_Mark" placeholder="Identification Mark" />
                                            <span class="input-group-addon"><i class="fa fa-info font-yellow-gold"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Height, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="number" class="form-control" name="feet" id="feet" min="0" max="9" placeholder="ft" />
                                            <span class="input-group-addon">Feet</span>
                                            <input type="number" class="form-control" name="inch" id="inch" min="0" max="12" placeholder="inch" />
                                            <span class="input-group-addon">Inch</span>
                                        </div>
                                    </div>
                                    @Html.LabelFor(model => model.tbl_guest_info.Skin_Color, htmlAttributes: new { @class = "control-label col-md-3 col-sm-8 col-xs-8" })
                                    <div class="col-md-3 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="Skin_Color" id="Skin_Color" readonly class="form-control" value="@guest1.tbl_guest_info.Skin_Color" placeholder="Skin Color" />
                                            <span class="input-group-addon"><i class="fa fa-info font-yellow-gold"></i></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br />
                            <div class="row form-group ">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Occupation, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <textarea name="Occupation" id="Occupation" class="form-control" rows="4" placeholder="Occupation">@guest1.tbl_guest_info.Occupation</textarea>
                                    </div>
                                    @Html.LabelFor(model => model.tbl_guest_info.Nearest_Relative_Contact_Info, relativeLabel, htmlAttributes: new { @class = "control-label col-md-3 col-sm-8 col-xs-8" })
                                    <div class="col-md-3 col-sm-8 col-xs-8">
                                        <textarea name="Nearest_Relative_Contact_Info" id="Nearest_Relative_Contact_Info" rows="4" class="form-control" placeholder="Relatives In Chittagong">@guest1.tbl_guest_info.Nearest_Relative_Contact_Info</textarea>
                                    </div>
                                </div>
                            </div>
                            <button id="guestSpecific" class="btn purple" onhover="Expand">Guest Specific Information <i class="fa fa-angle-down guestSpecificArrow"></i></button>
                            <br /><br />
                            <div id="guestSpecificDiv" hidden class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.tbl_guest_info.Special_Preference, htmlAttributes: new { @class = "control-label col-md-4 col-sm-8 col-xs-8" })
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <textarea name="Special_Preference" id="Special_Preference" class="form-control" rows="4" placeholder="Occupation">@guest1.tbl_guest_info.Special_Preference</textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.tbl_guest_info.Birth_Date, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-6">
                                            <input type="text" name="Birth_Date" id="Birth_Date" class="form-control datepicker" value="@birthdate" placeholder="Birth Date" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.tbl_guest_info.VIP, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-6" style="padding-top: 7px;">
                                            <input type="checkbox" name="VIP" id="VIP" value="true" style="transform:scale(2);" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.tbl_guest_info.DNR, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-6" style="padding-top: 7px;">
                                            <input type="checkbox" name="DNR" id="DNR" value="true" style="transform:scale(2);" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab_4_4">
                            <label><strong>Biometrics : </strong></label>
                            <div class="row form-group">
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3" style="text-align:center;">
                                        <div style="border:double;height:105px;width:305px;">
                                            <canvas id="cnv" name="cnv" width="300" height="100"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5 col-md-offset-3" style="text-align:center;">
                                        <input id="SignBtn" class="btn btn-primary" name="SignBtn" type="button" value="Sign" onclick="javascript:onSign()" />&nbsp;
                                        <input id="button1" class="btn btn-primary" name="ClearBtn" type="button" value="Clear" onclick="javascript:onClear()" />&nbsp;
                                        <input id="button2" class="btn btn-success" name="DoneBtn" type="button" value="Done" onclick="javascript:onDone()" />&nbsp;
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    <div class="col-md-5 col-md-offset-3">
                                        @Html.EditorFor(model => model.tbl_guest_info.Signature, new
                                   {
                                       htmlAttributes = new
                                       {
                                           @class = "form-control", @*required = true,*@ id = "Signature",
                                           @readonly = true
                                       }
                                   })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab_4_5">
                            <div class="row form-group">
                                <div class="form-group ">
                                    @Html.LabelFor(model => model.Arrival_Date, "Arrival Date", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2 requiredCus" })
                                    <div class="input-group date form_meridian_datetime input-large">
                                        <input type="text" name="Arrival_Date" id="Arrival_Date" onchange="setDepartureDate();" class="form-control" value="@guest1.Arrival_Date.ToString("dd MMMM yyyy hh:mm tt")" placeholder="Arrival Date" required>
                                        <span class="input-group-btn">
                                            <button class="btn default date-reset" type="button">
                                                <i class="fa fa-times font-red-thunderbird"></i>
                                            </button>
                                            <button class="btn default date-set" type="button">
                                                <i class="fa fa-calendar font-red-thunderbird"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Departure_Date, "Departure Date", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2 requiredCus" })
                                    <div class="input-group date form_meridian_datetime input-large">
                                        <input type="text" name="Departure_Date" id="Departure_Date" class="form-control" onchange="getRateInfo()" value="@guest1.Departure_Date.ToString("dd MMMM yyyy hh:mm tt")" placeholder="Departure Date" required>
                                        <span class="input-group-btn">
                                            <button class="btn default date-reset" type="button">
                                                <i class="fa fa-times font-red-thunderbird"></i>
                                            </button>
                                            <button class="btn default date-set" type="button">
                                                <i class="fa fa-calendar font-red-thunderbird"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group ">
                                    @Html.Label("rate", "Rate", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" name="rate" id="rate" readonly class="form-control text-right" value="@ViewBag.Rate">
                                    </div>
                                    @Html.Label("noOfNight", "No. Of Nights", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" name="noOfNight" id="noOfNight" value="@ViewBag.NoOfNight" readonly class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.Label("vat", vatLabel, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" name="vat" id="vat" class="form-control text-right" value="@ViewBag.Vat" readonly>
                                    </div>
                                    @Html.Label("sc", scLabel, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" name="sc" id="sc" class="form-control text-right" value="@ViewBag.SC" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.Label("perDayCharge", "Charge / Day", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" id="perDayCharge" class="form-control text-right" value="@ViewBag.PerDayCharge" readonly>
                                    </div>
                                    @Html.Label("totalCharge", "Total Charge", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" id="totalCharge" class="form-control text-right" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.Label("totalChargeRounded", "Total Charge (Rounded)", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" id="totalChargeRounded" class="form-control text-right" readonly>
                                    </div>
                                    @Html.Label("previousDiscount", "Previous Discount", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" name="previousDiscount" id="previousDiscount" class="form-control text-right" value="@ViewBag.Discount" readonly>
                                    </div>

                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.Label("previousPaid", "Previous Paid", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" name="previousPaid" id="previousPaid" class="form-control text-right" value="@ViewBag.Paid" readonly>
                                    </div>
                                    @Html.Label("totalPayable", "Total Payable (Rounded)", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" name="totalPayable" id="totalPayable" class="form-control text-right" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.Label("discount", "Discount", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" name="discount" id="discount" class="form-control text-right" onkeyup="getDue()" onchange="getDue()" placeholder="Discount">
                                    </div>
                                    @Html.Label("paid", "Paid", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2 requiredCus" })
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" name="paid" id="paid" class="form-control text-right" value="0" onkeyup="getDue()" onchange="getDue()" placeholder="Paid">
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.Label("due", "Due", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" name="due" id="due" class="form-control text-right" readonly>
                                    </div>
                                    @Html.Label("particulars", "Particulars", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2 requiredCus" })
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" name="particulars" id="particulars" class="form-control" value="Edit" placeholder="Particular">
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group" style="text-align:right;">
                                <button type="button" class="btn red-flamingo" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
                                <button type="submit" class="btn btn-success" id="submit" onclick="PrintCardFunction()"><i class="fa fa-check"></i>&nbsp;Check In</button>
                            </div>
                        </div>

                    </div>
                    <br />

                </div>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/MathRound10.js"></script>
<script src="~/Scripts/jspdf.min.js"></script>
<script src="~/Scripts/PrintGuestCardFull.js"></script>
<script>

    $(document).ready(function () {
        $.validator.setDefaults({
            ignore: ""
        });
        $('.requiredCus').each(function () {
            var htm = $(this).html();
            htm = '<span class="asterisk">*</span> ' + htm;
            $(this).html(htm);
        });
        $('.datepicker').datepicker({ format: 'dd/mm/yyyy' });
        if ('@dnr' == "True") {
            $('#DNR').prop('checked', true);
        }
        if ('@vip' == "True") {
            $('#VIP').prop('checked', true);
        }
        var heightVal = '@height';

        var height = heightVal;
        var feet = height.slice(0, 1);
        var inch = height.slice(7, 9);
        inch = parseInt(inch);
        $("#feet").val(feet);
        $("#inch").val(inch);

        updateRateInfo();
        var nFlag = '@ViewBag.NidFlag';
        var dFlag = '@ViewBag.D_LicenseFlag';
        var tFlag = '@ViewBag.TinFlag';

        if (nFlag == 1) {
            $('#NIdCheckbox').prop('checked', true);
            $("#NId").show();
        }
        if (dFlag == 1) {
            $('#drivingLicenseCheckbox').prop('checked', true);
            $("#drivingLicense").show();
        }
        if (tFlag == 1) {
            $('#tinCertificateCheckbox').prop('checked', true);
            $("#tinCertificate").show();
        }
        $("#roomNo").html('@ViewBag.RoomNo');
    });

    function PrintCardFunction() {
        printCard('@ViewBag.roomNo', "BR");
    }

    $('#guestSpecific').click(function (event) {
        event.preventDefault();
        $('#guestSpecificDiv').toggle(200);
        var arrowbtn = $('.guestSpecificArrow');
        if (arrowbtn.hasClass("fa-angle-down")) {
            arrowbtn.removeClass("fa-angle-down").addClass("fa-angle-up");
        } else {
            arrowbtn.removeClass("fa-angle-up").addClass("fa-angle-down");
        }
    });

    function NIdTicked() {
        $("#NId").toggle();
        var numberChecked = $("input[name='Identification']:checked").length;
        if (numberChecked < 1) {
            alert('Must provide atleast one Identification no.');
            $('#NIdCheckbox').prop('checked', true);
            $("#NId").show();
        }

    }
    function DlTicked() {
        $("#drivingLicense").toggle();
        var numberChecked = $("input[name='Identification']:checked").length;
        if (numberChecked < 1) {
            alert('Must provide atleast one Identification no.');
            $('#NIdCheckbox').prop('checked', true);
            $("#NId").show();
        }
    }
    function tinTicked() {
        $("#tinCertificate").toggle();
        var numberChecked = $("input[name='Identification']:checked").length;
        if (numberChecked < 1) {
            alert('Must provide atleast one Identification no.');
            $('#NIdCheckbox').prop('checked', true);
            $("#NId").show();
        }
    }

    function getRateInfo() {
        var arriveDate = $("#Arrival_Date").val();
        var departDate = $("#Departure_Date").val();
        var method = "ER";
        if (arriveDate != "" && departDate != "") {
            $.post('@Url.Action("GetRateInfo")',
              { arriveDate: arriveDate, departDate: departDate, method: method }, function (data) {
                  $("#noOfNight").val(data);
                  updateRateInfo();
              });
        }
        else {
            alert("Please input arrival and departure dates in arrival info");
        }
    }

    function updateRateInfo() {
        var perDayCharge = Number($('#perDayCharge').val());
        var totalNights = Number($("#noOfNight").val());

        if (totalNights == 0) {
            totalNights = 1;
        }
        var totalCharge = perDayCharge * totalNights;
        $('#totalCharge').val(totalCharge.toFixed(2));

        var totalChargeRounded = Round5(totalCharge);
        $('#totalChargeRounded').val(totalChargeRounded.toFixed(2));

        var previousDiscount = Number($("#previousDiscount").val());
        var previousPaid = Number($("#previousPaid").val());

        var totalPayable = totalChargeRounded - previousDiscount - previousPaid;
        $("#totalPayable").val(totalPayable.toFixed(2));

        getDue();
    }

    function getDue() {
        var payable = Number($("#totalPayable").val());
        var discount = Number($("#discount").val());
        var paid = Number($("#paid").val());
        var due = payable - paid - discount;
        $("#due").val(due.toFixed(2));
    }

    function setDepartureDate() {
        var Start_Date = $("#Arrival_Date").val();
        if (Start_Date != "") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("NewDepartureDate")',
                data: { Start_Date: Start_Date },
                success: function (data) {
                    $("#Departure_Date").val(data);
                },
                async: false
            });
            checkPreviousBooking();
        }
    }

    function checkPreviousBooking() {
        $("#log").ajaxError(function (event, jqxhr, settings, exception) {
            alert(exception);
        });
        var Start_Date = $("#Arrival_Date").val();
        var End_Date = $("#Departure_Date").val();
        var method = "EB";

        $.post('@Url.Action("ErrorMessageAdd")',
       { Start_Date: Start_Date, End_Date: End_Date, method: method }, function (data) {
           $("#target").html(data);

           if (data != "") {
               $('#submit').attr('disabled', true);
           }
           if (data == "") {
               $("#target").html(null);
               $('#submit').attr('disabled', false);
               getRateInfo();
           }
       });
    }

    $.validator.addMethod("IsEmail", function (value, element, options) {
        var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-]{2,})+\.)+([a-zA-Z0-9]{2,4})+$/;
        return this.optional(element) || (regex.test(value));
    }, "Custom message ");

    $.validator.addMethod(
        "InRange",
        function (value, element, options) {
            var DiscountLevel = Number('@ViewBag.DiscountLevel');
            var totalPayable = Number($("#totalPayable").val());
            var discountableAmount = (totalPayable * DiscountLevel) / 100;
            return this.optional(element) || (value >= 0 && value <= discountableAmount);
        },
        function () {
            var DiscountLevel = Number('@ViewBag.DiscountLevel');
            var totalPayable = Number($("#totalPayable").val());
            var discountableAmount = (totalPayable * DiscountLevel) / 100;
            var cusStr = "Authorize discount 0 to " + discountableAmount + " Tk [" + DiscountLevel + "%]";
            return cusStr;
        }
    );

    $('#editReservationForm').validate({
        rules: {
            paid: {
                required: true,
                number: true,
                min: 0
            },
            vat: {
                required: true,
                number: true,
                min: 0
            },
            discount: {
                number: true,
                InRange: true
            },
            Email: {
                IsEmail: true
            },
            National_ID: {
                required: '#NIdCheckbox:checked',
            },
            Driving_License: {
                required: '#drivingLicenseCheckbox:checked',
            },
            Tin_Certificate: {
                required: '#tinCertificateCheckbox:checked',
            },
            particulars: "required"
        },
        messages: {
            Email: {
                IsEmail: "Provide valid email"
            },
            paid: {
                required: "Paid field can not be empty",
                number: "Paid amount must be a number",
                min: "Please enter valid number"
            },
            vat: {
                required: "Vat field can not be empty",
                number: "Vat must be a number",
                min: "Please enter valid number"
            },
            discount: {
                number: "Discount must be a number"
            },
            particulars: "Please provide the particulars."
        }
    });

</script>
