﻿@model  tbl_guest_stay_info
@using PMS_HT.Models
@{
    tbl_guest_stay_history PreviousStay = ViewBag.PreviousStay;
    List<tbl_room_transactions> otherBillList = ViewBag.OtherBillListS;
    List<tbl_room_transactions> discountList = ViewBag.DiscountList;
    List<tbl_room_transactions> paidList = ViewBag.paidTransactionsS;

    string vatLabel = "VAT(" + ViewBag.VatPercent + "%)";
    //string scLabel = "SC(" + ViewBag.ScPercent + "%)";
    string scLabel = "O/C(" + ViewBag.ScPercent + "%)";
}

<script src="~/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<script src="~/Scripts/DatePicker_.js"></script>

@using (Ajax.BeginForm("CheckOut", "FrontDeskGuestStay", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { id = "CheckOutForm" }))
{
    <div class="form-horizontal">
        @if (PreviousStay != null)
        {
            <div class="container-fluid">
                <div class="row" style="background-color: #d9ebfb;margin: 7px 0px;text-align:  center;">
                    <label style="font-weight: 800; color: #8E44AD;">Previous Room : </label>@PreviousStay.shift_from_stay_info.tbl_room_info.Room_No &nbsp;
                    <label style="font-weight: 800; color: #d80505;">Shifted At : </label>@PreviousStay.Shift_Date &nbsp;
                    <label style="font-weight: 800;">Shifted By : </label>@PreviousStay.tbl_emp_info.user_name <br />
                    <label style="font-weight: 800; color: #057512;">Reason : </label>@PreviousStay.Reason
                </div>
            </div>
        }
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container-fluid">
            <div class="row form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="portlet-body tabs">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#tab_4_1" data-toggle="tab"><i class="fa fa-info"></i> Checkout Info </a>
                        </li>
                        <li>
                            <a href="#tab_4_2" data-toggle="tab"><i class="fa fa-money"></i> Transaction Details </a>
                        </li>
                    </ul>
                    <br />
                    <div class="tab-content">

                        <div class="tab-pane active" id="tab_4_1">

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Name, htmlAttributes: new { @class = "control-label col-md-1 col-sm-8 col-xs-8" })
                                    <div class="col-md-3 col-sm-8 col-xs-8">
                                        <input type="text" name="Name" id="Name" readonly class="form-control" value="@ViewBag.GuestName">
                                    </div>

                                    @Html.LabelFor(model => model.tbl_guest_info.Phone, htmlAttributes: new { @class = "control-label col-md-1 col-sm-8 col-xs-8" })
                                    <div class="col-md-3 col-sm-8 col-xs-8">
                                        <input type="text" name="Phone" id="Phone" readonly class="form-control" value="@ViewBag.Phone">
                                    </div>

                                    @Html.LabelFor(model => model.tbl_guest_info.Address, htmlAttributes: new { @class = "control-label col-md-1 col-sm-8 col-xs-8" })
                                    <div class="col-md-3 col-sm-8 col-xs-8">
                                        <input type="text" name="Phone" id="Phone" readonly class="form-control" value="@ViewBag.Address">
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group ">
                                    @Html.LabelFor(model => model.Arrival_Date, "Arrival Date", htmlAttributes: new { @class = "control-label col-md-1 col-sm-2 col-xs-2" })
                                    <div class="col-md-3 col-sm-4 col-xs-4">
                                        <input type="text" name="Arrival_Date" id="Arrival_Date" readonly class="form-control" value="@ViewBag.ArrivalDate">
                                    </div>
                                    @Html.LabelFor(model => model.Departure_Date, "Departure Date", htmlAttributes: new { @class = "control-label col-md-1 col-sm-2 col-xs-2" })
                                    <div class="col-md-3 col-sm-4 col-xs-4">
                                        <input type="text" name="Departure_Date" id="Departure_Date" readonly class="form-control" value="@ViewBag.DepartureDate">
                                    </div>
                                    @Html.Label("checkOutDate", "CheckOut Date", htmlAttributes: new { @class = "control-label col-md-1 col-sm-2 col-xs-2" })
                                    <div class="col-md-3 col-sm-4 col-xs-4">
                                        <input type="text" name="checkOutDate" id="checkOutDate" readonly class="form-control" value="@DateTime.Now">
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group ">
                                    @Html.Label("noOfNight", "No Of Nights", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="noOfNight" id="noOfNight" value="@ViewBag.NoOfNight" readonly class="form-control">
                                    </div>
                                    @Html.Label("rate", "Rate", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="rate" id="rate" readonly class="form-control text-right" value="@ViewBag.Rate">
                                    </div>
                                    @Html.Label("totalRoomCharge", "Room Charge", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="totalRoomCharge" id="totalRoomCharge" class="form-control text-right" value="@ViewBag.RoomChargeS" readonly @*onkeyup="getVatInclusiveTotal()" onchange="getVatInclusiveTotal()" *@>
                                    </div>                                    
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.Label("vat", vatLabel, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2", id = "vatLabel" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="vat" id="vat" class="form-control text-right" value="@ViewBag.Vat" readonly>
                                    </div>
                                    @Html.Label("sc", scLabel, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2", id = "vatLabel" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="sc" id="sc" class="form-control text-right" value="@ViewBag.SC" readonly>
                                    </div>
                                    @Html.Label("roomChargeWithVatSc", "Total Room Charge", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2", id = "discountLabel" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="roomChargeWithVatSc" id="roomChargeWithVatSc" class="form-control text-right" value="@ViewBag.RoomChargeWithVatSc" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.Label("discount", "Previous Discounts", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2", id = "discountLabel" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="discount" id="discount" class="form-control text-right" value="@ViewBag.Discount" readonly>
                                    </div>
                                    @Html.Label("otherBill", "Other Bill", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="otherBill" id="otherBill" class="form-control text-right" readonly value="@ViewBag.OtherBillS">
                                    </div>
                                    @Html.Label("totalCharge", "Total Charge", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="totalCharge" id="totalCharge" class="form-control text-right" readonly value="@ViewBag.RoomTotalCharge">
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.Label("totalCharge", "Total Charge", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="totalChargeRounded" id="totalChargeRounded" class="form-control text-right" readonly value="@ViewBag.RoomTotalChargeRounded">
                                    </div>
                                    @Html.Label("previousPaid", "Previous Paid", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="previousPaid" id="previousPaid" class="form-control text-right" value="@ViewBag.PaidS" readonly>
                                    </div>
                                    @*@Html.Label("roomDue", "Room Due", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="roomDue" id="roomDue" readonly class="form-control text-right" value="@ViewBag.RoomDueS">
                                    </div>*@
                                    @Html.Label("due", "Room Due", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="due" id="due" readonly class="form-control text-right" value="@ViewBag.RoomDueRounded">
                                    </div>
                                </div>
                            </div>

                            <label><strong>Adjustment : </strong></label>
                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.Label("extraCharge", "Extra Charge", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="extraCharge" id="extraCharge" class="form-control" onkeyup="GetNetPayable()" onchange="GetNetPayable()">
                                    </div>

                                    @Html.Label("refund", "Refund", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="refund" id="refund" class="form-control" onkeyup="GetNetPayable()" onchange="GetNetPayable()">
                                    </div>

                                    @Html.Label("discountAdjustment", "Discount", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="discountAdjustment" id="discountAdjustment" class="form-control" onkeyup="GetNetPayable()" onchange="GetNetPayable()">
                                    </div>
                                </div>
                            </div>
                            <label><strong>Check-Out Bill: </strong></label>
                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.Label("netPayable", "Net Payable", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="netPayable" id="netPayable" class="form-control text-right" readonly  value="@ViewBag.RoomDueRounded" >
                                    </div>
                                    @Html.Label("paid", "Paid", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2 requiredCus" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="paid" id="paid" onkeyup="GetNetPayable()" onchange="GetNetPayable()" class="form-control">
                                    </div>
                                    @Html.Label("particulars", "Particulars", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2 requiredCus" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="particulars" id="particulars" onkeyup="GetNetPayable()" onchange="GetNetPayable()" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="checkbox" name="latePayment" id="latePayment" value="true" style="transform: scale(2);">&nbsp;&nbsp;
                                        <label class="control-label purple" style="color: blue; font-weight: 700;" data-toggle="tooltip" title="Payment date will be recorded as yesterday">Late Payment</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="outstandingPayment" id="outstandingPayment" value="true" style="transform: scale(2);">&nbsp;&nbsp;
                                        <label class="control-label" style="color: green; font-weight: 700;" data-toggle="tooltip" title="Due balance will be added into Outstanding Charge">Outstanding Charge</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="DNR" id="DNR" value="true" style="transform: scale(2);">&nbsp;&nbsp;
                                        <label class="control-label" style="color: red; font-weight: 700;" data-toggle="tooltip" title="Guest will be blacklisted as DNR">DNR</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <br /><br />
                                    <div class="row form-group" style="text-align: right;">
                                        <button type="button" class="btn red-flamingo" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
                                        <button type="button" value="Check Out" class="btn btn-success" onclick="CheckPaidDue()"><i class="fa fa-check-square"></i>&nbsp;CheckOut</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="tab_4_2">
                            <div id="printArea">
                                <table class="table table-striped table-bordered table-responsive" id="sample_2">
                                    <thead>
                                        <tr>
                                            @*<th>SL No </th>*@
                                            <th>Guest Name</th>
                                            <th>Phone</th>
                                            <th>Check out Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                @ViewBag.GuestName
                                            </td>
                                            <td>
                                                @ViewBag.Phone
                                            </td>
                                            <td>
                                                @DateTime.Now
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-11">

                                            <div>
                                                <b>Room Charge</b>
                                            </div>
                                            <div class="tools">

                                            </div>

                                            <table class="table table-striped table-bordered table-hover table-responsive" id="SingleRoomCharge">
                                                <thead>
                                                    <tr>
                                                        <th> Room No </th>
                                                        <th>Name</th>
                                                        <th>Amount</th>
                                                        <th>Date</th>
                                                        <th>Particulars</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ decimal x1 = 0;}
                                                    @if (ViewBag.RoomChargeListS != null)
                                                    {
                                                        foreach (var item in ViewBag.RoomChargeListS)
                                                        {
                                                            x1 += Convert.ToDecimal(@item.Debit);
                                                            <tr>

                                                                <td>
                                                                    @item.tbl_room_info.Room_No
                                                                </td>
                                                                <td>
                                                                    @item.Tran_Ref_Name
                                                                </td>
                                                                <td class="text-right">
                                                                    @item.Debit
                                                                </td>
                                                                <td>
                                                                    @item.Tran_Date
                                                                </td>
                                                                <td>
                                                                    @item.Particulars
                                                                </td>
                                                            </tr>
                                                        }
                                                        x1 += Convert.ToDecimal(ViewBag.Vat);
                                                    }
                                                    <tr>
                                                        <td>
                                                            @ViewBag.RoomNo
                                                        </td>
                                                        <td>@vatLabel</td>
                                                        <td class="text-right">
                                                            @ViewBag.Vat
                                                        </td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @ViewBag.Rno
                                                        </td>
                                                        <td>@scLabel</td>
                                                        <td class="text-right">
                                                            @ViewBag.SC
                                                        </td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>

                                                    <tr style="background-color: #e7efec">

                                                        <td>Total</td>
                                                        <td></td>
                                                        <td class="text-right">
                                                            @ViewBag.RoomChargeWithVatSc
                                                        </td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>                                            
                                        </div>
                                    </div>
                                </div>



                                @{decimal exp1S = 0, exp1M = 0;}
                                @if (otherBillList.Count > 0)
                                {
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-11">
                                                <div>
                                                    <b>Other Bill</b>
                                                </div>
                                                <div class="tools">
                                                </div>
                                                <table class="table table-striped table-bordered table-hover table-responsive" id="SingleOtherBill">
                                                    <thead>
                                                        <tr>
                                                            <th> Room No </th>
                                                            <th>Date</th>
                                                            <th>Amount</th>
                                                            <th>Particulars</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in ViewBag.OtherBillListS)
                                                        {
                                                            exp1S += Convert.ToDecimal(@item.Debit);
                                                            <tr>
                                                                <td>
                                                                    @item.tbl_room_info.Room_No
                                                                </td>
                                                                <td>
                                                                    @item.Tran_Date
                                                                </td>
                                                                <td class="text-right">
                                                                    @item.Debit
                                                                </td>
                                                                <td>
                                                                    @item.Particulars
                                                                </td>
                                                            </tr>
                                                        }

                                                        <tr style="background-color: #e7efec">
                                                            <td></td>
                                                            <td>Total</td>
                                                            <td class="text-right">
                                                            @exp1S
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                </div>
                                        </div>
                                    </div>
                                }
                                @{decimal exp1S0 = 0;}
                                @if (discountList.Count > 0)
                                {
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-11">
                                                <div>
                                                    <b>Previous Discounts</b>
                                                </div>
                                                <div class="tools">
                                                </div>
                                                <table class="table table-striped table-bordered table-hover table-responsive" id="SingleOtherBill">
                                                    <thead>
                                                        <tr>
                                                            <th> Room No </th>
                                                            <th>Date</th>
                                                            <th>Amount</th>
                                                            <th>Particulars</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @foreach (var item in ViewBag.DiscountList)
                                                        {
                                                            exp1S0 += Convert.ToDecimal(@item.Credit);
                                                            <tr>
                                                                <td>
                                                                    @item.tbl_room_info.Room_No
                                                                </td>
                                                                <td>
                                                                    @item.Tran_Date
                                                                </td>
                                                                <td class="text-right">
                                                                    @item.Credit
                                                                </td>
                                                                <td>
                                                                    @item.Particulars
                                                                </td>
                                                            </tr>
                                                        }

                                                        <tr style="background-color: #e7efec">
                                                            <td></td>
                                                            <td>Total</td>
                                                            <td class="text-right">
                                                            @exp1S0
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-11">
                                            <div>
                                                <b>Paid</b>
                                            </div>
                                            <div class="tools">

                                            </div>
                                            <table class="table table-striped table-bordered table-hover table-responsive" id="SinglePaid">
                                                <thead>
                                                    <tr>
                                                        <th> Room No </th>
                                                        <th>Date</th>
                                                        <th>Amount</th>
                                                        <th>Particulars</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ decimal expS = 0;}

                                                    @if (ViewBag.paidTransactionsS != null)
                                                    {
                                                        foreach (var item in ViewBag.paidTransactionsS)
                                                        {
                                                            expS += Convert.ToDecimal(@item.Credit);
                                                            <tr>
                                                                <td>
                                                                    @item.tbl_room_info.Room_No
                                                                </td>
                                                                <td>
                                                                    @item.Tran_Date
                                                                </td>
                                                                <td class="text-right">
                                                                    @item.Credit
                                                                </td>
                                                                <td>
                                                                    @item.Particulars
                                                                </td>
                                                            </tr>
                                                        }
                                                    }

                                                    <tr style="background-color: #e7efec">
                                                        <td></td>
                                                        <td>Total Paid</td>
                                                        <td class="text-right">
                                                        @expS
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            
                                        </div>

                                    </div>
                                </div>





                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-11">
                                            <div>
                                                <b>Total</b>

                                            </div>
                                            <div class="tools">

                                            </div>
                                            <table class="table table-striped table-bordered table-hover table-responsive" id="SingleTotal">

                                                <tr style="background-color: #eed8d8">
                                                    <td>Room Charge</td>
                                                    <td class="text-right">
                                                    @ViewBag.RoomChargeWithVatSc
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Other Bill</td>
                                                    <td class="text-right">
                                                    @ViewBag.OtherBillS
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Previous Discounts</td>
                                                    <td class="text-right">
                                                        @ViewBag.Discount
                                                    </td>
                                                </tr>
                                                <tr style="background-color: #eed8d8">
                                                    <td>Payable Amount</td>
                                                    <td class="text-right">
                                                        @ViewBag.RoomTotalCharge
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Total Paid</td>
                                                    <td class="text-right">
                                                        @ViewBag.PaidS
                                                    </td>
                                                </tr>
                                                <tr style="background-color: #eed8d8">
                                                    <td>Due(Rounded)</td>
                                                    <td class="text-right">
                                                        @ViewBag.RoomDueRounded
                                                    </td>
                                                </tr>
                                            </table>                                            
                                        </div>
                                    </div>
                                </div>


                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-11">
                                            <div>
                                                <b>Final Adjustments</b>
                                            </div>
                                            <div class="tools">

                                            </div>
                                            <table class="table table-striped table-bordered table-hover table-responsive" id="sample_2">
                                                <thead>
                                                    <tr>
                                                        <th>Extra Charge</th>
                                                        <th>Refund</th>
                                                        <th>Discount</th>
                                                        <th>Net Payable</th>
                                                        <th>Paid</th>
                                                        <th>Particulars</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr>
                                                        <td id="EC"></td>
                                                        <td id="Rf"></td>
                                                        <td id="Disc"></td>
                                                        <td id="NP"></td>
                                                        <td id="Pd"></td>
                                                        <td id="Pt"></td>
                                                    </tr>

                                                </tbody>

                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group" style="text-align: right;">
                                <button type="button" class="btn red-flamingo" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;CLOSE</button>
                                <button type="button" class="btn btn-primary" id="gPDF"><i class="fa fa-print"></i>&nbsp;Print</button>
                            </div>
                        </div>

                    </div>
                    <br />
                </div>

            </div>
        </div>
    </div>
}


<script src="~/Scripts/MathRound10.js"></script>
<script src="~/Scripts/jspdf.min.js"></script>
<script src="~/Scripts/html2canvas.js"></script>
<script>
    $(document).ready(function () {
        $('.requiredCus').each(function () {
            var htm = $(this).html();
            htm = '<span class="asterisk">*</span> ' + htm;
            $(this).html(htm);
        });
        if ('@ViewBag.dnr' == "True") {
            $('#DNR').prop('checked', true);
        }
        $("#roomNo").html('@ViewBag.RoomNo');
        
        var due = Number($('#due').val());
        
        if (due >= 0 ) {
            $("#refund").prop('readonly',true);
        }
        if(due<=0)
        {
            $("#discountAdjustment").attr('readonly','true');
        }

    });

    $('#gPDF').click(function () {

        var dt = new Date();
        dt = dt.toString();
        dt = dt.slice(3, 24);
        var user = $("#userName").html();
        var name = $("#Name").val();
        var PropertyName = '@ViewBag.PropertyName';
        var PropertyAddress = '@ViewBag.PropertyAddress';
        var PropertyPhone = '@ViewBag.PropertyPhone';
        var PropertyLogo = '@ViewBag.PropertyLogo';
        var VATRegistrationNumber = '@ViewBag.VATRegistrationNumber';
        var invoiceNumber = '@ViewBag.InvoiceNo';

        var Phone = $("#Phone").val();
        var arraivalDate = $("#Arrival_Date").val();
        var departureDate = $("#Departure_Date").val();
        var checkOutDate = $("#checkOutDate").val();
        var roomRate = $("#roomRate").val();

        var discount = Number($("#discount").val());
        var discountAdjustment = Number($("#discountAdjustment").val());
        var totalDiscount = discount + discountAdjustment;

        var refund = Number($("#refund").val());
        var vat = Number($("#vat").val());
        var sc = Number($("#sc").val());
        var previousPaid = Number($("#previousPaid").val());
        var paid = Number($("#paid").val());
        var totalPaid = previousPaid + paid;

        var fileName = invoiceNumber + '.pdf';
        var doc = new jsPDF('p', 'pt', 'a4');
        doc.addImage(PropertyLogo, 'jpeg', 30, 10, 88, 88);
        //set Hotel name
        doc.setFontSize(30);
        doc.setFont("arial", "bold");
        doc.setTextColor(84, 50, 53);
        doc.text(125, 45, PropertyName);
        //show date
        doc.setFont("arial", "bold");
        doc.setFontSize(10);
        doc.setTextColor(0, 0, 0);
        doc.text(125, 60, PropertyAddress);
        doc.text(125, 75, PropertyPhone);
        doc.text(490, 75, 'Invoice Number');
        doc.text(565, 90, 'Date : ' + dt, 'right');
        doc.text(125, 90, 'VAT Registration No. : '+VATRegistrationNumber);
        doc.text(120, 820, "This is a computer generated invoice. For any query, please contact with us.");

        doc.setDrawColor(255, 0, 0); // 	draw red lines
        doc.setLineWidth(2);
        doc.line(30, 100, 565, 100);
        doc.line(30, 810, 565, 810);	//footer line

        /* Name table begin */
        doc.setDrawColor(0);
        doc.setFillColor(146, 158, 178);
        doc.rect(30, 103, 535, 20, 'F');
        doc.setDrawColor(0, 0, 0);
        doc.setLineWidth(1);
        doc.rect(30, 103, 535, 70, 'S');

        doc.setFontSize(12);
        doc.setFont("arial", "bold");
        doc.text(35, 117, 'Guest Name'); doc.text(135, 117, ':');        
        doc.text(35, 135, 'Arrival Date'); doc.text(135, 135, ':');
        doc.text(340, 135, 'Mobile : ');
        doc.text(35, 150, 'Departure Date'); doc.text(135, 150, ':');
        doc.text(35, 165, 'Check Out Date'); doc.text(135, 165, ':');
        /* name table end */

        /* room section begin */
        doc.setDrawColor(0, 0, 0);
        doc.setFillColor(146, 158, 178);
        doc.rect(30, 190, 535, 35, 'DF');
        doc.setDrawColor(0, 0, 0);
        doc.setLineWidth(1);
        doc.rect(30, 190, 535, 135, 'S');
        doc.setDrawColor(90, 104, 93);
        doc.line(30, 245, 565, 245); //rows
        doc.line(30, 265, 565, 265);
        doc.line(30, 285, 565, 285);
        doc.line(30, 305, 565, 305);
        //doc.line(30, 325, 565, 325);
        //doc.line(30, 345, 565, 345);
        doc.line(210, 190, 210, 325); //vertical lines
        doc.line(310, 190, 310, 325);
        doc.line(385, 190, 385, 325);
        doc.line(455, 190, 455, 325);

        doc.text(90, 212, 'Room No');
        doc.text(221, 205, 'Room Charge\n    Per Day');
        doc.text(320, 205, ' Number\nof Rooms');
        doc.text(395, 205, ' Number\nof Nights');
        doc.text(490, 212, '---------');
        doc.setDrawColor(0, 0, 0);
        doc.setFillColor(146, 158, 178);
        doc.rect(455, 325, 110, 25, 'DF');
        doc.text(350, 344, 'Total Room Rent');
        /* Room section end */

        /* service charge section begin */
        doc.setDrawColor(0, 0, 0);
        doc.setFillColor(146, 158, 178);
        doc.rect(30, 370, 535, 25, 'DF');
        doc.setDrawColor(0, 0, 0);
        doc.setLineWidth(1);
        doc.rect(30, 370, 535, 165, 'S');
        doc.setLineWidth(1);
        doc.line(200, 370, 200, 535); //vertical lines
        doc.line(400, 370, 400, 535);
        doc.text(100, 388, 'Date');
        doc.text(260, 388, 'Particulars');
        doc.text(432, 388, 'Charged Amount');
        doc.setDrawColor(90, 104, 93);
        doc.line(30, 415, 565, 415);
                doc.line(30, 435, 565, 435);
        doc.line(30, 455, 565, 455);
        doc.line(30, 475, 565, 475);
        doc.line(30, 495, 565, 495);
        doc.line(30, 515, 565, 515);
        //doc.line(30, 535, 565, 535);
        //doc.line(30, 555, 565, 555);
        /* service charge section end */

        /* calculation section begin */
        var finalBoxTop = 535;
        var finalTextTop = 554;
        doc.setDrawColor(0, 0, 0);
        doc.setFillColor(146, 158, 178);
        doc.rect(400, finalBoxTop, 165, 25, 'DF');
        doc.text(390, finalTextTop, 'Total Other Bill', 'right');
        finalBoxTop += 25;
        finalTextTop += 25;
        doc.setDrawColor(0, 0, 0);
        doc.setFillColor(211, 216, 237);
        doc.rect(400, finalBoxTop, 165, 25, 'DF');
        doc.text(390, finalTextTop, 'Total Room Rent', 'right');
        finalBoxTop += 25;
        finalTextTop += 25;
        doc.setDrawColor(0, 0, 0);
        doc.setFillColor(211, 216, 237);
        doc.rect(400, finalBoxTop, 165, 25, 'DF');
        doc.text(390, finalTextTop, "Total VAT", 'right');
        finalBoxTop += 25;
        finalTextTop += 25;
        doc.setDrawColor(0, 0, 0);
        doc.setFillColor(211, 216, 237);
        doc.rect(400, finalBoxTop, 165, 25, 'DF');
        doc.text(390, finalTextTop, "Total OC", 'right');
        finalBoxTop += 25;
        finalTextTop += 25;
        doc.setDrawColor(0, 0, 0);
        doc.setFillColor(146, 158, 178);
        doc.rect(400, finalBoxTop, 165, 25, 'DF');
        doc.text(390, finalTextTop, "Total (Inclusive VAT & OC)", 'right');      //+20
        finalBoxTop += 25;
        finalTextTop += 25;
        doc.setDrawColor(0, 0, 0);
        doc.setFillColor(211, 216, 237);
        doc.rect(400, finalBoxTop, 165, 25, 'DF');
        doc.text(390, finalTextTop, "Discount", 'right');
        finalBoxTop += 25;
        finalTextTop += 25;
        doc.setDrawColor(0, 0, 0);
        doc.setFillColor(211, 216, 237);
        doc.rect(400, finalBoxTop, 165, 25, 'DF');
        doc.text(390, finalTextTop, "Refund", 'right');
        finalBoxTop += 25;
        finalTextTop += 25;
        doc.setDrawColor(0, 0, 0);
        doc.setFillColor(211, 216, 237);
        doc.rect(400, finalBoxTop, 165, 25, 'DF');
        doc.text(390, finalTextTop, "Paid Amount", 'right');
        finalBoxTop += 25;
        finalTextTop += 25;
        doc.setDrawColor(0, 0, 0);
        doc.setFillColor(146, 158, 178);
        doc.rect(400, finalBoxTop, 165, 25, 'DF');
        doc.text(390, finalTextTop, "Due Amount",'right');

        /* calculation section end */

        /* Signature and footer note Begin */
        doc.line(487, 66, 565, 66);
        doc.line(30, 716, 150, 716);
        doc.text(30, 730, "Signature & Date");
        doc.text(30, 743, "Prepared By : ");
        doc.text(111, 800, "Thank you for staying with us. Hope to see you again in the future.");
        /* Signature and footer note end */

        /* dynamic data section begin */
        doc.setFont("courier", "normal");
        //name table
        doc.text(565, 63, invoiceNumber, 'right');
        doc.text(147, 117, name);
        doc.text(392, 135, Phone);
        doc.text(147, 135, arraivalDate);
        doc.text(147, 150, departureDate);
        doc.text(147, 165, checkOutDate);

        // Room Table data begin
        var roomTop = 240;
        var lRoomNo = 120;
        var lRoomCharge = 295;
        var lNoOfRooms = 348;
        var lNoOfNights = 420;
        var rLineTotal = 545;
        var totalRoomChargeTable = 0;
        var room_no_array = [];
        var rate_array = [];
        var rnoOfNight_array = [];
        var noOfRoom_array = [];

        var data = @Html.Raw(Json.Encode(((IEnumerable<PMS_HT.Models.tbl_guest_stay_info>)ViewBag.RoomListS).Select(user => new
                  {
                      room_No = user.tbl_room_info.Room_No,
                      room_charge = user.tbl_room_info.Rate,
                      Departure_Date = user.Departure_Date,
                      Arrival_Date = user.Arrival_Date
            }))
               );



        function daydiff(first, second) {
            var dt1 = first;
            var dt2 = second;
            dt1 = dt1.replace(/[^0-9]/igm, '');
            dt2 = dt2.replace(/[^0-9]/igm, '');
            dt1 = parseInt(dt1);
            dt2 = parseInt(dt2);
            //var d1 = new Date(dt1);
            //var d2 = new Date(dt2);
            var res =  Math.round((dt2-dt1)/(1000*60*60*24));
            if (res == 0) {
                res = 1;
            }
            return res.toString();
        }
        data.forEach(function (item) {
            var arr_temp = item.Arrival_Date;
            var depar_temp = item.Departure_Date;
            var noOfNightTemp = '@ViewBag.NoOfNight';
            var roomTemp = item.room_No;
            var charge = item.room_charge.toFixed(2).toString();
            var flag = 0;
            var last = rate_array.length;
            for(var i=0;i<last;i++)
            {
                if(charge==rate_array[i] && noOfNightTemp==rnoOfNight_array[i])
                {
                    room_no_array[i] = room_no_array[i]+','+roomTemp;
                    var noRoomTemp = parseInt(noOfRoom_array[i]);
                    noRoomTemp++;
                    noOfRoom_array[i] = noRoomTemp.toString();
                    flag=1;
                }
            }
            if(flag==0)
            {
                room_no_array[last] = roomTemp;
                rate_array[last] = charge;
                rnoOfNight_array[last] = noOfNightTemp;
                noOfRoom_array[last] = '1';
            }
        });
        doc.setFontSize(12);
        @if (ViewBag.PreviousStay != null)
        {
            @:doc.text(lRoomNo, roomTop,'@PreviousStay.shift_from_stay_info.tbl_room_info.Room_No.ToString()', "center");
            @:doc.text(lRoomCharge, roomTop,'@PreviousStay.shift_from_stay_info.tbl_room_info.Rate.ToString()', "right");
            @:doc.text(lNoOfRooms, roomTop, "1", "center");
            @:doc.text(lNoOfNights, roomTop, "0", "center");
            @:doc.text(rLineTotal, roomTop, "0.00", 'right');
            @:roomTop += 20;
        }
        for(var j=0;j<rate_array.length;j++)
        {
            doc.text(lRoomNo, roomTop, room_no_array[j], "center"); 		            //room table _ rrom no column row 1
            doc.text(lRoomCharge, roomTop, rate_array[j], "right");		// room table _ room charge per day row 1
            doc.text(lNoOfRooms, roomTop, noOfRoom_array[j], "center");			        // room table _ number of rooms row 1
            doc.text(lNoOfNights, roomTop, rnoOfNight_array[j], "center");			    // room table _ number of nights row 1
            var l = calculateLineTotal(rate_array[j], noOfRoom_array[j], rnoOfNight_array[j]);
            totalRoomChargeTable += l;
            var lineTotal = l.toFixed(2).toString();
            doc.text(rLineTotal, roomTop, lineTotal, 'right');	        // room table _ Line total row 1

            roomTop += 20;
        }

        doc.text(rLineTotal, 343, totalRoomChargeTable.toFixed(2).toString(), 'right');	// room table _ Total Room Rent
        //Room Table Data End

        //Particulars Table Data Begin
        var particularTop = 410;
        var lDate = 35;
        var lParticular = 215;
        var lChargedAmount = 515;
        var totalOtherBill = 0;
        var data = @Html.Raw(Json.Encode(((IEnumerable<PMS_HT.Models.tbl_room_transactions>)ViewBag.OtherBillListS).Select(user => new
                  {
                          date = user.Tran_Date,
                          particular = user.Particulars,
                          amount = user.Debit
                  }))
               );

        data.forEach(function (item) {
            var otherDate = "";
            if(item.date!=null)
            {
                otherDate = item.date;
                otherDate = jsonToDate(otherDate);
                otherDate = otherDate.slice(4,24);
            }
            doc.text(lDate, particularTop, otherDate); 					//particular table _ date column row 1
            doc.text(lParticular, particularTop, item.particular); 					//particular table _ particular column row 1
            doc.text(lChargedAmount, particularTop, item.amount.toFixed(2).toString(), 'right'); 	//particular table _ charged amount column row 1
            particularTop += 20;
            totalOtherBill += item.amount;
        });
        var extraCharge = Number($("#extraCharge").val());
        if (extraCharge > 0) {
            doc.text(lDate, particularTop, "At CheckOut"); 					//particular table _ date column row 1
            doc.text(lParticular, particularTop, "Extra Charge");			//particular table _ particular column row 1
            doc.text(lChargedAmount, particularTop, extraCharge.toFixed(2).toString(), 'right'); 	//particular table _ charged amount column row 1
            particularTop += 20;
            totalOtherBill += extraCharge;
        }
        totalInclusiveVat = totalOtherBill + totalRoomChargeTable + vat + sc;
        totalInclusiveVat = Round5(totalInclusiveVat);
        due = totalInclusiveVat - totalDiscount + refund - totalPaid;

        finalTextTop = 554;

        doc.text(lChargedAmount, finalTextTop, totalOtherBill.toFixed(2).toString(),'right'); 	//Total service charges
        finalTextTop += 25;
        doc.text(lChargedAmount, finalTextTop, totalRoomChargeTable.toFixed(2).toString(), 'right'); 	//Total room rent
        finalTextTop += 25;
        doc.text(lChargedAmount, finalTextTop, vat.toFixed(2).toString(),'right'); 	        //previously paid
        finalTextTop += 25;
        doc.text(lChargedAmount, finalTextTop, sc.toFixed(2).toString(), 'right');
        finalTextTop += 25;
        doc.text(lChargedAmount, finalTextTop, totalInclusiveVat.toFixed(2).toString(),'right'); 	            //discount
        finalTextTop += 25;
        doc.text(lChargedAmount, finalTextTop, totalDiscount.toFixed(2).toString(),'right'); 	    //total without vat
        finalTextTop += 25;
        doc.text(lChargedAmount, finalTextTop, refund.toFixed(2).toString(),'right'); 	                //vat
        finalTextTop += 25;
        doc.text(lChargedAmount, finalTextTop, totalPaid.toFixed(2).toString(),'right'); 	        //total inclusive vat
        finalTextTop += 25;
        doc.text(lChargedAmount, finalTextTop, due.toFixed(2).toString(),'right'); 	        //total inclusive vat

        //Particulars Table Data End

        doc.text(113, 743, user);
        /* Dynamic Data Section End */

        //doc.save(fileName);
        var base64 = doc.output('datauristring');
        var object = '<iframe width="100%" height="100%" src="'+base64+'"></iframe>';
        var generator = window.open("","","top=50,left=400,width=700,height=600");
        generator.document.write(object);
        generator.document.close();


        /* html2canvas($("#printArea"), {
             onrendered: function (canvas) {
                 //var fileName1 = invoiceNumber + name + '.pdf';
                 var imgData2 = canvas.toDataURL('image/png',1.0);
                 var doc2 = new jsPDF('p', 'mm');
                 doc2.addImage(imgData2, 'PNG', 10, 10);
                 //doc.save(fileName);
                 var base642 = doc2.output('datauristring');
                 var object2 = '<iframe width="100%" height="100%" src="'+base642+'"></iframe>';
                 var generator2 = window.open("","","top=100,left=500,width=500,height=500");
                 generator2.document.write(object2);
                 generator2.document.close();
             }
         });*/
    });


    function CheckPaidDue()
    {
        var paid = Number($("#paid").val());
        var netPayable = Number($("#netPayable").val());
        if(paid >= netPayable)
        {
            $('#gPDF').click();
            $("#CheckOutForm").submit();
        }
        else if (paid < netPayable && ($('#outstandingPayment:checked').length == 0)) {
            if (confirm("Paid amount is less then Net Payable amount.\nProceed as Baddebt?")) {
                $('#gPDF').click();
                $("#CheckOutForm").submit();
            }
        }
        else {
            $('#gPDF').click();
            $("#CheckOutForm").submit();
        }
    }
    function changeBillingOption()
    {
        $("#MultipleRoomCharge").toggle();
        $("#SingleRoomCharge").toggle();
        $("#MultipleOtherBill").toggle();
        $("#SingleOtherBill").toggle();
        $("#MultiplePaid").toggle();
        $("#SinglePaid").toggle();
        $("#MultipleTotal").toggle();
        $("#SingleTotal").toggle();
    }

    function jsonToDate(jsonDateVal)
    {
        var dt = jsonDateVal;
        dt = dt.replace(/[^0-9]/igm, '');
        var dt2 = parseInt(dt);
        var d = new Date(dt2);
        d = d.toString();
        //d = d.slice(4,15);
        return d;
    }
    function calculateLineTotal(roomChargePerDay, noOfRooms, noOfNight) {
        var l = parseFloat(roomChargePerDay);
        var m = parseFloat(noOfRooms);
        var n = parseFloat(noOfNight);
        var p = l * m * n;
        return p;
    }

    function GetNetPayable() {
        var roomDue = Number($("#due").val());

        var extraCharge = Number($("#extraCharge").val());        
        var refund = Number($("#refund").val());
        var discountAdjustment = Number($("#discountAdjustment").val());
        var netpayable = Number($("#due").val());
        var paid = Number($("#paid").val());
        var particular = $("#particulars").val();

        if((roomDue + extraCharge) < 0) {
            $("#refund").prop('readonly',false);
        }
        else
        {
            $("#refund").prop('readonly',true);
        }
        if((roomDue + extraCharge + refund) > 0) {
            $("#discountAdjustment").prop('readonly',false);
        }
        else
        {
            $("#discountAdjustment").prop('readonly',true);
        }

        //alert(netpayable);
        if (roomDue<-5 && extraCharge==0) {
            netpayable = netpayable+refund -discountAdjustment;
            //alert("1 "+netpayable);
        }
        else if (roomDue<0 && extraCharge!=0) {
            netpayable = netpayable + refund+extraCharge - discountAdjustment;
            //alert("2 "+netpayable);
        }
        else {
            netpayable = extraCharge + netpayable - refund - discountAdjustment;
            //alert("3 "+netpayable);
        }

        $("#netPayable").val(netpayable);
        $("#EC").text(extraCharge);
        $("#Rf").text(refund);
        $("#Disc").text(discountAdjustment);
        $("#NP").text(netpayable);
        $("#Pd").text(paid);
        $("#Pt").text(particular);
    }

    $.validator.addMethod("RangeBetween", function (value, element, options) {
        //console.log(options[0]);      // <- 1
        //console.log(options[1]);      // <- "two"
        //console.log(options[2]);      // <- 3
        var first = Number($('#' + options[1]).val());
        var second = Number($('#' + options[2]).val());
        //console.log(first); // <- value of field named "foo"
        //console.log(second); // <- value of field named "foo"
        //console.log(value);      // <- the value of "myField"
        //console.log(element);    // <- the "myField" object
        // your function
        return this.optional(element) || (value >= options[0] && value <= (first + second)*(-1));
    }, "Custom message ");

    $.validator.addMethod(
        "InRange",
        function (value, element, options) {
            var DiscountLevel = Number('@ViewBag.DiscountLevel');
            var totalPayable = Number($("#due").val());
            var discountableAmount = (totalPayable * DiscountLevel) / 100;
            return this.optional(element) || (value >= 0 && value <= discountableAmount);
        },
        function () {
            var DiscountLevel = Number('@ViewBag.DiscountLevel');
            var totalPayable = Number($("#due").val());
            var discountableAmount = (totalPayable * DiscountLevel) / 100;
            var cusStr = "Authorize discount 0 to " + discountableAmount + " Tk [" + DiscountLevel + "%]";
            return cusStr;
        }
    );

    $('#CheckOutForm').validate({
        rules: {
            discountAdjustment: {
                number: true,
                InRange: true
            },
            refund: {
                number:true,
                RangeBetween:[0, "due" , "extraCharge"]
            },
            paid: "required",
            particulars: "required"
        },
        messages: {
            discountAdjustment: {
                number: "Discount must be a number",
            },
            refund:{
                number:"must be number",
                RangeBetween:"Refund cann't be more then payable amount"
            },
            paid: "This field can not be empty !",
            particulars: "This field can not be empty !"
        }
    });



</script>