﻿@model PMS_HT.Models.tbl_guest_stay_info

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_guest_stay_info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tbl_guest_info.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_guest_info.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_room_info.Room_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_room_info.Room_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arrival_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arrival_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departure_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departure_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arrival_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arrival_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departure_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departure_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No_of_Nights)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No_of_Nights)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No_of_Adult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No_of_Adult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No_of_Child)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No_of_Child)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No_of_Extra_Person)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No_of_Extra_Person)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No_of_Extra_Bed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No_of_Extra_Bed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reserved_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reserved_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reserved_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reserved_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Booking_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Booking_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Check_Out_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Check_Out_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Check_Out_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Check_Out_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Check_Out_Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Check_Out_Note)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
