﻿@model PMS_HT.Models.tbl_guest_stay_info
@using PMS_HT.Models
@{ 
    tbl_guest_stay_info guest1 = ViewBag.GuestStayInfo;
    tbl_guest_stay_history PreviousStay = ViewBag.PreviousStay;
    var height = guest1.tbl_guest_info.Height;
    var visaDate = guest1.tbl_guest_info.Visa_Date.HasValue ? guest1.tbl_guest_info.Visa_Date.Value.ToString("dd/MM/yyyy") : "";
    var arrivalDate = guest1.tbl_guest_info.Date_of_Arr_in_Country.HasValue ? guest1.tbl_guest_info.Date_of_Arr_in_Country.Value.ToString("dd MMMM yyyy hh:mm tt") : "";
    var birthdate = guest1.tbl_guest_info.Birth_Date.HasValue ? guest1.tbl_guest_info.Birth_Date.Value.ToString("dd/MM/yyyy") : "";
    var dnr = guest1.tbl_guest_info.DNR ?? false;
    var vip = guest1.tbl_guest_info.VIP ?? false;
    string roomHistory = ViewBag.RoomNo;
    if (PreviousStay != null)
    {
        roomHistory = PreviousStay.shift_from_stay_info.tbl_room_info.Room_No + "-" + ViewBag.RoomNo;
    }
    string relativeLabel = "Contact info for relative in Chittagong";
    if (guest1.tbl_guest_info.Nationality == "Foreigner")
    {
        relativeLabel = "Local Address";
    }

    string vatLabel = "VAT(" + ViewBag.VatPercent + "%)";
    //string scLabel = "SC(" + ViewBag.ScPercent + "%)";
    string scLabel = "O/C(" + ViewBag.ScPercent + "%)";
}


<script src="~/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<script src="~/Scripts/DatePicker_.js"></script>
<script src="~/Scripts/SigWebTablet.js"></script>
<script type="text/javascript">
    var tmr;

    function onSign() {
        var ctx = document.getElementById('cnv').getContext('2d');
        SetDisplayXSize(300);
        SetDisplayYSize(100);
        SetTabletState(0, tmr);
        SetJustifyMode(0);
        ClearTablet();
        if (tmr == null) {
            tmr = SetTabletState(1, ctx, 50);
        }
        else {
            SetTabletState(0, tmr);
            tmr = null;
            tmr = SetTabletState(1, ctx, 50);
        }
    }

    function onClear() {
        ClearTablet();
    }

    function onDone() {
        //alert();
        if (NumberOfTabletPoints() == 0) {
            alert("Please sign before continuing");
        }
        else {
            SetTabletState(0, tmr);
            SetSigCompressionMode(1);

            SetImageXSize(300);
            SetImageYSize(100);
            SetImagePenWidth(5);
            GetSigImageB64(SigImageCallback);
        }
    }

    function SigImageCallback(str) {
        var st = "data:image/png;base64," + str;
        document.getElementById("Signature").value = st;
    }
</script>


<script type="text/javascript">
    window.onunload = window.onbeforeunload = (function () {
        closingSigWeb();
    });

    function closingSigWeb() {
        ClearTablet();
        SetTabletState(0, tmr);
    }
</script>

@using (Ajax.BeginForm("Edit", "FrontDeskGuestStay", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { id = "EditCheckInForm", enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        <div class="form-group" style="text-align:center;">
            <div id="target" class="col-md-10" style="margin:0 auto; float:none; font-size:large; color:red"></div>
            <div id="log" class="col-md-8">
            </div>
        </div>
        @if (PreviousStay != null)
        {
            <div class="container-fluid">
                <div class="row" style="background-color: #d9ebfb;margin: 7px 0px;text-align:  center;">
                    <label style="font-weight: 800; color: #8E44AD;">Previous Room : </label>@PreviousStay.shift_from_stay_info.tbl_room_info.Room_No &nbsp;
                    <label style="font-weight: 800; color: #d80505;">Shifted At : </label>@PreviousStay.Shift_Date &nbsp;
                    <label style="font-weight: 800;">Shifted By : </label>@PreviousStay.tbl_emp_info.user_name <br />
                    <label style="font-weight: 800; color: #057512;">Reason : </label>@PreviousStay.Reason
                </div>
            </div>
        }
        <div hidden>
            <label id="PropertyName">@ViewBag.PropertyName</label> &nbsp;
            <label id="PropertyAddress">@ViewBag.PropertyAddress</label>  &nbsp;
            <label id="PropertyPhone">@ViewBag.PropertyPhone</label>  &nbsp;
            <label id="PropertyLogo">@ViewBag.PropertyLogo</label>  &nbsp;
            <label id="CheckedInBy">@ViewBag.CheckedInBy</label> &nbsp;
        </div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container-fluid">
            <div class="row form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="portlet-body tabs">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#tab_4_1" data-toggle="tab"><i class="fa fa-info"></i> Guest Info </a>
                        </li>
                        <li>
                            <a href="#tab_4_2" data-toggle="tab"><i class="fa fa-bars"></i> More Detail </a>
                        </li>
                        <li>
                            <a href="#tab_4_3" data-toggle="tab"><i class="fa fa-pencil"></i> Signature </a>
                        </li>
                        <li>
                            <a href="#tab_4_4" data-toggle="tab"><i class="fa fa-plus"></i> Add Other Bill </a>
                        </li>
                        <li>
                            <a href="#tab_4_5" data-toggle="tab"><i class="fa fa-calculator"></i> Payment Info </a>
                        </li>
                    </ul>
                    <br />
                    <div class="tab-content">

                        <div class="tab-pane active" id="tab_4_1">
                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Name, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8 requiredCus" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="Name" id="Name" required class="form-control" value="@guest1.tbl_guest_info.Name" placeholder="Name" />
                                            <span class="input-group-addon"><i class="fa fa-user-circle font-red-thunderbird"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.tbl_guest_info.Name, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.LabelFor(model => model.tbl_guest_info.Image, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="file" name="file" id="file" class="form-control" accept=".jpeg,.jpg">
                                            <span class="input-group-addon"><i class="fa fa-camera font-yellow-gold"></i></span>
                                        </div>
                                        <span name="Image" style="color:royalblue">@guest1.Image</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Father_Name, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="Father_Name" id="Father_Name" class="form-control" value="@guest1.tbl_guest_info.Father_Name" placeholder="Father's Name" />
                                            <span class="input-group-addon"><i class="fa fa-male font-yellow-gold"></i></span>
                                        </div>
                                    </div>
                                    @Html.LabelFor(model => model.tbl_guest_info.Mother_Name, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="Mother_Name" id="Mother_Name" class="form-control" value="@guest1.tbl_guest_info.Mother_Name" placeholder="Mother's Name" />
                                            <span class="input-group-addon"><i class="fa fa-female font-yellow-gold"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.tbl_guest_info.Maritial_Status, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                <div class="col-md-4 col-sm-8 col-xs-8">
                    @Html.DropDownListFor(model => model.tbl_guest_info.Maritial_Status, new List<SelectListItem>
                    {
                    new SelectListItem {Text ="Married", Value="Married" },
                    new SelectListItem {Text ="Unmarried", Value="Unmarried"},
                    new SelectListItem {Text ="Divorced", Value="Divorced" },
                    new SelectListItem {Text ="Widower", Value="Widower" },
                    }, "--select--", new { onchange = @"this.form.submit();", @class = "form-control" ,id = "tbl_guest_info_Maritial_Status" })

                </div>*@

                                    @Html.LabelFor(model => model.tbl_guest_info.Maritial_Status, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="Maritial_Status" id="Maritial_Status" class="form-control" readonly value="@guest1.tbl_guest_info.Maritial_Status" />
                                            <span class="input-group-addon"><i class="fa fa-info-circle font-yellow-gold"></i></span>
                                        </div>
                                    </div>

                                    @Html.LabelFor(model => model.tbl_guest_info.Spouse_Name, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="Spouse_Name" id="Spouse_Name" class="form-control" value="@guest1.tbl_guest_info.Spouse_Name" placeholder="Spouse Name" />
                                            <span class="input-group-addon"><i class="fa fa-info font-yellow-gold"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <label><strong>Contact Information : </strong></label>
                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Phone, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8 requiredCus" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="Phone" id="Phone" required class="form-control" value="@guest1.tbl_guest_info.Phone" placeholder="Phone 1" />
                                            <span class="input-group-addon"><i class="fa fa-phone-square font-red-thunderbird"></i></span>
                                        </div>
                                    </div>
                                    @Html.LabelFor(model => model.tbl_guest_info.AdditionalPhone, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="AdditionalPhone" id="AdditionalPhone" class="form-control" value="@guest1.tbl_guest_info.AdditionalPhone" placeholder="Phone2" />
                                            <span class="input-group-addon"><i class="fa fa-phone-square font-yellow-gold"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Address, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8 requiredCus" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">                                       
                                            <textarea name="Address" id="Address" required class="form-control" rows=4 placeholder="Present Address">@guest1.tbl_guest_info.Address</textarea>
                                       </div>
                                    @Html.LabelFor(model => model.tbl_guest_info.Permanent_Address, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <textarea name="Permanent_Address" id="Permanent_Address" class="form-control" rows=4 placeholder="Permanent Address">@guest1.tbl_guest_info.Permanent_Address</textarea>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Email, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="Email" id="Email" class="form-control" value="@guest1.tbl_guest_info.Email" placeholder="Email" />
                                            <span class="input-group-addon"><i class="fa fa-at font-yellow-gold"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <label><strong>Identification : </strong></label>&nbsp;&nbsp;
                            <input type="checkbox" name="Identification" id="NIdCheckbox" onchange="NIdTicked()">National ID &nbsp;&nbsp;
                            <input type="checkbox" name="Identification" id="drivingLicenseCheckbox" onchange="DlTicked()">Driving License &nbsp;&nbsp;
                            <input type="checkbox" name="Identification" id="tinCertificateCheckbox" onchange="tinTicked()">Tin Certificate
                            <div class="row form-group">
                                <div class="form-group">
                                    @if (guest1.tbl_guest_info.Nationality == "Foreigner")
                                    {
                                        <div id="passportDiv">
                                            @Html.LabelFor(model => model.tbl_guest_info.Passport_No, "Passport No", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2 requiredCus" })
                                            <div class="col-md-4 col-sm-6 col-xs-4">
                                                <div class="input-group">
                                                    <input type="text" name="Passport_No" id="Passport_No" class="form-control" required value="@guest1.tbl_guest_info.Passport_No" placeholder="Passport No" />
                                                    <span class="input-group-addon"><i class="fa fa-book font-red-thunderbird"></i></span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.tbl_guest_info.Passport_No, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    }

                                    <div id="NId" hidden>
                                        @Html.LabelFor(model => model.tbl_guest_info.National_ID, "NID", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2 requiredCus" })
                                        <div class="col-md-4 col-sm-6 col-xs-4">
                                            <div class="input-group">
                                                <input type="text" name="National_ID" id="National_ID" class="form-control" value="@guest1.tbl_guest_info.National_ID" placeholder="NID" />
                                                <span class="input-group-addon"><i class="fa fa-id-card font-red-thunderbird"></i></span>
                                            </div>
                                            @*@Html.EditorFor(model => model.tbl_guest_info.National_ID, new { htmlAttributes = new { @class = "form-control" , id="N_Id"} })*@
                                            @Html.ValidationMessageFor(model => model.tbl_guest_info.National_ID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div id="drivingLicense" hidden>
                                        @Html.LabelFor(model => model.tbl_guest_info.Driving_License, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-4 col-sm-6 col-xs-4">
                                            <div class="input-group">
                                                <input type="text" name="Driving_License" id="Driving_License" class="form-control" value="@guest1.tbl_guest_info.Driving_License" placeholder="Driving License" />
                                                <span class="input-group-addon"><i class="fa fa-automobile font-yellow-gold"></i></span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.tbl_guest_info.Driving_License, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div id="tinCertificate" hidden>
                                        @Html.LabelFor(model => model.tbl_guest_info.Tin_Certificate, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-4 col-sm-6 col-xs-4">
                                            <div class="input-group">
                                                <input type="text" name="Tin_Certificate" id="Tin_Certificate" class="form-control" value="@guest1.tbl_guest_info.Tin_Certificate" placeholder="TIN" />
                                                <span class="input-group-addon"><i class="fa fa-briefcase font-yellow-gold"></i></span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.tbl_guest_info.Tin_Certificate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <label><strong>Others Informations : </strong></label>
                            <div class="row form-group">
                                <div class="form-group">
                                    @if (guest1.tbl_guest_info.Nationality == "Foreigner")
                                    {
                                        <div class="col-md-4 col-sm-8 col-xs-8" hidden>
                                            <input type="text" name="Nationality" id="Nationality" class="form-control" hidden value="@guest1.tbl_guest_info.Nationality">
                                        </div>
                                        @Html.LabelFor(model => model.tbl_guest_info.Country_ID, "Country", htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8 requiredCus" })
                                        <div class="col-md-4 col-sm-8 col-xs-8">
                                            <div class="input-group">
                                                <input type="text" class="form-control" readonly value="@guest1.tbl_guest_info.tbl_country.Country_Name">
                                                <span class="input-group-addon"><i class="fa fa-globe font-red-thunderbird"></i></span>
                                            </div>
                                            <input type="hidden" name="Country_ID" id="Country_ID" class="form-control" value="@guest1.tbl_guest_info.Country_ID">
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.LabelFor(model => model.tbl_guest_info.Nationality, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                        <div class="col-md-4 col-sm-8 col-xs-8">
                                            <div class="input-group">
                                                <input type="text" name="Nationality" id="Nationality" class="form-control" readonly value="@guest1.tbl_guest_info.Nationality">
                                                <span class="input-group-addon"><i class="fa fa-globe font-yellow-gold"></i></span>
                                            </div>
                                        </div>
                                    }
                                    @Html.LabelFor(model => model.tbl_guest_info.Purpose_of_visit, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="Purpose_of_visit" id="Purpose_of_visit" class="form-control" value="@guest1.tbl_guest_info.Purpose_of_visit" placeholder="Purpose of Visit" />
                                            <span class="input-group-addon"><i class="fa fa-plane font-yellow-gold"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (guest1.tbl_guest_info.Nationality == "Foreigner")
                            {
                                <div class="row form-group">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.tbl_guest_info.Visa_No, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                        <div class="col-md-4 col-sm-8 col-xs-8">
                                            <div class="input-group">
                                                <input type="text" name="Visa_No" id="Visa_No" class="form-control" value="@guest1.tbl_guest_info.Visa_No" placeholder="Visa No" />
                                                <span class="input-group-addon"><i class="fa fa-address-book-o font-yellow-gold"></i></span>
                                            </div>

                                        </div>

                                        @Html.LabelFor(model => model.tbl_guest_info.Visa_Date, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                        <div class="col-md-4 col-sm-8 col-xs-8">
                                            <div class="input-group">
                                                <input type="text" name="Visa_Date" id="Visa_Date" class="form-control datepicker" value="@visaDate" placeholder="Visa Date" />
                                                <span class="input-group-addon"><i class="fa fa-calendar font-yellow-gold"></i></span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.tbl_guest_info.Visa_Date, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.tbl_guest_info.Arrived_From, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                        <div class="col-md-4 col-sm-8 col-xs-8">
                                            <div class="input-group">
                                                <input type="text" name="Arrived_From" id="Arrived_From" class="form-control" value="@guest1.tbl_guest_info.Arrived_From" placeholder="Arrived From" />
                                                <span class="input-group-addon"><i class="fa fa-arrow-circle-left font-yellow-gold"></i></span>
                                            </div>

                                        </div>

                                        @Html.LabelFor(model => model.tbl_guest_info.Going_To, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                        <div class="col-md-4 col-sm-8 col-xs-8">
                                            <div class="input-group">
                                                <input type="text" name="Going_To" id="Going_To" class="form-control" value="@guest1.tbl_guest_info.Going_To" placeholder="Going To" />
                                                <span class="input-group-addon"><i class="fa fa-arrow-circle-right font-yellow-gold"></i></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.tbl_guest_info.Date_of_Arr_in_Country, "Date of arrival in Country", htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                        <div class="input-group date form_meridian_datetime input-large">
                                            <input type="text" name="Date_of_Arr_in_Country" id="Date_of_Arr_in_Country" class="form-control " value="@arrivalDate" placeholder="Arrival Date In Country" />
                                            @Html.ValidationMessageFor(model => model.tbl_guest_info.Date_of_Arr_in_Country, "", new { @class = "text-danger" })
                                            <span class="input-group-btn">
                                                <button class="btn default date-reset" type="button">
                                                    <i class="fa fa-times font-yellow-gold"></i>
                                                </button>
                                                <button class="btn default date-set" type="button">
                                                    <i class="fa fa-calendar font-yellow-gold"></i>
                                                </button>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            }

                        </div>

                        <div class="tab-pane fade" id="tab_4_2">

                            <label><strong>More Information : </strong></label>
                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.No_of_Adult, "No Of Adults", htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="number" name="No_of_Adult" id="No_of_Adult" class="form-control" min="0" value="@guest1.No_of_Adult" placeholder="No Of Adult" />
                                            <span class="input-group-addon"><i class="fa fa-users font-yellow-gold"></i></span>
                                        </div>
                                    </div>
                                    @Html.LabelFor(model => model.No_of_Child, "No of Child", htmlAttributes: new { @class = "control-label col-md-3 col-sm-8 col-xs-8" })
                                    <div class="col-md-3 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="number" name="No_of_Child" id="No_of_Child" class="form-control" min="0" value="@guest1.No_of_Child" placeholder="No Of Child" />
                                            <span class="input-group-addon"><i class="fa fa-child font-yellow-gold"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Age, "Age (years)", htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8 requiredCus" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="Age" id="Age" class="form-control" required value="@guest1.tbl_guest_info.Age" placeholder="Age" />
                                            <span class="input-group-addon"><i class="fa fa-sort-numeric-desc font-red-thunderbird"></i></span>
                                        </div>
                                    </div>
                                    @Html.LabelFor(model => model.tbl_guest_info.Identification_Mark, htmlAttributes: new { @class = "control-label col-md-3 col-sm-8 col-xs-8" })
                                    <div class="col-md-3 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="Identification_Mark" id="Identification_Mark" class="form-control" value="@guest1.tbl_guest_info.Identification_Mark" placeholder="Identification Mark" />
                                            <span class="input-group-addon"><i class="fa fa-info font-yellow-gold"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Height, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="number" class="form-control" name="feet" id="feet" min="0" max="9" placeholder="ft" />
                                            <span class="input-group-addon">Feet</span>
                                            <input type="number" class="form-control" name="inch" id="inch" min="0" max="12" placeholder="inch" />
                                            <span class="input-group-addon">Inch</span>
                                        </div>
                                    </div>
                                    @Html.LabelFor(model => model.tbl_guest_info.Skin_Color, htmlAttributes: new { @class = "control-label col-md-3 col-sm-8 col-xs-8" })
                                    @*<div class="col-md-4 col-sm-8 col-xs-8">
                                            @Html.DropDownListFor(model => model.tbl_guest_info.Skin_Color, new List<SelectListItem>
                                            {
                                            new SelectListItem {Text ="Fair", Value="Fair" },
                                            new SelectListItem {Text ="Brown", Value="Brown"},
                                            new SelectListItem {Text ="Dark", Value="Dark" },
                                            }, "--select--", new { @class = "form-control" })
                                        </div>*@
                                    <div class="col-md-3 col-sm-8 col-xs-8">
                                        <div class="input-group">
                                            <input type="text" name="Skin_Color" id="Skin_Color" readonly class="form-control" value="@guest1.tbl_guest_info.Skin_Color" placeholder="Skin Color" />
                                            <span class="input-group-addon"><i class="fa fa-info font-yellow-gold"></i></span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Occupation, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-8 col-xs-8">
                                        <textarea name="Occupation" id="Occupation" class="form-control" rows="4" placeholder="Occupation">@guest1.tbl_guest_info.Occupation</textarea>
                                    </div>
                                    @Html.LabelFor(model => model.tbl_guest_info.Nearest_Relative_Contact_Info, relativeLabel, htmlAttributes: new { @class = "control-label col-md-3 col-sm-8 col-xs-8" })
                                    <div class="col-md-3 col-sm-8 col-xs-8">
                                        <textarea name="Nearest_Relative_Contact_Info" id="Nearest_Relative_Contact_Info" rows="4" class="form-control" placeholder="Relatives In Chittagong">@guest1.tbl_guest_info.Nearest_Relative_Contact_Info</textarea>
                                    </div>
                                </div>
                            </div>
                            <button id="guestSpecific" class="btn purple" onhover="Expand">Guest Specific Information <i class="fa fa-angle-down guestSpecificArrow"></i></button>
                            <br /><br />
                            <div id="guestSpecificDiv" hidden class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.tbl_guest_info.Special_Preference, htmlAttributes: new { @class = "control-label col-md-4 col-sm-8 col-xs-8" })
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <textarea name="Special_Preference" id="Special_Preference" class="form-control" rows="4" placeholder="Occupation">@guest1.tbl_guest_info.Special_Preference</textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.tbl_guest_info.Birth_Date, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-6">
                                            <input type="text" name="Birth_Date" id="Birth_Date" class="form-control datepicker" value="@birthdate" placeholder="Birth Date" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.tbl_guest_info.VIP, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-6" style="padding-top: 7px;">
                                            <input type="checkbox" name="VIP" id="VIP" value="true" style="transform:scale(2);" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.tbl_guest_info.DNR, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-6" style="padding-top: 7px;">
                                            <input type="checkbox" name="DNR" id="DNR" value="true" style="transform:scale(2);" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="tab_4_3">
                            <label><strong>Biometrics : </strong></label>
                            <div class="row form-group">
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3" style="text-align:center;">
                                        <div style="border:double;height:105px;width:305px;">
                                            <canvas id="cnv" name="cnv" width="300" height="100"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5 col-md-offset-3" style="text-align:center;">
                                        <input id="SignBtn" class="btn btn-primary" name="SignBtn" type="button" value="Sign" onclick="javascript:onSign()" />&nbsp;
                                        <input id="button1" class="btn btn-primary" name="ClearBtn" type="button" value="Clear" onclick="javascript:onClear()" />&nbsp;
                                        <input id="button2" class="btn btn-success" name="DoneBtn" type="button" value="Done" onclick="javascript:onDone()" />&nbsp;
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    <div class="col-md-5 col-md-offset-3">
                                        <input type="text" name="Signature" id="Signature" class="form-control" value="@guest1.tbl_guest_info.Signature">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab_4_4">
                            <div class="row form-group">
                                <div class="form-group ">
                                    @Html.Label("amount", "Amount", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="input-group">
                                            <input type="text" name="amount" id="amount" class="form-control" onchange="AddOtherBill()" placeholder="Amount" />
                                            <span class="input-group-addon"><i class="fa fa-usd font-yellow-gold"></i></span>
                                        </div>

                                    </div>
                                    @Html.Label("details", "Details", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="input-group">
                                            <input type="text" name="details" id="details" class="form-control" placeholder="Detail" />
                                            <span class="input-group-addon"><i class="fa fa-pencil font-yellow-gold"></i></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab_4_5">
                            <div class="row form-group">
                                <div class="form-group ">
                                    @Html.LabelFor(model => model.Arrival_Date, "Arrival Date", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="input-group">
                                            <input type="text" name="Arrival_Date" id="Arrival_Date" readonly class="form-control" value="@guest1.Arrival_Date.ToString("dd MMMM yyyy hh:mm tt")">
                                            <span class="input-group-addon"><i class="fa fa-calendar font-yellow-gold"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-4 col-xs-4"></div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Departure_Date, "Departure Date", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2 requiredCus" })
                                    <div class="input-group date form_meridian_datetime input-large">
                                        <input type="text" name="Departure_Date" id="Departure_Date" class="form-control" onchange="getRateInfo()" required value="@guest1.Departure_Date.ToString("dd MMMM yyyy hh:mm tt")" placeholder="Departure Date" />
                                        @Html.ValidationMessageFor(model => model.Departure_Date, "", new { @class = "text-danger" })
                                        <span class="input-group-btn">
                                            <button class="btn default date-reset" type="button">
                                                <i class="fa fa-times font-red-thunderbird"></i>
                                            </button>
                                            <button class="btn default date-set" type="button">
                                                <i class="fa fa-calendar font-red-thunderbird"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div id="rateDiv">
                                <div class="row form-group">
                                    <div class="form-group ">
                                        @Html.Label("noOfNight", "No Of Nights", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-2 col-sm-4 col-xs-4">
                                            <input type="text" name="noOfNight" id="noOfNight" value="@ViewBag.NoOfNight" readonly class="form-control">
                                        </div>
                                        @Html.Label("rate", "Rate", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-2 col-sm-4 col-xs-4">
                                            <input type="text" name="rate" id="rate" readonly class="form-control text-right" value="@ViewBag.Rate">
                                        </div>
                                        @Html.Label("vat", vatLabel, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2", id = "vatLabel" })
                                        <div class="col-md-2 col-sm-4 col-xs-4">
                                            <input type="text" name="vat" id="vat" class="form-control text-right" value="@ViewBag.Vat" readonly>
                                        </div>

                                        @*@Html.Label("roomCharge", "Room Charge", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-2 col-sm-4 col-xs-4">
                                            <input type="text" name="roomCharge" id="roomCharge" class="form-control" readonly value="@ViewBag.RoomCharge">
                                        </div>*@

                                        @*@Html.Label("discount", "Discount", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2", id = "discountLabel" })
                                        <div class="col-md-2 col-sm-4 col-xs-4">
                                            <input type="text" name="discount" id="discount" class="form-control" readonly value="@ViewBag.Discount">
                                        </div>*@
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="form-group">
                                        @Html.Label("sc", scLabel, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2", id = "vatLabel" })
                                        <div class="col-md-2 col-sm-4 col-xs-4">
                                            <input type="text" name="sc" id="sc" class="form-control text-right" value="@ViewBag.SC" readonly>
                                        </div>

                                        @Html.Label("perDayCharge", "Charge / Day", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-2 col-sm-4 col-xs-4">
                                            <input type="text" id="perDayCharge" class="form-control text-right" value="@ViewBag.PerDayCharge" readonly>
                                        </div>
                                        @Html.Label("totalCharge", "Total Charge", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-2 col-sm-4 col-xs-4">
                                            <input type="text" id="totalCharge" class="form-control text-right" readonly>
                                        </div>



                                        @*@Html.Label("previousRoomChargeWithVat", "Room Charge (With Vat)", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-2 col-sm-4 col-xs-4">
                                            <input type="text" name="previousRoomChargeWithVat" class="form-control" id="previousRoomChargeWithVat" readonly>
                                        </div>
                                        @Html.Label("previousTotal", "Room Total", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-2 col-sm-4 col-xs-4">
                                            <input type="text" name="previousTotal" class="form-control" id="previousTotal" readonly>
                                        </div>*@
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="form-group">
                                        @Html.Label("totalChargeRounded", "Total Charge (Rounded)", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-2 col-sm-4 col-xs-4">
                                            <input type="text" id="totalChargeRounded" class="form-control text-right" readonly>
                                        </div>
                                        @Html.Label("previousDiscount", "Previous Discount", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-2 col-sm-4 col-xs-4">
                                            <input type="text" name="previousDiscount" id="previousDiscount" class="form-control text-right" value="@ViewBag.Discount" readonly>
                                        </div>
                                        @Html.Label("previousPaid", "Previous Paid", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-2 col-sm-4 col-xs-4">
                                            <input type="text" name="previousPaid" id="previousPaid" class="form-control text-right" value="@ViewBag.Paid" readonly>
                                        </div>


                                        @*@Html.Label("previousDue", "Room Due", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-2 col-sm-4 col-xs-4">
                                            <input type="text" name="previousDue" class="form-control" id="previousDue" readonly>
                                        </div>*@
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="form-group">
                                        @Html.Label("otherBill", "Other Bill", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-2 col-sm-4 col-xs-4">
                                            <input type="text" name="otherBill" class="form-control text-right" id="otherBill" readonly value="@ViewBag.OtherBill">
                                        </div>
                                        @Html.Label("totalPayable", "Net Payable (Rounded)", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-2 col-sm-4 col-xs-4">
                                            <input type="text" name="totalPayable" id="totalPayable" class="form-control text-right" readonly>
                                        </div>
                                        @Html.Label("discount", "Discount", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-2 col-sm-4 col-xs-4">
                                            <input type="text" name="discount" id="discount" class="form-control text-right" onkeyup="getDue()" onchange="getDue()" placeholder="Discount">
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="form-group">
                                        @Html.Label("due", "Due", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                        <div class="col-md-2 col-sm-4 col-xs-4">
                                            <input type="text" name="due" id="due" class="form-control text-right" readonly>
                                        </div>
                                        @Html.Label("paid", "Paid", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2 requiredCus" })
                                        <div class="col-md-2 col-sm-4 col-xs-4">
                                            <input type="text" name="paid" id="paid" class="form-control text-right" value="0" onkeyup="getDue()" onchange="getDue()" placeholder="Paid">
                                        </div>
                                        @Html.Label("particulars", "Particulars", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2 requiredCus" })
                                        <div class="col-md-2 col-sm-4 col-xs-4">
                                            <input type="text" name="particulars" class="form-control" required id="particulars" placeholder="Particular" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="checkbox" name="latePayment" id="latePayment" value="true" style="transform: scale(2);">&nbsp;&nbsp;
                                            <label class="control-label purple" style="color: blue; font-weight: 700;" data-toggle="tooltip" title="Payment date will be recorded as yesterday">Late Payment</label>
                                        </div>
                                    </div>
                                    <div class="row form-group" style="text-align:right;">
                                        <button type="button" class="btn btn-primary" onclick="PrintCardFunction()"><i class="fa fa-print"></i>&nbsp;GUEST CARD</button>
                                        <button type="button" class="btn red-flamingo" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
                                        <button type="submit" class="btn btn-success" id="submit"><i class="fa fa-check"></i>&nbsp;Save Changes</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/MathRound10.js"></script>
<script src="~/Scripts/jspdf.min.js"></script>
<script src="~/Scripts/PrintGuestCardFull.js"></script>
<script>
    $(document).ready(function () {
        $.validator.setDefaults({
            ignore: ""
        });
        $('.requiredCus').each(function () {
            var htm = $(this).html();
            htm = '<span class="asterisk">*</span> ' + htm;
            $(this).html(htm);
        });
        $('.datepicker').datepicker({ format: 'dd/mm/yyyy' });
        if ('@dnr' == "True") {
            $('#DNR').prop('checked', true);
        }
        if ('@vip' == "True") {
            $('#VIP').prop('checked', true);
        }

        var heightVal = '@height';

        var height = heightVal;
        var feet = height.slice(0, 1);
        var inch = height.slice(7, 9);
        inch = parseInt(inch);
        $("#feet").val(feet);
        $("#inch").val(inch);

        @*$("#Relative_Info").val('@ViewBag.RelativeInfo');
        $("#Maritial_Status").val('@guest1.tbl_guest_info.Maritial_Status');
        $("#Nationality").val('@guest1.tbl_guest_info.Nationality');*@


        var nFlag = '@ViewBag.NidFlag';
        var dFlag = '@ViewBag.D_LicenseFlag';
        var tFlag = '@ViewBag.TinFlag';

        if (nFlag == 1) {
            $('#NIdCheckbox').prop('checked', true);
            $("#NId").show();
        }
        if (dFlag == 1) {
            $('#drivingLicenseCheckbox').prop('checked', true);
            $("#drivingLicense").show();
        }
        if (tFlag == 1) {
            $('#tinCertificateCheckbox').prop('checked', true);
            $("#tinCertificate").show();
        }
        $("#roomNo").html('@ViewBag.RoomNo');
        updateRateInfo();
    });

    function PrintCardFunction() {
        printCard('@ViewBag.RoomNo', "Edit");
    }



    $('#guestSpecific').click(function (event) {
        event.preventDefault();
        $('#guestSpecificDiv').toggle(200);
        var arrowbtn = $('.guestSpecificArrow');
        if (arrowbtn.hasClass("fa-angle-down")) {
            arrowbtn.removeClass("fa-angle-down").addClass("fa-angle-up");
        } else {
            arrowbtn.removeClass("fa-angle-up").addClass("fa-angle-down");
        }
    });

    function NIdTicked() {
        $("#NId").toggle();
        var numberChecked = $("input[name='Identification']:checked").length;
        if (numberChecked < 1) {
            alert('Must provide atleast one Identification no.');
            $('#NIdCheckbox').prop('checked', true);
            $("#NId").show();
        }

    }
    function DlTicked() {
        $("#drivingLicense").toggle();
        var numberChecked = $("input[name='Identification']:checked").length;
        if (numberChecked < 1) {
            alert('Must provide atleast one Identification no.');
            $('#NIdCheckbox').prop('checked', true);
            $("#NId").show();
        }
    }
    function tinTicked() {
        $("#tinCertificate").toggle();
        var numberChecked = $("input[name='Identification']:checked").length;
        if (numberChecked < 1) {
            alert('Must provide atleast one Identification no.');
            $('#NIdCheckbox').prop('checked', true);
            $("#NId").show();
        }
    }

    function updateRateInfo()
    {
        var perDayCharge = Number($('#perDayCharge').val());
        var totalNights = Number($("#noOfNight").val());

        if (totalNights == 0) {
            totalNights = 1;
        }
        var totalCharge = perDayCharge * totalNights;
        $('#totalCharge').val(totalCharge.toFixed(2));

        var totalChargeRounded = Round5(totalCharge);
        $('#totalChargeRounded').val(totalChargeRounded.toFixed(2));

        var previousDiscount = Number($("#previousDiscount").val());
        var previousPaid = Number($("#previousPaid").val());
        var amount = Number($("#amount").val());
        var otherBill = Number($('#otherBill').val());
        otherBill = otherBill + amount;
        $("#otherBill").val(otherBill.toFixed(2));

        var totalPayable = totalChargeRounded - previousDiscount - previousPaid - otherBill;
        $("#totalPayable").val(totalPayable.toFixed(2));

        getDue();
    }

    function getDue() {
        var payable = Number($("#totalPayable").val());
        var discount = Number($("#discount").val());
        var paid = Number($("#paid").val());
        var due = payable - paid - discount;
        $("#due").val(due.toFixed(2));
    }

    function getRateInfo()
    {
        var arriveDate = $("#Arrival_Date").val();
        var departDate = $("#Departure_Date").val();
        //var roomCharge = Number($("#roomCharge").val());
        //var totalNights = Number($("#noOfNight").val());
        //var vat = Number($("#vat").val());
        //var discount = Number($("#discount").val());
        //var particular = $('#particulars').val();
        //var rate = roomCharge / totalNights;
        var method = "E";
        //vat = vat / totalNights;
        if (arriveDate != "" && departDate != "") {
            $.post('@Url.Action("GetRateInfo")',
              { arriveDate: arriveDate, departDate: departDate, method: method }, function (data) {

                  if (data == "Invalid") {
                      alert("New departure date can not be lower than previous departure date");
                      $("#Departure_Date").val('@guest1.Departure_Date.ToString("dd MMMM yyyy hh:mm tt")');
                      $("#noOfNight").val('@ViewBag.NoOfNight');
                      updateRateInfo();
                  }
                  else {
                      //getAdditionalDayCalculations(rate, data, vat, discount);
                      checkPreviousBooking(data);
                  }
              });
        }
    }

    function checkPreviousBooking(night)
    {
        $("#log").ajaxError(function (event, jqxhr, settings, exception) {
            alert(exception);
        });
        var Start_Date = $("#Arrival_Date").val();
        var End_Date = $("#Departure_Date").val();
        var method = "E";

        $.post('@Url.Action("ErrorMessageAdd")',
            { Start_Date: Start_Date, End_Date: End_Date, method: method }, function (data) {
               $("#target").html(data);

               if (data != "") {
                   document.getElementById('submit').setAttribute("disabled", true);
               }
               if (data == "") {
                   $("#noOfNight").val(night);
                   $("#target").html(null);
                   document.getElementById('submit').removeAttribute("disabled");
                   $('#particulars').val('Add Stay');
                   updateRateInfo();
               }
        });
    }

    //function getAdditionalDayCalculations(rate, nights, vat, discount)
    //{
    //    var totalRoomcharge = rate * nights;
    //    vat = vat * nights;
    //    var roomChargeWithVat = totalRoomcharge + vat;
    //    $("#previousRoomChargeWithVat").val(roomChargeWithVat);
    //    var totalCharge = totalRoomcharge + vat;

    //    totalCharge = Math.round10(totalCharge, 1);
    //    $("#previousTotal").val(totalCharge);
    //    var previousPaid = Number($("#previousPaid").val());
    //    var previousDiscount = Number($("#previousDiscount").val());
    //    var previousDue = totalCharge - previousPaid - previousDiscount;
    //    $("#previousDue").val(previousDue);
    //    var otherBill = Number($("#otherBill").val());
    //    var totalPayable = previousDue + otherBill;
    //    $("#totalPayable").val(totalPayable);
    //    var paid = Number($("#paid").val());
    //    due = totalPayable - discount - paid;
    //    $("#due").val(due);

    //    $("#roomCharge").val(totalRoomcharge);
    //    $("#vat").val(vat);
    //}

    function AddOtherBill() {
        var x = $("#amount").val();
        var c = checkInp(x);
        if (c) {
            //var amount = Number($("#amount").val());
            //var otherBill = Number($('#otherBill').val());
            //otherBill = otherBill + amount;
            //$("#otherBill").val(otherBill.toFixed(2));
            updateRateInfo();
        }
        else {
            $("#amount").val("");
        }

    }

    function checkInp(x) {
        if (isNaN(x)) {
            alert("Must input numbers");
            return false;
        }
        else {
            return true;
        }
    }

    //function setDiscount() {
    //    //var x = $("#paid").val();
    //    var discount = $("#discount").val();
    //    //var c = checkInp(x);
    //    var d = checkInp(discount);
    //    if (d) {
    //        var payable = Number($("#totalPayable").val());
    //        var discount2 = Number($("#discount").val());
    //        var paid = Number($("#paid").val());
    //        var due = payable - discount2 - paid;
    //        $("#due").val(due);
    //    }
    //    else {
    //        var payable = Number($("#totalPayable").val());
    //        var paid = Number($("#paid").val());
    //        var due = payable - paid;
    //        $("#due").val(due);
    //        $("#discount").val("");
    //    }
    //}

    //function getDue() {
    //    var x = $("#paid").val();
    //    var c = checkInp(x);
    //    if (c) {
    //        var payable = Number($("#totalPayable").val());
    //        var discount2 = Number($("#discount").val());
    //        var paid = Number($("#paid").val());
    //        var due = payable - discount2 - paid;
    //        $("#due").val(due);
    //        if ($('#particulars').val() != "Add Stay") {
    //            $('#particulars').val('Late Payment');
    //        }
    //    }
    //    else {
    //        var payable = Number($("#totalPayable").val());
    //        var discount2 = Number($("#discount").val());
    //        var due = payable - discount2;
    //        $("#due").val(due);
    //        $("#paid").val("");
    //    }
    //}




    $.validator.addMethod("IsEmail", function (value, element, options) {
        var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-]{2,})+\.)+([a-zA-Z0-9]{2,4})+$/;
        return this.optional(element) || (regex.test(value));
    }, "Custom message ");

    $.validator.addMethod(
        "InRange",
        function (value, element, options) {
            var DiscountLevel = Number('@ViewBag.DiscountLevel');
            var totalPayable = Number($("#totalPayable").val());
            var discountableAmount = (totalPayable * DiscountLevel) / 100;
            return this.optional(element) || (value >= 0 && value <= discountableAmount);
        },
        function () {
            var DiscountLevel = Number('@ViewBag.DiscountLevel');
            var totalPayable = Number($("#totalPayable").val());
            var discountableAmount = (totalPayable * DiscountLevel) / 100;
            var cusStr = "Authorize discount 0 to " + discountableAmount + " Tk [" + DiscountLevel + "%]";
            return cusStr;
        }
    );

    $('#EditCheckInForm').validate({
        rules: {
            discount: {
                number: true,
                InRange: true
            },
            paid: {
                number: true
            },
            particulars: "required",
            National_ID: {
                required: '#NIdCheckbox:checked'
            },
            Email: {
                IsEmail: true
            },
            Driving_License: {
                required: '#drivingLicenseCheckbox:checked'
            },
            Tin_Certificate: {
                required: '#tinCertificateCheckbox:checked'
            },
            Phone: {
                number: true
            }
        },

        messages: {
            discount: {
                number: "Discount must be a number"
            },
            particulars: "This field can not be empty !",
            Phone: {
                number: "Phone number must be number"
            },
            Email: {
                IsEmail: "Provide valid email"
            }
        }
    });

</script>

