﻿@model IEnumerable<PMS_HT.Models.tbl_guest_stay_info>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tbl_guest_info.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_room_info.Room_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arrival_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departure_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arrival_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departure_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.No_of_Nights)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.No_of_Adult)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.No_of_Child)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.No_of_Extra_Person)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.No_of_Extra_Bed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reserved_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reserved_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Check_Out_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Check_Out_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Check_Out_Note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_guest_info.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_room_info.Room_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arrival_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departure_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arrival_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departure_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.No_of_Nights)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.No_of_Adult)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.No_of_Child)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.No_of_Extra_Person)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.No_of_Extra_Bed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reserved_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reserved_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Booking_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Booking_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Check_Out_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Check_Out_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Check_Out_Note)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Stay_Info_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Stay_Info_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Stay_Info_ID })
        </td>
    </tr>
}

</table>
