﻿@model IEnumerable<PMS_HT.Models.tbl_room_transactions>

@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <h3>Income Statement</h3>
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">
                    @using (Html.BeginForm("Index", "AccountsIncomeStatement", FormMethod.Get))
                    {
                        <div class="container">
                            <div class="row form-group">
                                <label class="control-label col-md-2">Date Range</label>
                                <div class="col-md-4">
                                    <div class="input-group input-large">
                                        <input type="text" id="dob" class="form-control" autocomplete="off" name="dob">
                                        <span class="input-group-addon"> to </span>
                                        <input type="text" id="date" class="form-control" autocomplete="off" name="date">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <button type="button" class="btn btn-success" id="searchButton"><i class="fa fa-search"></i>&nbsp; Search</button>
                                    <button type="button" class="btn red" id="printReportButton"><i class="fa fa-file-pdf-o"></i>&nbsp; PDF</button>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12" id="partialView">
                                
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#dob").datepicker({
            dateFormat: 'dd/mm/yy'
        });
        $("#date").datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });

    $("#searchButton").click(function () {
        var dobVal = $("#dob").val();
        var dateVal = $("#date").val();
        $("#partialView").html(null);
        $.post('@Url.Action("ViewDateRangeIncome")',
          { dob: dobVal, date: dateVal }, function (data) {
              $("#partialView").html(data);
          });
    });

    $("#printReportButton").click(function () {
        var dobVal = $("#dob").val();
        var dateVal = $("#date").val();
        //window.location = "/AccountsIncomeStatement/ExportReport/?dob=" + dobVal + "&date=" + dateVal;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ExportReport")',
            data: { dob: dobVal, date: dateVal },
            success: function (data) {
                if (data == "error")
                {
                    alert("Bad Request");
                }
                else {
                    var str = "data:application/pdf;base64," + data;
                    var object = '<iframe width="100%" height="100%" src="' + str + '"></iframe>';
                    var generator = window.open("", "", "top=100,left=500,width=500,height=500");
                    generator.document.write(object);
                    generator.document.close();
                }
            }
        });
    });
</script>

