﻿<div class="container">
    <div class="row">
        <div class="col-md-6">
            @{ int i = 0; decimal x = 0;}
            @if (ViewBag.CurrentEntryIncome != null && ViewBag.CurrentEntryCount != 0)
            {
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            Income From Todays Entry
                        </div>
                        <div class="tools">

                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>SL No </th>
                                <th> Room No </th>
                                <th>Amount</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.CurrentEntryIncome)
                            {
                                x += Convert.ToDecimal(@item.Payment);
                                <tr>
                                    <td>
                                        @{i++;}
                                        @i
                                    </td>
                                    <td>
                                        @item.Room_No
                                    </td>
                                    <td>
                                        @item.Payment
                                    </td>
                                    <td>
                                        @item.Tran_Date
                                    </td>
                                </tr>
                                            }
                            <tr style="background-color:#e7efec">
                                <td></td>
                                <td>Total</td>
                                <td>@x</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                                            }
        </div>

        <div class="col-md-6">
            @{ int j = 0; decimal exp = 0;}
            @if (ViewBag.Expense != null && ViewBag.ExpenseCount != 0)
            {
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            Daily Expense
                        </div>
                        <div class="tools">

                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>SL No </th>
                                <th>Head Name</th>
                                <th>Details</th>
                                <th>Amount</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Expense)
                            {
                                exp += Convert.ToDecimal(@item.Amount);
                                <tr>
                                    <td>
                                        @{j++;}
                                        @j
                                    </td>
                                    <td>
                                        @item.tbl_expense_head.Exp_Head_Name
                                    </td>
                                    <td>@item.Note</td>
                                    <td>
                                        @item.Amount
                                    </td>
                                    <td>
                                        @item.Created_Date.ToShortDateString()
                                    </td>
                                </tr>
                                            }
                            <tr style="background-color:#e7efec">
                                <td></td>
                                <td></td>
                                <td>Total Expense</td>
                                <td>@exp</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                                            }
        </div>

    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            @{ int sl = 0; decimal running = 0;}
            @*  @if (ViewBag.RoomIncome != null && ViewBag.RoomIncomeCount != 0)*@
            @if (ViewBag.RunningEntryIncome != null && ViewBag.RunningEntryCount != 0)
            {
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            Income From Running
                        </div>
                        <div class="tools">

                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>SL No </th>
                                <th> Room No </th>
                                <th>Amount</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.RunningEntryIncome)
                            {
                                running += Convert.ToDecimal(@item.Payment);
                                <tr>
                                    <td>
                                        @{sl++;}
                                        @sl
                                    </td>
                                    <td>
                                        @item.Room_No
                                    </td>
                                    <td>
                                        @item.Payment
                                    </td>
                                    <td>
                                        @item.Tran_Date
                                    </td>
                                </tr>
                                            }
                            <tr style="background-color:#e7efec">
                                <td></td>
                                <td>Total</td>
                                <td>@running</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                                            }
        </div>

        <div class="col-md-6">

        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            @{ int kl = 0; decimal outstanding = 0;}
            @*  @if (ViewBag.RoomIncome != null && ViewBag.RoomIncomeCount != 0)*@
            @if (ViewBag.OutstandingPayment != null && ViewBag.OutstandingPayCount != 0)
            {
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            Outstanding Payment
                        </div>
                        <div class="tools">

                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>SL No </th>
                                <th> Room No </th>
                                <th>Amount</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.OutstandingPayment)
                            {
                                outstanding += Convert.ToDecimal(@item.Credit);
                                <tr>
                                    <td>
                                        @{kl++;}
                                        @kl
                                    </td>
                                    <td>
                                        @item.Room_No
                                    </td>
                                    <td>
                                        @item.Credit
                                    </td>
                                    <td>@item.Tran_Date</td>
                                </tr>
                                            }
                            <tr style="background-color:#e7efec">
                                <td></td>
                                <td>Total</td>
                                <td>@outstanding</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                                            }
        </div>

        <div class="col-md-6">

        </div>

    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption">
                        Total Income
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-responsive">
                    @{decimal totalRoomIncome;
                        decimal refund = 0, bookingpayment = 0, cancellationrefund = 0;
                        if (ViewBag.refund != null)
                        {
                            refund = Convert.ToDecimal(ViewBag.refund);
                        }
                        if (ViewBag.bookingpayment != null)
                        {
                            bookingpayment = Convert.ToDecimal(ViewBag.bookingpayment);
                        }
                        if (ViewBag.cancellationrefund != null)
                        {
                            cancellationrefund = Convert.ToDecimal(ViewBag.cancellationrefund);
                        }

                        totalRoomIncome = x + running + outstanding - refund + bookingpayment - cancellationrefund;
                        decimal TotalRoomIncomeWithoutVat = totalRoomIncome / (decimal)1.15;
                        decimal StaffComission = TotalRoomIncomeWithoutVat * (decimal)0.1;
                    }

                    <tr>
                        <td>Today's Entry Income</td>
                        <td>@x</td>
                    </tr>
                    <tr>
                        <td>Income from Running</td>
                        <td>@running</td>
                    </tr>
                    <tr>
                        <td>Outstanding Payment</td>
                        <td>@outstanding</td>
                    </tr>
                    <tr>
                        <td>(-) Refund</td>
                        <td>@refund</td>
                    </tr>
                    <tr>
                        <td>Booking Payment</td>
                        <td>@bookingpayment</td>
                    </tr>
                    <tr>
                        <td>(-) Cancellation Refund</td>
                        <td>@cancellationrefund</td>
                    </tr>
                    <tr style="background-color:#eed8d8">
                        <td align="center">Total Income</td>
                        <td>@totalRoomIncome</td>
                    </tr>

                    <tr>
                        <td>VAT</td>
                        <td>@ViewBag.vat.ToString("0.00")</td>
                    </tr>
                    <tr>
                        <td>SC</td>
                        <td>@ViewBag.sc.ToString("0.00")</td>
                    </tr>
                    <tr>
                        <td>Without VAT and SC</td>
                        <td>@ViewBag.totalIncomeWithoutVatSc.ToString("0.00")</td>
                    </tr>
                    <tr>
                        <td>Staff Comission</td>
                        <td>@ViewBag.comission.ToString("0.00")</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-6">

        </div>
    </div>
</div>





<div class="container">
    <div class="row">
        <div class="col-md-6">
            @{ int k = 0; decimal y = 0;}
            @if (ViewBag.BanquetIncome != null && ViewBag.BanquetIncomeCount != 0)
            {
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            Income From Banquet
                        </div>
                        <div class="tools">

                        </div>
                    </div>

                    <table class="table table-striped table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>SL No </th>
                                <th>Banquet Name</th>
                                <th>Amount</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.BanquetIncome)
                            {
                                y += Convert.ToDecimal(@item.Credit);
                                <tr>
                                    <td>
                                        @{k++;}
                                        @k
                                    </td>
                                    <td>
                                        @item.tbl_banquet_prog.tbl_banquet_info.Banquet_Name
                                    </td>
                                    <td>
                                        @item.Credit
                                    </td>
                                    <td>
                                        @item.Tran_Date
                                    </td>
                                </tr>
                                            }

                            <tr style="background-color:#e7efec">
                                <td></td>
                                <td>Total</td>
                                <td>@y</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                                            }
        </div>

        <div class="col-md-6">
            @{ int l = 0; decimal expense = 0;}
            @if (ViewBag.InventoryExpense != null && ViewBag.InventoryExpenseCount != 0)
            {
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            Inventory Expense
                        </div>
                        <div class="tools">

                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Sl No</th>
                                <th>Memo No</th>
                                <th>Purchase Expense</th>
                                <th>Purchase Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.InventoryExpense)
                            {
                                expense += Convert.ToDecimal(@item.PurchaseExpense);
                                <tr>
                                    <td>
                                        @{l++;}
                                        @l
                                    </td>
                                    <td>
                                        @item.Memo_No
                                    </td>
                                    <td>
                                        @item.PurchaseExpense
                                    </td>
                                    <td>
                                        @item.PurchaseDate
                                    </td>
                                </tr>
                                            }
                            <tr style="background-color:#e7efec">
                                <td></td>
                                <td>Total Expense</td>
                                <td>@expense</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                                            }
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            @{ int a = 0; decimal bankIncome = 0;}
            @if (ViewBag.BankIncome != null && ViewBag.BankIncomeCount != 0)
            {
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            Bank
                        </div>
                        <div class="tools">

                        </div>
                    </div>

                    <table class="table table-striped table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>SL No </th>
                                <th>Bank Name</th>
                                <th>Account No</th>
                                <th>Amount</th>
                                <th>Particulars</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.BankIncome)
                            {
                                bankIncome += Convert.ToDecimal(@item.Credit);
                                <tr>
                                    <td>
                                        @{a++;}
                                        @a
                                    </td>
                                    <td>@item.tbl_account_info.tbl_bank_info.Bank_Name</td>
                                    <td>
                                        @item.tbl_account_info.Acc_No
                                    </td>
                                    <td>
                                        @item.Credit
                                    </td>
                                    <td>@item.Particulars</td>
                                    <td>
                                        @item.Created_Date.ToShortDateString()
                                    </td>
                                </tr>
                                            }

                            <tr style="background-color:#e7efec">
                                <td></td>
                                <td></td>
                                <td>Total</td>
                                <td>@bankIncome</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                                            }
        </div>

        <div class="col-md-6">
            @{ int b = 0; decimal bankExp = 0;}
            @if (ViewBag.BankExpense != null && ViewBag.BankExpenseCount != 0)
            {
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            Bank
                        </div>
                        <div class="tools">

                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Sl No</th>
                                <th>Bank Name</th>
                                <th>Account No</th>
                                <th>Amount</th>
                                <th>Particulars</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.BankExpense)
                            {
                                bankExp += Convert.ToDecimal(@item.Debit);
                                <tr>
                                    <td>
                                        @{b++;}
                                        @b
                                    </td>
                                    <td>@item.tbl_account_info.tbl_bank_info.Bank_Name</td>
                                    <td>
                                        @item.tbl_account_info.Acc_No
                                    </td>
                                    <td>
                                        @item.Debit
                                    </td>
                                    <td>
                                        @item.Particulars
                                    </td>
                                    <td>
                                        @item.Created_Date.ToShortDateString()
                                </td>
                            </tr>
                                            }
                            <tr style="background-color:#e7efec">
                                <td></td>
                                <td></td>
                                <td>Total Expense</td>
                                <td>@bankExp</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                                            }
        </div>
    </div>
</div>

@*Cash Bank Section Begin*@
<div class="container">
    <div class="row">
        <div class="col-md-6">
            @{ int cb = 0; decimal cashBankIncome = 0;}
            @if (ViewBag.CashBankIncome != null && ViewBag.CashBankIncomeCount != 0)
            {
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            Cash Bank
                        </div>
                        <div class="tools">

                        </div>
                    </div>

                    <table class="table table-striped table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>SL No </th>
                                <th>Bank Name</th>
                                <th>Account No</th>
                                <th>Amount</th>
                                <th>Particulars</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.CashBankIncome)
                            {
                                cashBankIncome += Convert.ToDecimal(@item.Credit);
                                <tr>
                                    <td>
                                        @{cb++;}
                                        @cb
                                    </td>
                                    <td>@item.tbl_account_info.tbl_bank_info.Bank_Name</td>
                                    <td>
                                        @item.tbl_account_info.Acc_No
                                    </td>
                                    <td>
                                        @item.Credit
                                    </td>
                                    <td>@item.Particulars</td>
                                    <td>
                                        @item.Created_Date.ToShortDateString()
                                    </td>
                                </tr>
                                            }

                            <tr style="background-color:#e7efec">
                                <td></td>
                                <td></td>
                                <td>Total</td>
                                <td>@cashBankIncome</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                                            }
        </div>

        <div class="col-md-6">
            @{ int cbe = 0; decimal cashBankExp = 0;}
            @if (ViewBag.CashBankExpense != null && ViewBag.CashBankExpenseCount != 0)
            {
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            Cash Bank
                        </div>
                        <div class="tools">

                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Sl No</th>
                                <th>Bank Name</th>
                                <th>Account No</th>
                                <th>Amount</th>
                                <th>Particulars</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.CashBankExpense)
                            {
                                cashBankExp += Convert.ToDecimal(@item.Debit);
                                <tr>
                                    <td>
                                        @{cbe++;}
                                        @cbe
                                    </td>
                                    <td>@item.tbl_account_info.tbl_bank_info.Bank_Name</td>
                                    <td>
                                        @item.tbl_account_info.Acc_No
                                    </td>
                                    <td>
                                        @item.Debit
                                    </td>
                                    <td>
                                        @item.Particulars
                                    </td>
                                    <td>
                                        @item.Created_Date.ToShortDateString()
                                    </td>
                                </tr>
                                            }
                            <tr style="background-color:#e7efec">
                                <td></td>
                                <td></td>
                                <td>Total Expense</td>
                                <td>@cashBankExp</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                                            }
        </div>
    </div>
</div>

@*Cash Bank Section End*@

<div class="container">
    <div class="row">
        <div class="col-md-6">
            @{ int c = 0; decimal othersIncome = 0;}
            @if (ViewBag.OthersIncome != null && ViewBag.OthersIncomeCount != 0)
            {
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            Others Income
                        </div>
                        <div class="tools">

                        </div>
                    </div>

                    <table class="table table-striped table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>SL No </th>
                                <th>Head Name</th>
                                <th>Details</th>
                                <th>Amount</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.OthersIncome)
                            {
                                othersIncome += Convert.ToDecimal(@item.Amount);
                                <tr>
                                    <td>
                                        @{c++;}
                                        @c
                                    </td>
                                    <td>
                                        @item.tbl_others_income_head.Others_Income_Head_Name
                                    </td>
                                    <td>@item.Note</td>
                                    <td>
                                        @item.Amount
                                    </td>
                                    <td>
                                        @item.Created_Date.ToShortDateString()
                                    </td>
                                </tr>
                                            }
                            <tr style="background-color:#e7efec">
                                <td></td>
                                <td></td>
                                <td>Total</td>
                                <td>@othersIncome</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                                            }
        </div>


        <div class="col-md-6">
            @{ int m = 0; decimal salary = 0;}
            @if (ViewBag.SalaryExpense != null && ViewBag.SalaryExpenseCount != 0)
            {
                <div class="portlet box green-haze">
                    <div class="portlet-title">
                        <div class="caption">
                            Salary Expense
                        </div>
                        <div class="tools">

                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Sl No</th>
                                <th>Employee Name</th>
                                <th>Salary Paid</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.SalaryExpense)
                            {
                                salary += Convert.ToDecimal(@item.Credit);
                                <tr>
                                    <td>
                                        @{m++;}
                                        @m
                                    </td>
                                    <td>
                                        @item.tbl_emp_info.Emp_Name
                                    </td>
                                    <td>
                                        @item.Credit
                                    </td>
                                    <td>
                                        @item.Date
                                    </td>
                                </tr>
                                            }
                            <tr style="background-color:#e7efec">
                                <td></td>
                                <td>Total Expense</td>
                                <td>@salary</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                                            }

        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption">
                        Total Income
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-responsive">
                    @{decimal z, p, sumExp;
                        z = totalRoomIncome + y + bankIncome + othersIncome + cashBankIncome;
                        sumExp = exp + expense + salary + bankExp + cashBankExp;
                        p = z - sumExp; }

                    <tr style="background-color:#eed8d8">
                        <td>Total Income</td>
                        <td>@z</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption">
                        Total Expense
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-responsive">

                    <tr style="background-color:#eed8d8">
                        <td>Total Expense</td>
                        <td>@sumExp</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <h2 class="text-center"> Total Balance = @p</h2>
    </div>

</div>