﻿@model PMS_HT.Models.tbl_room_info


@using (Ajax.BeginForm("Create", "FrontDeskRoom", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { id = "roomAddForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        <div class="modal-body">
            <div class="form-group">
                @Html.LabelFor(model => model.Room_No, "Room No", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Room_No, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Room_No, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Roomtype_ID, "Room Category", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.DropDownList("Roomtype_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Roomtype_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Floor_ID, "Floor No", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.DropDownList("Floor_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Floor_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Room_view_ID, "Room View", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.DropDownList("Room_view_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Room_view_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Rate, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" hidden>
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" hidden>
                @Html.LabelFor(model => model.YsnActive, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.YsnActive)
                        @Html.ValidationMessageFor(model => model.YsnActive, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group" hidden>
                @Html.LabelFor(model => model.Created_Date, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Created_Date, new { htmlAttributes = new { @class = "form-control", @value = @DateTime.Now.ToString() } })
                    @Html.ValidationMessageFor(model => model.Created_Date, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
        <button type="submit" class="btn btn-success" name="cmd"><i class="fa fa-check"></i>&nbsp;Save</button>
    </div>
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    $.validator.addMethod("UniqueCheck", function (value, element, options) {
        var dt = "";
        console.log(value);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UniqueRoomCheck")',
            data: { str: value },
            success: function (data) {
                dt = data;
            },
            async:false
        });
        console.log(dt);
        if (dt == "unique") {
            return this.optional(element) || true;
        }
    }, "Custom message ");

    $('#roomAddForm').validate({
        rules: {
            Room_No: {
                required: true,
                UniqueCheck: [0,1]
            },
            Rate: {
                required: true,
                number: true
            }
        },
        messages: {
            Room_No: {
                required: "Please provide the Room No",
                UniqueCheck: "Already Exist"
            },
            Rate: {
                required: "provide Room Rate",
                number: "Only numeric characters are allowed"
            }
        }
    });
</script>
