﻿@model PMS_HT.Models.tbl_room_info

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_room_info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tbl_floor_setup.Floor_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_floor_setup.Floor_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_room_view_setup.View_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_room_view_setup.View_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_roomtype_setup.Roomtype_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_roomtype_setup.Roomtype_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YsnActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YsnActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
