﻿@model PMS_HT.Models.tbl_room_info

@using (Ajax.BeginForm("Edit", "FrontDeskRoom", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { id = "roomEditForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Room_ID)
        <div class="modal-body">
            <div class="form-group">
                @Html.LabelFor(model => model.Room_No,"Room No", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Room_No, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    @Html.ValidationMessageFor(model => model.Room_No, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Roomtype_ID, "Room Category", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.DropDownList("Roomtype_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Roomtype_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Floor_ID, "Floor No", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.DropDownList("Floor_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Floor_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Room_view_ID, "Room View", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.DropDownList("Room_view_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Room_view_ID, "", new { @class = "text-danger" })
                </div>
            </div>
            
            @if (User.IsInRole("Manager"))
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Rate, htmlAttributes: new {@class = "control-label col-md-3"})
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Rate, new {htmlAttributes = new {@class = "form-control", @readonly  = true,}})
                        @Html.ValidationMessageFor(model => model.Rate, "", new {@class = "text-danger"})
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Rate, htmlAttributes: new {@class = "control-label col-md-3"})
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Rate, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Rate, "", new {@class = "text-danger"})
                    </div>
                </div>
            }
            <div class="form-group" >
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.Status, new List<SelectListItem>
                    {
                        new SelectListItem {Text ="Available", Value="Clear" },
                        new SelectListItem {Text ="Dirty", Value="Dirty"},
                        new SelectListItem {Text ="Out Of Order", Value="OutOfOrder"},
                        new SelectListItem {Text ="House Use", Value="HouseUse"}
                    }, new { @class = "form-control", Value = Model.Status })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" hidden>
                @Html.LabelFor(model => model.YsnActive, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.YsnActive)
                        @Html.ValidationMessageFor(model => model.YsnActive, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group" hidden>
                @Html.LabelFor(model => model.Created_Date, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Created_Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Created_Date, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
        <button type="submit" class="btn btn-success" name="cmd"><i class="fa fa-check"></i>&nbsp;Save</button>
    </div>
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    $('#roomEditForm').validate({
        rules: {
            Room_No: "required"
        },
        messages: {
            Room_No: "Please provide the Room No."
        }
    });
</script>