﻿@model IEnumerable<PMS_HT.Models.tbl_room_info>

@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/AddViewModel.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        @if (User.IsInRole("Super Admin"))
                        {
                            <a href="@Url.Action("Create", "FrontDeskRoom")" id="Add" class="btn default"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New Room</a>
                        }
                        else
                        {
                            <span>Rooms</span>
                        }
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_2">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Room_No)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbl_floor_setup.Floor_No)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbl_roomtype_setup.Roomtype_Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tbl_room_view_setup.View_type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Rate)
                                </th>
                                <th></th>
                                @if (User.IsInRole("Super Admin"))
                                {
                                    <th></th>
                                    <th></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{i++;}
                                        @i
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Room_No)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbl_floor_setup.Floor_No)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbl_roomtype_setup.Roomtype_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbl_room_view_setup.View_type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Rate)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "FrontDeskRoom", new { id = item.Room_ID })" class="editDialog btn btn-success"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                                    </td>
                                    @if (User.IsInRole("Super Admin"))
                                    {
                                        <td>
                                            <a href="@Url.Action("Details", "FrontDeskRoom", new { id = item.Room_ID })"><i class="fa fa-pencil-square-o"></i>&nbsp;Details</a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Delete", "FrontDeskRoom", new { id = item.Room_ID })"><i class="fa fa-pencil-square-o"></i>&nbsp;Delete</a>
                                        </td>
                                    }
                                </tr>
                                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Room</h4>
            </div>
            <div class="divForAdd">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update Room</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var id = '@ViewBag.Title';
        $('#' + id).removeClass("btn-outline");
    });

    $('.editDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
            $('#Edit-Model').modal({
                backdrop: 'static',
            }, 'show');
        });
    });
    function toggler(listid) {
        $('#' + listid).toggle();
    }
</script>