﻿@model PMS_HT.Models.tbl_others_income_head

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>tbl_others_income_head</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Others_Income_Head_Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Others_Income_Head_Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Others_Income_Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Others_Income_Description)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Others_Income_Head_ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
