﻿@model IEnumerable<PMS_HT.Models.tbl_supplier>

@{
    ViewBag.Title = "Supplier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/AddViewModel.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <a href="@Url.Action("Add", "InventorySupplier")" id="Add" class="btn default"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New Supplier</a>
                        Supplier Information
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_2">
                        <thead>
                            <tr>
                                <th>SL No </th>
                                <th>Supplier Name</th>
                                <th>Address</th>
                                <th>Contact</th>
                                <th>Opening Balance</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{i++;}
                                        @i
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sup_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sup_Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sup_Phone_No)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Opening_Balance)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "InventorySupplier", new { id = item.Supplier_ID })" class="editDialog"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                                    </td>
                                    <td>
                                        @Ajax.ActionLink(" Delete", "Delete", "InventorySupplier", new { @id = item.Supplier_ID }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-record" }, new { onclick = "return confirm('Are you sure you wish to delete this Supplier?');", @class = "fa fa-trash-o" })
                                    </td>
                                </tr>
                                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Supplier</h4>
            </div>
            <div class="divForAdd">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update Supplier</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>

<script>
    $('.editDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
    });
</script>


@*@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sup_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sup_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sup_Phone_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opening_Balance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sup_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sup_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sup_Phone_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opening_Balance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Supplier_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Supplier_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Supplier_ID })
        </td>
    </tr>
}

</table>*@
