﻿<table class="table table-striped table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>SL No </th>
            <th>Memo No</th>
            <th>Purchase Expense</th>
            <th>Purchase Date</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @if (ViewBag.InventoryExpense != null)
        {
            foreach (var item in ViewBag.InventoryExpense)
            {
                <tr>
                    <td>
                        @{i++;}
                        @i
                    </td>
                    <td>
                        @item.Memo_No
                    </td>
                    <td>
                        @item.PurchaseExpense
                    </td>
                    <td>
                        @item.PurchaseDate
                    </td>
                </tr>
                                }
                            }
    </tbody>
</table>