﻿
@model IEnumerable<PMS_HT.Models.tbl_banquet_transactions>


@{
    ViewBag.Title = "Inventory Expense";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AddViewModel.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Inventory Expense
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">

                    @using (Html.BeginForm("Index", "AccountsInventoryExpense", FormMethod.Get))
                    {
                        <div class="form-group">
                            <label class="control-label col-md-2">Date Range</label>
                            <div class="col-md-4">
                                <div class="input-group input-large">
                                    <input type="text" id="dob" class="form-control" name="dob">
                                    <span class="input-group-addon"> to </span>
                                    <input type="text" id="date" class="form-control" name="date">
                                </div>
                            </div>
                            <div class="btn default col-md-1">
                                <input type="button" id="searchButton" value="Search" />
                            </div>
                        </div>

                    }

                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12" id="partialView">
                            @Html.Partial("DateRangeInventoryExpense")
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $("#dob").datepicker({
            dateFormat: 'dd/mm/yy',
        });
        $("#date").datepicker({
            dateFormat: 'dd/mm/yy',
        });
    });
    $("#searchButton").click(function () {
        var dobVal = $("#dob").val();
        var dateVal = $("#date").val();
        $.post('@Url.Action("DateRangeInventoryExpense")',
          { dob: dobVal, date: dateVal }, function (data) {
              $("#partialView").html(data);
          });
    });
</script>

