﻿@model PMS_HT.Models.tbl_item

@using (Ajax.BeginForm("Add", "InventoryItem", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { id = "itemAddForm" }))
{
    <div class="form-horizontal">
        <div class="modal-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Cata_ID, "Category", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Cata_ID", null, htmlAttributes: new { @class = "form-control", @onchange = "FillSubCategory()" })
                        @Html.ValidationMessageFor(model => model.Cata_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Subcata_ID, "Sub Category", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Subcata_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Subcata_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Brand_ID, "Brand ", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Brand_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Brand_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Unit_ID, "Unit", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Unit_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Unit_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Item_Name, "Item Name", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Item_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Item_Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                        @Html.LabelFor(model => model.Sales_Price, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Sales_Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Sales_Price, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                @*<div class="form-group">
                        @Html.LabelFor(model => model.Purchase_Price,"Purchase Price", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Purchase_Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Purchase_Price, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.Reorder_Level, "Reorder Lavel", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Reorder_Level, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Reorder_Level, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
        <button type="submit" class="btn btn-success" name="cmd"><i class="fa fa-check"></i>&nbsp;Save</button>
    </div>
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    function FillSubCategory() {
        var cata_id = $('#Cata_ID').val();
        $.ajax({
            url: '/InventoryItem/FillSubCategory',
            type: "GET",
            dataType: "JSON",
            data: { cata_id: cata_id },
            success: function (subcategories) {
                $("#Subcata_ID").html(""); // clear before appending new list
                $.each(subcategories, function (i, sub) {
                    $("#Subcata_ID").append(
                        $('<option></option>').val(sub.Subcata_ID).html(sub.Subcata_Name));
                });
            }
        });
    }

    $('#itemAddForm').validate({
        rules: {
            Reorder_Level: {
                number: true,
            },
            Item_Name: "required"
        },
        messages: {            
            Reorder_Level: {
                number: "Reorder Lavel must be a number"
            },
            Item_Name: "Please provide the Item Name."
        }
    });

</script>
