﻿@model IEnumerable<PMS_HT.Models.tbl_item>
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/AddViewModel.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <a href="@Url.Action("Add", "InventoryItem")" id="Add" class="btn default"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New Item</a>
                        Item
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_2">
                        <thead>
                            <tr>
                                <th>SL No </th>                            
                                <th>Category </th>
                                <th>SubCategory </th>
                                <th>Brand</th>
                                <th>Unit</th>
                                <th>Item</th>
                                @*<th>Sales Price</th>*@
                                @*<th>Purchase Price</th>*@
                                <th>Reorder Level</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{i++;}
                                        @i
                                    </td>
                                 
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbl_category.Cata_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbl_subcategory.Subcata_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbl_brand.Brand_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbl_unit.Unit_Name)
                                    </td>
                                    @{
                                        decimal remain_stock = Convert.ToDecimal(item.tbl_stock.Select(a => a.Stock_In).Sum() - item.tbl_stock.Select(a => a.Stock_Out).Sum());
                                        if (remain_stock > 0 && remain_stock <= item.Reorder_Level)
                                        {
                                            <td style="color:red;font-weight:700;">
                                                @item.Item_Name (@remain_stock)
                                            </td>
                                        }
                                        else if(remain_stock == 0)
                                        {
                                            <td>
                                                @item.Item_Name (@remain_stock)
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="color:green;font-weight:700;">
                                                @item.Item_Name (@remain_stock)
                                            </td>
                                        }
                                    }
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.Sales_Price)
                                    </td>*@
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.Purchase_Price)
                                    </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Reorder_Level)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "InventoryItem", new { id = item.Item_ID })" class="editDialog"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                                    </td>
                                    <td>
                                        @Ajax.ActionLink(" Delete", "Delete", "InventoryItem", new { @id = item.Item_ID }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-record" }, new { onclick = "return confirm('Are you sure you wish to delete this Item?');", @class = "fa fa-trash-o" })
                                    </td>
                                </tr>
                                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Item</h4>
            </div>
            <div class="divForAdd">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update Item</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>

<script>
    $('.editDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
    });
</script>