﻿@model IEnumerable<PMS_HT.Models.tbl_room_transactions>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Cash Collection from Room
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">

                    <b><span id="dateTimeField"></span></b>
                    @using (Html.BeginForm("Index", "FrontDeskCashCollection", FormMethod.Get))
                    {
                        <div class="form-group">
                            <label class="control-label col-md-2">Date Range</label>
                            <div class="col-md-4">
                                <div class="input-group input-large ">
                                    <input type="text" id="dob" class="form-control" autocomplete="off"  name="dob">
                                    <span class="input-group-addon"> to </span>
                                    <input type="text" id="date" class="form-control" autocomplete="off"  name="date">
                                </div>
                            </div>

                            <div class="btn default col-md-1">
                                <input type="button" id="searchButton" value="Search" />
                            </div>
                        </div>

                    }
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12" id="partialView">
                            @Html.Partial("ViewDateWiseCollection")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#dob").datepicker({
            dateFormat: 'dd/mm/yy',
        });
        $("#date").datepicker({
            dateFormat: 'dd/mm/yy',
        });
    });

    $("#searchButton").click(function () {
        $("#dateTimeField").text("Print Date : " + '@DateTime.Now.ToString("dd MMM , yyyy hh:mm tt")');
        var dobVal = $("#dob").val();
        var dateVal = $("#date").val();
        $.post('@Url.Action("ViewDateWiseCollection")',
          { dob: dobVal, date: dateVal }, function (data) {
              $("#partialView").html(data);
          });
    });

</script>
