﻿@using PMS_HT.Models
@{
    List<tbl_room_transactions> transactions = ViewBag.transactions;
}
<table class="table table-striped table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>SL No </th>
            <th>Room No</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        @{ int i = 0; decimal x = 0;}
        @if (ViewBag.transactions != null)
            {
                foreach (var item in transactions)
                {
                    x += Convert.ToDecimal(@item.Credit);
                    string rowstyle = "";
                    if (!item.Tran_Date.HasValue)
                    {
                        rowstyle = "font-weight: bold;";
                    }
                    <tr style="@rowstyle">
                        <td>
                            @{i++;}
                            @i
                        </td>
                        <td>
                            @item.tbl_room_info.Room_No
                        </td>
                        <td>
                            @item.Credit
                        </td>
                        <td>
                            @item.Tran_Date
                        </td>
                    </tr>
                                    }
                                }

        <tr style="background-color:#e7efec;font-weight: bold;">
            <td>
            <td>Total</td>
            <td>@x</td>
            <td></td>
        </tr>
    </tbody>
</table>
