﻿@model IEnumerable<PMS_HT.Models.tbl_banquet_info>
@{
    ViewBag.Title = "Banquet Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <a href="@Url.Action("Add", "BanquetInfo")" id="Add" class="btn default"><i class="glyphicon glyphicon-plus"></i>&nbsp;Create New</a> 
                       Banquet Information
                    </div>
                    <div class="tools">
                        
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_2">
                        <thead>
                            <tr>
                                <th>SL No </th>
                                <th>Banquet Name</th>
                                <th>Location</th>
                                <th>Capacity</th>
                                <th>Description</th>
                                <th>Rent</th>
                                @*<th>Tax ID</th>
                                <th>Status</th>*@
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int j = 0;}
                            @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @{j++;}
                        @j
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Banquet_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Capacity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rent)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Tax_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>*@
                        <td>
                            <a href="@Url.Action("Edit", "BanquetInfo", new { id = item.Banquet_ID })" class="editDialog"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                        </td>
                        <td>
                            @Ajax.ActionLink(" Delete", "Delete", "BanquetInfo", new { @id = item.Banquet_ID }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-record" }, new { onclick = "return confirm('Are you sure you wish to delete this Benquet Information?');", @class = "fa fa-trash-o" })
                        </td>
                    </tr>
                                }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

            <div class="modal fade" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">New Banquet</h4>
                        </div>
                        <div class="divForAdd">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Update Banquet</h4>
                        </div>
                        <div class="divForUpdate">
                        </div>
                    </div>
                </div>
            </div>

        
<script src="~/Scripts/AddViewModel.js"></script>   

<script>
    $('.editDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
    });
</script> 