﻿@model PMS_HT.Models.tbl_food_category

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_RestaurantAdmin.cshtml";
}

<h2>Add New Food Category</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Food_Cate_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Food_Cate_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Food_Cate_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Serial_No, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Serial_No, new { htmlAttributes = new { @class = "form-control",Value = ViewBag.Total, min = 1, max = ViewBag.Total } })
                @Html.ValidationMessageFor(model => model.Serial_No, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-secondary"><i class="material-icons">done</i>Create</button>
            <a href="@Url.Action("Index", "RestaurantFoodCategory")" class="waves-effect waves-light btn purple"><i class="material-icons left">arrow_back</i>Back</a>
        </div>
    </div>
}