﻿@model PMS_HT.Models.tbl_food_category

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_RestaurantAdmin.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Food_Cate_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food_Cate_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serial_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serial_No)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Food_Cate_ID)

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-secondary red"><i class="material-icons">delete</i>&nbsp;Delete</button>
            <a href="@Url.Action("Index", "RestaurantFoodCategory")" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Back</a>
        </div>
    }
</div>
