﻿@model PMS_HT.Models.tbl_food_category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_food_category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Food_Cate_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food_Cate_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serial_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serial_No)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Food_Cate_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
