﻿@model PMS_HT.Models.tbl_messages

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_messages</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.delivering_employee.Emp_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delivering_employee.Emp_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.receiving_employee.Emp_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receiving_employee.Emp_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_guest_stay_info.No_of_Nights)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_guest_stay_info.No_of_Nights)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senders_Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senders_Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receiving_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receiving_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delivery_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delivery_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Message_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
