﻿@model IEnumerable<PMS_HT.Models.tbl_messages>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.delivering_employee.Emp_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.receiving_employee.Emp_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_guest_stay_info.No_of_Nights)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Senders_Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Receiving_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delivery_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.delivering_employee.Emp_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.receiving_employee.Emp_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_guest_stay_info.No_of_Nights)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Senders_Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Receiving_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delivery_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Message_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Message_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Message_ID })
        </td>
    </tr>
}

</table>
