﻿@using PMS_HT.Models
@{ 
    List<tbl_messages> Messages = ViewBag.Messages;

}

<div class="form-horizontal">
    <div class="container-fluid">
        <div class="row form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="portlet-body tabs">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#tab_4_1" data-toggle="tab"><i class="fa fa-envelope"></i> Unread Messages </a>
                    </li>
                    <li>
                        <a href="#tab_4_2" data-toggle="tab"><i class="fa fa-envelope-o"></i> Delivered Messages </a>
                    </li>
                    <li>
                        <a href="#tab_4_3" data-toggle="tab"><i class="fa fa-edit"></i> New Message </a>
                    </li>                    
                </ul>
                <br />
                <div class="tab-content">


                    <div class="tab-pane active" id="tab_4_1">
                        <label><strong>Messages : </strong></label>
                        <table class="table">
                            <tr>
                                <th>Sl No</th>
                                <th>
                                    Message
                                </th>
                                <th>
                                    Sender
                                </th>
                                <th>
                                    Receiveing Time
                                </th>
                                <th>
                                    Received By
                                </th>
                                
                                <th>
                                    Status
                                </th>
                                <th></th>
                            </tr>
                            @{int i = 0; }
                            @foreach (var item in Messages.Where(m => m.Status == "Pending"))
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td>
                                        @item.Message
                                    </td>
                                    <td>
                                        @item.Senders_Details
                                    </td>
                                    <td>
                                        @item.Receiving_Time.Value
                                    </td>
                                    @if (item.receiving_employee != null)
                                    {
                                        <td>
                                            @item.receiving_employee.Emp_Name
                                        </td>
                                    }
                                    else
                                    {
                                        <td> </td>
                                    }                                                                
                                    <td>
                                        @item.Status
                                    </td>
                                    <td>
                                        <button type="button" id="@item.Message_ID" class="btn btn-danger deliverBtn" value="Deliver"><i class="fa fa-check"></i>Deliver</button>                                        
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>

                    <div class="tab-pane fade" id="tab_4_2">
                        <label><strong>Messages : </strong></label>
                        <table class="table">
                            <tr>
                                <th>Sl No</th>
                                <th>
                                    Message
                                </th>
                                <th>
                                    Sender
                                </th>
                                <th>
                                    Receiveing Time
                                </th>
                                <th>
                                    Received By
                                </th>
                                <th>
                                    Delivery Time
                                </th>
                                <th>
                                    Delivered By
                                </th>
                                <th>
                                    Status
                                </th>
                               
                            </tr>
                            @{i = 0; }
                            @foreach (var item in Messages.Where(m => m.Status == "Delivered"))
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td>
                                        @item.Message
                                    </td>
                                    <td>
                                        @item.Senders_Details
                                    </td>
                                    <td>
                                        @item.Receiving_Time
                                    </td>
                                    @if (item.receiving_employee != null)
                                    {
                                        <td>
                                            @item.receiving_employee.Emp_Name
                                        </td>
                                    }
                                    else
                                    {
                                        <td> </td>
                                    }  
                                    <td>
                                        @item.Delivery_Time
                                    </td>
                                    @if (item.delivering_employee != null)
                                    {
                                        <td>
                                            @item.delivering_employee.Emp_Name
                                        </td>
                                    }
                                    else
                                    {
                                        <td> </td>
                                    }
                                    <td style="color: green;">
                                        @item.Status
                                    </td>
                                    
                                </tr>
                            }

                        </table>
                    </div>

                    <div class="tab-pane fade" id="tab_4_3">
                        <label><strong>Add New : </strong></label>
                        @Html.Partial("Create")
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#roomNo").html('@ViewBag.RoomNo');
    });
    $('.deliverBtn').click(function () {
        var currow = $(this).closest('tr');
        var msgid = $(this).attr('id');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Swap")',
            data: { id: msgid },
            success: function (dt) {
                if (dt == "Changed") {
                    currow.find('td:eq(5)').text("Delivered");
                    currow.find('td:eq(6)').text("");
                }
                else {
                    alert(dt);
                }
            },
            error: function (error) {
                console.log(error);
            },
        });
    });
</script>
