﻿@model PMS_HT.Models.tbl_stock

<script src="~/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<script src="~/Scripts/DatePicker_.js"></script>

@using (Ajax.BeginForm("Add", "InventoryStock", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { id = "stockInForm" }))
{
    <div class="form-horizontal">
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row form-group">          
            <div class="form-group">
                <label class="control-label col-md-3">Category</label>
                <div class="col-md-8">
                    @Html.DropDownList("Cata_ID", null, htmlAttributes: new { @class = "form-control", @onchange = "FillItem()" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.Item_ID, "Item Name", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.DropDownList("Item_ID", null, htmlAttributes: new { @class = "form-control", @onchange = "ItemSelector()" })
                    @Html.ValidationMessageFor(model => model.Item_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Stock_Location_ID, "Stock Location", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.DropDownList("Stock_Location_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Stock_Location_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Stock_In,"Stock In Quantity", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Stock_In, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Stock_In, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    <label class="control-label" style="text-align:left;font-style:italic;color:crimson;font-weight:700;" id="unit">@ViewBag.unit</label>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.stock_change_date, "Stock In Date", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.stock_change_date, new { htmlAttributes = new { @class = "form-control datefield" } })
                    @Html.ValidationMessageFor(model => model.stock_change_date, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.note, "Note", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
        <button type="submit" class="btn btn-success" name="cmd"><i class="fa fa-arrow-left"></i>&nbsp;Stock In</button>
    </div>
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        $('.modal-title').html("Stock In");
    });

    function ItemSelector() {
        var item_id = $('#Item_ID').val();
        $("#unit").html("");
        $.ajax({
            url: '/InventoryItem/FillUnit',
            type: "GET",
            dataType: "JSON",
            data: { item_id: item_id },
            success: function (data) {
                $("#unit").html(data);
            }
        });
    }

    function FillItem() {
        var cata_id = $('#Cata_ID').val();
        $("#unit").html("");
        $.ajax({
            url: '/InventoryStock/FillItem',
            type: "GET",
            dataType: "JSON",
            data: { cata_id: cata_id },
            success: function (items) {
                $("#Item_ID").html(""); // clear before appending new list
                $.each(items, function (i, sub) {
                    $("#Item_ID").append(
                        $('<option></option>').val(sub.Item_ID).html(sub.Item_Name));
                });
                $.ajax({
                    url: '/InventoryItem/FillUnit',
                    type: "GET",
                    dataType: "JSON",
                    data: { item_id: items[0].Item_ID },
                    success: function (data) {
                        $("#unit").html(data);
                    }
                });
            }
        });
    }

    $('#stockInForm').validate({
        rules: {
            Stock_In: {
                number: true,
                required: true
            },
            Item_ID: {
                required: true
            },
            stock_change_date: "required"
        },
        messages: {
            Stock_In: {
                number: "Stock In Quantity must be a number",
                required: "Provide the Stock In quantity"
            },
            Item_ID: {
                required: "Select an item"
            },
            stock_change_date: "Please provide Stock In date."
        }
    });

</script>