﻿@using PMS_HT.Models

<div class="form-horizontal">
    <div class="modal-body">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Sl No</th>
                    <th>Item Name</th>
                    <th>Location</th>
                    <th>Remaining stock</th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 0; }
                @foreach (var item in ViewBag.location_data)
                {
                    var data = item;
                    if (data.Available_Stock > 0)
                    {
                        <tr>
                            <td>
                                @{i++;}
                                @i
                            </td>
                            <td>@item.Item_Name</td>
                            <td>@item.Stock_Location</td>
                            <td> @data.Available_Stock  @ViewBag.unit</td>
                        </tr>
                                        }

                                    }
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
</div>

