﻿@model PMS_HT.Models.tbl_stock

<script src="~/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<script src="~/Scripts/DatePicker_.js"></script>

@using (Ajax.BeginForm("MoveStock", "InventoryStock", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { id = "stockOutForm" }))
{
    <div class="form-horizontal">
        <div class="modal-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Item_ID, "Item Name", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Item_ID", null, htmlAttributes: new { @class = "form-control", @onchange = "ItemSelector()" })
                        @Html.ValidationMessageFor(model => model.Item_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Stock_Location_ID, "Select Location", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Stock_Location_ID", null, "--Select--", htmlAttributes: new { @class = "form-control", @onchange = "PullAvailableStock()" })
                        @Html.ValidationMessageFor(model => model.Stock_Location_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <input type="number" id="Stock_In" value=0 hidden />
                <div class="form-group">
                    @Html.LabelFor(model => model.stock_change_date, "Available Stock", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        <input type="text" id="available_stock" class="form-control" value="0" readonly />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label unit" style="text-align:left;font-style:italic;color:crimson;font-weight:700;" id="unit">@ViewBag.unit</label>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Stock_Out, "Moved Stock Amount", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Stock_Out, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @onchange = "toggler()", @onkeyup = "toggler()" } })
                        @Html.ValidationMessageFor(model => model.Stock_Out, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        <label class="control-label unit" style="text-align:left;font-style:italic;color:crimson;font-weight:700;" id="unit">@ViewBag.unit</label>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Stock_Location_ID, "Select Location", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Stock_Loc_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Stock_Location_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.stock_change_date, "Date", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.stock_change_date, new { htmlAttributes = new { @class = "form-control datefield" } })
                        @Html.ValidationMessageFor(model => model.stock_change_date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.note, "Note", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
        <button type="submit" id="submit" class="btn btn-success" name="cmd" disabled><i class="fa fa-arrow"></i>&nbsp;Move Stock</button>
    </div>
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        $('.modal-title').html("Move Stock");
    });

    function ItemSelector()
    {
        var item_id = $('#Item_ID').val();
        $(".unit").val("");
        $.ajax({
            url: '/InventoryItem/FillUnit',
            type: "GET",
            dataType: "JSON",
            data: { item_id: item_id },
            success: function (data) {
                $(".unit").html(data);
            }
        });
        $('#Stock_Location_ID').val("");
        $("#available_stock").val(0);
        $("#available_stock").val("");
        $("#Stock_Out").prop('readonly', true);
    }

    function PullAvailableStock()
    {
        var item_id = $('#Item_ID').val();
        var loc_id = $('#Stock_Location_ID').val();
        $("#available_stock").val(0);
        $("#Stock_Out").val("");
        $("#Stock_Out").prop('readonly', true);
        $.ajax({
            url: '/InventoryStock/PullAvailableStock',
            type: "GET",
            dataType: "JSON",
            data: { item_id: item_id,loc_id:loc_id },
            success: function (data) {
                $("#available_stock").val(data);
                if(data != 0)
                {
                    $("#Stock_Out").prop('readonly', false);
                }
            }
        });
    }
    function toggler()
    {
        $("#submit").prop('disabled', false);
        var available = Number($('#available_stock').val());
        var stockout = Number($('#Stock_Out').val());
        if(available >= stockout)
        {
            $("#submit").prop('disabled', false);
        }
        else {
            $("#submit").prop('disabled', true);
        }
    }
    $('#stockOutForm').validate({
        rules: {
            Stock_Out: {
                number: true,
                required:true
            },
            stock_change_date: "required"
        },
        messages: {
            Stock_Out: {
                number: "Stock Out amount must be a number",
                required: "Provide Stock Out amount"
            },
            stock_change_date: "Please provide Stock Out date."
        }
    });
</script>