﻿@model PMS_HT.Models.tbl_room_view_setup

@using (Ajax.BeginForm("Create", "FrontDeskRoomView", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { id = "roomViewAddForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        <div class="modal-body">
            <div class="form-group">
                @Html.LabelFor(model => model.View_type, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.View_type, new { htmlAttributes = new { @class = "form-control", @required= true } })
                    @Html.ValidationMessageFor(model => model.View_type, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.View_details, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.View_details, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.View_details, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" hidden>
                @Html.LabelFor(model => model.YsnActive, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.YsnActive)
                        @Html.ValidationMessageFor(model => model.YsnActive, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group" hidden>
                @Html.LabelFor(model => model.Created_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Created_Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Created_Date, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
        <button type="submit" class="btn btn-success" name="cmd"><i class="fa fa-check"></i>&nbsp;Add</button>
    </div>
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    $.validator.addMethod("UniqueCheck", function (value, element, options) {
        var dt = "";
        console.log(value);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UniqueRoomViewCheck")',
            data: { str: value },
            success: function (data) {
                dt = data;
            },
            async:false
        });
        console.log(dt);
        if (dt == "unique") {
            return this.optional(element) || true;
        }
    }, "Custom message ");

    $('#roomTypeAddForm').validate({
        rules: {
            View_type: {
                required: true,
                UniqueCheck: [0,1]
            }
        },
        messages: {
            View_type: {
                required: "Please provide the View Type",
                UniqueCheck: "Already Exist"
            }
        }
    });
</script>

