﻿@model PMS_HT.Models.tbl_room_view_setup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_room_view_setup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.View_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.View_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.View_details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.View_details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YsnActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YsnActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Room_view_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
