﻿@model IEnumerable<PMS_HT.Models.tbl_room_view_setup>
@{
    ViewBag.Title = "Rooms View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/AddViewModel.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <a href="@Url.Action("Create", "FrontDeskRoomView")" id="Add" class="btn default"><i class="glyphicon glyphicon-plus"></i>&nbsp;New Room View</a>
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_2">
                        <thead>
                            <tr>
                                <th>Serial No</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.View_type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.View_details)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Created_Date)
                                </th>
                                <th></th>
                                @if (User.IsInRole("Super Admin"))
                                {
                                    <th></th>
                                    <th></th>
                                }
                            </tr>
                        </thead>

                        <tbody>
                            @{ int i = 0;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{i++;}
                                        @i
                                    </td>
                                    <td onmouseout="toggler(@i)" onmouseover="toggler(@i)" onclick="toggler(@i)">
                                        @Html.DisplayFor(modelItem => item.View_type) - (@item.tbl_room_info.Count rooms)
                                        <ul id="@i" class="nav nav-list" hidden>
                                            @foreach (var rooms in item.tbl_room_info.OrderBy(r => r.Room_No))
                                            {
                                                <li style="padding-left: 1em;"><i class="fa fa-home"></i> @rooms.Room_No</li>
                                            }
                                        </ul>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.View_details)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Created_Date)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "FrontDeskRoomView", new { id = item.Room_view_ID })" class="editDialog btn btn-success"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                                    </td>
                                    @if (User.IsInRole("Super Admin"))
                                    {
                                        <td>
                                            <a href="@Url.Action("Details", "FrontDeskRoomView", new {id = item.Room_view_ID})"><i class="fa fa-pencil-square-o"></i>&nbsp;Details</a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Delete", "FrontDeskRoomView", new {id = item.Room_view_ID})"><i class="fa fa-pencil-square-o"></i>&nbsp;Delete</a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Room</h4>
            </div>
            <div class="divForAdd">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update Room</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var id = '@ViewBag.Title';
        $('#' + id).removeClass("btn-outline");
    });

    $('.editDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
    });
    function toggler(listid) {
        $('#' + listid).toggle();
    }
</script>


