﻿/* Global Clock Begin*/
@font-face{
    font-family:'digital-clock-font';
    src: url('/fonts/digital-7.ttf');
}

.clock-wrapper {
    display: table;
    height: 50px;
}
.clock-content {
    display: table-cell; 
    height: 50px; 
    padding: 0px 4px; 
    vertical-align: middle;
    font-size: 25px;
    font-family: digital-clock-font;
    font-weight: 800;
}
/* Global Clock end*/

label.error {
    color: red;
    font-style: italic;
}

.span-subscription {
    position: fixed;
    left: 0px;
    bottom: 10px;
    opacity: 1;
    background: #ff0000;
    padding: 15px 20px;
    color: #fff;
    border-radius: 0px 10px 10px 0px;
    animation:fade-in 2s ;
    animation-iteration-count: infinite;
}

@keyframes fade-in{
    to{opacity:1;}
    from{opacity:0;} 
}

/*START CHECK-IN FORM STYLE*/
#guestAddForm .form-group 
{
    margin-bottom:5px;
}

.asterisk {
    color:red;
    font-weight:bold;
    font-size:larger;
}
#guestAddForm #Image {
    margin-top:5px;
}
#editReservationForm #Image {
    margin-top:5px;
}

.photo-frame {
    border: 4px solid #2F353B;
    padding: 5px;
    border-radius : 6px;
    text-align:center;
}
/*END CHECK-IN FORM STYLE*/

/*START FrontDeskGuestEdit FORM STYLE*/
#EditCheckInForm .form-group 
{
    margin-bottom:5px;
}
/*END FrontDeskGuestEdit FORM STYLE*/

/*START FrontDeskGuestReservation FORM STYLE*/
#editReservationForm .form-group 
{
    margin-bottom:5px;
}
/*END FrontDeskGuestReservation FORM STYLE*/

/*START CheckOut FORM STYLE*/
#CheckOutForm .form-group 
{
    margin-bottom:5px;
}
/*END CheckOut FORM STYLE*/

/*START SWITCHER STYLE*/

.switcher-section
{
	background: #353535;
    color: #fff;
    position: fixed;
    top: 10%;
    transition: all 0.5s ease 0s;
    width: 233px;
    z-index: 99999;
    left:-234px;
}

.switcher-section .switcher 
{
	color: #333;
    cursor: pointer;
    font-size: 22px;
    height: 40px;
    line-height: 38px;
    margin: -20px 0 0;
    position: absolute;
    right: -43px;
    text-align: center;
    top: 50%;
    transition: all 0.2s linear 0s;
    width: 43px;
    background: #002e5b ;
}
.switcher-section .switcher i 
{
	color:#fff;
    font-size:20px;
    
}
.switcher-section .switcher-wrapper 
{
	height: 100%;
    overflow-y: auto;
    padding: 30px;
    transition: all 0.5s ease 0s;
} 
.switcher-section .switcher-wrapper ul,
.switcher-section .switcher-wrapper li,
.switcher-section .switcher-wrapper li i
{
	padding:0px;
	margin:0px;
	list-style-type: none;
}
.switcher-section .switcher-wrapper li
{
	padding:5px 0px;
	font-family: "Open Sans" ,sans-serif; 
	text-transform: capitalize;
	color:#909090;
	cursor: pointer;
	transition: all 0.5s ease 0s;

}
.switcher-section .switcher-wrapper li:hover
{
	color:#fff;
}
.switcher-section .switcher-wrapper li i
{
	padding-right: 5px;
}
.switcher-open 
{
	left:0px;
}

/*END SWITCHER STYLE*/


/*START AJAZ ONLOAD MODAL STYLE*/
.nnn {
    position: fixed;
    top: 0px;
}

.loading-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 0, 0, 0, .7 ) 50% 50% no-repeat;
    background-image: url('/images/ajax-loader.gif');
}

body.loading .loading-modal {
    overflow: hidden;
}

body.loading .loading-modal {
    display: block;
}

/*END AJAZ ONLOAD MODAL STYLE*/