﻿@font-face {
    font-family: OpenSans-Bold;
    src: url('../fonts/OpenSans-Bold.woff');
    src: url('../fonts/OpenSans-Bold.eot') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg'), url('../fonts/OpenSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/OpenSans-Regular.woff');
    src: url('../fonts/OpenSans-Regular.eot') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg'), url('../fonts/OpenSans-Regular.otf') format('opentype');
}

body {
    font-family: OpenSans-Regular;
    margin: 0px;
    padding: 0px;
}

/*END FONTS*/

/*START TYPHOGRAPHY*/
a {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}

ul,
li {
    padding: 0;
    margin: 0;
}

.icon-padding {
    padding-right: 5px;
}

.btn-common {
    background: #00a651;
    font-size: 12px;
    font-family: OpenSans-Regular;
    text-transform: uppercase;
    border: 0;
    transition: all 0.3s ease-in 0s ease-out;
    border-radius: 2px;
}

.btn-common:hover {
    background: #ff6f1a;
    color: #fff;
}

.btn-circle-green,
.btn-circle-red {
    background: #00a651 none repeat scroll 0 0;
    border-radius: 50%;
    height: 36px;
    color: #fff;
    transition: all 0.5s ease-in 0s ease-out;
}

.btn-circle-red {
    background: #ef4836;
}

.btn-circle-green:hover,
.btn-circle-red:hover {
    background: #ff6f1a;
    color: #fff;
}

.btn-circle-red:hover {
    background: #d70707;
}

.page-title h4 {
    padding: 10px 0px;
}

.page-title .breadcrumb {
    margin: 10px 0px;
    background: transparent;
}

.page-title .breadcrumb li a {
    color: #00a651;
}

.bg-warning {
    background-color: #f1c40f !important;
    color: #fff;
}
.bg-primary {
    background-color: #0073aa !important;
    color: #fff;
}
.bg-danger {
    background-color: #e74c3c !important;
    color: #fff;
}
.bg-success {
    background-color: #2ecc71 !important;
    color: #fff;
}
.c-primary 
{
  color: #0073aa !important;
}
.c-success 
{
   color: #2ecc71 !important;
}
.c-warning 
{
   color: #f1c40f !important;
}
.c-danger 
{
    color:#e74c3c !important ;
}

.card 
{
    border-radius: 2px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    background-clip: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    word-wrap: break-word;
    overflow: hidden;
}

.card-block {
    padding: 1.25rem;
}
.card-block h4 
{
    font-family:'OpenSans-Bold' ;
    font-weight:700;
    text-transform:uppercase ;
}
.card-block h3 
{
    font-family:'OpenSans-Bold' ;
    font-weight:700;
    color:#00a651;
}
.card-block .card-icon{
    border-radius: 50%;
    color: #fff;
    font-size: 23px;
    padding: 40px 40px 20px 20px;
    position: absolute;
    right: -30px;
    top: -30px;
    transition: all 0.3s ease-in-out 0s;
    background: #0073aa ;
    cursor: pointer ;
}
.card-icon:hover
{
    font-size:40px;
}
/*END TYPHOGRAPHY*/


/*START HEADER*/
header {
    background: #00a651;
    padding: 10px 0px;
}

header .logo a {
    font-family: OpenSans-Bold, sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding-top: 5px;
    transition: all 0.3s ease-in-out 0s;
}

header .logo a small {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 12px;
}

header .logo a:hover {
    color: #FFF;
    opacity: 0.7;
}

header .header-menu .navbar-nav li {
    padding: 0px;
    margin: 0px;
}

header .header-right .navbar-right li a,
header .header-menu .navbar-nav li a {
    font-family: OpenSans-Regular, sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 5px 15px 5px 10px;
    margin: 10px 5px;
    display: inline-block;
    transition: all 0.3s ease-in-out 0s;
}

header .header-menu .navbar-nav a:active,
header .header-menu .navbar-nav a:checked,
header .header-menu .navbar-nav a:focus,
header .header-menu .navbar-nav a:hover,
header .header-menu .navbar-nav a:visited {
    background: #ff6f1a;
    color: #fff;
}

header .header-search {
    position: relative;
    margin-left: 5px;
}

header .header-search .form-group i {
    position: absolute;
    z-index: 100;
    color: #00a651;
    font-size: 15px;
    padding: 8px 20px;
}

header .header-search input[type="text"] {
    border: 0 none;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    height: 30px;
    margin-left: 10px;
    padding-left: 30px;
}

header .header-right .navbar-right li a:hover,
header .header-right .navbar-right li a:active,
header .header-right .navbar-right li a:checked,
header .header-right .navbar-right li a:focus,
header .header-right .navbar-right li a:hover,
header .header-right .navbar-right li a:visited {
    background: transparent;
    color: #fff;
}
/*END HEADER*/

header .header-right .navbar-right .dropdown-menu::before
{
    content:'' ;
    position:absolute ;
    top: -8px;
    right: 9px;
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #efefef;
    border-left: 8px solid transparent;
} 
header .header-right .navbar-right .dropdown-menu li a
{
    color:#2d2d2d;
}
header .header-right .navbar-right .dropdown-menu li a i 
{
    padding-right: 5px;
}

/*START MENU*/
menu {
    background: #2d2d2d;
    margin: 0px;
    padding: 0px;
    position: relative;
}

menu nav.navbar {
    background: #2d2d2d;
    border: 0px;
    border-radius: 0px;
    border: none;
    margin: 0px;
}

menu .navbar .navbar-collapse {
    padding-left: 0px;
}

menu .navbar-default .navbar-nav li i {
    padding: 8px 12px;
    margin: 0 auto;
    display: table;
    background: #00a651;
    margin-bottom: 5px;
    border: none;
}

menu .navbar-default .navbar-nav li a {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 11px 8px 10px 5px;
    margin: 0px 15px;
}

menu .navbar-default .navbar-nav li a:hover {
    color: #fff;
}

.navbar-sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 200;
    left: 0;
    transition: all 0.3s ease-in-out 0s;
    animation: fadeItIn 3s;
}

@keyframes fadeItIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
menu .navbar-header .navbar-brand {
    display: none;
}
/*END MENU*/


/*START MAIN SECTION*/
main {
    background: #eaeceb;
    padding: 20px 0px;
}


/*START RESTURENT TABLE*/

.res-table-container {
    display: flex;
    flex-wrap: wrap;
}

.table-content {
    flex: 1;
    position: relative;
    margin: 5px 5px 5px 0px;
}

.table-square,
.table-circle {
    height: 120px;
    -moz-background: linear-gradient(to left, #24a838, #37be55);
    -webkit-background: linear-gradient(to left, #24a838, #37be55);
    -o-background: linear-gradient(to left, #24a838, #37be55);
    background: linear-gradient(to left, #24a838, #37be55);
    -moz-box-shadow: 0px 2px 3px #888;
    -webkit-box-shadow: 0px 2px 3px #888;
    -o-box-shadow: 0px 2px 3px #888;
    box-shadow: 0px 2px 3px #888;
    width: 220px;
    border: 5px solid #29ae41;
}

.table-circle {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 5px solid #fff;
}

.DTableOrdered {
    background: linear-gradient(to left, #ef4836, #d70707);
    border: 5px solid #d70707;
}

.DTableServed {
    background: linear-gradient(to left, #f76122, #f47742);
    border: 5px solid #f47742;
}

.table-title {
    background: #fff;
    padding: 10px 0px 10px 0px;
    width: 50%;
    text-align: center;
    border-radius: 50px;
    color: #37be55;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    -moz-box-shadow: 0px 2px 3px #888;
    -webkit-box-shadow: 0px 2px 3px #888;
    -o-box-shadow: 0px 2px 3px #888;
    box-shadow: 0px 2px 3px #888;
    position: absolute;
    z-index: 103;
    left: 40px;
    bottom: 0px;
}
/*END RESTURENT TABLE*/


/*START HOME PAGE ORDER TABLE*/
.hompage-order-table {
    padding-top: 20px;
    height: 500px;
    overflow-y: scroll;
}

.hompage-order-table thead tr:nth-child(1) th,
.item-table .dataTables_filter,
.item-selected-table thead tr:nth-child(1) th {
    font-size: 15px;
    font-family: OpenSans-Regular, sans-serif;
    background: #00a651;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

#style-1::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0px 5px;
}

#style-1::-webkit-scrollbar-thumb {
    background-color: #00a651;
    border-radius: 5px;
}
/*END HOMPAGE ORDER TABLE*/

/*END MAIN SECTION*/
    

/*START SUB PAGE ITEM TABLE*/

.item-table .food-table {
    margin-top: 0px !important;
}

.item-table .dataTables_filter {
    padding: 5px 5px 0px 0px;
    display: flex;
    justify-content: center;
    width:100%;
}

.item-table .dataTables_filter .form-control {
    border: 0px;
    box-shadow: 0px;
    border-radius: 0px;
    border-radius: 5px;
    padding-left: 30px;
}

.item-table .dataTables_filter h4 {
    margin: 0 auto;
    display: table;
    position: relative;
    left: 10%;
    margin-top: 5px;
}

.item-table .dataTables_filter label {
    position: relative;
}

.item-table .dataTables_filter label i {
    color: #00a651;
    left: 15px;
    position: absolute;
    top: 8px;
}

.item-table .dataTables_wrapper {
    display: inline-block;
}
.item-table .table-responsive
{
    overflow-x:inherit ;
    overflow-y:scroll;
    height:500px;
}

.item-table .table-responsive::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0px 5px;
}

.item-table .table-responsive::-webkit-scrollbar-thumb {
    background-color: #00a651;
    border-radius: 5px;
}

/*END SUB PAGE ITEM TABLE*/

/*START FOOTER SECTION*/

footer {
    padding: 5px 0px;
    background: #00a651;
}

.footer-copyright {
    padding: 10px 0px;
    background: #00a651;
    font-family: OpenSans-Regular;
    font-weight: 500;
    color: #fff;
}


/*END FOOTER SECTION*/


/*START RESPONSIVE SECTION*/

@media (max-width: 320px) {}

@media (max-width: 480px) {
    .table-content .table-title {
        width: 50%;
        left: 30px;
    }
    .page-title .breadcrumb {
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .page-title h4
    {
        padding-top:0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}

@media (max-width: 575px) {}

@media (max-width: 767px) {
    .header-menu .navbar-nav {
        display: inline-flex;
    }
    .header-right {
        margin: 0 auto;
        display: table;
    }
    header .header-search .form-group i {
        padding: 8px 10px;
    }
    header .header-search input[type="text"],
    header .header-search i {
        bottom: 0;
    }
    header .header-search input[type="text"] {
        margin-left: 0;
    }
    menu .navbar-default .navbar-nav li {
        border-bottom: 1px solid #fff;
    }
    menu .navbar-default .navbar-nav li a,
    menu .navbar-default .navbar-nav li i {
        display: inline-block;
    }
    menu .navbar-default .navbar-nav li a {
        margin: 0 15px;
    }
    menu .navbar-default .navbar-nav li i {
        margin-right: 10px;
    }
    menu .navbar-header .navbar-brand {
        display: inline;
        color: #fff;
        font-family: OpenSans-Bold, sans-serif;
        text-transform: uppercase;
        font-weight: 600;
    }
    footer .footer-copyright {
        text-align: center;
    }
}

@media (max-width: 991px) {
    .logo {
        margin: 0 auto;
        display: table;
    }
    .table-square {
        width: 150px;
        height: 90px;
    }
    .table-circle {
        height: 120px;
        width: 120px;
    }
    .table-content {
        flex: 0 0 calc(30% - 10px);
        margin: 10px;
    }
    .table-title {
        width: 40%;
        border-radius: 5px;
        padding: 5px 0px 5px 0px;
        left: 20px;
    }
}

@media (max-width: 1199px) {
    header .logo a {
        font-size: 16px;
        margin-top: 10px;
    }
}


/*END RESPONSIVE SECTION*/
