﻿
/*START FONTS*/

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.eot'); 
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular.woff2') format('woff2'), 
         url('../fonts/OpenSans-Regular.woff') format('woff'), 
         url('../fonts/OpenSans-Regular.ttf')  format('truetype'), 
         url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg'); 
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.eot'); 
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/OpenSans-Bold.woff2') format('woff2'), 
         url('../fonts/OpenSans-Bold.woff') format('woff'), 
         url('../fonts/OpenSans-Bold.ttf')  format('truetype'), 
         url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
}

/*END FONTS*/

/*START TYPHOGRAPHY*/
body
{
    background:#E9E9E9 ;
    font-family: 'OpenSans-Regular' , sans-serif;
    font-size:14px;
    color:#222;
}
ul, li 
{
    list-style-type: none;
    padding:0px;
    margin:0px;
}
a,a:focus , a:hover 
{
    text-decoration: none;
    color:#222;
}
h3 
{
    font-size:28px;
    color:#21253F;
    font-weight: 600 ;
}

.bg-warning {
    background-color: #f1c40f !important;
    color: #fff;
}
.bg-primary {
    background-color: #0073aa !important;
    color: #fff;
}
.bg-success {
    background-color: #2ecc71 !important;
    color: #fff;
}

.card-default
{
    border-color: rgba(0, 115, 170, 0.5) -moz-use-text-color -moz-use-text-color;
    border-color: rgba(0, 115, 170, 0.5) ;
    border-radius: 2px;
    border-style: solid none none;
    border-width: 4px medium medium;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}
.card 
{
    border-radius: 2px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    background-clip: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    word-wrap: break-word;
    overflow: hidden;
}
.card .card-header {
    background-color: transparent;
    padding: 15px 20px 0px;
   
}
.page-header
{
    border:0px;
}
.card-default .card-header
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card .card-header .card-header-right {
    background: #f6f7f7 none repeat scroll 0 0;
    border-radius: 0 0 0 5px;
    display: inline-block;
    float: right;
    padding: 7px 0;
    position: absolute;
    right: 0;
    top: 0;
}
.card .card-header .card-header-right i {
    margin: 0 10px;
    cursor: pointer;
    color:#212529;
}


.card-block {
    padding: 1.25rem;
}

.card-block .card-icon{
    border-radius: 50%;
    color: #fff;
    font-size: 23px;
    padding: 40px 40px 20px 20px;
    position: absolute;
    right: -30px;
    top: -30px;
    transition: all 0.3s ease-in-out 0s;
    background: #0073aa ;
    cursor: pointer ;
}
.card-icon:hover
{
    font-size:50px;
}
.card h5 {
    color: #757575;
    display: inline-block;
    font-size: 16px;
    /* font-weight: 600; */
    margin-bottom: 0;
    margin-right: 10px;
    text-transform: uppercase;
    font-family: 'OpenSans-Bold';
}
.card h3 
{
    margin:0px;
}
.card-header-left  p 
{
    padding:10px 0px;
}
.reset-table tr td .btn {
    padding: 6px 19px;
}
.btn-round {
    border-radius: 2rem;
}
/*END TYPHOGRAPHY*/

/*START HEADER*/

header .navbar 
{
    padding:0px;
    margin:0px;
    border:0px;
    border-radius: 0px;
    background: #fff;
}
header .logo
{
    width: 235px;
    position: absolute ;
    left:0px;
    padding:9px;
    background: #f6f6f6 ;
}
header .logo  img
{
    float:left;
    margin:0px;
    padding:0px;
}
header .toggle-btn 
{
    margin-left:230px;
    margin-top:18px;
    display: block ;
    cursor: pointer;
}
header .toggle-btn button 
{
    border:0px;
    background: transparent ;
}
header .toggle-btn button i 
{
    font-size:18px;
    color:#000;
}
header .header-form .header-search
{
    border-radius:0px;
    box-shadow: none;
    margin-top:10px;
} 
header .header-form .header-search-button
{
    position: absolute ;
    top:15px;
    right: 20px;
    background: transparent ;
    border:0px;
}
header .nav-right
{
    float:right;
    margin-bottom: 0px;
}
.header-notification,
.header-message,
.header-user-profile
{
    float: left;
    line-height: 4em;
    padding: 0 20px;
    position: relative;
}
.header-notification ul,
.header-message ul,
.header-user-profile ul 
{
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 1px 2px rgba(56, 45, 45, 0.03), 0 -2px 1px -2px rgba(0, 0, 0, 0.02), 0 0 0 -1px rgba(0, 0, 0, 0.03);
    opacity: 0;
    position: absolute;
    right: 0;
    transform: translateY(30px);
    transition: all 0.3s linear 0s;
    visibility: hidden;
    width:272px;
}
.header-notification img,
.header-message img,
.header-user-profile img 
{
    float:left;
    width: 40px;
    margin-right: 10px;
    margin-top:8px;
} 

.header-notification .badge,
.header-message .badge
{
    background:  #e74c3c; 
    border-radius: 100px;
    left: 30px;
    position: absolute;
    top: 10px;
}

.header-notification ul li,
.header-message ul li,
.header-user-profile ul li 
{
    width:100%;
    padding:0px;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
    cursor: pointer ;
    line-height: 2.7em;
    color:#666 ;    
}
.header-notification ul li:hover,
.header-message ul li:hover,
.header-user-profile ul li:hover
{
    background:#f1f1f1 ;
} 


.header-notification ul li a,
.header-message ul li a,
.header-user-profile ul li a
{
    padding:0px 20px;
    color: #666;
    transition: all 0.3s ease-in-out 0s;
} 
.header-notification ul li a:hover,
.header-message ul li a:hover,
.header-user-profile ul li a:hover
{
    color:#377cb4 ;
}
.header-notification:hover ul,
.header-message:hover ul,
.header-user-profile:hover ul 
{
    transform: translateY(0px);
    opacity: 1 ;
    visibility: visible ;
}
.show-header-notification h6 ,
.show-header-message h6 
{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;
    padding:0px 20px;
    letter-spacing: 1px;
}
.show-header-notification label ,
.show-header-message label 
{
    border-radius: 4px;
    color: #fff ;
    font-size: 75%;
    font-weight: 700;
    margin-right: 5px;
    padding: 4px 7px;
    background-color: #e74c3c;
    line-height: 1;
    margin-bottom: 0;
    text-transform: capitalize;
    display: inline-block ;
    margin-top:10px;
    float:right;
}
.show-header-user-profile i
{
    padding-right: 10px;
}


.header-notification .show-header-notification,
.header-message .show-header-message
{
    width: 384px;
}
.show-header-message .header-msg-user,
.show-header-notification .notification-user
{
    font-size:15px;
    font-weight: bold ;
    color:#212529 ;
}
.show-header-message img ,
.show-header-notification img 
{
    display: flex;
    vertical-align: middle ;
    align-self: center ;
    line-height: initial ;
    margin-top:10px;
}
.show-header-message .header-msg,
.show-header-notification .notification-msg
{
    margin-bottom:5px;
    font-size:12px;
    line-height: initial ;
    color:#212529 ;
}
.show-header-message  .media , 
.show-header-notification .media 
{
    padding:0px 10px;
}
.show-header-notification .notification-time
{
    line-height: initial ;
    font-size:12px;
    color:#212529 ;
}
/*END HEADER*/

/*START MAIN*/
main 
{
    position: relative;
    background: #e9e9e9 ;
    display: block;
    min-height: calc(100vh - 56px);
    margin-top:56px;
}
.sidebar
{
    width:235px;
    background:#23282D;
    overflow: hidden;
    position: fixed;
    height: 100%;
    left:0px;
    z-index: 101 ;
    float:left;
    display: block;
}

.sidebar ul li 
{
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.3s ease-in ;
}
.sidebar ul li a 
{
    display: block;
    font-size: 14px;    
    padding: 10px 15px;
    position: relative;
    text-decoration: none;
    color:#fff;
}
.sidebar ul li .scaret
{
    background: transparent none repeat scroll 0 0;
    border-bottom: 10px solid transparent;
    border-right: 8px solid #e9e9e9;
    border-top: 10px solid transparent;
    display: block;
    float: right;
    height: 0;
    position: absolute;
    right: 0;
    top: calc(50% - 10px);
    width: 0;
}
.sidebar ul li.active 
{
    background: #0073aa ;
}
.sidebar ul li:hover
{
    background: #39424a ;
}

.sidebar ul li a i 
{
    font-size: 15px;
    padding-right: 10px;
}
.sidebar .sidebar-submenu
{
    background: #333A41 ;
    display: none;
}
.sidebar .sidebar-submenu li:hover 
{
    background:#39424a;
}
.sidebar .sidebar-submenu li a 
{
    padding-left:30px;  
}
.collapse-sidebar
{
    width:50px;
}
.collapse-sidebar .sidebar-submenu
{
    position: fixed;
    width: 190px;
    left: 50px;
    right: 0px;
    top: 136px;  
    transition: all 0.5s ease ;
}
.collapse-sidebar .sidebar-menu-btn
{
    transition: all 0.5s ease ;
}
/* .collapse-sidebar .sidebar-menu-btn:hover .sidebar-submenu
{
    display: inline-block ;
} */
.collapse-main .content-wrapper
{
    margin-left:50px;
}
.content-wrapper
{
    margin-left:235px;
    float:unset;
    right:0;
    display: block;
    position: relative ;
}

.content-inner
{
    padding:10px;
}

.main-body .page-wrapper {
    padding: 30px;
    transition: all 0.3s ease-in 0s;
}

.main-body .page-wrapper .page-header {
    margin:0px;
    padding:0px;
    margin-bottom: 10px;
    color:#085897 ;
}
.page-header .breadcrumb 
{
    background: transparent ;
    
}
.page-header .breadcrumb a 
{
    color:#085897 ;
    font-size:14px;
    text-transform: capitalize ;
    font-family:'OpenSans-Regular';
}
/*END MAIN*/


