﻿@model PMS_HT.Models.tbl_banquet_booking
<script src="~/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
@using (Ajax.BeginForm("Edit", "BanquetBooking", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }))
{
    @Html.HiddenFor(m => m.Banq_Booking_ID)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <div class="modal-body">
            <div class="form-group" style="text-align:center;">
                <div id="target" class="col-md-10" style="margin:0 auto; float:none; font-size:large; color:red"></div>
                <div id="log" class="col-md-8">
                </div>
            </div>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row form-group">
                @*<div class="form-group">
                    @Html.Label("Program Id", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Program_ID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Program_ID, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                <div class="form-group">
                    <div class="control-label col-md-3">Start Date</div>
                    <div class="col-md-7 date form_datetime">

                        @Html.EditorFor(model => model.Start_Date, new { htmlAttributes = new { @class = "form-control" , onchange = "checkPreviousBooking()" } })
                        <button class="btn default date-set" type="button" style="display:none">
                            <i class="fa fa-calendar"></i>
                        </button>                     
                        @Html.ValidationMessageFor(model => model.Start_Date, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-3">End Date</div>
                    <div class="col-md-7 date form_datetime">

                        @Html.EditorFor(model => model.End_Date, new { htmlAttributes = new { @class = "form-control", onchange = "checkPreviousBooking()" } })
                        <button class="btn default date-set" type="button" style="display:none">
                            <i class="fa fa-calendar"></i>
                        </button>

                        @Html.ValidationMessageFor(model => model.End_Date, "", new { @class = "text-danger" })

                    </div>

                </div>

                <div class="form-group">
                    @Html.Label("Program Purpose", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("P_Purpose_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.P_Purpose_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Amount", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        <input type="text" name="Rent" class="form-control" value="@ViewBag.rent">

                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Particular", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        <input type="text" name="Particular" class="form-control" value="@ViewBag.particular">

                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
            <button type="submit" class="btn btn-success" id="submit" name="cmd"><i class="fa fa-check"></i>&nbsp;Save Changes</button>
        </div>
    </div>
}

<script>

   function checkPreviousBooking()
    {
        $("#log").ajaxError(function (event, jqxhr, settings, exception) {
            alert(exception);
        });

        var Start_Date = document.getElementById('Start_Date').value;       
        var End_Date = document.getElementById('End_Date').value;

               $.post('@Url.Action("ErrorMessageAdd")',
              { Start_Date: Start_Date, End_Date: End_Date }, function (data) {
                      $("#target").html(data);

                  if (data != "")
                  {
                      document.getElementById('submit').setAttribute("disabled", true);
                  }
                  if (data == "") {
                      $("#target").html(null);
                      document.getElementById('submit').removeAttribute("disabled");
                  }
              });
    }
</script>
