﻿@model IEnumerable<PMS_HT.Models.tbl_banquet_booking>


@{
    ViewBag.Title = "Banquet Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AddViewModel.js"></script>

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <a href="@Url.Action("Add", "BanquetBooking" , new {id = ViewBag.Program_ID })" id="Add" class="btn default"><i class="glyphicon glyphicon-plus"></i>&nbsp;Create New</a>

                        Banquet Booking
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_2">
                        <thead>
                            <tr>
                                <th>SL No </th>
                                <th>Booking Purpose</th>

                                <th>Start Date</th>
                                <th>End Date</th>
                                <td>Rent</td>
                                <td>Particular</td>
                                <th>Payment</th>
                                <th>Amenities</th>
                                <th>Transaction Details</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0;}
                        
                                @foreach (var item in ViewBag.Booking)
                                {
                                <tr>
                                    <td>
                                        @{i++;}
                                        @i
                                    </td>
                                    <td>
                                        @item.Purpose_Name
                                    </td>

                                    <td>
                                        @item.Start_Date
                                    </td>
                                    <td>
                                        @item.End_Date
                                    </td>

                                    <td>
                                        @item.Debit
                                    </td>
                                    <td>
                                        @item.Particulars
                                        
                                    </td>


                                    @*<td>
                                        @{
                                            if (item.Status == "Vacant")
                                            {
                                                @ViewBag.status2

                                            }
                                            else
                                            {
                                                @ViewBag.status
                                            }
                                        }
                                    </td>
                                    <td>
                                        <input type="checkbox" name="done" value="@item.Banquet_ID" id="checkboxes" />
                                    </td>*@ 


                                    <td>
                                        <a href="@Url.Action("Index", "BanquetTransaction", new { id = item.Program_ID, id1 = item.Banq_Booking_ID })" class="btn btn-success">
                                            Payment
                                        </a>
                                    </td>

                                    <td>
                                        <a href="@Url.Action("Index", "BanquetAmenitiesCost", new { id = item.Program_ID, id1 = item.Banq_Booking_ID })" class="btn btn-success">
                                            Amenities
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Index", "BanquetTransactionDetails", new { id = item.Program_ID, id1 = item.Banq_Booking_ID })" class="btn btn-success">
                                            Transaction Details
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "BanquetBooking", new { id = item.Banq_Booking_ID , id1 = item.Banq_Booking_ID })"  class="editDialog"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                                    </td>
                                    <td>
                                        @Ajax.ActionLink(" Delete", "Delete", "BanquetBooking", new { @id = item.Banq_Booking_ID }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-record" }, new { onclick = "return confirm('Are you sure you wish to delete this Benquet Booking?');", @class = "fa fa-trash-o" })
                                    </td>
                                </tr>
                                            }
                        </tbody>

                    </table>
                    @*<div>
                        <a href="@Url.Action("Index", "BanquetProgram" )" class="btn btn-success">
                            Back
                        </a>
                    </div>*@ 
                    @Html.ActionLink("Back to List", "Index" , "BanquetProgram")
                </div>
            </div>
        </div>
    </div>
   
</div>


<div class="modal fade" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Banquet Booking</h4>
            </div>
            <div class="divForAdd">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update Banquet Booking</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>


<script>
    $('.editDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
    });
</script>