﻿@model PMS_HT.Models.tbl_bank_transaction
<script src="~/Scripts/DatePicker_.js"></script>
@using (Ajax.BeginForm("Add", "BankTransactions", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }))
{
    <div class="form-horizontal">
        <div class="modal-body">

                <div class="form-group" style="text-align:center;">
                    <div id="target" class="col-md-10" style="margin:0 auto; float:none; font-size:large; color:red"></div>
                    <div id="log" class="col-md-8">
                    </div>
                </div>
                     
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row form-group">
                    @Html.DisplayFor(model => model.Tran_Ref_ID, new { @Value = ViewBag.Tran_Ref_ID })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Created_Date, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Created_Date, new { htmlAttributes = new { @class = "form-control datefield" , required=true} })
                            @Html.ValidationMessageFor(model => model.Created_Date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group">
                    @Html.LabelFor(model => model.Tran_Ref_ID, "Account No", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Tran_Ref_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Tran_Ref_ID, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.Tran_Type, "Transaction Type", htmlAttributes: new { @class = "control-label col-md-3" })


                        <div class="col-md-8">
                        @{var Tran_Type = new List<SelectListItem>
                        {
                        new SelectListItem { Text = "Deposit", Value="Deposit" },
                        new SelectListItem { Text = "Withdrawn", Value="Withdrawn" },
                        new SelectListItem { Text = "Loan", Value = "Deposit" },
                        new SelectListItem { Text ="Refund Loan", Value = "Withdrawn" },
                        };
                            }
                            @Html.DropDownList("Tran_Type", new SelectList(Tran_Type, "Value", "Text"), htmlAttributes: new { @class = "form-control", @id = "tranType" })
                            @Html.ValidationMessageFor(model => model.Tran_Type, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Particulars, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Particulars, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Particulars, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        @Html.Label("Amount", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            <input type="number" name="amount" id="amount" onkeyup="checkBalance()" class="form-control" required min="0">

                        </div>
                    </div>



                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
        <button type="submit" class="btn btn-success" id="submit" name="cmd"><i class="fa fa-check"></i>&nbsp;Save</button>
    </div>
}

<script>
    $(document).ready(function () {
       $("#tranType").change(function () {
           $("#log").ajaxError(function (event, jqxhr, settings, exception) {
               alert(exception);
           });



           var a = document.getElementById('tranType');
           var tranTypeSelected = a.options[a.selectedIndex].value;
           var b = document.getElementById('amount').value;

               $.post('@Url.Action("ErrorMeassageAdd")',
              { trantype: tranTypeSelected, amount: b}, function (data) {
                      $("#target").html(data);


                  if(data !=null)
                  {
                      document.getElementById('submit').setAttribute("disabled", true);
                  }
                  if (data == "s") {
                      $("#target").html(null);
                      document.getElementById('submit').removeAttribute("disabled");
                  }
              });



       });
    });

    function checkBalance()
    {
        $("#log").ajaxError(function (event, jqxhr, settings, exception) {
            alert(exception);
        });



        var a = document.getElementById('tranType');
        var tranTypeSelected = a.options[a.selectedIndex].value;
        var b = document.getElementById('amount').value;


            $.post('@Url.Action("ErrorMeassageAdd")',
           { trantype: tranTypeSelected, amount: b}, function (data) {
                   $("#target").html(data);


               if (data != null) {
                   document.getElementById('submit').setAttribute("disabled", true);
               }
               if (data == "s") {
                   $("#target").html(null);
                   document.getElementById('submit').removeAttribute("disabled");
               }
           });


    }
</script>






