﻿@model PMS_HT.Models.tbl_bank_transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_bank_transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tbl_account_info.Acc_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_account_info.Acc_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_emp_info.Emp_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_emp_info.Emp_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_emp_info1.Emp_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_emp_info1.Emp_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tran_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tran_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Particulars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Particulars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Debit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Debit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Bnk_Tran_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
