﻿
@model IEnumerable<PMS_HT.Models.tbl_bank_transaction>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AddViewModel.js"></script>

@{
    var a = ViewBag.Acc_ID;
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <b>
                <span>Bank Name : @ViewBag.Bank</span><br />
                <span>Branch Name : @ViewBag.Branch</span><br />
                <span>A/C no : @ViewBag.AccountNo</span><br />
                <span id="dateTimeField"></span>
            </b>
            <div class="portlet box green portlet-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <a href="@Url.Action("Add", "BankTransactions" , new { id = a})" id="Add" class="btn default"><i class="glyphicon glyphicon-plus"></i>&nbsp;Create New</a>

                        Bank Transactions
                    </div>

                </div>

                <div class="portlet-body">
                    <div class="table-toolbar">

                    </div>
                    <table class="table table-striped table-hover table-bordered table-responsive" id="sample_editable_1">
                        <thead>
                            <tr>
                                <th>SL No </th>
                                <th>Date</th>
                                <th>Transaction Type</th>
                                <th>Particulars</th>
                                <th>Deposit</th>
                                <th>Withdrawn</th>
                                <th>Balance</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                decimal? x = 0;
                                decimal? y = 0;
                                decimal? sum = 0;
                            }


                            @{ int i = 0;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{i++;}
                                        @i
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Created_Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tran_Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Particulars)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Debit)
                                        @{
                                            if (item.Debit != null)
                                            {
                                                x += item.Debit;
                                            }
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Credit)
                                        @{
                                            if (item.Credit != null)
                                            {
                                                y += item.Credit;
                                            }
                                        }
                                    </td>
                                    <td>
                                        @{
                                            sum = x - y;
                                        }
                                        @sum
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "BankTransactions", new { id = item.Bnk_Tran_ID })" class="editDialog"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                                    </td>
                                    <td>
                                        @*<a href="@Url.Action("Delete", "BankTransactions", new { id = item.Bnk_Tran_ID })" ><i class="fa fa-edit"></i> Delete</a>*@
                                        @Ajax.ActionLink(" Delete", "Delete", "BankTransactions", new { @id = item.Bnk_Tran_ID }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-record" }, new { onclick = "return confirm('Are you sure you wish to delete this Info?');", @class = "fa fa-trash-o" })
                                    </td>

                                </tr>
                                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Bank Transaction</h4>
            </div>
            <div class="divForAdd">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Bank Transaction</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>

<script>
    $("#dateTimeField").text("Print Date : " + '@DateTime.Now.ToString("dd MMM , yyyy hh:mm tt")');
    $('.editDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
    });
    $('.cancelBtn').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
    });
</script>