﻿@model IEnumerable<PMS_HT.Models.tbl_bank_transaction>

@{
    ViewBag.Title = "Statement";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal preBalance = ViewBag.PreBalance;
}

<div class="container">
    <div class="row">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-offset-1 col-md-2">Bank Name</label>
                <div class="col-md-7">
                    <input type="text" readonly class="form-control" value="@ViewBag.Bank">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-offset-1 col-md-2">Branch Name</label>
                <div class="col-md-7">
                    <input type="text" readonly class="form-control" value="@ViewBag.Branch">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-offset-1 col-md-2">Account No</label>
                <div class="col-md-7">
                    <input type="text" readonly class="form-control" value="@ViewBag.AccountNo">
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green portlet-fit">
                <div class="portlet-title">
                    <div class="caption">
                        Bank Statement
                        
                    </div>
                    <div class="caption" style="float:right">
                        <button class="btn grey-steel" onclick="printStatement()" ><i class="fa fa-file-pdf-o" style="font-size:16px;color:red" aria-hidden="true">&nbsp;PDF</i></button>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="table-toolbar">

                    </div>
                    <table class="table table-striped table-hover table-bordered table-responsive" >
                        <thead>
                            @{
                                decimal? x = 0;
                                decimal? y = 0;
                                decimal? sum = preBalance;
                            }
                            <tr>
                                <th>SL No </th>
                                <th>Date</th>
                                <th>Particulars</th>
                                <th>Deposit</th>
                                <th>Withdrawn</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody> 
                            @{ int i = 1;}                           
                            <tr>  
                                <td>@i</td>
                                <td>@ViewBag.StartDate</td>
                                <td>Previous Balance</td>
                                <td></td>
                                <td></td>
                                <th style="text-align:right;">@sum</th>
                            </tr>                            
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{i++;}
                                        @i
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Created_Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Particulars)
                                    </td>
                                    
                                    @if (item.Debit > 0)
	                                {
		                                 <td style="text-align:right;">@item.Debit</td>
                                        x += item.Debit;
                                        sum += item.Debit;
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (item.Credit > 0)
                                    {
                                        <td style="text-align:right;">@item.Credit</td>
                                        y += item.Credit;
                                        sum -= item.Credit;
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td style="text-align:right;">
                                        @sum
                                    </td>                                    
                                </tr>
                              }
                            <tr>
                                <td></td>
                                <td></td>
                                <th>Total</th>
                                <th style="text-align:right;">@x</th>
                                <th style="text-align:right;">@y</th>
                                <th style="text-align:right;"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function printStatement() {
        var dob = '@ViewBag.StartDate';
        var date = '@ViewBag.EndDate';
        var id = '@ViewBag.id';
        //window.location = "/BankTransactions/ExportStatement/?id=" + id + "&dob=" + dob + "&date=" + date;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ExportStatement")',
            data: { id: id, dob: dob, date: date },
            success: function (data) {
                if (data == "error")
                {
                    alert("Bad request");
                }
                else
                {
                    var str = "data:application/pdf;base64," + data;
                    var object = '<iframe width="100%" height="100%" src="' + str + '"></iframe>';
                    var generator = window.open("", "", "top=100,left=500,width=500,height=500");
                    generator.document.write(object);
                    generator.document.close();
                }                
            }
        });
    }
</script>