﻿@model IEnumerable<PMS_HT.Models.tbl_earning_head>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/AddViewModel.js"></script>

<p>
    <button type="button" class="btn green ">@Html.ActionLink("Create New", "Create")</button>
</p>
<div class="portlet box blue ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Deduction Head
        </div>
        <div class="tools">
            <a href="" class="collapse"> </a>
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
            <a href="" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body form">

        <div class="form-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-social-dribbble font-green hide"></i>
                                <span class="caption-subject font-dark bold uppercase">Index</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-cloud-upload"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-wrench"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-trash"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table data-toggle="table" data-height="500" data-show-refresh="true" data-pagination="true" data-show-toggle="true" data-show-columns="true" data-search="true">
                                <thead>
                                    <tr>
                                        <th data-field="Earning Heading" data-align="right" data-sortable="true">
                                            @Html.DisplayNameFor(model => model.Earning_Head_Name)
                                        </th>
                                        <th data-align="right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Earning_Head_Name)
                                            </td>

                                            <td>

                                                <a href="@Url.Action("Edit", new { id = item.Earning_Head_ID })" class="btn btn-outline btn-circle green btn-sm purple">
                                                    <i class="fa fa-edit"></i> Edit
                                                </a>
                                                <a href="@Url.Action("Delete", new { id = item.Earning_Head_ID })" class="btn btn-outline btn-circle dark btn-sm black">
                                                    <i class="fa fa-trash-o"></i> Delete
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>




