﻿@model IEnumerable<PMS_HT.Models.tbl_category>

@{
    ViewBag.Title = "Inventory Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/AddViewModel.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <a href="@Url.Action("Add", "InventoryCategory")" id="Add" class="btn default"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New Catagory</a>
                        Category
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_2">
                        <thead>
                            <tr>
                                <th>SL No </th>
                                <th>
                                    Category Name
                                </th>
                                <th>
                                    Category Detail
                                </th>
                                <th>Edit</th>
                                @*<th>Delete</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{i++;}
                                        @i
                                    </td>
                                    <td onmouseout="toggler(@i)" onmouseover="toggler(@i)" onclick="toggler(@i)">
                                        @item.Cata_Name (@item.tbl_subcategory.Count)
                                        <ul id="@i" class="nav nav-list" hidden>
                                            @foreach (var subcategory in item.tbl_subcategory)
                                            {
                                                <li style="padding-left:1em;"><i class="fa fa-cube"></i> @subcategory.Subcata_Name</li>
                                            }
                                        </ul>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cata_Details)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "InventoryCategory", new { id = item.Cata_ID })" class="editDialog"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                                    </td>
                                    @*<td>
                                        @Ajax.ActionLink(" Delete", "Delete", "InventoryCategory", new { @id = item.Cata_ID }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-record" }, new { onclick = "return confirm('Are you sure you wish to delete this Category?');", @class = "fa fa-trash-o" })
                                    </td>*@
                                </tr>
                                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Category</h4>
            </div>
            <div class="divForAdd">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update Category</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('label.tree-toggler').click(function () {
            $(this).parent().children('ul.tree').toggle();
        });
    });

    $('.editDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
    });
    function toggler(listid)
    {
        $('#'+listid).toggle();
    }
</script>