﻿@using (Ajax.BeginForm("Cancel", "RestaurantOrder", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }))
{
    <div class="form-horizontal">
        <br />
        <br />
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="number" name="id" hidden value="@ViewBag.id" />
        <div class="container-fluid">
            <div class="row form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="row form-group">
                    <h3>Are you sure you want to cancel this reservation?</h3>
                </div>

                <div class="row form-group">
                    <div class="form-group" style="float:right; padding-right:20px">
                        <div class="col-md-offset-2 col-md-4 col-sm-8 col-xs-8">
                            <input type="submit" value="Yes" class="btn btn-success" />
                        </div>
                        <div class="col-md-offset-2 col-md-4 col-sm-8 col-xs-8">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}