﻿@model PMS_HT.Models.tbl_item_order_master

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_RestaurantFront.cshtml";
    IEnumerable<PMS_HT.Models.tbl_food> foods = ViewBag.Foods;
}
<link href="~/Content/chosen.min.css" rel="stylesheet" />
@*<link href="~/assets/global/css/components-rounded.min.css" rel="stylesheet" />*@
<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    tr.error {
        background-color: rgba(255,0,0,0.35);
    }

    .test-span {
        color: green;
        position: fixed;
        right: 10px;
        bottom: 10px;
        opacity: 0;
    }

    .food-order-div2 {
        position: fixed;
        opacity: 1;
        width: 100%;
        left: 0px;
        top: 0px;
        overflow-y: scroll;
        z-index: 2000;
        width: 100%;
        background: #eaeceb;
    }
</style>
<hr />
<button id="fuller">Fuller</button>
<div class="food-order-div">
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="form-group col-md-12 col-sm-12">
                    <div class="col-md-2 col-sm-12">
                        <label class="control-label">Order Type</label>
                        <div>
                            @Html.DropDownList("Order_Method_ID", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    @if (Model.Order_Method_ID == 3)
                    {
                        <div class="col-md-1" id="roomDiv">
                            <label class="control-label">Select Room</label>
                            <div>
                                @Html.DropDownList("Room_ID", null, "--Select Room--", htmlAttributes: new { @class = "form-control" })
                                <span class="error">Select Room</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-1" id="roomDiv" hidden>
                            <label class="control-label">Select Room</label>
                            <div>
                                @Html.DropDownList("Room_ID", null, "--Select Room--", htmlAttributes: new { @class = "form-control" })
                                <span class="error">Select Room</span>
                            </div>
                        </div>
                    }
                    
                    <div class="col-md-2 col-sm-12">
                        <label class="control-label">Alloted Tables</label>
                        <div>
                            <select id="AllotedTables" name="AllotedTables" data-placeholder="Choose table(s)..." class="form-control chosen-select" multiple>
                                <option value=""></option>
                                @if (ViewBag.Tables != null)
                                {
                                    foreach (var item in ViewBag.Tables)
                                    {
                                        if (Model.tbl_dining_set_up.Contains(item))
                                        {
                                            <option value="@item.Dining_ID" selected>
                                                @item.Dining_No
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="@item.Dining_ID">
                                                @item.Dining_No
                                            </option>
                                        }
                                    }
                                }
                            </select>
                            <span class="error">Select Table(s)</span>
                        </div>
                    </div>

                    <div class="col-md-2  col-sm-12">
                        <label class="control-label">Served By</label>
                        <div>
                            <select id="ServedBy" name="ServedBy" data-placeholder="Choose waiter(s)..." class="form-control chosen-select" multiple>
                                <option value=""></option>
                                @if (ViewBag.Waiters != null)
                                {
                                    foreach (var item in ViewBag.Waiters)
                                    {
                                        if (Model.tbl_dining_waiter.Contains(item))
                                        {
                                            <option value="@item.Dining_Waiter_ID" selected>
                                                @item.tbl_emp_info.Emp_Name
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="@item.Dining_Waiter_ID">
                                                @item.tbl_emp_info.Emp_Name
                                            </option>
                                        }
                                    }
                                }
                            </select>
                            <span class="error">Select Serving Waiter(s)</span>
                        </div>
                    </div>

                    <div class="col-md-1  col-sm-12">
                        <label class="control-label">No. Of Person</label>
                        <div>
                            <input type="number" id="person_no" min="1" class="form-control" value="@Model.Total_Person" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Order Status</label>
                        <div>
                            @Html.DropDownList("Status", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <label class="control-label">Note</label>
                        <div>
                            <input type="text" id="note" class="form-control" value="@Model.Note" />
                        </div>
                    </div>
                    <input type="number" hidden value="@Model.Order_Master_ID" id="Order_Master_ID" name="Order_Master_ID" />
                </div>
            </div>
        </div>
    </section>

    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="item-table" id="style-1">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered food-table" id="itemtable">
                                <thead>
                                    <tr>
                                        <th hidden></th>
                                        <th>Food No</th>
                                        <th>Food Name</th>
                                        <th>Category Name</th>
                                        <th>Price</th>
                                        <th>Image</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in foods)
                                    {
                                        <tr>
                                            <td hidden>@item.Food_ID</td>
                                            <td>
                                                @item.Food_No
                                            </td>
                                            <td>
                                                @item.Food_Name
                                            </td>
                                            <td>
                                                @item.tbl_food_category.Food_Cate_Name
                                            </td>
                                            <td>
                                                @item.Price
                                            </td>
                                            <td></td>
                                            <td>
                                                @if (Model.tbl_item_order_details.Select(f => f.tbl_food).Contains(item))
                                                {
                                                    <button type="button" class="btn btn-circle-green item-btn" disabled>
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-circle-green item-btn">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                }

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div class="item-selected-table">
                        <div class="table-responsive">
                            <form action="">
                                <table class="table table-hover table-bordered order-table">
                                    <thead>
                                        <tr>
                                            <th>Selected</th>
                                        </tr>
                                        <tr>
                                            <th hidden></th>
                                            <th>Food No</th>
                                            <th>Food Name </th>
                                            <th>Price</th>
                                            <th>Qtn</th>
                                            <th>Side item</th>
                                            <th>Side Qtn</th>
                                            <th>Note</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="order-row" hidden>
                                            <td hidden></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <input type="number" min="1" required class="form-control" value="1">
                                                <span class="error">Minimum 1</span>
                                            </td>
                                            <td>
                                                @Html.DropDownList("Food_Side_ID", null, "--Select--", htmlAttributes: new { @class = "form-control" })
                                            </td>
                                            <td>
                                                <input type="number" min="1" class="form-control">
                                                <span class="error">Minimum 1</span>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control">
                                            </td>
                                            <td>
                                                <button class="btn btn-circle-red order-btn">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        @foreach (var item in Model.tbl_item_order_details.ToList())
                                        {
                                            int elapsed_time =(int)(DateTime.Now - item.Order_Date.Value).TotalMinutes;
                                            <tr id="order-row">
                                                <td hidden>@item.Food_ID</td>
                                                <td>@item.tbl_food.Food_No</td>
                                                <td>@item.tbl_food.Food_Name</td>
                                                <td>@item.tbl_food.Price</td>
                                                <td>
                                                    <input type="number" min="1" required class="form-control" value="@item.Quantity">
                                                    <span class="error">Minimum 1</span>
                                                </td>
                                                <td>
                                                    @*@Html.DropDownList("Food_Side_ID", null, "--Select--", htmlAttributes: new { @class = "form-control", @value=@item.Food_Side_ID })*@
                                                    <select id="Food_Side_ID" name="Food_Side_ID" class="form-control">
                                                        <option value="">--Select--</option>
                                                        @if (ViewBag.FSD != null)
                                                        {
                                                            foreach (var fsd in ViewBag.FSD)
                                                            {
                                                                if (item.Food_Side_ID == fsd.Food_Side_ID)
                                                                {
                                                                    <option selected="selected" value="@fsd.Food_Side_ID">@fsd.Food_Side_Name</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@fsd.Food_Side_ID">@fsd.Food_Side_Name</option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="number" min="1" class="form-control" value="@item.Side_Quantity">
                                                    <span class="error">Minimum 1</span>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" value="@item.Note">
                                                </td>
                                                <td>
                                                    @if (elapsed_time <= 15)
                                                    {
                                                        <button class="btn btn-circle-red order-btn">
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-circle-red order-btn" disabled>
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                    }

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                    <div style="text-align:center;">
                        @*<input type="button"  class="btn btn-default" id="CancelButton" value="Cancel" />*@
                        <span class="error">No Items Selected</span>
                        <a href="@Url.Action("Index","RestaurantDashboard")"><input type="button" class="btn btn-primary" id="CancelButton" value="Cancel" /></a>
                        <input type="button" class="btn btn-success" id="OrderButton" value="Edit Order" />
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<h2 class="test-span"> Message</h2>
<div class="modal fade" id="modal-id">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Room Information</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/RestaurantOrder.js"></script>
<script src="~/Scripts/chosen.jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#AllotedTables").chosen();
        $("#ServedBy").chosen();
    });

    $('#Order_Method_ID').change(function () {
        var dt = $('#Order_Method_ID option:selected').text();
        if (dt.match(/Room/gi)) {
            $('#roomDiv').show();
        }
        else {
            $('#roomDiv').hide();
        }
    });

    $('#Room_ID').change(function () {
        var dt = $(this).val();
        if (dt != "") {
            $.ajax({
                url: '@Url.Action("RoomDetail", "RestaurantOrder")',
                type: "GET",
                data: { id: dt },
                success: function (data) {
                    $('#modal-id').modal({
                        //backdrop: 'static',
                    }, 'show');
                    $('.modal-body').html(data);
                }
            });
        }

    });


    $('#fuller').click(function () {
        console.log($('.food-order-div').height());
        var divD = $('.food-order-div');
        divD.addClass('food-order-div2');
        $('.food-order-div2').removeClass('food-order-div');

        var foodOrD2 = $('.food-order-div2');
        var winH = $(window).height();
        foodOrD2.height(winH);
    });

    $('#OrderButton').click(function () {
        $('.error').css('visibility', 'hidden');
        var IsAllValid = true;
        var HasRow = false;
        var Ordermethod = $('#Order_Method_ID').val();
        var Order_Master_ID = $('#Order_Master_ID').val();
        var Status = $('#Status').val();
        var tables = $('#AllotedTables').val();
        var note = $('#note').val();
        var room = $('#Room_ID').val();
        if ((tables == null || tables == "") && (Ordermethod == 1)) {
            IsAllValid = false;
            $('#AllotedTables').siblings('span.error').css('visibility', 'visible');
        }
        if ((room == null || room == "") && (Ordermethod == 3)) {
            IsAllValid = false;
            $('#Room_ID').siblings('span.error').css('visibility', 'visible');
        }
        var servedBy = $('#ServedBy').val();

        if (servedBy == null || servedBy == "") {
            IsAllValid = false;
            $('#ServedBy').siblings('span.error').css('visibility', 'visible');
        }
        var list = [];
        var table_list = [];
        var waiter_list = [];
        tables.forEach(function (it) {
            var item = {
                Dining_Id: it,
                Dining_No: "",
                Status: "ordered",
                Dining_Location_ID: null,
                Capacity: 1
            };
            table_list.push(item);
        });
        servedBy.forEach(function (it) {
            var item = {
                Dining_Waiter_Id: it,
                Dining_Id: 1,
                Emp_ID: 1,
                Note: null
            };
            waiter_list.push(item);
        });
        $('.order-table tbody tr').each(function () {
            if ($(this).find('td:eq(0)').text() != "") {
                HasRow = true;
                var food_id = parseInt($(this).find('td:eq(0)').text());
                var food_price = parseFloat($(this).find('td:eq(3)').text());

                var item_quantity = $(this).find('td:eq(4)').find('input').val();
                if (item_quantity == "" || item_quantity == 0) {
                    IsAllValid = false;
                    $(this).find('td:eq(4)').find('input').siblings('span.error').css('visibility', 'visible');
                }
                var side_item = $(this).find('td:eq(5)').find('select').val();
                if (side_item == '') {
                    side_item = null;
                }
                var side_quantity = $(this).find('td:eq(6)').find('input').val();
                if (side_item != null && (side_quantity == "" || side_quantity == 0)) {
                    IsAllValid = false;
                    $(this).find('td:eq(6)').find('input').siblings('span.error').css('visibility', 'visible');
                }
                if (side_item == null) {
                    side_quantity == null;
                }
                var note = $(this).find('td:eq(7)').find('input').val();
                if (note == '') {
                    note = null;
                }
                if (IsAllValid) {
                    var orderItem = {
                        Food_ID: food_id,
                        Quantity: item_quantity,
                        Price: food_price,
                        Food_Side_ID: side_item,
                        Side_Quantity: side_quantity,
                        Side_Price: null,
                        VAT: null,
                        SC: null,
                        Total: null,
                        Note: note
                    };
                    list.push(orderItem);
                }
            }
        });
        if (!HasRow) {
            $('#OrderButton').siblings('span.error').css('visibility', 'visible');
            IsAllValid = false;
        }
        if (IsAllValid) {
            var data = {
                Order_Master_ID: Order_Master_ID,
                Order_Date: null,
                Serve_Date: null,
                Payment_Date: null,
                Status: Status,
                Total_Person: parseInt($('#person_no').val()),
                Order_Method_ID: Ordermethod,
                Pay_Method_ID: null,
                Banquet_Refer: null,
                Program_ID: null,
                Stay_Info_ID: null,
                Note: note,
                Received_By_ID: null,
                Rest_Guest_ID: null,
                Rest_Company_ID: null,
                tbl_dining_set_up: table_list,
                tbl_dining_waiter: waiter_list,
                tbl_item_order_details: list,
                tbl_item_order_ledger: null,
                Room_ID: room
            };
            $.ajax({
                type: 'POST',
                url: '/RestaurantOrder/EditOrder',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (dt) {
                    if (dt.length > 10) {
                        var str = "data:application/pdf;base64," + dt;
                        var object = '<iframe width="100%" height="100%" src="' + str + '"></iframe>';
                        var generator = window.open("", "", "top=100,left=500,width=500,height=500");
                        generator.document.write(object);
                        generator.document.close();
                        window.location = "/RestaurantDashboard/Index";
                    }
                    else {
                        $('.test-span').css('color', 'red');
                        $('.test-span').css('opacity', '1');
                        $('.test-span').text('Order Edit Error!! '+dt);
                        $('.test-span').fadeTo(10000, 0);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    });

    $('#AllotedTables,#ServedBy,#Room_ID').change(function () {
        $(this).siblings('span.error').css('visibility', 'hidden');
    });
</script>