﻿@model IEnumerable<PMS_HT.Models.tbl_food>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_RestaurantFront.cshtml";
    IEnumerable<PMS_HT.Models.tbl_food> foods = ViewBag.Foods;
}
<link href="~/Content/chosen.min.css" rel="stylesheet" />
<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    tr.error {
        background-color: rgba(255,0,0,0.35);
    }

    .test-span {
        color: green;
        position: fixed;
        right: 10px;
        bottom: 10px;
        opacity: 0;
    }
</style>

@*<section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h4>ORDER PAGE </h4>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ol class="breadcrumb pull-right">
                        <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="item.html"><i class="fa fa-gift"></i> Item</a></li>
                        <li class="active"><i class="fa fa-check"></i> Order</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header text-center">FOOD ITEM</h2>
            </div>
        </div>
    </div>*@
<hr />
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-md-12">
                <div class="col-md-2">
                    <label class="control-label">Order Type</label>
                    <div>
                        @Html.DropDownList("Order_Method_ID", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-1" id="roomDiv" hidden>
                    <label class="control-label">Select Room</label>
                    <div>
                        @Html.DropDownList("Room_ID", null, "--Select Room--", htmlAttributes: new { @class = "form-control" })
                        <span class="error">Select Room</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="control-label">Alloted Tables</label>
                    <div>
                        <select id="AllotedTables" name="AllotedTables" data-placeholder="Choose table(s)..." class="form-control chosen-select" multiple>
                            <option value=""></option>
                            @if(ViewBag.Tables != null)
                            {
                                foreach (var item in ViewBag.Tables)
                                {
                                    <option value="@item.Dining_ID">@item.Dining_No</option>
                                }
                            }
                        </select>
                        <span class="error">Select Table(s)</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="control-label">Served By</label>
                    <div>
                        <select id="ServedBy" name="ServedBy" data-placeholder="Choose waiter(s)..." class="form-control chosen-select" multiple>
                            <option value=""></option>
                            @if(ViewBag.Waiters != null)
                            {
                                foreach (var item in ViewBag.Waiters)
                                {
                                    <option value="@item.Dining_Waiter_ID">@item.tbl_emp_info.Emp_Name</option>
                                }
                            }
                        </select>
                        <span class="error">Select Serving Waiter(s)</span>
                    </div>
                </div>
                <div class="col-md-1">
                    <label class="control-label">No. Of Person</label>
                    <div>
                        <input type="number" id="person_no" min="1" class="form-control" value="1" />
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="control-label">Note</label>
                    <div>
                        <input type="text" id="note" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="item-table" id="style-1">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered food-table" id="itemtable">
                            <thead>
                                <tr>
                                    <th hidden></th>
                                    <th>Food No</th>
                                    <th>Food Name</th>
                                    <th>Category Name</th>
                                    <th>Price</th>
                                    <th>Image</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in foods)
                                {
                                    <tr>
                                        <td hidden>@item.Food_ID</td>
                                        <td>
                                            @item.Food_No
                                        </td>
                                        <td>
                                            @item.Food_Name
                                        </td>
                                        <td>
                                            @item.tbl_food_category.Food_Cate_Name
                                        </td>
                                        <td>
                                            @item.Price
                                        </td>
                                        <td width="15%"><img src="@item.Image" class="img-responsive"/></td>
                                        <td>
                                            <button type="button" class="btn btn-circle-green item-btn">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="item-selected-table">
                    <div class="table-responsive">
                        <form action="">
                            <table class="table table-hover table-bordered order-table">
                                <thead>
                                    <tr>
                                        <th>Selected</th>
                                    </tr>
                                    <tr>
                                        <th hidden></th>
                                        <th>Food No</th>
                                        <th>Food Name </th>
                                        <th>Price</th>
                                        <th>Qtn</th>
                                        <th>Side item</th>
                                        <th>Side Qtn</th>
                                        <th>Note</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="order-row" hidden>
                                        <td hidden></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <input type="number" min="1" required class="form-control" value="1">
                                            <span class="error">Minimum 1</span>
                                        </td>
                                        <td>
                                            @Html.DropDownList("Food_Side_ID", null, "--Select--", htmlAttributes: new { @class = "form-control" })
                                        </td>
                                        <td>
                                            <input type="number" min="1" class="form-control">
                                            <span class="error">Minimum 1</span>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                        <td>
                                            <button class="btn btn-circle-red order-btn">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <div style="text-align:center;">
                    <span class="error">No Items Selected</span>
                    <input type="button" class="btn btn-success" id="OrderButton" value="Place Order" />
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="modal-id">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Room Information</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<h2 class="test-span"> Message</h2>

<script src="~/Scripts/RestaurantOrder.js"></script>
<script src="~/Scripts/chosen.jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#AllotedTables").chosen();
        $("#ServedBy").chosen();
    });

    $('#Order_Method_ID').change(function () {
        var dt = $('#Order_Method_ID option:selected').text();
        if (dt.match(/Room/gi)) {
            $('#roomDiv').show();
        }
        else {
            $('#roomDiv').hide();
        }
    });

    $('#Room_ID').change(function () {
        var dt = $(this).val();
        if (dt != "") {
            $.ajax({
                url: '@Url.Action("RoomDetail", "RestaurantOrder")',
                type: "GET",
                data: { id: dt },
                success: function (data) {
                    $('#modal-id').modal({
                        //backdrop: 'static',
                    }, 'show');
                    $('.modal-body').html(data);
                }
            });
        }

    });

    $('#OrderButton').click(function () {
        $('.error').css('visibility', 'hidden');
        var IsAllValid = true;
        var HasRow = false;
        var Ordermethod = $('#Order_Method_ID').val();
        var note = $('#note').val();
        var room = $('#Room_ID').val();
        var tables = $('#AllotedTables').val();
        if ((tables == null || tables == "") && (Ordermethod == 1)) {
            IsAllValid = false;
            $('#AllotedTables').siblings('span.error').css('visibility', 'visible');
        }
        if ((room == null || room == "") && (Ordermethod == 3)) {
            IsAllValid = false;
            $('#Room_ID').siblings('span.error').css('visibility', 'visible');
        }
        var servedBy = $('#ServedBy').val();

        if (servedBy == null || servedBy == "") {
            IsAllValid = false;
            $('#ServedBy').siblings('span.error').css('visibility', 'visible');
        }
        var list = [];
        var table_list = [];
        var waiter_list = [];
        tables.forEach(function (it) {
            var item = {
                Dining_Id: it,
                Dining_No: "",
                Status: "ordered",
                Dining_Location_ID: null,
                Capacity: 1
            };
            table_list.push(item);
        });
        servedBy.forEach(function (it) {
            var item = {
                Dining_Waiter_Id: it,
                Dining_Id: 1,
                Emp_ID: 1,
                Note: null
            };
            waiter_list.push(item);
        });
        $('.order-table tbody tr').each(function () {
            if ($(this).find('td:eq(0)').text() != "") {
                HasRow = true;
                var food_id = parseInt($(this).find('td:eq(0)').text());
                var food_price = parseFloat($(this).find('td:eq(3)').text());

                var item_quantity = $(this).find('td:eq(4)').find('input').val();
                if (item_quantity == "" || item_quantity == 0) {
                    IsAllValid = false;
                    $(this).find('td:eq(4)').find('input').siblings('span.error').css('visibility', 'visible');
                }
                var side_item = $(this).find('td:eq(5)').find('select').val();
                if (side_item == '') {
                    side_item = null;
                }
                var side_quantity = $(this).find('td:eq(6)').find('input').val();
                if (side_item != null && (side_quantity == "" || side_quantity == 0)) {
                    IsAllValid = false;
                    $(this).find('td:eq(6)').find('input').siblings('span.error').css('visibility', 'visible');
                }
                if (side_item == null) {
                    side_quantity == null;
                }
                var note = $(this).find('td:eq(7)').find('input').val();
                if (note == '') {
                    note = null;
                }
                if (IsAllValid) {
                    var orderItem = {
                        Food_ID: food_id,
                        Quantity: item_quantity,
                        Price: food_price,
                        Food_Side_ID: side_item,
                        Side_Quantity: side_quantity,
                        Side_Price: null,
                        VAT: null,
                        SC: null,
                        Total: null,
                        Note: note
                    };
                    list.push(orderItem);
                }
            }
        });
        if (!HasRow) {
            $('#OrderButton').siblings('span.error').css('visibility', 'visible');
            //alert("No Item Selected !!");
            IsAllValid = false;
        }
        if (IsAllValid) {
            var data = {
                Order_Date: null,
                Serve_Date: null,
                Payment_Date: null,
                Status: "Ordered",
                Total_Person: parseInt($('#person_no').val()),
                Order_Method_ID: Ordermethod,
                Pay_Method_ID: null,
                Banquet_Refer: null,
                Program_ID: null,
                Stay_Info_ID: null,
                Note: note,
                Received_By_ID: null,
                Rest_Guest_ID: null,
                Rest_Company_ID: null,
                tbl_dining_set_up: table_list,
                tbl_dining_waiter: waiter_list,
                tbl_item_order_details: list,
                tbl_item_order_ledger: null,
                Room_ID:room
            };

            $.ajax({
                type: 'POST',
                url: '/RestaurantOrder/MakeOrder',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (dt) {
                    if (dt.length > 10) {
                        var str = "data:application/pdf;base64," + dt;
                        var object = '<iframe width="100%" height="100%" src="' + str + '"></iframe>';
                        var generator = window.open("", "", "top=100,left=500,width=500,height=500");
                        generator.document.write(object);
                        generator.document.close();
                        location.reload();
                    }
                    else {
                        $('.test-span').css('color', 'red');
                        $('.test-span').css('opacity', '1');
                        $('.test-span').text('Order Placing Error!! ' + dt);
                        $('.test-span').fadeTo(10000, 0);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    });

    $('#AllotedTables,#ServedBy,#Room_ID').change(function () {
        $(this).siblings('span.error').css('visibility', 'hidden');
    });

</script>