﻿@model PMS_HT.Models.tbl_item_order_master

@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/Shared/_RestaurantFront.cshtml";
    decimal totalFoodPrice = 0, totalVat = 0, totalSc = 0, totalTotal = 0;
}
<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }
    label.error {
        display: block;
        color: red;
        font-size: 90%;
    }

    tr.error {
        background-color: rgba(255,0,0,0.35);
    }

    .test-span {
        color: green;
        position: fixed;
        right: 10px;
        bottom: 10px;
        opacity: 0;
    }
</style>
<br />
@if (ViewBag.ErrorMsg != null)
{
    <h2 style="color:red;">@ViewBag.ErrorMsg</h2>
}
<div class="container">
    <div class="row">

        <div class="col-md-8 col-sm-12">
            <div class="item-selected-table">
                <table class="table table-hover table-bordered order-table">
                    <thead>
                        <tr>
                            <th>Ordered Items</th>
                        </tr>
                        <tr>
                            <th>Sl No</th>
                            <th>Food Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Side Item</th>
                            <th>Side Q.</th>
                            <th>Side Price</th>
                            <th>Subtotal</th>
                            <th>Note</th>
                            <th>VAT</th>
                            <th>SC</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.tbl_item_order_details != null)
                        {
                            foreach (var item in Model.tbl_item_order_details)
                            {
                                decimal subtotal = Convert.ToDecimal(item.Total - item.VAT - item.SC);
                                totalFoodPrice += subtotal;
                                totalVat += Convert.ToDecimal(item.VAT);
                                totalSc += Convert.ToDecimal(item.SC);
                                totalTotal += Convert.ToDecimal(item.Total);
                                string sideItem = item.Food_Side_ID.HasValue ? item.tbl_food_side_extra.Food_Side_Name : "";
                                <tr>
                                    <td></td>
                                    <td>@item.tbl_food.Food_Name</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Price</td>
                                    <td>@sideItem</td>
                                    <td>@item.Side_Quantity</td>
                                    <td>@item.Side_Price</td>
                                    <td>@subtotal</td>
                                    <td>@item.Note</td>
                                    <td>@item.VAT</td>
                                    <td>@item.SC</td>
                                    <td>@item.Total</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <div class="row form-group">
                    <label class="control-label col-md-6 col-sm-6">Total Food Price</label>
                    <div class="col-md-6 col-sm-8 col-xs-8">
                        <input type="text" readonly class="form-control" value="@totalFoodPrice">
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-md-6 col-sm-6">Total VAT</label>
                    <div class="col-md-6 col-sm-8 col-xs-8">
                        <input type="text" readonly class="form-control" value="@totalVat">
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-md-6 col-sm-6">Total SC</label>
                    <div class="col-md-6 col-sm-8 col-xs-8">
                        <input type="text" readonly class="form-control" value="@totalSc">
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-md-6 col-sm-6">Total Amount</label>
                    <div class="col-md-6 col-sm-8 col-xs-8">
                        <input type="text" id="totalTotal" readonly class="form-control" value="@totalTotal">
                    </div>
                </div>
            </div>
        </div>

        @using (Html.BeginForm("Pay", "RestaurantOrder", FormMethod.Post, new { @id = "payForm" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            //@Html.HiddenFor(model => model.Order_Master_ID)
            @Html.AntiForgeryToken()
            <input type="number" hidden id="id" name="id" value="@Model.Order_Master_ID" />
            <div class="col-md-4 col-sm-12">
                <div class="row form-group">
                    @Html.LabelFor(model => model.tbl_order_method.Order_Method_Name, "Order Type", htmlAttributes: new { @class = "control-label col-md-6 col-sm-8 col-xs-8" })
                    <div class="col-md-6 col-sm-8 col-xs-8">
                        <input type="text" name="Order_Method_ID" id="Order_Method_ID" disabled class="form-control" value="@Model.tbl_order_method.Order_Method_Name">
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-md-6 col-sm-8 col-xs-8">Order Date</label>
                    <div class="col-md-6 col-sm-8 col-xs-8">
                        <input type="text" name="Order_Date" id="Order_Date" disabled class="form-control" value="@Model.Order_Date">
                    </div>
                </div>
                @{
                    string tables = "";
                    foreach (var tbl in Model.tbl_dining_set_up.ToList())
                    {
                        tables += tbl.Dining_No + ", ";
                    }
                }
                <div class="row form-group">
                    <label class="control-label col-md-6 col-sm-8 col-xs-8">Alloted Tables</label>
                    <div class="col-md-6 col-sm-8 col-xs-8">
                        <textarea id="alloted_tables" name="alloted_tables" class="form-control col-md-6" disabled>@tables</textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-md-6 col-sm-8 col-xs-8">Payment Method</label>
                    <div class="col-md-6 col-sm-8 col-xs-8">
                        @Html.DropDownList("Pay_Method_ID", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="row form-group roomDiv" hidden id="roomDiv">
                    <label class="control-label col-md-6 col-sm-8 col-xs-8">Select Room</label>
                    <div class="col-md-6 col-sm-8 col-xs-8">
                        @Html.DropDownList("Room_ID", null, "--Select Room--", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-md-6 col-sm-8 col-xs-8">Total Payable</label>
                    <div class="col-md-6 col-sm-8 col-xs-8">
                        <input type="text" name="TotalPayable" id="TotalPayable" disabled class="form-control" value="@Model.Order_Date">
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-md-6 col-sm-8 col-xs-8">Discount</label>
                    <div class="col-md-6 col-sm-8 col-xs-8">
                        <input type="text" name="discount" id="discount" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-md-6 col-sm-8 col-xs-8">Due</label>
                    <div class="col-md-6 col-sm-8 col-xs-8">
                        <input type="text" name="due" id="due" disabled class="form-control">
                    </div>
                </div>
                <div class="row form-group cashDiv">
                    <label class="control-label col-md-6 col-sm-8 col-xs-8">Cash Payment</label>
                    <div class="col-md-6 col-sm-8 col-xs-8">
                        <input type="text" name="cashPay" id="cashPay" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-md-6 col-sm-8 col-xs-8">Particular</label>
                    <div class="col-md-6 col-sm-8 col-xs-8">
                        <input type="text" name="particular" id="particular" required class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <input type="radio" name="GuestOption" id="person" value="person" onchange="HideRoomList()"> Person
                    </div>
                    <div class="col-md-4">
                        <input type="radio" name="GuestOption" id="company" value="company" onchange="GetRoomList()"> Company &nbsp;
                    </div>
                    <div class="col-md-4">
                        <input type="radio" name="GuestOption" id="none" value="none" onchange="GetRoomList()" checked> None
                    </div>
                </div>

                <div id="personDiv" hidden style="background-color:#ccc;">
                    <input type="text" name="FreqID" id="FreqID" hidden>
                    <div class="row form-group">
                        <label class="control-label col-md-6 col-sm-8 col-xs-8">Name</label>
                        <div class="col-md-6 col-sm-8 col-xs-8">
                            <input type="text" name="Name" id="Name" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="control-label col-md-6 col-sm-8 col-xs-8">Phone</label>
                        <div class="col-md-6 col-sm-8 col-xs-8">
                            <input type="text" name="Phone" id="Phone" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="control-label col-md-6 col-sm-8 col-xs-8">Address</label>
                        <div class="col-md-6 col-sm-8 col-xs-8">
                            <input type="text" name="Address" id="Address" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="control-label col-md-6 col-sm-8 col-xs-8">Email</label>
                        <div class="col-md-6 col-sm-8 col-xs-8">
                            <input type="text" name="Email" id="Email" class="form-control">
                        </div>
                    </div>

                </div>
                <div class="row form-group">
                    <button type="button" class="btn btn-success" id="cmd" ><i class="fa fa-check"></i>Pay</button>
                    <a href="@Url.Action("Bill", "RestaurantOrder", new { id = Model.Order_Master_ID })" class="btn btn-primary billBtn"><i class="fa fa-file-text"></i> Bill </a>
                </div>
            </div>
                    }
    </div>
</div>

<div class="modal fade" id="modal-id">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Room Information</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        var totalTotal = Number($('#totalTotal').val());
        $('#TotalPayable').val(totalTotal);
        $('#due').val(totalTotal);
    });
    $('.billBtn').click(function (event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: this.href,
            contentType: 'application/json',
            success: function (dt) {
                if (dt.length > 10) {
                    var str = "data:application/pdf;base64," + dt;
                    var object = '<iframe width="100%" height="100%" src="' + str + '"></iframe>';
                    var generator = window.open("", "", "top=100,left=500,width=500,height=500");
                    generator.document.write(object);
                    generator.document.close();
                }
                else {
                    alert();
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
    $('#Pay_Method_ID').change(function () {
        var dt = $('#Pay_Method_ID option:selected').text();
        if (dt.match(/Room/gi)) {
            $('.roomDiv').show();
        }
        else {
            $('.roomDiv').hide();
        }
        if (dt.match(/Cash/gi)) {
            $('.cashDiv').show();
        }
        else {
            $('.cashDiv').hide();
        }
    });

    $('#discount').keyup(function () {
        var rdata = changer();
        if (rdata < 0) {
            alert("Paid amount must be less then payable amount");
            $('#discount').val('');
            var totalPayable = Number($('#TotalPayable').val());
            var cashPay = Number($('#cashPay').val());
            var due = totalPayable - cashPay;
            $('#due').val(due);
        }
    });

    $('#cashPay').keyup(function () {
        var rdata = changer();
        if (rdata < 0) {
            alert("Paid amount must be less then payable amount");
            $('#cashPay').val('');
            var totalPayable = Number($('#TotalPayable').val());
            var discount = Number($('#discount').val());
            var due = totalPayable - discount;
            $('#due').val(due);
        }
    });

    $('#Phone').change(function () {
        var radioData = $('input[type=radio][name=GuestOption]:checked').val();
        var phone = $(this).val();
        if (radioData == "person" || radioData == "company") {
            $.ajax({
                url: '@Url.Action("GetFrequentInfo", "RestaurantOrder")',
                type: "GET",
                data: { type: radioData, phone: phone },
                success: function (data) {
                    if (data != "none") {
                        if (radioData == "person") {
                            $('#FreqID').val(data.Rest_Guest_ID);
                        }
                        else {
                            $('#FreqID').val(data.Rest_Company_ID);
                        }
                        $('#Name').val(data.Name);
                        $('#Phone').val(data.Phone);
                        $('#Address').val(data.Address);
                        $('#Email').val(data.Email);
                    }
                }
            });
        }
    });

    function changer() {
        var totalPayable = Number($('#TotalPayable').val());
        var discount = Number($('#discount').val());
        var cashPay = Number($('#cashPay').val());
        var due = totalPayable - discount - cashPay;
        $('#due').val(due);
        return due;
    }

    $('input[type=radio][name=GuestOption]').change(function () {
        if (this.value == "none") {
            $('#personDiv').hide();
        }
        else {
            $('#personDiv').show();
        }
    });

    $('#Room_ID').change(function () {
        var dt = $(this).val();
        if (dt != "") {
            $.ajax({
                url: '@Url.Action("RoomDetail", "RestaurantOrder")',
                type: "GET",
                data: { id: dt },
                success: function (data) {
                    $('#modal-id').modal({
                        //backdrop: 'static',
                    }, 'show');
                    $('.modal-body').html(data);
                }
            });
        }

    });

    $('#cmd').click(function () {
        var dt = $('#Pay_Method_ID').val();
        var room = $('#Room_ID').val();
        var due = Number($('#due').val());
        var cash = $('#cashPay').val();
        if ((dt == 3 || dt == 5) && room == "") {
            alert("Select Room Number");
        }
        else if (dt == 1 && due > 0) {
            alert("Due must be 0");
        }
        else if ((dt == 4 || dt == 5) && cash == "") {
            alert("Enter Cash Payment");
        }
        else {
            $('#payForm').submit();
        }
    });

    $('#payForm').validate({
        rules: {
            cashPay: {
                number: true,
                min: 0
            },
            discount: {
                number: true,
                min: 0
            },
            Phone: {
                required: '#person:checked , #company:checked'
            },
            particular: "required"
        },
        messages: {
            cashPay: {
                number: "Non numeric character is not allowed",
                min: "Cash amount can't be negetive"
            },
            discount : {
                number: "Non numeric character is not allowed",
                min: "Discount can't be negetive"
            },
            Phone: {
                required: "Provide phone number"
            },
            particular: "Please provide the particulars."
        }
    });
</script>