﻿@model PMS_HT.Models.tbl_guest_stay_info

<div>
    @if (Model.tbl_guest_info.Image != null)
    {
        <div style="text-align:center">
            `<img src="@Model.tbl_guest_info.Image" />
        </div>
    }
    <dl class="dl-horizontal">       
        <dt>
            @Html.DisplayNameFor(model => model.tbl_guest_info.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_guest_info.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_room_info.Room_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_room_info.Room_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arrival_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arrival_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departure_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departure_Date)
        </dd>

        
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>