﻿@*@model PMS_HT.Controllers.Basedate*@

@{
    ViewBag.Title = "DeleteDataBase";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Model.BaseDate = null;
}

<h2>Delete Database</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>Date</label>
            <div class="col-md-10">
                <input type="text" class="form-control datefield" name="basedate" />
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.A, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" name="A" value="@Model.A" readonly />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.B, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" name="B" value="@Model.B" readonly />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Sum" class="form-control"/>
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        $(".datefield").datepicker({
            dateFormat: 'dd/mm/yy'
            
        });
    });
</script>