﻿@model PMS_HT.Models.tbl_property_information

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("BackupDatabase", "PropertyInformation")" class="btn btn-primary">
    <i class="fa fa-download"></i> Backup Database
</a>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-comments"></i>Property Information
                    </div>
                </div>
                <div class="portlet-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.id)

                            <div class="row form-group col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Property_Name, "Property Name", htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.EditorFor(model => model.Property_Name, new { htmlAttributes = new { @class = "form-control", required = true } })
                                        @Html.ValidationMessageFor(model => model.Property_Name, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.Property_Type, "Property Type", htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.EditorFor(model => model.Property_Type, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Property_Type, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Property_Grade, "Property Grade", htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.EditorFor(model => model.Property_Grade, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Property_Grade, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.Address, "Address", htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.City, "City", htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.Postal_Code, "Postal Code", htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.EditorFor(model => model.Postal_Code, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Postal_Code, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.State, "State", htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.Country_ID, "Country", htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.DropDownList("Country_ID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Country_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.Website, htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Registraion_VAT, "Registration VAT", htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.EditorFor(model => model.Registraion_VAT, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Registraion_VAT, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.Registraion_TIN, "Registration TIN", htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.EditorFor(model => model.Registraion_TIN, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Registraion_TIN, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Registraion_CST, "Registration CST", htmlAttributes: new { @class = "control-label col-md-2 col-sm-8 col-xs-8" })
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.EditorFor(model => model.Registraion_CST, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Registraion_CST, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" hidden>
                                @Html.LabelFor(model => model.Logo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Logo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Logo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" hidden>
                                @Html.LabelFor(model => model.ysndefault, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.ysndefault)
                                        @Html.ValidationMessageFor(model => model.ysndefault, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12" style="text-align: center;">
                                    <input type="submit" value="Update" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>