﻿@model IEnumerable<PMS_HT.Models.tbl_property_information>

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-comments"></i>Property List
                    </div>
                    @*<div class="tools">
                        <a href="@Url.Action("Add", "PropertyInformation")" id="Add" style="color: white;"><i class="glyphicon glyphicon-plus"></i>&nbsp;Create New</a>
                    </div>*@
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>SL No </th>
                                    <th>Country Name</th>
                                    <th>Property Name</th>
                                    <th>Property Type</th>
                                    <th>Property Grade</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 0;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @{i++;}
                                            @i
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tbl_country.Country_Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Property_Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Property_Type)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Property_Grade)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Phone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Edit", "PropertyInformation", new { id = item.id })" @*class="editDialog"*@><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                                        </td>
                                        <td>
                                            @Ajax.ActionLink(" Delete", "Delete", "PropertyInformation", new { @id = item.id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-record" }, new { onclick = "return confirm('Are you sure you wish to delete this Brand?');", @class = "fa fa-trash-o" })
                                        </td>
                                    </tr>
                                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>

<div class="modal fade" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Property</h4>
            </div>
            <div class="divForAdd">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update Property</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>


<script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('.portlet-title #Add').click(function (event) {
            event.preventDefault();
            $.get(this.href, function (response) {
                $('.divForAdd').html(response);
            });
            $('#Add-Model').modal({
                backdrop: 'static',
            }, 'show');
        });
        $('.editDialog').click(function (event) {
            event.preventDefault();
            $.get(this.href, function (response) {
                $('.divForUpdate').html(response);
            });
            $('#Edit-Model').modal({
                backdrop: 'static',
            }, 'show');
        });
    });
</script>














@*@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tbl_country.Country_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Property_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Property_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Property_Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postal_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registraion_VAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registraion_TIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registraion_CST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ysndefault)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_country.Country_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Property_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Property_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Property_Grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postal_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Registraion_VAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Registraion_TIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Registraion_CST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ysndefault)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>*@
