﻿@model PMS_HT.Models.tbl_earning_head

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_earning_head</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Earning_Head_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Earning_Head_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Earning_Head_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
