﻿<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-comments"></i>Banquet Transaction Details
                    </div>

                </div>
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>SL No</th>
                                <th style="width:500px">
                                    Rent
                                </th>
                                <th>
                                    Transaction Date
                                </th>
                                <th>
                                    Amount
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0; decimal rentTotal = 0;}
                            @foreach (var item in ViewBag.Rent)
                            {
                                rentTotal += @item.Debit;
                                <tr>
                                    <td>
                                        @{i++;}
                                        @i
                                    </td>
                                    <td>
                                        Rent
                                    </td>

                                    <td>
                                        @item.Tran_Date
                                    </td>

                                    <td>
                                        @item.Debit
                                    </td>

                                </tr>
                                            }
                            <tr style="background-color:#e7efec">
                                <td></td>
                                <td></td>
                                <td>Total</td>
                                <td>@rentTotal</td>

                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>SL No</th>
                                <th style="width:500px">
                                    Amenites Heading
                                </th>
                                <th>
                                    Transaction  Date
                                </th>
                                <th>
                                    Amount
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int j = 0; decimal amenitesTotal = 0;}
                            @foreach (var item in ViewBag.Amenites)
                            {
                                amenitesTotal += @item.Debit;
                                <tr>
                                    <td>
                                        @{j++;}
                                        @j
                                    </td>
                                    <td>@item.Amenities_Heading
                                    </td>
                                    <td>
                                        @item.Tran_Date
                                    </td>

                                    <td>
                                        @item.Debit
                                    </td>
                                </tr>
                                            }
                            <tr style="background-color:#e7efec">
                                <td></td>
                                <td></td>
                                <td>Total</td>
                                <td>@amenitesTotal</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th></th>
                                <th style="width:520px"></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{decimal payable;
                                payable = (rentTotal + amenitesTotal); }
                            <tr style="background-color:darkseagreen">
                                <td></td>
                                <td></td>
                                <td>Net Payable</td>
                                <td></td>
                                <td>@payable</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>SL No</th>
                                <th style="width:500px">
                                    Payment
                                </th>
                                <th>
                                   Transaction Date
                                </th>
                                <th>
                                    Amount
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int k = 0; decimal paymentTotal = 0;}
                            @foreach (var item in ViewBag.Payment)
                            {
                                paymentTotal += @item.Credit;
                                <tr>
                                    <td>
                                        @{k++;}
                                        @k
                                    </td>
                                    <td>
                                        Payment
                                    </td>
                                    <td>
                                        @item.Tran_Date
                                    </td>
                                    <td>
                                        @item.Credit
                                    </td>
                                </tr>
                                            }
                            <tr style="background-color:#e7efec">
                                <td></td>
                                <td></td>
                                <td>Total Payment</td>
                                <td>@paymentTotal</td>                               
                            </tr>
                        </tbody>
                    </table>


                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th></th>
                                <th style="width:520px"></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{decimal due;
                                due = (rentTotal + amenitesTotal) - (paymentTotal); }
                            <tr style="background-color:#eed8d8">
                                <td></td>
                                <td></td>
                                <td>Due Amount</td>
                                <td></td>
                                <td>@due</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
