﻿@model IEnumerable<PMS_HT.Models.DailyRoomLettingViewModel>
@{
    ViewBag.Title = "DailyRoomLetting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AddViewModel.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-7">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Daily Room Letting Return
                    </div>
                    <div class="tools">

                    </div>
                </div>

                <div class="portlet-body">
                    @using (Html.BeginForm("DailyRoomLettingReturn", "RoomIncome", FormMethod.Get))
                    {
                        <div class="container">
                            <div class="row form-group">
                                @*<div class="col-md-1">
                                    <label class="control-label">Date</label>
                                </div>*@                                
                                <div class="col-md-3">
                                    <input type="text" id="date" class="form-control" autocomplete="off" name="date" placeholder="Date">
                                </div>
                                <div class="row form-group">
                                    <button type="button" class="btn btn-success" id="searchButton" ><i class="fa fa-search"></i>&nbsp; Search</button>
                                    <button type="button" class="btn red" id="printReportButton"><i class="fa fa-file-pdf-o"></i>&nbsp; PDF</button>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="container">
                        <div class="row">
                            <div class="table-responsive" id="partialView">
                                @Html.Partial("search")
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#date").datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });

    $("#searchButton").click(function () {
        var dateVal = $("#date").val();
        $.post('@Url.Action("search")',
          { dt: dateVal }, function (data) {
              $("#partialView").html(data);
          });
    });
    $("#printReportButton").click(function () {
        var doVal = $("#date").val();
        var doVal2 = "";
        doVal2 += doVal.slice(3, 6);
        doVal2 += doVal.slice(0, 3);
        doVal2 += doVal.slice(6, 10);
        //window.location = "/RoomIncome/ExportReport/?dob=" + doVal2;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ExportReport","RoomIncome")',
            data: { dob: doVal2 },
            success: function (data) {
                var str = "data:application/pdf;base64," + data;
                var object = '<iframe width="100%" height="100%" src="' + str + '"></iframe>';
                var generator = window.open("", "", "top=100,left=500,width=500,height=500");
                generator.document.write(object);
                generator.document.close();
            }
        });
    });
</script>


