﻿<table class="table table-striped table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>SL. No</th>
            <th>Room No</th>
            <th>Name</th>
            <th> Rate <br /> (With 15%Vat)</th>
            <th>Arrival Date</th>
            <th>CheckOut Date</th>
            <th>Stay<br />(Hours)</th>
            <th>Previous Balance</th>
            <th align="center">Current Bill</th>
            <th>Other Bill</th>
            <th>Total</th>
            <th>Payment</th>
            <th>Balance</th>
            <th>Advanced Amount</th>
            <th>Discount</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; decimal previous = 0, current = 0, otherbill = 0, total = 0, payment = 0, staff_Commission = 0, balance = 0, advAmount = 0, discount = 0, surplus = 0, baddebt = 0, refund = 0;}
        @if (ViewBag.status != null)
        {
            foreach (var item in ViewBag.status)
            {
                previous += Convert.ToDecimal(item.PreviousBalance);
                current += Convert.ToDecimal(item.CurrentBill);
                otherbill += Convert.ToDecimal(item.OtherBill);
                total += Convert.ToDecimal(item.Total);
                payment += Convert.ToDecimal(item.Payment);
                balance += Convert.ToDecimal(item.Balance);
                advAmount += Convert.ToDecimal(item.Advanced_Amount);
                discount += Convert.ToDecimal(item.Discount);
                surplus += Convert.ToDecimal(item.Surplus);
                baddebt += Convert.ToDecimal(item.Baddebt);
                refund += Convert.ToDecimal(item.Refund);
                <tr>
                    <td>
                        @{i++;}
                        @i
                    </td>
                    <td>@item.Room_No</td>
                    <td>@item.Name</td>
                    @if (item.Rate != 0)
                    {
                        <td class="text-right">@item.Rate.ToString("F")</td>
                        <td class="text-right">@item.Arrival_Date.ToString("dd/MM HH:mm")</td>
                        <td class="text-right">@item.CheckOutString</td>
                        <td class="text-right">@item.Stay</td>
                        <td class="text-right">@item.PreviousBalance.ToString("F")</td>
                        <td class="text-right">@item.CurrentBill.ToString("F")</td>
                        <td class="text-right">@item.OtherBill.ToString("F")</td>
                        <td class="text-right">@item.Total.ToString("F")</td>
                        <td class="text-right">@item.Payment.ToString("F")</td>
                        <td class="text-right">@item.Balance.ToString("F")</td>
                        <td class="text-right">@item.Advanced_Amount.ToString("F")</td>
                        <td class="text-right">@item.Discount.ToString("F")</td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">@item.Payment</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    }

                </tr>
            }
            staff_Commission = (payment * (decimal)0.1) / (decimal)1.15;
        }

    </tbody>
    <tr style="background-color:#e7efec">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>Total Previous Balance</th>
        <td></td>
        <td class="text-right">@previous.ToString("F")</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr style="background-color:#f3f4f6">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>Total Current Bill</th>
        <td></td>
        <td class="text-right">@current.ToString("F")</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr style="background-color:#f3f4f6">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>Total Other Bill</th>
        <td></td>
        <td class="text-right">@otherbill.ToString("F")</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr style="background-color:#d8d9dc">
        <td></td>
        <td></td>
        <td>(Previous Balance + Current Bill)</td>
        <td></td>
        <td></td>
        <th>Total</th>
        <td></td>
        <td class="text-right">@total.ToString("F")</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr style="background-color:#e7efec">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>Total Discount</th>
        <td></td>
        <td class="text-right">@discount.ToString("F")</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr style="background-color:#f3f4f6">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>Total Baddebt</th>
        <td></td>
        <td class="text-right">@baddebt.ToString("F")</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr style="background-color:#e7efec">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>Total Balance</th>
        <td></td>
        <td class="text-right">@balance.ToString("F")</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr style="background-color:#e7efec">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>Total Advanced</th>
        <td></td>
        <td class="text-right">@advAmount.ToString("F")</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    @{total = total - discount - baddebt - balance + advAmount;}
    <tr style="background-color:#D8D9DC">
        <td></td>
        <td></td>
        <td>(Total -Balance - Discount - Baddebt + Advanced)</td>
        <td></td>
        <td></td>
        <th>Total Cash Collection</th>
        <td></td>
        <td class="text-right">@total.ToString("F")</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr style="background-color:#f3f4f6">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>Total Refund</th>
        <td></td>
        <td class="text-right">@refund.ToString("F")</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>


    <tr style="background-color:#e7efec">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th>Total Surplus</th>
        <td></td>
        <td class="text-right">@surplus.ToString("F")</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    @{total = total + surplus - refund;}
    <tr style="background-color:#D8D9DC">
        <td></td>
        <td></td>
        <td>(Cash Collection - Refund + Surplus)</td>
        <td></td>
        <td></td>
        <th>Net Room Income</th>
        <td></td>
        <td class="text-right">@total.ToString("F")</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr style="background-color:#e7efec">
        <td></td>
        <td></td>
        <th>Staff Commission(10%)</th>
        <td class="text-right">@staff_Commission.ToString("0.00")</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>