﻿
<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-2">
        <a href="@Url.Action("Index", "InventorySettings")" id="Category" class="btn blue-ebonyclay btn-outline btn-block sbold icon-btn" style="font-size:x-large;"><i class="fa fa-sitemap" style="font-size:xx-large"></i>&nbsp;Category</a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("SubCategory", "InventorySettings")" id="SubCategory" class="btn blue-ebonyclay btn-outline btn-block sbold icon-btn" style="font-size:x-large;"><i class="fa fa-list-alt" style="font-size:xx-large"></i>&nbsp;Sub-Category</a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("Items", "InventorySettings")" id="Items" class="btn blue-ebonyclay btn-outline btn-block sbold icon-btn" style="font-size:x-large;"><i class="fa fa-barcode" style="font-size:xx-large"></i>&nbsp;Items</a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("Brands", "InventorySettings")" id="Brand" class="btn blue-ebonyclay btn-outline btn-block sbold icon-btn" style="font-size:x-large;"><i class="fa fa-yelp" style="font-size:xx-large"></i>&nbsp;Brand</a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("StockLocations", "InventorySettings")" id="Stock_Location" class="btn blue-ebonyclay btn-outline btn-block sbold icon-btn" style="font-size:x-large;"><i class="fa fa-industry" style="font-size:x-large"></i>&nbsp;Stock Location</a>
    </div>
    <div class="col-md-1">

    </div>
</div>
<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-2">
        <a href="@Url.Action("Units", "InventorySettings")" id="Unit" class="btn blue-ebonyclay btn-outline btn-block sbold icon-btn" style="font-size:x-large;"><i class="fa fa-balance-scale" style="font-size:xx-large"></i>&nbsp;Unit</a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("Vendors", "InventorySettings")" id="Supplier" class="btn blue-ebonyclay btn-outline btn-block sbold icon-btn" style="font-size:x-large;"><i class="fa fa-cart-plus" style="font-size:xx-large"></i>&nbsp;Vendors</a>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-1">

    </div>
</div>
<br />
