﻿@using System.Text.RegularExpressions;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @{
        var GetController = @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
        var outputController = Regex.Replace(GetController, "(((?<!^)[A-Z](?=[a-z]))|((?<=[a-z])[A-Z]))", " $1");
    }
    @if (outputController == "Police Report")
    {
        outputController = "Guest Overview";
    }
    <title>@outputController</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/css")


    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)

</head>
<!-- END HEAD -->
<body class="page-container-bg-solid page-header-menu-fixed">
    <div class="page-wrapper ">
        <div class="page-wrapper-row">
            <div class="page-wrapper-top">
            <!-- BEGIN HEADER -->
                <div class="page-header">
                    <!-- BEGIN HEADER TOP -->
                    <div class="page-header-top">
                        <div class="container">
                            <!-- BEGIN LOGO -->
                            <div class="page-logo">
                                <a href="http://www.vlinkhotel.com">
                                    <img src="~/images/Property/PropertyHeaderLogo.png" alt="logo" class="logo-default">
                                </a>
                            </div>
                            <!-- END LOGO -->
                            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                            <a href="javascript:;" class="menu-toggler"></a>
                            <!-- END RESPONSIVE MENU TOGGLER -->
                            <!-- BEGIN TOP NAVIGATION MENU -->
                            <div class="top-menu">
                                <div class="nav navbar-nav pull-left clock-wrapper">
                                    <div class="clock-content">

                                    </div>
                                </div>
                                <ul class="nav navbar-nav pull-right">

                                    <!-- BEGIN USER LOGIN DROPDOWN -->
                                    <li class="dropdown dropdown-user dropdown-dark">

                                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                            <img alt="" class="img-circle" src="~/images/employee/@Session["Image"]">

                                            <span class="username username-hide-mobile" id="userName">@User.Identity.Name</span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-default">
										<li class="divider"> </li>
										<li>
											@{ int id = (int) Session["UserID"];}
											<a href="@Url.Action("Details", "HrEmployee", new {area = string.Empty, id = id})">
												<i class="fa fa-user"></i> Profile
											</a>
										</li>
										<li>
											<a href="@Url.Action("Logoff", "HrEmployee", new { area = string.Empty})">
												<i class="icon-lock"></i> Log Out
											</a>
										</li>
									</ul>
                                    </li>
                                    <!-- END USER LOGIN DROPDOWN -->
                                </ul>
                            </div>
                            <!-- END TOP NAVIGATION MENU -->
                        </div>
                    </div>
                    <!-- END HEADER TOP -->
                <!-- BEGIN HEADER MENU -->
                <div class="page-header-menu">
                    <div class="container purple">
                        <!-- BEGIN MEGA MENU -->
                        <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                        <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                        <div class="hor-menu">
                            <ul class="nav navbar-nav">
                            @if (User.IsInRole("Manager") || User.IsInRole("Admin") || User.IsInRole("Super Admin") || User.IsInRole("Frontdesk"))
                            {
                                <li class="menu-dropdown classic-menu-dropdown">
                                    <a href="@Url.Action("Index", "Dashboard",new {area=string.Empty})" class="nav-link">
                                        Dashboard
                                        <span class="arrow"></span>
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole("Manager") || User.IsInRole("Admin") || User.IsInRole("Super Admin") || User.IsInRole("Frontdesk"))
                            {
                                <li class="menu-dropdown mega-menu-dropdown  ">
                                    <a href="javascript:;">
                                        FrontDesk
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu" style="min-width: 370px">
                                        <li>
                                            <div class="mega-menu-content">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <ul class="mega-menu-submenu">
                                                            <li class=" ">
                                                                <a href="@Url.Action("Index", "FrontDesk",new {area=string.Empty})" class="nav-link">
                                                                    <i class="icon-home"></i> Home
                                                                </a>
                                                            </li>
                                                            <li class=" ">
                                                                <a href="@Url.Action("DayWiseGuest", "FrontDeskGuestOverview",new {area=string.Empty})" class="nav-link">
                                                                    <i class="icon-bulb"></i> Guest Info
                                                                </a>
                                                            </li>
                                                            <li class=" ">
                                                                <a href="@Url.Action("AllGuest", "FrontDeskGuestOverview",new {area=string.Empty})" class="nav-link">
                                                                    <i class="fa fa-search"></i> Search Guest
                                                                </a>
                                                            </li>
                                                            <li class=" ">
                                                                <a href="@Url.Action("Index", "CityLedger",new {area=string.Empty})" class="nav-link">
                                                                    <i class="icon-note"></i> Outstanding Charge
                                                                </a>
                                                            </li>
                                                            <li class=" ">
                                                                <a href="@Url.Action("Index", "FrontDeskFloorWiseDailyRoomChart",new {area=string.Empty})" class="nav-link">
                                                                    <i class="icon-bar-chart"></i> Daily Room Chart
                                                                </a>
                                                            </li>
                                                            <li class=" ">
                                                                <a href="@Url.Action("Arrival", "FrontDeskGuestReport",new {area=string.Empty})" class="nav-link">
                                                                    <i class="icon-bulb"></i> Arrival Report
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <ul class="mega-menu-submenu">
                                                            <li class=" ">
                                                                <a href="@Url.Action("Departure", "FrontDeskGuestReport",new {area=string.Empty})" class="nav-link">
                                                                    <i class="icon-bulb"></i> Departure Report
                                                                </a>
                                                            </li>
                                                            <li class=" ">
                                                                <a href="@Url.Action("InHouse", "FrontDeskGuestReport",new {area=string.Empty})" class="nav-link">
                                                                    <i class="icon-bulb"></i> InHouse Report
                                                                </a>
                                                            </li>
                                                            <li class=" ">
                                                                <a href="@Url.Action("Gallery", "FrontDeskGuestOverview",new {area=string.Empty})" class="nav-link">
                                                                    <i class="fa fa-image"></i> Gallery
                                                                </a>
                                                            </li>
                                                            <li class=" ">
                                                                <a href="@Url.Action("Index", "FrontDeskReserveBooking",new {area=string.Empty})" class="nav-link">
                                                                    <i class="icon-calendar"></i> Upcoming Reserveations
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                </li>
                            }


                            @if (User.IsInRole("Manager") || User.IsInRole("Admin") || User.IsInRole("Super Admin") || User.IsInRole("Inventory"))
                            {
                                <li class="menu-dropdown mega-menu-dropdown  ">
                                    <a href="javascript:;">
                                        Inventory
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left">
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "InventoryHome",new {area=string.Empty})" class="nav-link">
                                                <i class="fa fa-home fa-2" aria-hidden="true"></i> Home
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "InventoryMasterdetails",new {area=string.Empty})" class="nav-link">
                                                <i class="fa fa-shopping-cart"></i> Purchase
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "InventoryPurchaseDetails",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-magnifier-add"></i> Purchase Details
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "InventorySettings",new {area=string.Empty})" class="nav-link">
                                                <i class="fa fa-cogs"></i> Settings
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            }
                            @if (User.IsInRole("Manager") || User.IsInRole("Admin") || User.IsInRole("Super Admin") || User.IsInRole("HR"))
                            {
                                <li class="menu-dropdown classic-menu-dropdown">
                                    <a href="javascript:;">
                                        HR/PayRoll
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left" style="min-width: 245px">
                                        <li class="">
                                            <a href="@Url.Action("Index", "HrDesignation",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-bar-chart"></i> Add Designation
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "PayRollEarningHead",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-bulb"></i> Add Earning Heading
                                            </a>
                                        </li>

                                        <li class=" ">
                                            <a href="@Url.Action("Index", "PayRollDeductionHead",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-bar-chart"></i> Add Deduction Heading
                                            </a>
                                        </li>

                                        <li class=" ">
                                            <a href="@Url.Action("Index", "HrEmployee",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-bar-chart"></i> Employee PayRoll
                                            </a>
                                        </li>

                                        <li class=" ">
                                            <a href="@Url.Action("Index", "PayRollSalaryPayable",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-bulb"></i> Employee Salary Payable
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "PayRollGrandEmployeeSalaryPayable",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-bar-chart"></i> Grand Employee Salary Payable
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            @if (User.IsInRole("Manager") || User.IsInRole("Admin") || User.IsInRole("Super Admin") || User.IsInRole("Housekeeping"))
                            {
                                <li class="menu-dropdown classic-menu-dropdown">
                                    <a href="javascript:;">
                                        House Keeping
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left">
                                        <li class="">
                                            <a href="@Url.Action("Index", "HouseKeepingMaidInfo",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-bar-chart"></i> Maid Info
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "HouseKeepingTaskSetup",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-bulb"></i> Task Setup
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "HouseKeepingTaskAssignment",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-graph"></i> Task Assign
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "HouseKeepingTaskSchedule",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-clock"></i> Task Schedule
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            }

                            @if (User.IsInRole("Manager") || User.IsInRole("Admin") || User.IsInRole("Super Admin"))
                            {
                                <li class="menu-dropdown classic-menu-dropdown">
                                    <a href="javascript:;">
                                        Banquet
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left" style="min-width: 247px">
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "BanquetInfo",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-graph"></i> Add Banquet
                                            </a>
                                        </li>

                                        <li class=" ">
                                            <a href="@Url.Action("Index", "BanquetProgramPurpose",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-graph"></i> Add Program Purpose
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "BanquetAmenities",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-bar-chart"></i> Add Amenities
                                            </a>
                                        </li>
                                        @*<li class=" ">
                                                                                    <a href="@Url.Action("Index", "BanquetBooking")" class="nav-link">
                                                                                        <i class="icon-bulb"></i> Booking
                                                                                    </a>
                                                                                </li>*@

                                        <li class=" ">
                                            <a href="@Url.Action("Index", "BanquetProgram",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-graph"></i> Create Program
                                            </a>
                                        </li>

                                        @*<li class=" ">
                                                                                    <a href="@Url.Action("Index", "BanquetTransaction")" class="nav-link">
                                                                                        <i class="icon-graph"></i> Transaction
                                                                                    </a>
                                                                                </li>*@

                                        <li class=" ">
                                            <a href="@Url.Action("Index", "BanquetIncome",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-graph"></i> Banquet Cash Collection by Date
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("AccountReceivable", "BanquetAccountReceivable",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-graph"></i> Banquet Account Receivable
                                            </a>
                                        </li>

                                        <li class=" ">
                                            <a href="@Url.Action("Index", "BanquetAvailable",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-bar-chart"></i> Available Banquet by Date
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            }
                            @if (User.IsInRole("Manager") || User.IsInRole("Admin") || User.IsInRole("Super Admin") || User.IsInRole("Account"))
                            {
                                <li class="menu-dropdown classic-menu-dropdown">
                                    <a href="javascript:;">
                                        Others Income
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left">
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "OthersIncomeHead",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-bar-chart"></i> Add Income Types
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "OthersIncome",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-bulb"></i> Manage Income
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("IncomeDayWise", "OthersIncome",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-graph"></i> Day Wise Income
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="menu-dropdown classic-menu-dropdown">
                                    <a href="javascript:;">
                                        Expenses
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left">
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "ExpenseHead",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-bar-chart"></i> Add Expense Types
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "Expense",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-bulb"></i> Manage Expenses
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("ExpenseDayWise", "Expense",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-graph"></i> Day Wise Expense
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-dropdown classic-menu-dropdown">
                                    <a href="javascript:;">
                                        Bank Transactions
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left">
                                        <li class="">
                                            <a href="@Url.Action("Index", "BankInfo",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-bar-chart"></i> Add Bank
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "BankBranchInfo",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-bulb"></i> Add Branch
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "BankAccountInfo",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-graph"></i> Bank Transactions
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            }
                            @if (User.IsInRole("Manager") || User.IsInRole("Admin") || User.IsInRole("Super Admin") || User.IsInRole("Account"))
                            {
                                <li class="menu-dropdown classic-menu-dropdown">
                                    <a href="javascript:;">
                                        Accounts
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left" style="min-width: 217px">
                                        <li class=" ">
                                            <a href="@Url.Action("DailyVacantRoom", "AccountsDailyVacantRoom",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-graph"></i> Daily Vacant Room
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "AccountsDailyVacantRoom",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-graph"></i> Daily Vacant Room Info
                                            </a>
                                        </li>

                                        <li class=" ">
                                            <a href="@Url.Action("Index", "FrontDeskCashCollection",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-graph"></i> Cash Collection from Room
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("DailyRoomLettingReturn", "RoomIncome",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-graph"></i> Daily Room Letting Return
                                            </a>
                                        </li>
                                        
                                            <li class=" ">
                                                <a href="@Url.Action("Index", "AccountsIncomeStatement",new {area=string.Empty})" class="nav-link">
                                                    <i class="icon-graph"></i> Daily Statement
                                                </a>
                                            </li>
                                            <li class=" ">
                                                <a href="@Url.Action("Index", "AccountsInventoryExpense",new {area=string.Empty})" class="nav-link">
                                                    <i class="icon-graph"></i> Inventory Expense
                                                </a>
                                            </li>
                                            <li class=" ">
                                                <a href="@Url.Action("Index", "AccountsSalaryExpense",new {area=string.Empty})" class="nav-link">
                                                    <i class="icon-graph"></i> Salary Expense
                                                </a>
                                            </li>
                                        
                                    </ul>
                                </li>
                            }
    @*@if (User.IsInRole("Manager") || User.IsInRole("Admin") || User.IsInRole("Super Admin"))
                                                                {
                                                                    <li class="menu-dropdown classic-menu-dropdown">
                                                                        <a href="@Url.Action("DailyRoomLettingReturn", "RoomIncome")" class="nav-link">
                                                                            Night Audit
                                                                            <span class="arrow"></span>
                                                                        </a>
                                                                    </li>
                                                                }*@
                                                    @if (User.IsInRole("Super Admin"))
                                                                   {
                                                                       <li class="menu-dropdown classic-menu-dropdown">
                                                                           <a href="@Url.Action("Index", "RestaurantDashboard",new {area=string.Empty})" class="nav-link">
                                                                               Restaurant
                                                                               <span class="arrow"></span>
                                                                           </a>
                                                                       </li>
                                                                   }
                            @if (User.IsInRole("Super Admin") || User.IsInRole("Manager") || User.IsInRole("Admin"))
                            {
                                <li class="menu-dropdown classic-menu-dropdown">
                                    <a href="javascript:;">
                                        Settings
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left" style="min-width: 217px">
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "FrontDeskRoom",new {area=string.Empty})" class="nav-link">
                                                <i class="fa fa-home"></i> Room
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "FrontDeskRoomFloor",new {area=string.Empty})" class="nav-link">
                                                <i class="fa fa-align-justify"></i> Room Floor
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "FrontDeskRoomType",new {area=string.Empty})" class="nav-link">
                                                <i class="fa fa-ils"></i> Room Category
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "FrontDeskRoomView",new {area=string.Empty})" class="nav-link">
                                                <i class="fa fa-ils"></i> Room View
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("Edit", "PropertyInformation", new {area = string.Empty, id = 1})" class="nav-link">
                                                <i class="icon-graph"></i> Property
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "Preferences",new {area=string.Empty})" class="nav-link">
                                                <i class="icon-graph"></i> Preferences
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "Service",new {area="Services"})" class="nav-link">
                                                <i class="icon-graph"></i> Preferences
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            @if (User.IsInRole("Frontdesk"))
                            {
                                <li class="menu-dropdown classic-menu-dropdown">
                                    <a href="@Url.Action("Index", "Preferences",new {area=string.Empty})" class="nav-link">
                                        Preferences
                                        <span class="arrow"></span>
                                    </a>
                                </li>
                            }
                            </ul>
                        </div>
                        <!-- END MEGA MENU -->
                    </div>
                </div>
                <!-- END HEADER MENU -->
                </div>
            <!-- END HEADER -->
            </div>
        </div>
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <div class="page-container">
                <div class="page-content-wrapper">
                    <div class="page-head">
                        <div class="container">
                            <div class="page-title">
                                <h1>
                                    <a href="@Url.Action("Index", GetController)">
                                        @outputController
                                    </a>
                                    <small>@HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString()</small>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="page-content">
                        <div class="container-fluid">

                            @RenderBody()

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-wrapper-row">
        <div class="page-wrapper-bottom">

            <div class="page-footer">
                <div class="container">
                    2016 &copy; All Right Reserved
                    <a target="_blank" href="http://v-linknetwork.com">V-Link Network</a> &nbsp;                   
                </div>
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>

        </div>
    </div>
    </div>
    <div class="loading-modal">

    </div>
    @if (ViewBag.Subscription != null)
    {
        <h4 class="span-subscription"><i class="fa fa-spinner fa-spin"></i> @ViewBag.Subscription</h4>
    }
    <script>
        $body = $("body");

        $(document).on({
            ajaxStart: function () { $body.addClass("loading"); },
            ajaxStop: function () { $body.removeClass("loading"); }
        });
    </script>
</body>
</html>