﻿@using System.Text.RegularExpressions;
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    @{
        var GetController = @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
        var outputController = Regex.Replace(GetController, "(((?<!^)[A-Z](?=[a-z]))|((?<=[a-z])[A-Z]))", " $1");
    }
    <title>@outputController</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />*@

    <link href="~/assets/global/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/global/css/RestaurantStyle.css" rel="stylesheet" />


    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.color-2.1.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    @*<script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>*@
    @*<script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>*@
    @*<script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>*@
    <script src="~/Scripts/jquery-ui-touch-punch.js"></script>
    <script src="~/Scripts/RestaurantStyle.js"></script>
</head>
<body>
    <!-- START HEADER -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <div class="logo">
                        <a href="">V-LINK <small>Restaurant</small></a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-7 col-xs-12">
                    <div class="header-inner">
                        <div class="header-menu">
                            <ul class="nav navbar-nav">
                                <li><a href=""><i class="fa fa-home icon-padding"></i> Home</a></li>
                                <li><a href=""><i class="fa fa-dashboard icon-padding"></i> Dashboard</a></li>
                                <li><a href=""><i class="fa fa-file-text icon-padding"></i> Order</a></li>
                            </ul>
                        </div>
                        <div class="header-search">
                            <form action="" method="POST" role="form" class="form-inline">
                                <div class="form-group">
                                    <i class="fa fa-search"></i>
                                    <input type="text" id="" placeholder="Search" class="form-control">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-5 col-xs-12" style="float:right">
                    <div class="header-right">
                        <ul class="nav navbar-nav navbar-right">
                            <li></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-user-o"></i> @User.Identity.Name
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    @{ int id = 0;
                                        if (Session["UserID"] != null)
                                        {
                                            id = (int)Session["UserID"];
                                        }
                                        }
                                    <li>
                                        <a href="@Url.Action("Details", "HrEmployee", new { id = id })"><i class="fa fa-user"></i> Profile</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Logoff", "HrEmployee")"><i class="fa fa-power-off"></i> Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <menu>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="" class="navbar-brand">MENU</a>
                        </div>
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="@Url.Action("Index", "RestaurantDashboard")"><i class="fa fa-dashboard btn btn-success"></i> Dashboard</a></li>
                                <li><a href="@Url.Action("Orders", "RestaurantOrder")"><i class="fa fa-file-text btn btn-success"></i> Order</a></li>
                                <li><a href="#"><i class="fa fa-calculator btn btn-success"></i> Inventory</a></li>
                                <li><a href="@Url.Action("Report", "RestaurantDashboard")"><i class="fa fa-file btn btn-success"></i> Report</a></li>
                                <li><a href="#"><i class="fa fa-users btn btn-success"></i> Users</a></li>
                                <li><a href="@Url.Action("Index", "RestaurantAdmin")"><i class="fa fa-cog btn btn-success"></i> Settings</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </menu>

    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-copyright">
                        <span>Copyright &copy; 2017 | V-link Restaurent . All rights reserved. </span>
                        <span class="pull-right">Design & Developed by : <a href="http://v-linknetwork.com">V-link Network</a></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @*<script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.color.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/modernizr-2.8.3.min.js"></script>
        <script src="js/jquery.dataTables.js"></script>
        <script src="js/jquery.ui.touch-punch.min.js"></script>
        <script src="js/dataTables.bootstrap.min.js"></script>
        <script src="js/RestaurantOrder.js"></script>
        <script src="js/style.js"></script>*@

</body>
</html>
