﻿@using System.Text.RegularExpressions;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    @{
        var GetController = @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
        var outputController = Regex.Replace(GetController, "(((?<!^)[A-Z](?=[a-z]))|((?<=[a-z])[A-Z]))", " $1");
    }
    <title>@outputController</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="~/Content/materialize.min.css" media="screen,projection" />
    @*<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">*@
    <link href="~/Content/materialicon.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/global/css/RestaurantAdminStyle.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/materialize.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/RestaurantAdminStyle.js"></script>
</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav class="navbar-main">
                <div class="nav-wrapper container">
                    <div class="row">
                        <div class="col m2 s6" id="logo">
                            <div class="sidebar-brand">
                                <a href=""><img src="~/images/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col m2 s3" id="nav-menu">
                            <i class="mdi mdi-reorder-horizontal"></i>
                        </div>
                        <div class="col m8 s3 right" id="nav-right">
                            <ul class="right">
                                <li class="nav-right-dropdown">
                                    <a href="#" class="admin-text">
                                        <i class="mdi mdi-account left"></i>@User.Identity.Name
                                        <i class="mdi mdi-chevron-down right"></i>
                                    </a>
                                    <ul class="nav-dropdownmenu-right">
                                        @{ int id = 0;
                                            if (Session["UserID"] != null)
                                            {
                                                id = (int)Session["UserID"];
                                            }
                                        }
                                        <li>
                                            <a href="@Url.Action("Details", "HrEmployee", new { id = id })">
                                                <i class="material-icons">face</i> Profile
                                            </a>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("Logoff", "HrEmployee")">
                                                <i class="material-icons">keyboard_tab</i> Logout
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div id="wrapper">
            <aside class="sidebar">
                <ul class="sidebar-nav side-nav fixed leftside-navigation ps-container ps-active-y blue-grey darken-4">
                    <li class="bold"><a href="@Url.Action("Index","RestaurantAdmin")"><i class="mdi mdi-view-dashboard"></i>  Dashboard</a></li>
                    <li class="bold"><a href="@Url.Action("Index","RestaurantFood")"><i class="mdi mdi-format-list-bulleted"></i>Item</a></li>
                    <li class="bold"><a href="@Url.Action("Index","RestaurantFoodCategory")"><i class="mdi mdi-tag"></i> Category </a></li>
                    <li class="bold" id="sidebar-dropdown">
                        <a href="#"><i class="mdi mdi-table left"></i>Dine <i class="mdi mdi-chevron-down right"></i></a>
                        <ul class="grey darken-4" id="sidebar-dropdown-menu">
                            <li><a href="@Url.Action("Index","RestaurantDineLocation")"><i class="mdi mdi-crosshairs-gps"></i> Dine location</a></li>
                            <li><a href="@Url.Action("Index","RestaurantDineSetup")"><i class="mdi mdi-table left"></i> Tables</a></li>
                        </ul>
                    </li>
                    <li class="bold"><a href="@Url.Action("Index","RestaurantDineWaiter")"><i class="mdi mdi-account-circle"></i>  Waiter</a></li>
                </ul>
            </aside>
            <section class="page-title-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6">
                            <h5><i class="mdi mdi-view-dashboard small"></i>@ViewBag.Title</h5>
                        </div>
                        <div class="col s12 m6">
                            <div class="breadcrumbs nav-wrapper">
                                <ul id="breadcrumps">
                                    <li><a href="@Url.Action("Index","RestaurantAdmin")"><i class="mdi mdi-view-dashboard"></i>Dashboard</a></li>
                                    <li><a href="@Url.Action("Index","RestaurantFood")"><i class="mdi mdi-view-dashboard"></i>Item</a></li>
                                    <li><a href="@Url.Action("Index","RestaurantFoodCategory")"><i class="mdi mdi-view-dashboard"></i>Category</a></li>
                                    <li><a href="@Url.Action("Index","RestaurantDineSetup")"><i class="mdi mdi-view-dashboard"></i>Table</a></li>
                                    <li><a href="@Url.Action("Index","RestaurantDineWaiter")"><i class="mdi mdi-view-dashboard"></i>Waiter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content">
                <div class="card-wrapper">
                    <div class="container">
                        @RenderBody()
                    </div>
                </div>
            </section>
    </main>

    <script>
        $(document).ready(function () {
            var title = '@ViewBag.Title';
            var thisLi = $('#breadcrumps li');
            $('#breadcrumps li').each(function () {
                if ($(this).find('a').text() == title) {
                    $(this).addClass("active");
                }
            });
            //alert(thisLi);
        });
    </script>

</body>
</html>