﻿@model IEnumerable<PMS_HT.Models.tbl_dining_waiter>

@{
    ViewBag.Title = "Waiter";
    Layout = "~/Views/Shared/_RestaurantAdmin.cshtml";
}

<div class="row">
    <div class="col m12">
        <a href="@Url.Action("Create", "RestaurantDineWaiter")" id="Add" class="waves-effect waves-light btn"><i class="material-icons">add</i>Add New</a>
        <table id="itemtbl" class="mdl-data-table" cellspacing="0" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.tbl_dining_set_up.Dining_No)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.tbl_emp_info.Emp_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Note)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.tbl_dining_set_up.Dining_No)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.tbl_emp_info.Emp_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Note)
                    </th>
                    <th></th>
                </tr>
            </tfoot>
            @{ int i = 0;}
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @{i++;}
                        <td>@i</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tbl_dining_set_up.Dining_No)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tbl_emp_info.Emp_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                        @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Dining_Waiter_ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Dining_Waiter_ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Dining_Waiter_ID })
                        </td>*@
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="@Url.Action("Edit", "RestaurantDineWaiter", new { id = item.Dining_Waiter_ID })" class="waves-effect waves-light btn editDialog"><i class="material-icons">edit</i>&nbsp;Edit</a>
                                <a href="@Url.Action("Delete", "RestaurantDineWaiter", new { id = item.Dining_Waiter_ID })" class="fa fa-trash-o btn red"><i class="material-icons">delete</i>&nbsp;Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal-test" hidden>
</div>

<div id="itemEdit" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Update Waiter</h4>
        </div>
        <div class="divForUpdate">
        </div>
    </div>
    @*<div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>*@
</div>

<script>
    $('.editDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        var opener = document.createElement('a');
        opener.setAttribute('href', '#itemEdit');
        opener.className = "modal-trigger";
        $(".modal-test").append(opener);
        opener.click();
    });
</script>