﻿<!DOCTYPE html>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var totalVacantUp = ViewBag.TotalVacant + ViewBag.TotalDirty;
}

<html lang="en">
<head>
    <script src="~/Scripts/Chart.min.js"></script>
</head>

<body class="page-container-bg-solid">
    @if (!User.IsInRole("Frontdesk"))
    {
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="datepicker-wrapper">
                        <div id="datepicker-container" style="left: -302px; top: 130px; z-index: 10000; height: 250px;">
                            <div id="datepicker-content" style="height: 250px; width: 290px;">
                                <a href="#" id="fblink" class="open"></a>
                                <img alt="" src="../images/dicon.png" style="top: 0px; right: -40px;">
                                <div id="datepicker" class="datepicker-calendar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container" id="Date_Picker" style="margin-left: auto" hidden>
            @using (Html.BeginForm("Index", "Dashboard", FormMethod.Post, new { id = "dateForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <input type="text" id="dt" name="dt" value="@ViewBag.date">
                <button type="submit" class="btn purple">Search</button>
            }
        </div>
    }

    <div class="page-wrapper">
        <div class="page-wrapper-row">
            <div class="page-wrapper-top">

            </div>
        </div>
        <div class="page-wrapper-row full-height">
            <div class="page-wrapper-middle">
                <!-- BEGIN CONTAINER -->
                <div class="page-container">
                    <!-- BEGIN CONTENT -->
                    <div class="page-content-wrapper">
                        <!-- BEGIN CONTENT BODY -->
                        <!-- BEGIN PAGE CONTENT BODY -->
                        <div class="page-content">
                            <div class="container">
                                <!-- BEGIN PAGE CONTENT INNER -->
                                <div class="page-content-inner">

                                    <div class="row widget-row">
                                        <div class="col-md-2 col-sm-4 col-xs-6">
                                            <!-- BEGIN WIDGET THUMB -->
                                            <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 ">
                                                <h4 class="widget-thumb-heading">Pre Vacant</h4>
                                                <div class="widget-thumb-wrap">
                                                    <i class="widget-thumb-icon icon-bar-chart" style="background: @ViewBag.ClearColor"></i>
                                                    <div class="widget-thumb-body">
                                                        <span class="widget-thumb-body-stat" data-counter="counterup" data-value=@ViewBag.PreviousVacant>0</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END WIDGET THUMB -->
                                        </div>
                                        <div class="col-md-2 col-sm-4 col-xs-6">
                                            <!-- BEGIN WIDGET THUMB -->
                                            <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 ">
                                                <h4 class="widget-thumb-heading">Check In</h4>
                                                <div class="widget-thumb-wrap">
                                                    <a class="page-scroll" href="#todaysEntry" style="text-decoration: none;">
                                                        <i class="widget-thumb-icon fa fa-check" style="background: @ViewBag.OccupiedColor"></i>
                                                        <div class="widget-thumb-body">

                                                            <span class="widget-thumb-body-stat" data-counter="counterup" data-value=@ViewBag.TotalEntryToday>0</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- END WIDGET THUMB -->
                                        </div>

                                        <div class="col-md-2 col-sm-4 col-xs-6">
                                            <!-- BEGIN WIDGET THUMB -->
                                            <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 ">
                                                <h4 class="widget-thumb-heading">CheckOut</h4>
                                                <div class="widget-thumb-wrap">
                                                    <a class="page-scroll" href="#totalCheckOut" style="text-decoration: none;">
                                                        <i class="widget-thumb-icon icon-layers" style="background: @ViewBag.DirtyColor"></i>
                                                        <div class="widget-thumb-body">

                                                            <span class="widget-thumb-body-stat" data-counter="counterup" data-value=@ViewBag.TotalCheckOutToday>0</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- END WIDGET THUMB -->
                                        </div>
                                        <div class="col-md-2 col-sm-4 col-xs-6">
                                            <!-- BEGIN WIDGET THUMB -->
                                            <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 ">
                                                <h4 class="widget-thumb-heading">House Count</h4>
                                                <div class="widget-thumb-wrap">
                                                    <a class="page-scroll" href="#totalCheckIn" style="text-decoration: none;">
                                                        <i class="widget-thumb-icon fa fa-check" style="background: @ViewBag.OccupiedColor"></i>
                                                        <div class="widget-thumb-body">

                                                            <span class="widget-thumb-body-stat" data-counter="counterup" data-value=@ViewBag.TotalCheckIn>0</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- END WIDGET THUMB -->
                                        </div>

                                        <div class="col-md-2 col-sm-4 col-xs-6">
                                            <!-- BEGIN WIDGET THUMB -->
                                            <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 ">
                                                <h4 class="widget-thumb-heading">Reserved</h4>
                                                <div class="widget-thumb-wrap">
                                                    <a class="page-scroll" href="#totalReserved" style="text-decoration: none;">
                                                        <i class="widget-thumb-icon icon-layers" style="background: @ViewBag.ReservedColor"></i>
                                                        <div class="widget-thumb-body">

                                                            <span class="widget-thumb-body-stat" data-counter="counterup" data-value=@ViewBag.TotalReserved>0</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- END WIDGET THUMB -->
                                        </div>
                                        @*<div class="col-md-2 col-sm-4">
                                                <!-- BEGIN WIDGET THUMB -->
                                                <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 ">
                                                    <h4 class="widget-thumb-heading">Total Booking</h4>
                                                    <div class="widget-thumb-wrap">
                                                        <a class="page-scroll" href="#totalBooking" style="text-decoration:none;">
                                                            <i class="widget-thumb-icon icon-screen-desktop" style="background:@ViewBag.BookedColor"></i>
                                                            <div class="widget-thumb-body">

                                                                <span class="widget-thumb-body-stat" data-counter="counterup" data-value=@ViewBag.TotalBooking>0</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!-- END WIDGET THUMB -->
                                            </div>*@
                                        <div class="col-md-2 col-sm-4 col-xs-6">
                                            <!-- BEGIN WIDGET THUMB -->
                                            <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 ">
                                                <h4 class="widget-thumb-heading">Total Vacant</h4>
                                                <div class="widget-thumb-wrap">
                                                    <i class="widget-thumb-icon icon-bar-chart" style="background: @ViewBag.ClearColor"></i>
                                                    <div class="widget-thumb-body">
                                                        <span class="widget-thumb-body-stat" data-counter="counterup" data-value=@totalVacantUp>0</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END WIDGET THUMB -->
                                        </div>

                                    </div>


                                    <!-- New Add Start -->
                                    @if (User.IsInRole("Super Admin") && 1 == 2)
                                    {
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <div class="dashboard-stat2 ">
                                                    <div class="display">
                                                        <div class="number">
                                                            <h3 class="font-green-sharp">
                                                                <span data-counter="counterup" data-value=@ViewBag.Income>0</span>
                                                                <small class="font-green-sharp">৳</small>
                                                            </h3>
                                                            <small>TOTAL INCOME</small>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="icon-pie-chart"></i>
                                                        </div>
                                                    </div>
                                                    <div class="progress-info">
                                                        <div class="progress">
                                                            <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                                                                <span class="sr-only">76% progress</span>
                                                            </span>
                                                        </div>
                                                        <div class="status">
                                                            <div class="status-title"> progress </div>
                                                            <div class="status-number"> 76% </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <div class="dashboard-stat2 ">
                                                    <div class="display">
                                                        <div class="number">
                                                            <h3 class="font-red-haze">
                                                                <span data-counter="counterup" data-value=@ViewBag.Expense>0</span>
                                                                <small class="font-green-sharp">৳</small>
                                                            </h3>
                                                            <small>TOTAL EXPENSES</small>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="icon-like"></i>
                                                        </div>
                                                    </div>
                                                    <div class="progress-info">
                                                        <div class="progress">
                                                            <span style="width: 85%;" class="progress-bar progress-bar-success red-haze">
                                                                <span class="sr-only">85% change</span>
                                                            </span>
                                                        </div>
                                                        <div class="status">
                                                            <div class="status-title"> change </div>
                                                            <div class="status-number"> 85% </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <div class="dashboard-stat2 ">
                                                    <div class="display">
                                                        <div class="number">
                                                            <h3 class="font-blue-sharp">
                                                                <span data-counter="counterup" data-value=@ViewBag.Profit></span>
                                                                <small class="font-green-sharp">৳</small>
                                                            </h3>
                                                            <small>Net Balance</small>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="icon-basket"></i>
                                                        </div>
                                                    </div>
                                                    <div class="progress-info">
                                                        <div class="progress">
                                                            <span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
                                                                <span class="sr-only">45% grow</span>
                                                            </span>
                                                        </div>
                                                        <div class="status">
                                                            <div class="status-title"> grow </div>
                                                            <div class="status-number"> 45% </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }


                                    <!--New Add End-->
                                   
                                    <div class="row">
                                        <div class="col-md-6" style="text-align: center; padding: 0px 10px;">
                                            <canvas id="myChart" width="500" height="450" style="background-color:#ffffff"></canvas>
                                        </div>
                                        <div class="col-md-6" style="text-align: center; padding: 0px 10px;">
                                            <canvas id="myChartBar" width="500" height="450" style="background-color:#ffffff"></canvas>
                                        </div>
                                    </div>
                                    <br />
									
								<!-- Total Entry Today Start -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                                            <div class="portlet box blue">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-comments"></i>Today's Entry Guest Info - @ViewBag.date
                                                    </div>
                                                    <div class="tools">
                                                        <a href="javascript:;" class="collapse"> </a>
                                                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                                        <a href="javascript:;" class="reload"> </a>
                                                        <a href="javascript:;" class="remove"> </a>
                                                    </div>
                                                </div>
                                                <section id="todaysEntry">
                                                    <div class="portlet-body">
                                                        <div class="table-scrollable">
                                                            <table class="table table-bordered table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th> Sl No </th>
                                                                        <th> Room No </th>
                                                                        <th> Guest Name </th>
                                                                        <th> Phone </th>
                                                                        <th> Address </th>
                                                                        <th> Arrival Date </th>
                                                                        <th>CheckOut Time</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody>
                                                                    @{ int i = 0; }
                                                                    @foreach (var item in ViewBag.TodayEntryCustomerInfo)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @{ i++;}
                                                                                @i
                                                                            </td>
                                                                            <td> @item.tbl_room_info.Room_No </td>
                                                                            <td>
                                                                                <a href="@Url.Action("TransactionDetail", "FrontDeskGuestOverview", new {area = string.Empty, id = item.Stay_Info_ID})" target="_blank">
                                                                                    @item.tbl_guest_info.Name
                                                                                </a>
                                                                            </td>
                                                                            <td> @item.tbl_guest_info.Phone</td>
                                                                            <td> @item.tbl_guest_info.Address</td>
                                                                            <td>@item.Arrival_Date</td>
                                                                            <td>@item.Check_Out_Time</td>
                                                                        </tr>
                                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                            <!-- END SAMPLE TABLE PORTLET-->
                                        </div>
                                    </div>
                                    <!-- Total Entry Today End -->
                                    <!-- Total Previous Entry CheckIn CustomerInfo Start -->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                                            <div class="portlet box blue">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-comments"></i>Running Guest Info - @ViewBag.date
                                                    </div>
                                                    <div class="tools">
                                                        <a href="javascript:;" class="collapse"> </a>
                                                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                                        <a href="javascript:;" class="reload"> </a>
                                                        <a href="javascript:;" class="remove"> </a>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="table-scrollable">
                                                        <table class="table table-bordered table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th> Sl No </th>
                                                                    <th> Room No </th>
                                                                    <th> Guest Name </th>
                                                                    <th> Phone </th>
                                                                    <th> Address </th>
                                                                    <th> Arrival Date </th>
                                                                </tr>
                                                            </thead>

                                                            <tbody>
                                                                @{ int j = 0; }
                                                                @foreach (var item in ViewBag.PreviousEntryCheckInCustomerInfo)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @{ j++;}
                                                                            @j
                                                                        </td>
                                                                        <td> @item.tbl_room_info.Room_No </td>
                                                                        <td>
                                                                            <a href="@Url.Action("TransactionDetail", "FrontDeskGuestOverview", new {area = string.Empty, id = item.Stay_Info_ID})" target="_blank">
                                                                                @item.tbl_guest_info.Name
                                                                            </a>
                                                                        </td>
                                                                        <td> @item.tbl_guest_info.Phone</td>
                                                                        <td> @item.tbl_guest_info.Address</td>
                                                                        <td>@item.Arrival_Date</td>
                                                                    </tr>
                                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END SAMPLE TABLE PORTLET-->
                                        </div>
                                    </div>
                                    <!-- Total Previous Entry CheckIn CustomerInfo End -->
                                    <!-- Total CheckOut Start -->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                                            <div class="portlet box blue">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-comments"></i>CheckOut Guest Info - @ViewBag.date
                                                    </div>
                                                    <div class="tools">
                                                        <a href="javascript:;" class="collapse"> </a>
                                                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                                        <a href="javascript:;" class="reload"> </a>
                                                        <a href="javascript:;" class="remove"> </a>
                                                    </div>
                                                </div>
                                                <section id="totalCheckOut">
                                                    <div class="portlet-body">
                                                        <div class="table-scrollable">
                                                            <table class="table table-bordered table-hover table-responsive">
                                                                <thead>
                                                                    <tr>
                                                                        <th> Sl No </th>
                                                                        <th> Room No </th>
                                                                        <th> Guest Name </th>
                                                                        <th> Phone </th>
                                                                        <th> Address </th>
                                                                        <th> Arrival Date </th>
                                                                        <th> Departure Date </th>
                                                                        <th>CheckOut Date</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody>
                                                                    @{ int kk = 0; }
                                                                    @foreach (var item in ViewBag.TotalCheckOutCustomerInfo)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @{ kk++;}
                                                                                @kk
                                                                            </td>
                                                                            <td> @item.tbl_room_info.Room_No </td>
                                                                            <td>
                                                                                <a href="@Url.Action("TransactionDetail", "FrontDeskGuestOverview", new {area = string.Empty, id = item.Stay_Info_ID})" target="_blank">
                                                                                    @item.tbl_guest_info.Name
                                                                                </a>
                                                                            </td>
                                                                            <td> @item.tbl_guest_info.Phone</td>
                                                                            <td> @item.tbl_guest_info.Address</td>
                                                                            <td>@item.Arrival_Date</td>
                                                                            <td>@item.Departure_Date</td>
                                                                            <td>
                                                                                @item.Check_Out_Date.Date.ToString("dd/MM/yyyy")
                                                                                @DateTime.Today.Add(item.Check_Out_Time).ToString("HH:mm:ss")
                                                                            </td>
                                                                        </tr>
                                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                            <!-- END SAMPLE TABLE PORTLET-->
                                        </div>

                                    </div>
                                    <!-- Total CheckOut End -->
                                    <!-- Total CheckIn Start -->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                                            <div class="portlet box blue">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-comments"></i>Total Stay Info - @ViewBag.date
                                                    </div>
                                                    <div class="tools">
                                                        <a href="javascript:;" class="collapse"> </a>
                                                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                                        <a href="javascript:;" class="reload"> </a>
                                                        <a href="javascript:;" class="remove"> </a>
                                                    </div>
                                                </div>
                                                <section id="totalCheckIn">
                                                    <div class="portlet-body">
                                                        <div class="table-scrollable">
                                                            <table class="table table-bordered table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th> Sl No </th>
                                                                        <th> Room No </th>
                                                                        <th> Guest Name </th>
                                                                        <th> Phone </th>
                                                                        <th> Address </th>
                                                                        <th> Arrival Date </th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody>
                                                                    @{ int k = 0; }
                                                                    @if (ViewBag.CheckInCustomerInfo != null)
                                                                    {
                                                                        foreach (var item in ViewBag.CheckInCustomerInfo)
                                                                        {
                                                                            <tr>
                                                                                <td>
                                                                                    @{ k++;}
                                                                                    @k
                                                                                </td>
                                                                                <td> @item.tbl_room_info.Room_No </td>
                                                                                <td>
                                                                                    <a href="@Url.Action("TransactionDetail", "FrontDeskGuestOverview", new {area = string.Empty, id = item.Stay_Info_ID})" target="_blank">
                                                                                        @item.tbl_guest_info.Name
                                                                                    </a>
                                                                                </td>
                                                                                <td> @item.tbl_guest_info.Phone</td>
                                                                                <td> @item.tbl_guest_info.Address</td>
                                                                                <td>@item.Arrival_Date</td>
                                                                            </tr>
                                                                                            }
                                                                                        }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                            <!-- END SAMPLE TABLE PORTLET-->
                                        </div>

                                    </div>
                                    <!-- Total CheckIn End -->
                                    <!-- Total Reserved Start -->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                                            <div class="portlet box blue">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-comments"></i>Reserved Guest Info - @ViewBag.date
                                                    </div>
                                                    <div class="tools">
                                                        <a href="javascript:;" class="collapse"> </a>
                                                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                                        <a href="javascript:;" class="reload"> </a>
                                                        <a href="javascript:;" class="remove"> </a>
                                                    </div>
                                                </div>
                                                <section id="totalReserved">
                                                    <div class="portlet-body">
                                                        <div class="table-scrollable">
                                                            <table class="table table-bordered table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th> Sl No </th>
                                                                        <th> Room No </th>
                                                                        <th> Guest Name </th>
                                                                        <th> Phone </th>
                                                                        <th> Address </th>
                                                                        <th> Arrival Date </th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody>
                                                                    @{ int l = 0; }
                                                                    @foreach (var item in ViewBag.ReservedCustomerInfo)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @{ l++;}
                                                                                @l
                                                                            </td>
                                                                            <td> @item.tbl_room_info.Room_No </td>
                                                                            <td>
                                                                                <a href="@Url.Action("TransactionDetail", "FrontDeskGuestOverview", new {area = string.Empty, id = item.Stay_Info_ID})" target="_blank">
                                                                                    @item.tbl_guest_info.Name
                                                                                </a>
                                                                            </td>
                                                                            <td> @item.tbl_guest_info.Phone</td>
                                                                            <td> @item.tbl_guest_info.Address</td>
                                                                            <td>@item.Arrival_Date</td>
                                                                        </tr>
                                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                            <!-- END SAMPLE TABLE PORTLET-->
                                        </div>

                                    </div>
                                    <!-- Total Reserved End -->
                                    <!-- Total Booking Start -->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                                            <div class="portlet box blue">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-comments"></i>Booking Guest Info - @ViewBag.date
                                                    </div>
                                                    <div class="tools">
                                                        <a href="javascript:;" class="collapse"> </a>
                                                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                                        <a href="javascript:;" class="reload"> </a>
                                                        <a href="javascript:;" class="remove"> </a>
                                                    </div>
                                                </div>
                                                <section id="totalBooking">
                                                    <div class="portlet-body">
                                                        <div class="table-scrollable">
                                                            <table class="table table-bordered table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th> Sl No </th>
                                                                        <th> Room No </th>
                                                                        <th> Guest Name </th>
                                                                        <th> Phone </th>
                                                                        <th> Address </th>
                                                                        <th> Arrival Date </th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody>
                                                                    @{ int m = 0; }
                                                                    @foreach (var item in ViewBag.BookedCustomerInfo)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @{ m++;}
                                                                                @m
                                                                            </td>
                                                                            <td> @item.tbl_room_info.Room_No </td>
                                                                            <td>
                                                                                <a href="@Url.Action("TransactionDetail", "FrontDeskGuestOverview", new {area = string.Empty, id = item.Stay_Info_ID})" target="_blank">
                                                                                    @item.tbl_guest_info.Name
                                                                                </a>
                                                                            </td>
                                                                            <td> @item.tbl_guest_info.Phone</td>
                                                                            <td> @item.tbl_guest_info.Address</td>
                                                                            <td>@item.Arrival_Date</td>
                                                                        </tr>
                                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                            <!-- END SAMPLE TABLE PORTLET-->
                                        </div>

                                    </div>


                                </div>
                                <!-- END PAGE CONTENT INNER -->
                            </div>
                        </div>
                        <!-- END PAGE CONTENT BODY -->
                        <!-- END CONTENT BODY -->
                    </div>
                    <!-- END CONTENT -->
                </div>
                <!-- END CONTAINER -->
            </div>
        </div>

    </div>
    @if (ViewBag.Subscription != null)
    {
        <h4 class="span-subscription"><i class="fa fa-spinner fa-spin"></i> @ViewBag.Subscription</h4>
    }

    <style>
        #datepicker-wrapper {
            position: relative;
        }

        #datepicker-container {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border: 5px solid #444D58;
            background-color: #fff;
            position: fixed;
        }

        #datepicker-content {
            overflow: hidden;
            text-align: left;
        }

        #datepicker-container img {
            position: absolute;
            top: 0px;
            cursor: pointer;
            border: 0;
            z-index: 10000;
        }

        .datepicker-calendar {
            display: block;
        }
    </style>

</body>

</html>
<script src="~/Scripts/DatePicker_.js"></script>
<script>
    $(document).ready(function () {
        $('.datepicker-calendar').datepicker({
            dateFormat: 'dd/mm/yy',
            onSelect: function (date) {
                $('#dt').val(date);
                $('#dateForm').submit();
            }
        });
        $(".datepicker-calendar").datepicker('setDate', '@ViewBag.date');
        var datePickerContainerMain = $('#datepicker-container');
        datePickerContainerMain.hover(
            function () {
                datePickerContainerMain.css('z-index', 101009);
                $(this).stop(true, false).animate({ left: 0 }, 500);
            }, function () {
                datePickerContainerMain.css('z-index', 10000);
                datePickerContainerMain.stop(true, false).animate({ left: -302 }, 500);
            }
        );
    });

    function hexToRgbA(hex) {
        var c;
        if (/^#([A-Fa-f0-9]{3}){1,2}$/.test(hex)) {
            c = hex.substring(1).split('');
            if (c.length == 3) {
                c = [c[0], c[0], c[1], c[1], c[2], c[2]];
            }
            c = '0x' + c.join('');
            return 'rgba(' + [(c >> 16) & 255, (c >> 8) & 255, c & 255].join(',') + ',.4)';
        }
        throw new Error('Bad Hex');
    }

    var barDataSet = {
        labels: ["Total Stay", "Reserved", "Booked", "Dirty", "Vacant"],
        datasets: [
            {
                label: "Room Status",
                backgroundColor: [
                    hexToRgbA('@ViewBag.OccupiedColor'),
                    hexToRgbA('@ViewBag.ReservedColor'),
                    hexToRgbA('@ViewBag.BookedColor'),
                    hexToRgbA('@ViewBag.DirtyColor'),
                    hexToRgbA('@ViewBag.ClearColor')
                ],
                borderColor: [
                    '@ViewBag.OccupiedColor', '@ViewBag.ReservedColor', '@ViewBag.BookedColor', '@ViewBag.DirtyColor', '@ViewBag.ClearColor'
                ],
                borderWidth: 1,
                hoverBackgroundColor: [
                    '@ViewBag.OccupiedColor', '@ViewBag.ReservedColor', '@ViewBag.BookedColor', '@ViewBag.DirtyColor', '@ViewBag.ClearColor'
                ],
                data: [
                    @ViewBag.TotalCheckIn, @ViewBag.TotalReserved, @ViewBag.TotalBooking, @ViewBag.TotalDirty, @ViewBag.TotalVacant
                ]
            }
        ]
    };

    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'doughnut',
        data: barDataSet,
        options: {
            cutoutPercentage: 35,
            rotation: 180,
            animation: {
                animateScale: true
            }
        }
    });

    var ctxBar = document.getElementById('myChartBar').getContext('2d');
    var chartBar = new Chart(ctxBar, {
        type: 'bar',
        data: barDataSet
    });

    $(function () {
        $('a.page-scroll').bind('click', function (event) {
            var $anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top
            }, 1500, 'easeInOutExpo');
            event.preventDefault();
        });
    });
</script>
