﻿@model PMS_HT.Models.tbl_brand

@using (Ajax.BeginForm("Add", "InventoryBrand", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { id = "brandAddForm" }))
{
    <div class="form-horizontal">
        <div class="modal-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row form-group">
                <div class="form-group">
                    @Html.Label("Brand Name", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Brand_Name, new { @class = "form-control", @placeholder = "Brand name" })
                        @Html.ValidationMessageFor(model => model.Brand_Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Brand Details", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Brand_Details, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Brand_Details, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
        <button type="submit" class="btn btn-success" name="cmd"><i class="fa fa-check"></i>&nbsp;Save</button>
    </div>
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    $('#brandAddForm').validate({
        rules: {
            Brand_Name: "required"
        },
        messages: {
            Brand_Name: "Please provide the Brand Name"
        }
    });
</script>



