﻿@model PMS_HT.Models.tbl_account_info

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_account_info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tbl_bank_info.Bank_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_bank_info.Bank_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_branch_info.Branch_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_branch_info.Branch_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_emp_info.Emp_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_emp_info.Emp_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_emp_info1.Emp_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_emp_info1.Emp_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acc_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acc_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acc_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acc_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opening_Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opening_Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Acc_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
