﻿
@model IEnumerable<PMS_HT.Models.tbl_account_info>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AddViewModel.js"></script>
<script src="~/Scripts/DatePicker_.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <a href="@Url.Action("Add", "BankAccountInfo")" id="Add" class="btn default"><i class="glyphicon glyphicon-plus"></i>&nbsp;Create New</a>
                        Bank Account Info
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_2">
                        <thead>
                            <tr>
                                <th>SL No </th>
                                <th>Account Name</th>
                                <th>Account No</th>
                                <th>Bank Name</th>
                                <th>Branch Name</th>
                                <th>Note</th>
                                <th>Bank Transaction</th>
                                <th></th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{i++;}
                                        @i
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_No)
                                    </td>


                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbl_bank_info.Bank_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbl_branch_info.Branch_Name)
                                    </td>



                                    <td>
                                        @Html.DisplayFor(modelItem => item.Note)
                                    </td>

                                    <td>
                                        <a href="@Url.Action( "Index" ,"BankTransactions" , new { id = item.Acc_ID})" class="btn btn-success">
                                            Bank Transaction
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action( "IntervalSelector" ,"BankAccountInfo" , new { id = item.Acc_ID})" class="btn purple selectDate">
                                            Statements
                                        </a>
                                    </td>
                                    @if (!User.IsInRole("Super Admin") && item.tbl_bank_info.Bank_Name == "Cash Bank")
                                    {
                                        <td></td>
                                        <td></td>        
                                    }
                                    else
                                    {
                                        <td>
                                            <a href="@Url.Action("Edit", "BankAccountInfo", new { id = item.Acc_ID })" class="editDialog"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                                        </td>
                                        <td>
                                            @Ajax.ActionLink(" Delete", "Delete", "BankAccountInfo", new { @id = item.Acc_ID }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-record" }, new { onclick = "return confirm('Are you sure you wish to delete this Info?');", @class = "fa fa-trash-o" })
                                        </td>
                                    }

                                </tr>
                                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Account Info</h4>
            </div>
            <div class="divForAdd">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Account Info</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>

<script>
    $('.editDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
    });
    $('.selectDate').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
            $('.modal-title').html("Bank Statement");
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
    });
</script>
