﻿@model PMS_HT.Models.tbl_account_info
<script src="~/Scripts/DatePicker_.js"></script>
<form>
    <div class="form-horizontal">
        <div class="modal-body">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-offset-1 col-md-2">Start Date</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control datefield" id="dob" name="dob">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-offset-1 col-md-2">End Date</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control datefield" id="date" name="date">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="text" id="tranId" value="@ViewBag.id" hidden/>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
        <button type="button" class="btn btn-success" name="cmd" onclick="post_form()"><i class="fa fa-check"></i>&nbsp;Statement</button>
    </div>
</form>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    function post_form()
    {
        var id = $("#tranId").val();
        //alert(id);
        var dobVal = $("#dob").val();
        var dateVal = $("#date").val();
        window.location = "/BankTransactions/Statement/?id="+id+"&dob="+dobVal+"&date="+dateVal;
    }
</script>