﻿@model PMS_HT.Models.tbl_floor_setup

@using (Ajax.BeginForm("Create", "FrontDeskRoomFloor", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { id = "roomFloorAddForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">       
        <div class="modal-body">
            <div class="form-group">
                @Html.LabelFor(model => model.Floor_No, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Floor_No, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Floor_No, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" hidden>
                @Html.LabelFor(model => model.YsnActive, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.YsnActive)
                        @Html.ValidationMessageFor(model => model.YsnActive, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group" hidden>
                @Html.LabelFor(model => model.Created_Date, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Created_Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Created_Date, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
        <button type="submit" class="btn btn-success" name="cmd"><i class="fa fa-check"></i>&nbsp;Add</button>
    </div>
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    $.validator.addMethod("UniqueCheck", function (value, element, options) {
        var dt = "";
        console.log(value);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UniqueRoomFloorCheck")',
            data: { str: value },
            success: function (data) {
                dt = data;
            },
            async:false
        });
        console.log(dt);
        if (dt == "unique") {
            return this.optional(element) || true;
        }
    }, "Custom message ");

    $('#roomFloorAddForm').validate({
        rules: {
            Floor_No: {
                required: true,
                UniqueCheck: [0,1]
            }
        },
        messages: {
            Floor_No: {
                required: "Please provide the Room No",
                UniqueCheck: "Already Exist"
            }
        }
    });
</script>
