﻿@model PMS_HT.Models.tbl_floor_setup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_floor_setup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Floor_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Floor_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YsnActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YsnActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Floor_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
