﻿@model IEnumerable<PMS_HT.Models.tbl_item>
@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />*@
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/AddViewModel.js"></script>

@*<div class="container">
    <div class="row">
        <div class="col-md-12">*@
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <a href="@Url.Action("Pay", "InventoryPurchaseDetails")" id="Add" class="btn default dark"><i class="fa fa-credit-card"></i>&nbsp;Pay</a>
            <a href="@Url.Action("CashBack", "InventoryPurchaseDetails")" id="Add" class="btn default red-mint"><i class="fa fa-money"></i>&nbsp;Cashback</a>
            <a href="@Url.Action("Add", "InventoryStock")" id="Add" class="btn default purple"><i class="fa fa-arrow-left"></i>&nbsp;Stock In</a>
            <a href="@Url.Action("MoveStock", "InventoryStock")" id="Add" class="btn btn-primary"><i class="fa fa-arrows"></i>&nbsp;Move Stock</a>
            <a href="javascript:;" id="loct" class="btn default yellow-gold"><i class="fa fa-industry"></i>&nbsp;Location</a>
            <button class="btn red-thunderbird" onclick="printStatement()"><i class="fa fa-file-pdf-o">&nbsp;PDF</i></button>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="fullscreen"> </a>
            <a href="javascript:;" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover" id="sample_editable_1">
            <thead>
                <tr>
                    <th>SL No </th>
                    <th>Category </th>
                    <th>SubCategory </th>
                    <th>Brand</th>
                    <th>Item</th>
                    <th>Unit</th>
                    @*<th>Sales Price</th>*@
                    @*<th>Purchase Price</th>*@
                    @*<th>Reorder Level</th>*@
                    <th data-align="right"></th>
                    @*<th>Delete</th>*@
                </tr>
            </thead>
            <tbody>
                @{ int i = 0;}
                @foreach (var item in Model)
                {
                    decimal remain_stock = Convert.ToDecimal(item.tbl_stock.Select(a => a.Stock_In).Sum() - item.tbl_stock.Select(a => a.Stock_Out).Sum());
                    if (remain_stock > 0)
                    {
                        <tr>
                            <td>
                                @{i++;}
                                @i
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_category.Cata_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_subcategory.Subcata_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_brand.Brand_Name)
                            </td>
                            @{
                                if (remain_stock > 0 && remain_stock <= item.Reorder_Level)
                                {
                                    <td style="color:red;font-weight:700;">
                                        @item.Item_Name (@remain_stock)
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @item.Item_Name (@remain_stock)
                                    </td>
                                }
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_unit.Unit_Name)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.Sales_Price)
                                </td>*@
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.Purchase_Price)
                                </td>*@
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.Reorder_Level)
                                </td>*@
                            <td data-align="right">
                                <a href="@Url.Action("Locate", "InventoryStock", new { id = item.Item_ID })" class="editDialog btn btn-outline btn-circle green purple"><i class="fa fa-search-plus"></i>&nbsp;Locate</a>
                                @*</td>
                                    <td>*@
                                <a href="@Url.Action("StockOut", "InventoryStock", new { id = item.Item_ID })" class="editDialog2 btn btn-outline btn-circle dark black"><i class="fa fa-arrow-right"></i>&nbsp;Stock Out</a>
                            </td>
                        </tr>
                                    }

                                }
            </tbody>
        </table>
    </div>
</div>

<div id="dialog-confirm" title="Low Stock Alert">
    <ul id="pId" hidden>

    </ul>
</div>

<div class="modal fade" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Item</h4>
            </div>
            <div class="divForAdd">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="divForUpdateId">Update Item</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Loc-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="divForUpdateId">Locations</h4>
            </div>

            <div class="row">
                <div class="col-md-offset-1 col-md-10" style="margin-bottom:10px;">
                    @{int j = 0; }
                    @foreach (var item in ViewBag.Locations)
                    {
                        j++;
                        <div class="col-md-6">
                            <a href="@Url.Action("Location", "InventoryHome", new { id = item.Stock_Location_ID })" class="btn btn-default red-flamingo" style="width:100%;height:70px;"><span style="font-size:xx-large">@item.Stock_Location_Name</span></a>
                        </div>
                        if (j == 2)
                        {
                            j = 0;
                            @:</div><div class="col-md-offset-1 col-md-10" style="margin-bottom:10px;">
                        }
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right:30px;"><i class="fa fa-times"></i>&nbsp;Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        var messageList = @Html.Raw(Json.Encode(ViewBag.Alert));
        var message="";
        var count = @Html.Raw(Json.Encode(ViewBag.AlertCount));
        if (count != 0) {
            $(function () {
                for (var i = 0; i < count; i++) {
                    message= messageList[i];
                    document.getElementById("pId").innerHTML += "<li>" +message+"</li>";
                }
                $("#pId").show();
                $("#dialog-confirm").dialog({
                    resizable: false,  
                    height: "auto",
                    width: 610,
                    modal: true,
                    buttons: {
                        Close: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });
        }
    });

    $('.editDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
        $('#divForUpdateId').html("Item Detail Info");
    });

    $('.editDialog2').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
        $('#divForUpdateId').html("Stock Out");
    });

    $('#loct').click(function (event) {
        $('#Loc-Model').modal({
            backdrop: 'static',
        }, 'show');
        $('.modal-title').html("Locations");
    });

    function printStatement() {
        //window.location = "/InventoryStock/ExportStock";
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ExportStock", "InventoryStock")',
            success: function (data) {
                var str = "data:application/pdf;base64,"+data;
                var object = '<iframe width="100%" height="100%" src="'+str+'"></iframe>';
                var generator = window.open("","","top=100,left=500,width=500,height=500");
                generator.document.write(object);
                generator.document.close();
            }
        });
    }
</script>