﻿@model IEnumerable<PMS_HT.Models.StockViewModel>

@{
    ViewBag.Title = "Current Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Current Stock
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_2">
                        <thead>
                            <tr>
                                <th>SL No </th>
                                <th>Item Name</th>
                                <th>Stock Location</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0;}
                            @foreach (var item in Model)
                            {
                                if (item.Quantity > 0)
                                {
                                    <tr>
                                        <td>
                                            @{i++;}
                                            @i
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Item_Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Stock_Location_Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity) @item.Unit_Name
                                        </td>
                                    </tr>
                                                    }

                                                }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
