﻿@model PMS_HT.Models.tbl_dining_location

@{
    ViewBag.Title = "Dine Location";
    Layout = "~/Views/Shared/_RestaurantAdmin.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Point_A)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Point_A)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Point_B)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Point_B)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Point_C)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Point_C)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Radius)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Radius)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Dining_Location_ID)

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-secondary red"><i class="material-icons">delete</i>&nbsp;Delete</button>
            <a href="@Url.Action("Index", "RestaurantDineLocation")" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Back</a>
        </div>
    }
</div>
