﻿@model PMS_HT.Models.tbl_dining_location

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_dining_location</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Point_A)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Point_A)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Point_B)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Point_B)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Point_C)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Point_C)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Radius)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Radius)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Dining_Location_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
