﻿@model PMS_HT.Models.tbl_food

@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_RestaurantAdmin.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tbl_food_category.Food_Cate_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_food_category.Food_Cate_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Food_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Food_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Availability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Food_ID)

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-secondary red"><i class="material-icons">delete</i>&nbsp;Delete</button>
            <a href="@Url.Action("Index", "RestaurantFood")" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Back</a>
        </div>
    }
</div>
