﻿@model IEnumerable<PMS_HT.Models.tbl_food>

@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_RestaurantAdmin.cshtml";
}

<div class="row">
    <div class="col m12">
        <a href="@Url.Action("Create", "RestaurantFood")" id="Add" class="waves-effect waves-light btn"><i class="material-icons">add</i>Add New Item</a>
        <table id="itemtbl" class="mdl-data-table" cellspacing="0" style="width:100%">
            <thead>
                <tr>
                    <th>Sl. No</th>
                    <th>
                        @Html.DisplayNameFor(model => model.tbl_food_category.Food_Cate_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Food_No)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Food_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Availability)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Discount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Color)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Note)
                        </th>*@
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Sl. No</th>
                    <th>
                        @Html.DisplayNameFor(model => model.tbl_food_category.Food_Cate_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Food_No)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Food_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Availability)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Discount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Color)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Note)
                        </th>*@
                    <th></th>
                </tr>
            </tfoot>
            @{ int i = 0;}
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        @{i++;}
                        <td>@i</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tbl_food_category.Food_Cate_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Food_No)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Food_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        @if (item.Image != null || item.Image != "")
                        {
                            <td>
                                <img src="@item.Image" class="materialboxed" width="100px" />
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }

                        @if (item.Availability == true)
                        {
                            <td style="color:green;font-weight:600;">
                                Available
                            </td>
                        }
                        else if (item.Availability == false)
                        {
                            <td style="color:red;font-weight:600;">
                                Unavailable
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Discount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Color)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>*@
                        @*<td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Food_ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Food_ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Food_ID })
                            </td>*@
                        <td style="width:100%;">
                            @*<div class="row">
                                <div class="col m6">
                                    <a href="@Url.Action("Edit", "RestaurantFood", new { id = item.Food_ID })" class="waves-effect waves-light btn editDialog"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                                </div>
                                <div class="col m6">
                                    <a href="@Url.Action("Delete", "RestaurantFood", new { id = item.Food_ID })" class="fa fa-trash-o btn red"><i class="fa fa-pencil-square-o"></i>&nbsp;Delete</a>
                                </div>
                            </div>*@
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="@Url.Action("Edit", "RestaurantFood", new { id = item.Food_ID })" class="waves-effect waves-light btn editDialog"><i class="material-icons">edit</i>&nbsp;Edit</a>
                                <a href="@Url.Action("Delete", "RestaurantFood", new { id = item.Food_ID })" class="fa fa-trash-o btn red"><i class="material-icons">delete</i>&nbsp;Delete</a>
                            </div>
                        </td>
                    </tr>
                            }
            </tbody>
        </table>
    </div>
</div>
<div class="modal-test" hidden>
</div>

<div id="itemEdit" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Update Item</h4>
        </div>
        <div class="divForUpdate">
        </div>
    </div>
    @*<div class="modal-footer">
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>*@
</div>

<script>
    $('.editDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        var opener = document.createElement('a');
        opener.setAttribute('href', '#itemEdit');
        opener.className = "modal-trigger";
        $(".modal-test").append(opener);
        opener.click();
    });
</script>