﻿<table class="table table-striped table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>SL No </th>
            <th>Employee Name</th>
            <th>Salary Paid</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; decimal salary = 0;}

        @if (ViewBag.SalaryExpense != null)
        {
            foreach (var item in ViewBag.SalaryExpense)
            {
                salary += Convert.ToDecimal(@item.Credit);
                <tr>
                    <td>
                        @{i++;}
                        @i
                    </td>
                    <td>
                        @item.tbl_emp_info.Emp_Name
                    </td>
                    <td>
                        @item.Credit
                    </td>
                    <td>
                        @item.Date
                    </td>
                </tr>
            }
        }

        <tr style="background-color:#e7efec">

            <td></td>
            <td>Total Salary Expense</td>
            <td>@salary</td>
            <td></td>
        </tr>
    </tbody>

</table>
