﻿<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-comments"></i>Employee Salary Details(Month Wise)
                    </div>

                </div>
                    <div class="table-scrollable">

                        <table class="table table-striped table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>SL No</th>
                                    <th style="width:500px">
                                        Salary Basic
                                    </th>
                                    <th>
                                        Particular
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int iii = 0; decimal xxx = 0;}
                                @foreach (var item in ViewBag.basic)
                                {
                                    xxx += @item.Value;
                                    <tr>
                                        <td>
                                            @{iii++;}
                                            @iii
                                        </td>
                                        <th>Basic</th>
                                        <td>
                                            @item.VParticular
                                        </td>

                                        <td>
                                            @item.Value
                                        </td>

                                    </tr>
                                                }
                                <tr style="background-color:#e7efec">
                                    <td></td>
                                    <td></td>
                                    <td>Total</td>
                                    <td>@xxx</td>

                                </tr>
                            </tbody>

                        </table>

                        <table class="table table-striped table-hover table-responsive" >
                            <thead >
                                <tr>
                                    <th>SL No</th>
                                    <th style="width:500px">
                                        Allowance 
                                    </th>
                                    <th>
                                        Particular
                                    </th>
                                    <th>
                                        Amount
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 0; decimal x = 0;}
                                @foreach (var item in ViewBag.allowance)
                                {
                                    x += @item.Value;
                                    <tr>
                                        <td>
                                            @{i++;}
                                            @i
                                        </td>
                                        <td>
                                            @item.Earning_Head
                                        </td>

                                        <td>
                                            @item.VParticular
                                        </td>

                                        <td>
                                            @item.Value
                                        </td>
                                                                              
                                    </tr>
                                                }
                                <tr style="background-color:#e7efec">
                                    <td></td>
                                    <td></td>
                                    <td>Total</td>
                                    <td>@x</td>

                                </tr>
                            </tbody>

                        </table>    
                        
                        <table class="table table-striped table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="width:520px">
                                    </th>

                                    <th>
                                    </th>
                                    <th>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @{decimal payable;
                                    payable = x + xxx; }
                                <tr style="background-color:#d8d9dc">
                                    <td></td>
                                    <td></td>
                                    <td>Net Payable</td>
                                    <td>@payable</td>

                                </tr>
                            </tbody>
                        </table>             

                        <table class="table table-striped table-hover table-responsive">
                            <thead  >
                                <tr>
                                    <th>SL No</th>
                                    <th style="width:500px">
                                        Deduction
                                    </th>
                                    <th>
                                        Particular
                                    </th>
                                    <th>
                                        Amount
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @{ int ii = 0; decimal xx = 0;}
                                @foreach (var item in ViewBag.deduction)
                                {
                                    xx += @item.Value;
                                    <tr>
                                        <td>
                                            @{ii++;}
                                            @ii
                                        </td>
                                        <td>
                                            @item.Deduction_Head
                                        </td>

                                        <td>
                                            @item.VParticular
                                        </td>

                                        <td>
                                            @item.Value

                                        </td>

                                    </tr>

                                                }
                                <tr style="background-color:#e7efec">
                                    <td></td>
                                    <td></td>
                                    <td>Total</td>
                                    <td>@xx</td>

                                </tr>
                            </tbody>
                        </table>
           


                        <table class="table table-striped table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>SL No</th>
                                    <th style="width:500px">
                                        Salary Paid
                                    </th>

                                    <th>
                                        Particular
                                    </th>
                                    <th>
                                        Amount
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @{ int iiii = 0; decimal xxxx = 0;}
                                @foreach (var item in ViewBag.paid)
                                {
                                    xxxx += @item.Value;
                                    <tr>
                                        <td>
                                            @{iiii++;}
                                            @iiii
                                        </td>
                                        <th>Paid</th>
                                        <td>
                                            @item.VParticular
                                        </td>

                                        <td>
                                            @item.Value

                                        </td>

                                    </tr>

                                                }
                                <tr style="background-color:#e7efec">
                                    <td></td>
                                    <td></td>
                                    <td>Total</td>
                                    <td>@xxxx</td>

                                </tr>
                                                              
                            </tbody>                                                      

                        </table>

                        <table class="table table-striped table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="width:520px">
                                    </th>

                                    <th>
                                    </th>
                                    <th>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @{decimal paid;
                                    paid = xx + xxxx; }
                                <tr style="background-color:#eed8d8">
                                    <td></td>
                                    <td></td>
                                    <td>Total Paid</td>
                                    <td>@paid</td>

                                </tr>
                            </tbody>
                        </table>
                   
                        <table class="table table-striped table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="width:520px">                                       
                                    </th>

                                    <th>                                       
                                    </th>
                                    <th>                                    
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @{decimal xxxxx;
                                    xxxxx = (x + xxx) - (xx + xxxx); }
                                <tr style="background-color:#eed8d8">
                                    <td></td>
                                    <td></td>
                                    <td>Due</td>
                                    <td>@xxxxx</td>

                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>
