﻿@model PMS_HT.Models.tbl_emp_info


<style>
    label.error {
        color: red;
        font-style: italic;
    }
</style>
<script type="text/javascript">

    $(function () {
        $(".datefield").datepicker({
            dateFormat: 'dd/mm/yy',
        });
    });

</script>

@using (Ajax.BeginForm("Add", "HrEmployee", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { enctype = "multipart/form-data", id = "HrEmployeeForm"}))
{
    <div class="form-horizontal">
        <div class="modal-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Emp_Name, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Emp_Name, new { htmlAttributes = new { @class = "form-control", required="true" } })
                        @Html.ValidationMessageFor(model => model.Emp_Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Emp_Gender, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        <select id="Emp_Gender" name="Emp_Gender" class="form-control">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.Emp_Gender)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Emp_DOB, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Emp_DOB, new { htmlAttributes = new { @class = "form-control datefield" } })
                        @Html.ValidationMessageFor(model => model.Emp_DOB, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Emp_Contact_No, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Emp_Contact_No, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                        @Html.ValidationMessageFor(model => model.Emp_Contact_No, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Emp_Age, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Emp_Age, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Emp_Age, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Emp_Address, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Emp_Address, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                        @Html.ValidationMessageFor(model => model.Emp_Address, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NID, "NID", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @*@Html.EditorFor(model => model.Date_Hired, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.EditorFor(model => model.NID, new { htmlAttributes = new { @class = "form-control ", @size = "16" } })
                        @Html.ValidationMessageFor(model => model.NID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Department_ID, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Department_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Department_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Designation_ID, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Designation_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Designation_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="DiscountSetDiv" hidden>
                    @Html.LabelFor(model => model.Discount_Lavel, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Discount_Lavel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Discount_Lavel, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @*<input type="file" name="File" id="File" />*@
                        @Html.TextBoxFor(m => m.File, new { type = "file" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Emp_Status, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Emp_Status, new List<SelectListItem>
                                {
                                new SelectListItem {Text ="Active", Value="Active" },
                                new SelectListItem {Text ="Inactive", Value="Inactive"},
                                new SelectListItem {Text ="Retired", Value="Retired" }
                                }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Emp_Status, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Date_Hired, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Date_Hired, new { htmlAttributes = new { @class = "form-control datefield", @size = "16" } })
                        @Html.ValidationMessageFor(model => model.Date_Hired, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.Label("Software User", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        <input type="checkbox" name="Is_Authenticated" value="true" onchange="checkboxTicked()" id="Is_Authenticated">
                    </div>
                </div>

                <div id="userAuthenticationInfo" hidden>
                    <div class="form-group">
                        @Html.LabelFor(model => model.user_name, "User Name", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.user_name, new { htmlAttributes = new { @class = "form-control", onkeyup = "UserNameChecker()",value = "" } })
                            @Html.ValidationMessageFor(model => model.user_name, "", new { @class = "text-danger" })
                        </div>
                        
                    </div>
                    <div class="form-group ulabelc" hidden>
                        <label class = "control-label col-md-3"></label>
                        <div class="col-md-8">
                            <span id="ulabel" class="control-label" style="color:red;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.password, "Password", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
        <button type="button" class="btn btn-success" name="cmd" onclick="submitchecker()"><i class="fa fa-check"></i>&nbsp;Save</button>
    </div>
}


<script src="~/Scripts/jquery.validate.min.js"></script>
<script>  
    $(document).ready(function () {
        $('.divForUpdate').html(null);
        ShowHideDiscountSetDiv();
    });

    $('#Department_ID').change(function () {
        ShowHideDiscountSetDiv();
    });

    function ShowHideDiscountSetDiv()
    {
        var department = $("#Department_ID").val();
        if (department == 2 || department == 4 || department == 7 || department == 10) {
            $('#DiscountSetDiv').show();
        }
        else {
            $('#DiscountSetDiv').hide();
        }
    }

    function UserNameChecker()
    {
        var u_name = $("#user_name").val();
        var ck = $("#Is_Authenticated").prop("checked");
        if (u_name != null && u_name != "")
        {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UserNameChecker")',
                data: { u_name: u_name },
                success: function (data) {
                    //alert(data);
                    if (data == "wrong" && ck == true)
                    {
                        //alert("Username is already taken");
                        $("#ulabel").html('<i>This username is already taken</i>');
                        $(".ulabelc").attr("hidden",false);
                    }
                    else
                    {
                        $("#ulabel").html('');
                        $(".ulabelc").attr("hidden", true);
                    }
                },
                async: false
            });
        }
    }

    function checkboxTicked() {
        $("#userAuthenticationInfo").toggle();
        $(".ulabelc").attr("hidden", true);
        $("#user_name").val("");
        $("#password").val("");

    }

    function submitchecker()
    {
        var ll = $("#ulabel").html();
        if (ll == "") {
            $("#HrEmployeeForm").submit();
        }        
    }

    $('#HrEmployeeForm').validate({
        rules: {
            user_name: {
                required: '#Is_Authenticated:checked',
                minlength: 5
            },
            password: {
                required: '#Is_Authenticated:checked',
                minlength: 8
            },
            Discount_Lavel: {
                number:true,
                range:[0,100]
            },
            Emp_Address: {
                maxlength: 50
            },
            NID: "required"
        },
            messages: {
            user_name: {
                required: "Please enter User Name",
                minlength: "User name must be 5 characters long"
            },
            password: {
                required: "Please enter password",
                minlength: "Password must be 8 characters long"
            },
            Discount_Lavel: {
                number: "Discount percentage must be number",
                range: "Discount percentage must be between 0 and 100"
            },
            Emp_Address: {
                maxlength: "Address can not be more then 50 characters long"
            },
            NID: "Please provide your National Id no."
        }
    });

</script>