﻿@model PMS_HT.Models.tbl_emp_info

@{
    ViewBag.Title = "Details";
}
<script src="~/Scripts/AddViewModel.js"></script>

<div class="profile-content">

    <div class="row">
        <div class="col-md-3">
            <div class="portlet light profile-sidebar-portlet ">
                <!-- SIDEBAR USERPIC -->

                <div class="profile-userpic">
                    @if (ViewBag.Image != null)
                    {
                        <img src="~/images/employee/@ViewBag.Image" class="img-responsive" style="width: 240px; height: 200px;" alt="@Html.DisplayFor(d => d.Emp_Name)">
                    }
                    else
                    {
                        <img src="~/images/nofound.jpg" class="img-responsive" alt="@Html.DisplayFor(d => d.Emp_Name)">
                    }

                    <h2>@Html.DisplayFor(d => d.Emp_Name) </h2>
                    <h4>Cell: @Html.DisplayFor(d => d.Emp_Contact_No) </h4>
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">Employee Info</span>


                    </div>
                </div>

                <div class="tab-content">
                    <!-- PERSONAL INFO TAB -->

                    <div class="tab-pane active" id="tab_1_1">
                        <div>

                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Emp_Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Emp_Name)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.tbl_department.Department_Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.tbl_department.Department_Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.tbl_designation.Designation_Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.tbl_designation.Designation_Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Emp_Gender)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Emp_Gender)
                                </dd>


                                <dt>
                                    @Html.DisplayNameFor(model => model.NID)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.NID)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Emp_DOB)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Emp_DOB)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Emp_Contact_No)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Emp_Contact_No)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Emp_Age)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Emp_Age)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Emp_Address)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Emp_Address)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Emp_Status)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Emp_Status)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Date_Hired)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Date_Hired)
                                </dd>
                                @if (Model.Department_ID == 2 || Model.Department_ID == 4 || Model.Department_ID == 7 || Model.Department_ID == 10)
                                {
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Discount_Lavel)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Discount_Lavel) %
                                    </dd>
                                }
                                <dt>
                                    Username
                                </dt>
                                
                                <dd>
                                    @Html.DisplayFor(model => model.user_name)
                                </dd>

                                <dt>
                                    Software Access
                                </dt>
                                @if (Model.IsAuthenticated ?? false)
                                {
                                    <dd style="color: green; font-weight:bold ;font-family: sans-serif">
                                        Yes <i class="fa fa-check fa-2x"></i>
                                    </dd>
                                }
                                else
                                {
                                    <dd style="color: red; font-weight:bold ;font-family: sans-serif">
                                        No <i class="fa fa-close fa-2x"></i>
                                    </dd>
                                }
                            </dl>
                        </div>
                        @{
                            bool check = Model.IsAuthenticated ?? false;
                            if (check)
                            {
                                <span id="successmsg" hidden style="font-weight: 600; color: green;">Password changed successfully!!</span>
                                <br/>
                                <a href="javascript:;" onclick="changetoggler()">Change Password</a>
                            }

                        }
                        <div id="userAuthenticationInfo" hidden>
                            <br />
                            <form action="#">
                                <div class="form-horizontal">
                                    <input type="text" hidden value="@Model.Emp_ID" id="id" />
                                    <div class="row col-md-11">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">New Password</label>
                                            <div class="col-md-4">
                                                <input type="password" name="new_password" id="new_password" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row col-md-11">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">Confirm Password</label>
                                            <div class="col-md-4">
                                                <input type="password" name="new_password2" id="new_password2" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row col-md-11">
                                        <div class="form-group">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-4">
                                                <button type="button" class="btn btn-primary" onclick="postEffectChange()">Change</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>




<div class="portlet-fit">
    <div class="form-group">

        <div class="form-actions">
            @if (User.IsInRole("Manager") || User.IsInRole("Admin") || User.IsInRole("Super Admin") || User.IsInRole("HR"))
            {
                <button type="button" class="btn default">@Html.ActionLink("Back", "Index")</button>
            }
            @*<button type="submit" class="btn green editDialog">@Html.ActionLink("Edit", "Edit", new { id = Model.Emp_ID })</button>*@
            <a href="@Url.Action("Edit", "HrEmployee", new { id = Model.Emp_ID, caller = "DT" })" class="editDialog btn btn-default" style="text-decoration:none;"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>

        </div>
    </div>
</div>




<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update Info</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>

<script>

    function changetoggler() {
        $("#userAuthenticationInfo").toggle();
    }
    function postEffectChange() {
        var id = $("#id").val();
        var new_password = $("#new_password").val();
        var new_password2 = $("#new_password2").val();
        if (new_password.length < 8 || new_password == null) {
            alert("Password must be minimum 8 characters long");
        }
        else if (new_password == new_password2) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ChangePassword")',
                data: { id: id, new_password: new_password },
                success: function (data) {
                    if (data == "success") {
                        $("#new_password").val("");
                        $("#new_password2").val("");
                        $("#userAuthenticationInfo").toggle();
                        $("#successmsg").show();
                        setTimeout(function () { $("#successmsg").hide(); }, 3000);
                    }
                    else {
                        alert("Error changing Password");
                    }
                },
                error: function (error) {
                    console.log(error);
                    //$('#submit').text('Save');
                },
                async: false
            });
        }
        else {
            alert("Password not matched");
        }
    }
    $('.editDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
    });
</script>