﻿@model IEnumerable<PMS_HT.Models.tbl_emp_info>

@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/AddViewModel.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <a href="@Url.Action("Add", "HrEmployee")" id="Add" class="btn default"><i class="glyphicon glyphicon-plus"></i>&nbsp;Create New</a>

                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_2">
                        <thead>
                            <tr>
                                <th>SL No </th>
                                <th>Name</th>
                                <th>Contact No</th>
                                <th>Status</th>
                                <th>Access</th>
                                <th class="text-center">PayRoll</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{i++;}
                                        @i
                                    </td>
                                    @if (User.IsInRole("Super Admin"))
                                    {
                                        <td>
                                            <a href="@Url.Action("Details", "HrEmployee", new { id = item.Emp_ID })">@Html.DisplayFor(modelItem => item.Emp_Name)</a>
                                        </td>
                                    }
                                    else if (User.IsInRole("Admin") && item.tbl_department.Department_Name != "Super Admin")
                                    {
                                        <td>
                                            <a href="@Url.Action("Details", "HrEmployee", new { id = item.Emp_ID })">@Html.DisplayFor(modelItem => item.Emp_Name)</a>
                                        </td>
                                    }
                                    else if (User.IsInRole("Manager") && item.tbl_department.Department_Name != "Super Admin" && item.tbl_department.Department_Name != "Admin")
                                    {
                                        <td>
                                            <a href="@Url.Action("Details", "HrEmployee", new { id = item.Emp_ID })">@Html.DisplayFor(modelItem => item.Emp_Name)</a>
                                        </td>
                                    }
                                    else if (User.IsInRole("HR") && item.tbl_department.Department_Name != "Super Admin" && item.tbl_department.Department_Name != "Admin")
                                    {
                                        <td>
                                            <a href="@Url.Action("Details", "HrEmployee", new { id = item.Emp_ID })">@Html.DisplayFor(modelItem => item.Emp_Name)</a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Emp_Name)
                                        </td>
                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Emp_Contact_No)
                                    </td>

                                    <td>
                                        @item.Emp_Status
                                    </td>
                                    <td>
                                        @if (item.IsAuthenticated ?? false)
                                        {
                                            <input type="checkbox" disabled checked  style="transform:scale(2);"/>
                                        }
                                        else
                                        {
                                            <input type="checkbox" disabled  style="transform:scale(2);"/>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Index", "PayRollSalaryEarning", new { id = item.Emp_ID })" class="btn btn-success">
                                            Earning
                                        </a>
                                        <a href="@Url.Action("Index", "PayRollSalaryDeduction", new { id = item.Emp_ID })" class="btn btn-success">
                                            Deduction
                                        </a>
                                        <a href="@Url.Action("Index", "PayRollAddBasic", new { id = item.Emp_ID })" class="btn btn-success">
                                            Basic
                                        </a>
                                        <a href="@Url.Action("Index", "PayRollSalaryPayment", new { id = item.Emp_ID })" class="btn btn-success">
                                            Salary Payment
                                        </a>
                                    </td>
                                    @if (User.IsInRole("Super Admin"))
                                    {
                                        <td>
                                            <a href="@Url.Action("Edit", "HrEmployee", new { id = item.Emp_ID })" class="editDialog"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                                        </td>
                                        <td>
                                            @Ajax.ActionLink("Delete", "Delete", "HrEmployee", new { @id = item.Emp_ID }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-record" }, new { onclick = "return confirm('Are you sure you wish to delete this Maid?');", @class = "fa fa-trash-o" })
                                        </td>
                                    }
                                    else if (User.IsInRole("Admin") && item.tbl_department.Department_Name != "Super Admin")
                                    {
                                        <td>
                                            <a href="@Url.Action("Edit", "HrEmployee", new { id = item.Emp_ID })" class="editDialog"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                                        </td>
                                        <td>
                                            @Ajax.ActionLink("Delete", "Delete", "HrEmployee", new { @id = item.Emp_ID }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-record" }, new { onclick = "return confirm('Are you sure you wish to delete this Maid?');", @class = "fa fa-trash-o" })
                                        </td>
                                    }
                                    else if (User.IsInRole("Manager") && item.tbl_department.Department_Name != "Super Admin" && item.tbl_department.Department_Name != "Admin")
                                    {
                                        <td>
                                            <a href="@Url.Action("Edit", "HrEmployee", new { id = item.Emp_ID })" class="editDialog"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                                        </td>
                                        <td>
                                            @Ajax.ActionLink("Delete", "Delete", "HrEmployee", new { @id = item.Emp_ID }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-record" }, new { onclick = "return confirm('Are you sure you wish to delete this Maid?');", @class = "fa fa-trash-o" })
                                        </td>
                                    }
                                    else if (User.IsInRole("HR") && item.tbl_department.Department_Name != "Super Admin" && item.tbl_department.Department_Name != "Admin")
                                    {
                                        <td>
                                            <a href="@Url.Action("Edit", "HrEmployee", new { id = item.Emp_ID })" class="editDialog"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                                        </td>
                                        <td>
                                            @Ajax.ActionLink("Delete", "Delete", "HrEmployee", new { @id = item.Emp_ID }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-record" }, new { onclick = "return confirm('Are you sure you wish to delete this Maid?');", @class = "fa fa-trash-o" })
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                        <td></td>
                                    }

                                </tr>
                                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Employee Info</h4>
            </div>
            <div class="divForAdd">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update Employee Info</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>

<script>
    
    $('.editDialog').click(function (event) {
        event.preventDefault();
        $('.divForUpdate').html(null);
        $('.divForAdd').html(null);
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
    });
</script>