﻿@{
    Layout = null;
}
@model PMS_HT.Models.tbl_emp_info

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.HotelName | User Login </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
   <link rel="shortcut icon" href="favicon.ico" />

    @Styles.Render("~/Content/logincss")
</head>


<body class=" login">
    <div class="logo">
        <a href="http://www.vlinkhotel.com">
            <img src="@ViewBag.Logo" alt="" />
        </a>
    </div>

    <div class="content">
        <h3 class="form-title">Login to your account</h3>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span> Enter username and password. </span>
        </div>

        @using (Html.BeginForm(null,null,FormMethod.Post, new { @class= "login-form" } ))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.user_name, htmlAttributes: new { @class = "control-label visible-ie8 visible-ie9" })
                @Html.TextBoxFor(a => a.user_name, new { @class = "form-control form-control-solid placeholder-no-fix", @id = "username", @placeholder = "Username" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label visible-ie8 visible-ie9" })
                @Html.PasswordFor(a => a.password, new { @class = "form-control form-control-solid placeholder-no-fix", @id = "pass", @placeholder = "Password" })
            </div>
            <div class="form-actions text-center">
                <button type="submit" class="btn green btn-lg"> Login </button>
            </div>
        }

    </div>

    @if (ViewBag.SubscriptionEnd != null)
    {
        <h4 class="span-subscription"><i class="fa fa-spinner fa-spin"></i> @ViewBag.SubscriptionEnd</h4>
    }
    @if (ViewBag.Subscription != null)
    {
        <h4 class="span-subscription"><i class="fa fa-spinner fa-spin"></i> @ViewBag.Subscription</h4>
    }

    <div class="copyright"> 2018 &copy; V-Link Network </div>

    @Scripts.Render("~/bundles/loginlib")
    @Scripts.Render("~/bundles/jqueryval")
</body>

</html>
