﻿<div class="form-horizontal">
    <div class="row">
        <div class="portlet light">
            <div class="portlet title">
                <h2>Laundry Item Service</h2>
                <hr />
            </div>
            <div class="portlet body">
                <h4>Room and Guest Info</h4>
                <hr/>
                <div class="form-group">
                    <div class="col-md-2">
                        Room No
                    </div>
                    <div class="col-md-4">
                        <select id="productCategory" class="pc form-control" onchange="LoadProduct(this)">
                            <option>Select</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        Guest Name
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="quantity" class="quantity form-control" />
                    </div>
                </div>
                <h4>Laundry Info</h4>
                <hr />
                <div class="form-group">
                    <div class="col-md-2">
                        Category
                    </div>
                    <div class="col-md-4">
                        <select id="productCategory" class="pc form-control" onchange="LoadProduct(this)">
                            <option>Select</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        Item
                    </div>
                    <div class="col-md-4">
                        <select id="productCategory" class="pc form-control" onchange="LoadProduct(this)">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        Service Type
                    </div>
                    <div class="col-md-4">
                        <select id="productCategory" class="pc form-control" onchange="LoadProduct(this)">
                            <option>Select</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        Price
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="quantity" class="quantity form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        Note
                    </div>
                    <div class="col-md-4">
                        <textarea rows="5" class="form-control" ></textarea>
                    </div>                  
                </div>
                <h4>Return Germent Info</h4>
                <hr />
                <div class="form-group">
                    <div class="col-md-2">
                        Return
                    </div>
                    <div class="col-md-4">
                        <select id="productCategory" class="pc form-control" onchange="LoadProduct(this)">
                            <option>Select</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        Price
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="quantity" class="quantity form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        Note
                    </div>
                    <div class="col-md-4">
                        <textarea rows="5" class="form-control"></textarea>
                    </div>
                </div>
                <hr />
                <div class="portlet footer text-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
                    <button type="submit" class="btn btn-success" name="cmd"><i class="fa fa-check"></i>&nbsp;Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
