﻿<form action="#" class="form-horizontal">
    <div id="fullLaundry" class="form-horizontal"> 
        <div class="row">
            <div class="portlet light">
                <div class="portlet title">
                    <h2>Laundry Item Service</h2>
                    <hr />
                </div>
                <div class="portlet body">
                    <h4>Room and Guest Info</h4>
                    <hr />
                    <div class="roomguest">
                        <div class="form-group">
                            <div class="col-md-2">
                                Room No
                            </div>
                            <div class="col-md-4">
                                <select id="Room_ID" class="room form-control" onchange="LoadGuestName(this)">
                                    <option>Select</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                Guest Name
                            </div>
                            <div class="col-md-4">
                                @*<input type="text" id="GuestnameId" class="GuestnameClass form-control" disabled />*@
                                <select id="Guest_ID" class="guestClass form-control">
                                    <option>Select Guest</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <h4>Laundry Info</h4>
                    <hr />
                    <div class="form-group mycontainer">
                        <div class="col-md-2">
                            Category
                        </div>
                        <div class="col-md-4">
                            <select id="LaundryCategory" class="form-control" onchange="LoadItem(this)">
                                <option>Select</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            Item
                        </div>
                        <div class="col-md-4">
                            <!--LaundryItem conver to Laundry_Item_ID-->
                            <select id="Laundry_Item_ID" class="item form-control">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="ServiceCost">
                        <div class="form-group">
                            <div class="col-md-2">
                                Service Type
                            </div>
                            <div class="col-md-4">
                                <select id="Laundry_Service_ID" class="form-control">
                                    <option>Select</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                Price
                            </div>
                            <div class="col-md-4">
                                <input type="text" id="Debit" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            Note
                        </div>
                        <div class="col-md-4">
                            <textarea id="Particulars" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="col-md-2">
                            Real Price
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="realCostId" class="RealCost form-control" />
                        </div>
                    </div>
                    <h4>Return Germent Info</h4>
                    <hr />
                    <div class="retCost">
                        <div class="form-group">
                            <div class="col-md-2">
                                Return
                            </div>
                            <div class="col-md-4">
                                <select id="Garment_In_ID" class="form-control" onchange="LoadReturnCost(this)">
                                    <option>Select</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                Price
                            </div>
                            <div class="col-md-4">
                                <select id="returnCostId" class="returnCost form-control">
                                    <option>Select</option>
                                </select>
                                @*<input type="text" id="returnCostId" class="returnCost form-control" />*@
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                Note
                            </div>
                            <div class="col-md-4">
                                <textarea rows="5" class="form-control"></textarea>
                            </div>
                        </div>

                    </div>
                    <hr />
                    <div class="portlet footer text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
                        <button type="submit" id="submit" class="btn btn-success" name="cmd"><i class="fa fa-check"></i>&nbsp;Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="~/Scripts/LaundryItemService.js"></script>
