﻿@model IEnumerable<PMS_HT.Models.tbl_room_transactions>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Service List
                    </div>
                    <div class="tools">
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_2">
                        <thead>
                            <tr>
                                <th>SL No </th>
                                <th>Room No</th>
                                <th>Guest name</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0;}
                           @foreach (var item in ViewBag.result)
                           {
                            <tr>
                                <td>
                                    @{i++;}
                                    @i
                                </td>
                                <td>
                                    @item.Room_No
                                </td>
                                <td>
                                    @item.Name
                                </td>
                               <td>
                                    @item.Debit
                                </td>
                            </tr>
                          }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

