﻿@model PMS_HT.Models.tbl_attendance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_attendance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tbl_emp_info.Emp_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_emp_info.Emp_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Punch_In_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Punch_In_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Punch_Out_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Punch_Out_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Attendance_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
