﻿@model IEnumerable<PMS_HT.Models.tbl_attendance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tbl_emp_info.Emp_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Punch_In_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Punch_Out_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_emp_info.Emp_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Punch_In_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Punch_Out_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Attendance_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Attendance_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Attendance_ID })
        </td>
    </tr>
}

</table>
