﻿@model IEnumerable<PMS_HT.Models.tbl_guest_stay_info>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                      Floor
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="text-center">
                        </thead>
                        <tbody>
                                <tr>                                                               
                                    <td class="text-center">
                                        <a href="@Url.Action("FirstFloor","FrontDeskFloorWiseDailyRoomChart")" class="btn btn-success">
                                            1st Floor
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("SecondFloor","FrontDeskFloorWiseDailyRoomChart")" class="btn btn-success">
                                            2nd Floor
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("ThirdFloor","FrontDeskFloorWiseDailyRoomChart")" class="btn btn-success">
                                            3rd Floor
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("FourthFloor","FrontDeskFloorWiseDailyRoomChart")" class="btn btn-success">
                                            4th Floor
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("FifthFloor","FrontDeskFloorWiseDailyRoomChart")" class="btn btn-success">
                                            5th Floor
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("SixthFloor","FrontDeskFloorWiseDailyRoomChart")" class="btn btn-success">
                                            6th Floor
                                        </a>
                                    </td>
                                </tr>
                                            
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>