﻿@model IEnumerable<PMS_HT.Models.tbl_guest_stay_info>

@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/AddViewModel.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover table-responsive" id="sample_2">
                        <thead>
                            <tr>
                                <th> Sl No </th>
                                <th> Room No </th>
                                <th> Room Type</th>
                                <th> Guest Name </th>
                                <th> Arrival Date </th>
                                <th>Departure Date</th>
                                <th>CheckOut Time</th>
                                <th>Reference</th>
                                <th>Note</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int a = 0; }
                            @for (int x = 0; x < ViewBag.Floor3RoomList.Count; x++)
                            {
                                <tr>
                                    <td>
                                        @{ a++;}
                                        @a
                                    </td>
                                    <td>@ViewBag.Floor3RoomList[x].Room_No</td>
                                    <td>@ViewBag.Floor3RoomList[x].tbl_roomtype_setup.Roomtype_Name</td>
                                    @for (int y = 0; y < ViewBag.Floor3.Count; y++)
                                    {
                                        var name = ""; var arrival_Date = ""; var departure_Date = "";
                                        if (ViewBag.Floor3RoomList[x].Room_No != ViewBag.Floor3[y].tbl_room_info.Room_No)
                                        {
                                            name = "";
                                            arrival_Date = "";
                                            departure_Date = "";
                                        }
                                        else
                                        {
                                            name = ViewBag.Floor3[y].tbl_guest_info.Name;
                                            arrival_Date = ViewBag.Floor3[y].Arrival_Date.ToString();
                                            departure_Date = ViewBag.Floor3[y].Departure_Date.ToString();
                                            <td>@name</td>
                                            <td>@arrival_Date</td>
                                            <td>@departure_Date</td>
                                        }
                                    }
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>