﻿@model PMS_HT.Models.tbl_preferences

@using (Ajax.BeginForm("Create", "Preferences", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { id = "PreferenceCreate", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        <div class="modal-body">
            <div class="form-group">
                @Html.LabelFor(model => model.Preference_Name, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Preference_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Preference_Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.Type, new List<SelectListItem>
                                            {
                                            new SelectListItem {Text ="Color", Value="Color" },
                                            new SelectListItem {Text ="DateTime", Value="DateTime"},
                                            new SelectListItem {Text ="Text", Value="String" },
                                            new SelectListItem {Text ="Number", Value="Decimal" },
                                            }, "--Select--", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    <input type="color" name ="Value" style="width:100%;" >
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
            <button type="submit" class="btn btn-success" name="cmd"><i class="fa fa-check"></i>&nbsp;Create</button>
        </div>
    </div>
}
