﻿@model IEnumerable<PMS_HT.Models.tbl_preferences>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AddViewModel.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        @if (User.IsInRole("Super Admin"))
                        {
                            <a href="@Url.Action("Create", "Preferences")" id="Add" class="btn default"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New</a>
                        }
                        Preferences
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_2">
                        <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Preference_Name)
                            </th>
                            <th hidden>
                                @Html.DisplayNameFor(model => model.Type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Value)
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            int i = 1;
                        }
                        @foreach (var item in Model)
                        {
                            
                            <tr>
                                <td>@i</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Preference_Name)
                                </td>
                                <td hidden>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                @if (item.Type == "Color")
                                {
                                    <td style="background-color: @item.Value">
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Preferences", new {id = item.Preference_ID})" class="editDialog btn btn-primary"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Value)
                                    </td>
                                    <td></td>
                                }
                            </tr>
                            i++;
                                }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add New</h4>
            </div>
            <div class="divForAdd">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update Preference</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

    });

    $('.editDialog').click(function (event) {
        event.preventDefault();
        $('.divForUpdate').html(null);
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
    });
</script>

