﻿@model PMS_HT.Models.tbl_laundry_service_cost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_laundry_service_cost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tbl_laundry_item.Laundry_Item_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_laundry_item.Laundry_Item_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_laundry_service.Service_Heading_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_laundry_service.Service_Heading_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Laundry_Sevice_Cost_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
