﻿ @model IEnumerable<PMS_HT.Models.tbl_banquet_transactions>


@{
    ViewBag.Title = "Banquet Account Recievable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AddViewModel.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>


<div class="container-fluid">   
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Banquet Account Receivable
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">

                    @using (Html.BeginForm("AccountReceivable", "BanquetAccountReceivable", FormMethod.Get))
                    {
                                <div class="form-group">
                                    <label class="control-label col-md-2">Date Range</label>
                                    <div class="col-md-4">
                                        <div class="input-group input-large date-picker input-daterange">
                                            <input type="text" id="dob" class="form-control" name="dob">
                                            <span class="input-group-addon"> to </span>
                                            <input type="text" id="date" class="form-control" name="date">
                                        </div>
                                    </div>
                                    <div class="btn default col-md-1">
                                        <input type="button" id="searchButton" value="Search" />
                                    </div>
                                </div>

                    }

                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-lg-11 col-sm-8" id="partialView">
                                @Html.Partial("ViewDateWiseBanquetReceivable")
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<script>
        $(Document).ready(function () {
            $("#dob").datepicker({
                dateFormat: 'dd/mm/yy',
            });
            $("#date").datepicker({
                dateFormat: 'dd/mm/yy',
            });
        });
        $("#searchButton").click(function () {
            var dobVal = $("#dob").val();
            var dateVal = $("#date").val();
            $.post('@Url.Action("ViewDateWiseBanquetReceivable")',
              { dob: dobVal, date: dateVal }, function (data) {
                  $("#partialView").html(data);
              });
        });
</script>