﻿<table class="table table-striped table-bordered table-hover" id="sample_2">
    <thead>
        <tr>
            <th>SL No </th>
            <th>Banquet Name</th>
            <th>Person Name</th>
            <th>Person Adress</th>
            <td>Company Name</td>
            <td>Company Address</td>
            <th>Booking Start Date</th>
            <th>Booking End Date</th>
            <th>Purpose Name</th>
            <th>Receivable</th>
            <th>Received</th>
            <th>Due</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; decimal payable = 0, paid = 0, due = 0;}
        @if (ViewBag.payable != null)
        {
            foreach (var item in ViewBag.payable)
            {
                payable += Convert.ToDecimal(@item.Debit);
                paid += Convert.ToDecimal(@item.Credit);
                due += Convert.ToDecimal(@item.Due);
                <tr>
                    <td>
                        @{i++;}
                        @i
                    </td>
                    <td>
                        @item.Banquet_Name
                    </td>
                    <td>
                        @item.Person_Name
                    </td>
                    <td>
                        @item.Person_Adress
                    </td>
                    <td>
                        @item.Company_Name
                    </td>
                    <td>
                        @item.Company_Adress
                    </td>
                    <td>
                        @item.Start_Date
                    </td>
                    <td>
                        @item.End_Date
                    </td>
                    <td>
                        @item.Purpose_Name
                    </td>
                    <td>
                        @item.Debit
                    </td>
                    <td>
                        @item.Credit
                    </td>
                    <td>
                        @item.Due
                    </td>
                </tr>
             }
         }        
    </tbody>
    <tr style="background-color:#e7efec">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total Receivable</td>
        <td>@payable</td>
        <td></td>
        <td></td>
    </tr>
    <tr style="background-color:#e7efec">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total Paid</td>
        <td></td>
        <td>@paid</td>
        <td></td>
    </tr>
    <tr style="background-color:#e7efec">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total Due</td>
        <td></td>
        <td></td>
        <td>@due</td>
    </tr>
</table>

