﻿@model IEnumerable<PMS_HT.Models.tbl_item_order_master>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_RestaurantFront.cshtml";
    IEnumerable<PMS_HT.Models.tbl_dining_set_up> tableList = ViewBag.Tables;
}

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div style="background-color:#c9cfd8">
                    <h4>Total Served</h4>
                    <h3>@ViewBag.PaidCount</h3>
                </div>
            </div>
            <div class="col-md-2">
                <div style="background-color:#c9cfd8">
                    <h4>Currently Serving</h4>
                    <h3>@ViewBag.AllOrdersCount</h3>
                </div>                
            </div>
            <div class="col-md-2">
                <div style="background-color:#c9cfd8">
                    <h4>Cancelled</h4>
                    <h3>@ViewBag.CancelOrdersCount</h3>
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <section class="res-table-container" @*style="height:600px;"*@>
                    @if(tableList != null)
                    {
                        foreach (var item in tableList)
                        {
                            string tableclass = "table-square DTable";
                            if (item.Status == "Ordered")
                            {
                                tableclass += "Ordered";
                            }
                            if (item.Status == "Served")
                            {
                                tableclass += "Served";
                            }
                            <div class="table-content" id="@item.Dining_ID">
                                <div class="@tableclass"></div>
                                <div class="table-title">@item.Dining_No</div>
                            </div>
                        }
                    }                    
                </section>
            </div>
            <div class="col-md-6">
                <div class="hompage-order-table" id="style-1">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Current Order</th>
                            </tr>
                            <tr>
                                <th>Sl no.</th>
                                <th>Table no.</th>
                                <th>Status</th>
                                <th>Bill</th>
                                <th>Pay</th>
                                <th>Edit</th>
                                <th>Cancel</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                int i = 0;
                                foreach (var item in Model)
                                {
                                    string tables = "";
                                    string editString = "/RestaurantOrder/Edit/" + item.Order_Master_ID.ToString();
                                    string payString = "/RestaurantOrder/Pay/" + item.Order_Master_ID.ToString();
                                    string styleColor = "";
                                    if (item.Status == "Ordered")
                                    {
                                        styleColor = "background-color : #f49090;";
                                    }
                                    else if (item.Status == "Served")
                                    {
                                        styleColor = "background-color : #b6f9b3;";
                                    }
                                    <tr style="@styleColor">
                                        @{i++;}
                                        <td>@i</td>
                                        @{
                                            foreach (var tbl in item.tbl_dining_set_up.ToList())
                                            {
                                                tables += tbl.Dining_No + ", ";
                                            }
                                            if (tables.Length > 1)
                                            {
                                                tables = tables.Substring(0, tables.Length - 2);
                                            }
                                            if (item.Order_Method_ID == 3)
                                            {
                                                tables = item.tbl_order_method.Order_Method_Name;
                                                tables += " - " + item.tbl_guest_stay_info.tbl_room_info.Room_No;
                                            }
                                            else if (item.Order_Method_ID == 2)
                                            {
                                                tables = item.tbl_order_method.Order_Method_Name;
                                            }
                                        }
                                        <td>@tables</td>
                                        <td>@item.Status</td>
                                        <td><a href="@Url.Action("Bill", "RestaurantOrder", new { id = item.Order_Master_ID })" class="btn btn-sm btn-common billBtn"><i class="fa fa-file-text"></i> Bill </a></td>
                                        <td><a href="..@payString" class="btn btn-sm btn-common"><i class="fa fa-dollar"></i> Pay</a></td>
                                        <td><a href="..@editString" class="btn btn-sm btn-common"><i class="fa fa-edit"></i> Edit</a></td>
                                        <td><a href="@Url.Action("Cancel", "RestaurantOrder", new { id = item.Order_Master_ID })" id="@item.Order_Master_ID" class="btn btn-sm btn-common cancelBtn"><i class="fa fa-edit"></i> Cancel</a></td>
                                    </tr>

                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="modal-id">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Cancellation</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('.cancelBtn').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.modal-body').html(response);
        });
        $('#modal-id').modal({
            //backdrop: 'static',
        }, 'show');
    });
    $('.billBtn').click(function (event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: this.href,
            contentType: 'application/json',
            success: function (dt) {
                if (dt.length > 10) {
                    var str = "data:application/pdf;base64," + dt;
                    var object = '<iframe width="100%" height="100%" src="' + str + '"></iframe>';
                    var generator = window.open("", "", "top=100,left=500,width=500,height=500");
                    generator.document.write(object);
                    generator.document.close();                    
                }
                else {
                    alert();
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    });

    $('.table-content').click(function () {
        var tbDiv = $(this).find('div:eq(0)');
        var tbClass = tbDiv.attr('class');
        if(tbClass.match(/DTableOrdered/gi)) {
            var id = $(this).attr('id');
            window.location = "/Axd/RestaurantOrder/TableEdit/" + id;
        }
        else if(tbClass.match(/DTableServed/gi)) {
            var id = $(this).attr('id');
            window.location = "/Axd/RestaurantOrder/TablePay/" + id;
        }
        else {
            window.location = "/RestaurantOrder/Orders";
        }
    });
</script>