﻿@using PMS_HT.Models
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_RestaurantFront.cshtml";
    List<tbl_item_order_master> AllOrders = ViewBag.AllOrders;
    List<tbl_item_order_master> CancelOrders = ViewBag.CancelOrders;
}

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="7" style="text-align:center;background-color:#00a651">All Orders</th>
                        </tr>
                        <tr>
                            <th>Sl #</th>
                            <th>Order Detail</th>
                            <th>Status</th>
                            <th>Order Time</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.AllOrders != null)
                        {
                            int i = 0;                            
                            foreach (var item in AllOrders)
                            {
                                <tr>
                                    @{
                                        i++;
                                        string tables = "";
                                    }
                                    <td>@i</td>
                                    @{
                                        foreach (var tbl in item.tbl_dining_set_up.ToList())
                                        {
                                            tables += tbl.Dining_No + ", ";
                                        }
                                        if (tables.Length > 1)
                                        {
                                            tables = tables.Substring(0, tables.Length - 2);
                                        }
                                        if (item.Order_Method_ID == 3)
                                        {
                                            tables = item.tbl_order_method.Order_Method_Name;
                                            tables += " - " + item.tbl_guest_stay_info.tbl_room_info.Room_No;
                                        }
                                        else if (item.Order_Method_ID == 2)
                                        {
                                            tables = item.tbl_order_method.Order_Method_Name;
                                        }
                                    }
                                    <td onmouseout="toggler(@i)" onmouseover="toggler(@i)" onclick="toggler(@i)">
                                        @tables
                                        <ul id="@i" class="nav nav-list" hidden>
                                            @foreach (var subcategory in item.tbl_item_order_details)
                                            {
                                                <li style="padding-left:1em;"><i class="fa fa-cube"></i> @subcategory.tbl_food.Food_Name (@Convert.ToInt32(subcategory.Quantity))</li>
                                            }
                                        </ul>
                                    </td>
                                    <td>@item.Status</td>
                                    <td>@item.Order_Date.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                    <td>@item.tbl_item_order_ledger.Where(a => a.Tran_Ref_ID == 1).Select(b => b.Debit).Sum()</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="7" style="text-align:center;background-color:#00a651">Cancelled Orders</th>
                        </tr>
                        <tr>
                            <th>Sl #</th>
                            <th>Order Detail</th>
                            <th>Status</th>
                            <th>Order Time</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.CancelOrders != null)
                        {
                            int i = 0;
                            foreach (var item in CancelOrders)
                            {
                                <tr>
                                    @{
                                        i++;
                                        string tables = "";
                                    }
                                    <td>@i</td>
                                    @{
                                        foreach (var tbl in item.tbl_dining_set_up.ToList())
                                        {
                                            tables += tbl.Dining_No + ", ";
                                        }
                                        if (tables.Length > 1)
                                        {
                                            tables = tables.Substring(0, tables.Length - 2);
                                        }
                                        if (item.Order_Method_ID == 3)
                                        {
                                            tables = item.tbl_order_method.Order_Method_Name;
                                            tables += " - " + item.tbl_guest_stay_info.tbl_room_info.Room_No;
                                        }
                                        else if (item.Order_Method_ID == 2)
                                        {
                                            tables = item.tbl_order_method.Order_Method_Name;
                                        }
                                    }
                                    <td>@tables</td>
                                    <td>@item.Status</td>
                                    <td>@item.Order_Date.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                    <td>@item.tbl_item_order_ledger.Where(a => a.Tran_Ref_ID == 1).Select(b => b.Debit).Sum()</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<script>
    function toggler(listid)
    {
        $('#'+listid).toggle();
    }
</script>