﻿@model  tbl_guest_stay_info
@using PMS_HT.Models

<style>
    label.error {
        color: red;
        font-style: italic;
    }
</style>

@{
    List<tbl_room_transactions> otherBillList = ViewBag.OtherBillListS;
    List<tbl_room_transactions> discountList = ViewBag.DiscountList;
    List<tbl_room_transactions> paidList = ViewBag.paidTransactionsS;
}
@using (Ajax.BeginForm("Edit", "OutstandingCharge", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { id = "CheckOutForm" }))
{
    <div class="form-horizontal">
        <br />
        <br />
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="text" id="stayId" name="stayId" value="@ViewBag.id" hidden readonly />
        <div class="container-fluid">
            <div class="row form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="portlet-body tabs-below">
                    <div class="tab-content">
                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.tbl_guest_info.Name, htmlAttributes: new { @class = "control-label col-md-1 col-sm-8 col-xs-8" })
                                    <div class="col-md-3 col-sm-8 col-xs-8">
                                        <input type="text" name="Name" id="Name" readonly class="form-control" value="@ViewBag.GuestName">
                                    </div>

                                    @Html.LabelFor(model => model.tbl_guest_info.Phone, htmlAttributes: new { @class = "control-label col-md-1 col-sm-8 col-xs-8" })
                                    <div class="col-md-3 col-sm-8 col-xs-8">
                                        <input type="text" name="Phone" id="Phone" readonly class="form-control" value="@ViewBag.Phone">
                                    </div>

                                    @Html.LabelFor(model => model.tbl_guest_info.Address, htmlAttributes: new { @class = "control-label col-md-1 col-sm-8 col-xs-8" })
                                    <div class="col-md-3 col-sm-8 col-xs-8">
                                        <input type="text" name="Phone" id="Phone" readonly class="form-control" value="@ViewBag.Address">
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group ">
                                    @Html.LabelFor(model => model.Arrival_Date, "Arrival Date", htmlAttributes: new { @class = "control-label col-md-1 col-sm-2 col-xs-2" })
                                    <div class="col-md-3 col-sm-4 col-xs-4">
                                        <input type="text" name="Arrival_Date" id="Arrival_Date" readonly class="form-control" value="@ViewBag.ArrivalDate">
                                    </div>
                                    @Html.LabelFor(model => model.Departure_Date, "Departure Date", htmlAttributes: new { @class = "control-label col-md-1 col-sm-2 col-xs-2" })
                                    <div class="col-md-3 col-sm-4 col-xs-4">
                                        <input type="text" name="Departure_Date" id="Departure_Date" readonly class="form-control" value="@ViewBag.DepartureDate">
                                    </div>
                                    @Html.Label("checkOutDate", "CheckOut Date", htmlAttributes: new { @class = "control-label col-md-1 col-sm-2 col-xs-2" })
                                    <div class="col-md-3 col-sm-4 col-xs-4">
                                        <input type="text" name="checkOutDate" id="checkOutDate" readonly class="form-control" value="@ViewBag.checkOutDateTime">
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group ">
                                    @Html.Label("roomRate", "Room Rate", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="roomRate" id="roomRate" class="form-control" value="@ViewBag.RoomChargePerDayS" readonly>
                                    </div>
                                    @Html.Label("totalRoomCharge", "Total Room Charge", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="totalRoomCharge" id="totalRoomCharge" class="form-control" value="@ViewBag.RoomChargeS" readonly @*onkeyup="getVatInclusiveTotal()" onchange="getVatInclusiveTotal()" *@>
                                    </div>
                                    @Html.Label("vat", "Total Vat", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2 ", id = "vatLabel" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="vat" id="vat" class="form-control" readonly value="@ViewBag.Vat">
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.Label("discount", "Discount", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2", id = "discountLabel" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="discount" id="discount" class="form-control" value="@ViewBag.Discount" readonly>
                                    </div>
                                    @Html.Label("otherBill", "Other Bill", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="otherBill" id="otherBill" class="form-control" readonly value="@ViewBag.OtherBillS">
                                    </div>
                                    @Html.Label("totalCharge", "Total Charge (Rounded)", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="totalCharge" id="totalCharge" class="form-control" readonly @*onkeyup="getVatInclusiveTotal()" onchange="getVatInclusiveTotal()" value="@ViewBag.Vat"*@>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.Label("previousPaid", "Previous Paid", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="previousPaid" id="previousPaid" class="form-control" value="@ViewBag.PaidS" readonly>
                                    </div>
                                    @Html.Label("due", "Outstand Charge", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="due" id="due" readonly class="form-control" @*onkeyup="getVatInclusiveTotal()" onchange="getVatInclusiveTotal()" value="@ViewBag.Vat"*@>
                                    </div>
                                </div>
                            </div>
                            
                            <label><strong>Payment: </strong></label>
                            <div class="row form-group">
                                <div class="form-group">
                                    @Html.Label("netPayable", "Net Payable", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="netPayable" id="netPayable" class="form-control" readonly @*onkeyup="getVatInclusiveTotal()" onchange="getVatInclusiveTotal()" value="@ViewBag.Vat"*@>
                                    </div>
                                    @Html.Label("paid", "Paid", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="paid" id="paid" onkeyup="GetNetPayable()" onchange="GetNetPayable()" class="form-control">
                                    </div>
                                    @Html.Label("particulars", "Particulars", htmlAttributes: new { @class = "control-label col-md-2 col-sm-2 col-xs-2" })
                                    <div class="col-md-2 col-sm-4 col-xs-4">
                                        <input type="text" name="particulars" id="particulars" onkeyup="GetNetPayable()" onchange="GetNetPayable()" class="form-control">
                                    </div>
                                    @*<input type="text" onkeyup="getDiscountedTotal()">*@
                                </div>
                            </div>

                            <div class="row form-group">                                
                                <div class="form-group" style="float:right; padding-right:20px">
                                    <div class="col-md-offset-2 col-md-4 col-sm-8 col-xs-8">
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
                                    </div>
                                    <div class="col-md-offset-2 col-md-4 col-sm-8 col-xs-8">
                                        <button type="button" value="Pay" class="btn btn-success" onclick="CheckPaidDue()"><i class="fa fa-credit-card" aria-hidden="true"></i> Pay</button>
                                    </div>
                                </div>
                            </div>                         
                    </div>
                </div>  
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/MathRound10.js"></script>

<script>
    $(document).ready(function () {
        var roomTotalCharge = '@ViewBag.RoomTotalCharge';
        roomTotalCharge = Math.round10(roomTotalCharge, 1);
        var due = '@ViewBag.RoomDueS';
        due = Math.round10(due, 1);
        $("#totalCharge").val(roomTotalCharge);
        $("#due").val(due);
        $("#netPayable").val(due);
        var vatPercent = '@(ViewBag.VatPercent)';
    });

    function CheckPaidDue()
    {
        var paid = Number($("#paid").val());
        var netPayable = Number($("#netPayable").val());
        if(paid >= netPayable)
        {
            $("#CheckOutForm").submit();
        }
        else
        {
            if (confirm("Paid amount is less then Net Payable amount.\nProceed as Outstanding?")) {
                $("#CheckOutForm").submit();
            }
        }
    }

    $('#CheckOutForm').validate({
        rules: {
            paid: {
                required: true,
                number: true
            },
            particulars: "required"
        },
        messages: {
            paid: {
                required: "Paid field can not be empty",
                number: "Paid amount must be a number"
            },
            particulars: "This field can not be empty !"
        }
    });



</script>