﻿@model OutStandingViewModel
@using PMS_HT.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
    decimal total = 0;
}

<script src="~/Scripts/AddViewModel.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Outstanding Charges
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_2">
                        <thead>
                            <tr>
                                <th>SL. No</th>
                                <th>Room No</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>Arrival Date</th>
                                <th>CheckOut Date</th>
                                <th>Amount</th>
                                <th>Pay</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.OutStandingList != null)
                            {
                                foreach (var item in ViewBag.OutStandingList)
                                {
                                    <tr>
                                        <td>
                                            @{i++; total += item.Credit;}
                                            @i
                                        </td>
                                        <td>
                                            @item.Room_No
                                        </td>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.Phone
                                        </td>
                                        <td>
                                            @item.Address
                                        </td>
                                        <td>
                                            @item.Arrival_Date
                                        </td>
                                        <td>
                                            @item.Checkout_Date
                                        <td>
                                            @item.Credit
                                        </td>
                                        <td style="text-align:center;">
                                            <a href="@Url.Action("Edit", "OutstandingCharge", new { id = item.Stay_Info_ID })" class="editDialog" data-toggle="tooltip" title="View"><i class="fa fa-credit-card"  style="transform:scale(2);"></i></a>
                                        </td>
                                    </tr>
                                                    }
                                                }

                        </tbody>

                    </table>
                </div>
                <div style="width:100%">
                    <h3 style="font-weight:700;text-align:center;">Total Amount : ৳ @total</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-modal-lg in" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Credit Payment</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>

<script>
    $('.editDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
    });
</script>