﻿@{
    ViewBag.Title = "DailyVacantRoom";
}
<script src="~/Scripts/AddViewModel.js"></script>

@using (Ajax.BeginForm("DailyVacantRoom", "AccountsDailyVacantRoom", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }, new { id = "vacantRoomForm" }))
{
    <div class="form-horizontal">
        <div class="modal-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2">Date</label>
                    <div class="col-md-4">
                        <div class="input-group input-large ">
                            <input type="text" id="date" class="form-control" autocomplete="off" required name="date">
                        </div>
                    </div>
                    <div class="row form-group">
                        <button type="submit" class="btn btn-success" name="cmd"><i class="fa fa-check"></i>&nbsp;Vacant Room</button>
                        <button type="button" class="btn red" id="printVacant"><i class="fa fa-file-pdf-o"></i>&nbsp; PDF</button>
                    </div>
                </div>
                @if (ViewBag.Message != null)
                {
                    <div id="prefix_372304780001" class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>@ViewBag.Message</div>
                }
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $("#date").datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
    function DateCheck() {
        $("#vacantRoomForm").submit();
    }
    $("#printVacant").click(function () {
        var dobVal = $("#date").val();
        if (dobVal == "") {
            alert("Invalid Date");
        }
        else {
            //window.location = "/AccountsDailyVacantRoom/ExportReport/?dob=" + dobVal;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ExportReport", "AccountsDailyVacantRoom")',
                data: { dob: dobVal },
                success: function (data) {
                    var str = "data:application/pdf;base64," + data;
                    var object = '<iframe width="100%" height="100%" src="' + str + '"></iframe>';
                    var generator = window.open("", "", "top=100,left=500,width=500,height=500");
                    generator.document.write(object);
                    generator.document.close();
                }
            });
        }
    });
</script>