﻿@model IEnumerable<PMS_HT.Models.tbl_vacant_room>

@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        Vacant Room Info
                    </div>
                    <div class="tools">
                        
                    </div>
                </div>
                <div class="portlet-body">
                    @*<div class="table-scrollable">*@
                        <table class="table table-bordered table-hover table-responsive" id="sample_2">
                            <thead>
                                <tr>
                                    <th>
                                        Room No
                                    </th>
                                    <th align="center">
                                        Rate
                                    </th>
                                    <th>
                                        Date
                                    </th>

                                </tr>
                            </thead>

                            <tbody>
                                @{ int i = 0; double total = 0, vat = 0.15;}
                                @foreach (var item in ViewBag.vacantroom)
                                {
                                    total += Convert.ToDouble(@item.Rate);
                                    <tr>

                                        <td>@item.Room_No</td>

                                        <td>@item.Rate</td>

                                        <td>@item.Date</td>

                                    </tr>
                                }
                                @*@{
                                        vat *= total;
                                    }*@

                            </tbody>
                            <tr style="background-color:#e7efec">
                                <td>Total RoomCharge :</td>
                                <td> @total </td>
                                <td></td>
                            </tr>
                            @*<tr style="background-color:#e7efec">
                                    <td>Total Vat(15%) :</td>
                                    <td> @vat </td>
                                    <td></td>
                                </tr>
                                @{ total += vat;}
                                <tr style="background-color:#e7efec">
                                    <td>Total :</td>
                                    <td> @total </td>
                                    <td></td>
                                </tr>*@
                        </table>
                    @*</div>*@
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>

@*</div>*@

