﻿@model PMS_HT.Models.tbl_department

@{
    ViewBag.Title = "Details";
}





<div class="portlet box blue ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> Department
        </div>
        <div class="tools">
            <a href="" class="collapse"> </a>
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="" class="reload"> </a>
            <a href="" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body form">

        <div class="form-body">


            <div>
                <h4>Details</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Department_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Department_Name)
                    </dd>

                </dl>
            </div>
           

            <div class="form-actions">
                <button type="button" class="btn default">@Html.ActionLink("Back", "Index")</button>

                <button type="submit" class="btn green">@Html.ActionLink("Edit", "Edit", new { id = Model.Department_ID })</button>
            </div>


        </div>
    </div>
</div>
