﻿@model PMS_HT.Models.tbl_department

@{
    ViewBag.Title = "Edit";
}


<div class="portlet box blue ">
<div class="portlet-title">
    <div class="caption">
        <i class="fa fa-gift"></i>Department
    </div>
    <div class="tools">
        <a href="" class="collapse"> </a>
        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
        <a href="" class="reload"> </a>
        <a href="" class="remove"> </a>
    </div>
</div>
<div class="portlet-body form">

    <div class="form-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Edit Department</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Department_ID)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Department_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Department_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Department_Name, "", new { @class = "text-danger" })
                    </div>
                </div>




                <div class="portlet-fit">
                    <div class="form-group">

                        <div class="form-actions">
                            <button type="button" class="btn default">@Html.ActionLink("Back", "Index")</button>

                            <button type="submit" class="btn green">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        }




    </div>
</div>
</div>
