﻿@model PMS_HT.Models.tbl_task_assignment

<script src="~/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<style>
#status-area .flash_message {
    padding: 5px;
    color: green;
}
    </style>
@using (Ajax.BeginForm("Add", "HouseKeepingTaskAssignment", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }))
{
    <div class="form-horizontal">
        <div class="modal-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row form-group">
                <div class="form-group">
                    @Html.LabelFor(model => model.Maid_ID, "Maid Name", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Maid_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Maid_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Task_ID, "Task Name", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Task_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Task_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Room_ID, "Room No", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Room_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Room_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.Task_Assignment_Date_Time, "Assign Date & Time", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Task_Assignment_Date_Time, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Task_Assignment_Date_Time, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.Task_Assignment_Date_Time, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        <div class="input-group date form_meridian_datetime input-large">
                            @Html.EditorFor(model => model.Task_Assignment_Date_Time, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Task_Assignment_Date_Time, "", new { @class = "text-danger" })
                            <span class="input-group-btn">
                                <button class="btn default date-reset" type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                                <button class="btn default date-set" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>


                @*<div class="form-group">
                    @Html.LabelFor(model => model.Task_Assignment_Date_Time, "Assign Date & Time", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        <div class="input-group date form_meridian_datetime input-large" data-date="2012-12-21T15:25:00Z">
                            <input type="text" size="16" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn default date-reset" type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                                <button class="btn default date-set" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                        
                    </div>
                </div>*@


                <div class="form-group">
                    @Html.LabelFor(model => model.Created_By, "Created By", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Created_By", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Created_By, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.Task_Status, "Status", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Task_Status, new { htmlAttributes = new { @class = "form-control" } })

                            @Html.ValidationMessageFor(model => model.Task_Status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
        <button type="submit" id="assignTask" class="btn btn-success" name="cmd"><i class="fa fa-check"></i>&nbsp;Save</button>
        <div id="status-area"></div>
    </div>

}

<script>
    
    (function ($) {
        $.fn.flash_message = function (options) {

            options = $.extend({
                text: 'Done',
                time: 1000,
                how: 'before',
                class_name: ''
            }, options);

            return $(this).each(function () {
                if ($(this).parent().find('.flash_message').get(0))
                    return;

                var message = $('<span />', {
                    'class': 'flash_message ' + options.class_name,
                    text: options.text
                }).hide().fadeIn('fast');

                $(this)[options.how](message);

                message.delay(options.time).fadeOut('normal', function () {
                    $(this).remove();
                });

            });
        };
    })(jQuery);

    $('#assignTask').click(function () {

        $('#status-area').flash_message({
            text: 'Task Assigned!',
            how: 'append'
        });
    });

</script>
