﻿@model IEnumerable<PMS_HT.Models.tbl_task_assignment>

@{
    ViewBag.Title = "House Keeping Task Assign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #status-area .flash_message {
        padding: 5px;
        color: green;
    }
</style>
<script src="~/Scripts/AddViewModel.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @*@using (Html.BeginForm("Done", "HouseKeepingTaskAssignment", FormMethod.Post))
            {*@
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <a href="@Url.Action("Add", "HouseKeepingTaskAssignment")" id="Add" class="btn default"><i class="glyphicon glyphicon-plus"></i>&nbsp;Create New</a>
                            @*<input type="submit" value="Done" class="btn default" />*@
                        </div>

                        <div id="status-area"></div>

                        <div class="tools">

                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover" id="sample_2">
                            <thead>
                                <tr>
                                    <th>SL No </th>
                                    <th>Employee Name</th>
                                    <th>Maid Name</th>
                                    <th>Room No</th>
                                    <th>Task Heading</th>
                                    <th>Note</th>
                                    <th>Assign Date and Time</th>
                                    <th>Task Status</th>
                                    @*<th>Done</th>*@
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 0;


                                }


                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @{i++;}
                                            @i
                                        </td>                                        
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tbl_emp_info.Emp_Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tbl_maid_info.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tbl_room_info.Room_No)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tbl_task_setup.Task_Heading)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Note)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Task_Assignment_Date_Time)
                                        </td>
                                        <td>

                                            @{
                                                if (item.Task_Status == false)
                                                {
                                                    @ViewBag.status

                                                }
                                                else
                                                {
                                                    @ViewBag.status2
                                                }
                                            }


                                        </td>
                                        @*<td>
                                            <input type="checkbox" name="done" value="@item.Task_Assignment_ID" id="checkboxes" />
                                        </td>*@
                                        <td>
                                            <a href="@Url.Action("Edit", "HouseKeepingTaskAssignment", new { id = item.Task_Assignment_ID })" class="editDialog"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                                        </td>
                                        <td>
                                            @Ajax.ActionLink(" Delete", "Delete", "HouseKeepingTaskAssignment", new { @id = item.Task_Assignment_ID }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-record" }, new { onclick = "return confirm('Are you sure you wish to delete this Task Assign?');", @class = "fa fa-trash-o" })
                                        </td>
                                    </tr>
                                                }
                            </tbody>

                        </table>
                    </div>
                </div>
                 @*}*@
        </div>
    </div>
</div>

<div class="modal fade" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Task Assign</h4>
            </div>
            <div class="divForAdd">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update Task Assign</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>




<script>

    (function ($) {
        $.fn.flash_message = function (options) {

            options = $.extend({
                text: 'Done',
                time: 10000,
                how: 'before',
                class_name: ''
            }, options);

            return $(this).each(function () {
                if ($(this).parent().find('.flash_message').get(0))
                    return;

                var message = $('<span />', {
                    'class': 'flash_message ' + options.class_name,
                    text: options.text
                }).hide().fadeIn('slow');

                $(this)[options.how](message);

                message.delay(options.time).fadeOut('normal', function () {
                    $(this).remove();
                });

            });
        };
    })(jQuery);

    $('#assignTask').click(function () {

        $('#status-area').flash_message({
            text: 'Task Assigned!',
            how: 'append'
        });
    });


    $('.editDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
    });

</script>
