﻿@model PMS_HT.Models.tbl_banquet_prog

@{
    ViewBag.Title = "Details";
}

<script src="~/Scripts/AddViewModel.js"></script>



<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Banquet Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_banquet_info.Banquet_Name)
        </dd>

        <dt>
          Country Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_country.Country_Name)
        </dd>

        <dt>
        Person Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person_Name)
        </dd>

        <dt>
            Person Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person_Adress)
        </dd>

        <dt>
            Person Phone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact_Person)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact_Person)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact_Person_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact_Person_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact_Person_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact_Person_Address)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Program_ID }) |*@

    
        <a href="@Url.Action("Edit", "BanquetProgram", new { id = Model.Program_ID })" class="editDialog"></i>&nbsp;Edit</a>|
  
    @Html.ActionLink("Back to List", "Index")
</p>
<div class="modal fade" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Banquet Program</h4>
            </div>
            <div class="divForAdd">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update Banquet Program</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>