﻿@model IEnumerable<PMS_HT.Models.tbl_banquet_prog>

@{
    ViewBag.Title = "Banquet Program";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AddViewModel.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <a href="@Url.Action("Add", "BanquetProgram")" id="Add" class="btn default"><i class="glyphicon glyphicon-plus"></i>&nbsp;Create New</a>
                      Banquet Program
                    </div>
                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_2">
                        <thead>
                            <tr>
                                <th>SL No </th>
                                <th>Banquet Name</th>
                                <th>Person Name</th>
                                <th>Country Name</th>
                                 <th>Booking</th>
                             
                                <th>Edit</th>

                        
                                <th>Delete</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{i++;}
                                        @i
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbl_banquet_info.Banquet_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Person_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbl_country.Country_Name)
                                    </td>
                                    <td>
                                        <a href="@Url.Action( "Index" ,"BanquetBooking" , new { id = item.Program_ID })" class="btn btn-success">
                                           Booking
                                        </a>
                                    </td>

                                
                                    @*@Html.ActionLink("Details", "Details", new { id = item.Room_ID }) |*@
                                    <td>
                                        <a href="@Url.Action("Edit", "BanquetProgram", new { id = item.Program_ID })" class="editDialog"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
                                    </td>
                                   
                                    <td>
                                        @Ajax.ActionLink(" Delete", "Delete", "BanquetProgram", new { @id = item.Program_ID }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-record" }, new { onclick = "return confirm('Are you sure you wish to delete this Benquet Booking?');", @class = "fa fa-trash-o" })
                                    </td>
                                    <td>@Html.ActionLink("Details", "Details", new { id = item.Program_ID })</td>
                                </tr>
                          }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Banquet Program</h4>
            </div>
            <div class="divForAdd">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update Banquet Program</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>

<script>
    $('.editDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForUpdate').html(response);
        });
        $('#Edit-Model').modal({
            backdrop: 'static',
        }, 'show');
    });
</script>