﻿@model PMS_HT.Areas.Services.Models.tbl_service

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_service</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tbl_emp_info1.Emp_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_emp_info1.Emp_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_emp_info2.Emp_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_emp_info2.Emp_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBuiltIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBuiltIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Service_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
