﻿@model IEnumerable<PMS_HT.Areas.Services.Models.tbl_service>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tbl_emp_info1.Emp_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_emp_info2.Emp_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsBuiltIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_emp_info1.Emp_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_emp_info2.Emp_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsBuiltIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAvailable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Service_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Service_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Service_ID })
        </td>
    </tr>
}

</table>
