﻿@model PMS_HT.Models.tbl_salary_transactions
@{Layout = null;}


<script type="text/javascript">
   $(document).ready(function () {
       $("#Month_Name").change(function () {
           $("#log").ajaxError(function (event, jqxhr, settings, exception) {
               alert(exception);
           });
           var a = document.getElementById('Year_Name');
           var YearSelected =a.options[a.selectedIndex].value;
           var b = document.getElementById('Month_Name');
           var MonthSelected = b.options[b.selectedIndex].value;
           $.get('@Url.Action("PayableByMonthPartial")',
               { month: MonthSelected, year: YearSelected }, function (data) {
                   $("#target").html(data);
               });
       });
   });

   $(document).ready(function () {
       $("#Year_Name").change(function () {
           $("#log").ajaxError(function (event, jqxhr, settings, exception) {
               alert(exception);
           });
           var a = document.getElementById('Year_Name');
           var YearSelected = a.options[a.selectedIndex].value;
           var b = document.getElementById('Month_Name');
           var MonthSelected = b.options[b.selectedIndex].value;
           $.get('@Url.Action("PayableByMonthPartial")',
               { month: MonthSelected, year: YearSelected }, function (data) {
                   $("#target").html(data);
               });
       });
   });




    $(function () {
        $(".datefield").datepicker({ dateFormat: 'dd/mm/yy' });
    });

</script>



@using (Ajax.BeginForm("Add", "PayRollSalaryPayment", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }))
{
    <div class="form-horizontal">
        <div class="modal-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.Emp_ID, new { @Value = ViewBag.Emp_ID })
            <div class="row">
                <div class="form-group" style="text-align:center;">
                    <div id="target" class="col-md-10" style="margin:0 auto; float:none">

                    </div>
                    <div id="log" class="col-md-8">
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Particular, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Particular, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Particular, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Credit, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Credit, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Credit, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Month_Name, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        <select id="Month_Name" name="Month_Name" class="form-control">
                            <option value="Select">Select</option>
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.Month_Name)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Year_Name, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        <select id="Year_Name" name="Year_Name" class="form-control">

                            @for (var i = 0; i < 6; i++)
                        {
                        <option value="@(DateTime.Now.AddYears(i).Year)">@(DateTime.Now.AddYears(i).Year)</option>
                        }
                        </select>
                        @Html.ValidationMessageFor(model => model.Year_Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datefield" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="modal-footer " >
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
                <button type="submit" class="btn btn-success" name="cmd"><i class="fa fa-check"></i>&nbsp;Save</button>
            </div>
            
}










