﻿@model PMS_HT.Models.tbl_others_income

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>tbl_others_income</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.tbl_emp_info.Emp_Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tbl_emp_info.Emp_Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tbl_emp_info1.Emp_Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tbl_emp_info1.Emp_Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tbl_others_income_head.Others_Income_Head_Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tbl_others_income_head.Others_Income_Head_Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Note)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Note)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Created_Date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Created_Date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Modified_Date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Modified_Date)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
