﻿
@model IEnumerable<PMS_HT.Models.tbl_others_income>

@{
    ViewBag.Title = "Task Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal total = 0;
}

<script src="~/Scripts/AddViewModel.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">

                    <div class="tools">

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="sample_2">
                        <thead>
                            <tr>

                                <th>SL No </th>
                                <th>Income Head Name</th>
                                <th>Amount</th>
                                <th>Note</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0;}
                            @foreach (var item in ViewBag.IncomeDetails)
                            {
                                <tr>
                                    <td>
                                        @{i++; total += item.Amount;}
                                        @i
                                    </td>
                                    <td>
                                        @item.tbl_others_income_head.Others_Income_Head_Name
                                    </td>
                                    <td>
                                        @item.Amount
                                    </td>
                                    <td>
                                        @item.Note
                                    </td>
                                </tr>
                                            }
                        </tbody>
                    </table>
                </div>
                <div style="width:100%">
                    <h3 style="font-weight:700;text-align:center;">Total Income : ৳ @total</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Others Income</h4>
            </div>
            <div class="divForAdd">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Others Income</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>



