﻿@model IEnumerable<PMS_HT.Models.tbl_guest_info>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/AddViewModel.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green portlet-fit">
                <div class="portlet-title">
                    <div class="caption">
                        All Guest Information
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="table-toolbar">

                    </div>
                    <table class="table table-striped table-hover table-bordered table-responsive" id="sample_editable_1">
                        <thead>
                        <tr>
                            <th style="width:4%">SL <br />No </th>
                            <th style="width:15%">Name</th>
                            <th style="width:12%">Phone</th>
                            <th style="width:35%">Address</th>
                            <th style="width:15%">Father's <br />Name</th>
                            <th style="width:6%">Nationality</th>
                            <th style="width:8%">Height</th>
                            <th style="width:5%"></th>
                        </tr>
                        </thead>
                        <tbody>

                        @{ int i = 0;}
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="width:4%">
                                    @{i++;}
                                    @i
                                </td>
                                <td style="width:15%">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td style="width:12%">
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td style="width:35%">
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td style="width:15%">
                                    @Html.DisplayFor(modelItem => item.Father_Name)
                                </td>
                                <td style="width:6%">
                                    @Html.DisplayFor(modelItem => item.Nationality)
                                </td>
                                <td style="width:8%">
                                    @Html.DisplayFor(modelItem => item.Height)
                                </td>
                                    
                                <td style="width:5%">
                                    <a href="@Url.Action("DetailInfo", "FrontDeskGuestOverview", new { id = item.Guest_ID })" class="btn purple-plum btn-lg editDialog">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="modal fade bs-modal-lg in" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Detail Information</h4>
                        </div>
                        <div class="divForAdd">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.editDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForAdd').html(response);
        });
        $('#Add-Model').modal({
            backdrop: 'static',
        }, 'show');
    });
</script>