﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/AddViewModel.js"></script>
<script src="~/Scripts/jspdf.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet box blue-madison">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-comments"></i>Search Guest by Arrival Date
                    </div>
                    <div class="input-group" style="float: right; width: 30%;font-size: 18px;line-height: 18px;padding: 10px 0;">
                        <input type="text" id="date" class="form-control" name="date">
                        <span class="input-group-btn">
                            <button class="btn purple" id="policeButton" onclick="printPoliceReport(1,0)">All Police Report (<span id="count"></span>)</button>
                        </span>
                    </div>
                </div>
                <div class="portlet-body" id="partialView">
                    
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="modal fade bs-modal-lg in" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Detail Information</h4>
                        </div>
                        <div class="divForAdd">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#date").datepicker({
            dateFormat: 'dd/mm/yy'
        });
        $("#date").val('@DateTime.Today.Date.ToString("dd/MM/yyyy")');
        var today = '@DateTime.Today.Date';
        search(today);
        
    });
    $("#date").change(function () {
        var dateVal = $("#date").val();
        search(dateVal);
    });
    function search(dateVal) {
        var type = "arrival";
        $.post('@Url.Action("SearchDayWise")',
            { dt: dateVal, type: type }, function (data) {
                $("#partialView").html(data);
            });
    }


</script>