﻿@model PMS_HT.Models.tbl_guest_info

<div class="col-md-offset-1">
    <div class="row">
        <div class="col-md-7">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdditionalPhone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdditionalPhone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Father_Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Father_Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Mother_Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Mother_Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Maritial_Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Maritial_Status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Spouse_Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Spouse_Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.National_ID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.National_ID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nearest_Relative_Contact_Info)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nearest_Relative_Contact_Info)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Age)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Age)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Identification_Mark)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Identification_Mark)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Skin_Color)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Skin_Color)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Height)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Height)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Occupation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Occupation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nationality)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nationality)
                </dd>                
            </dl>
        </div>
        <div class="col-md-4">
            <img src="@Model.Image" class="img-responsive"/>
        </div>
        
    </div>
    <h4>Stay Information</h4>
    <table class="table table-striped table-bordered table-hover table-responsive" id="SingleRoomCharge">
        <thead>
        <tr>
            <th>Sl No</th>
            <th>Room No</th>
            <th>Arrival Date</th>
            <th>Departure Date</th>
            <th>CheckOut Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @{ int i = 0;}
        @foreach (var item in ViewBag.StayInfo)
        {
            <tr>
                <td>
                    @{i++;}
                    @i
                </td>
                <td> @item.tbl_room_info.Room_No </td>
                <td> @item.Arrival_Date </td>
                <td> @item.Departure_Date </td>
                @{if (item.Check_Out_Date != null)
                  {
                      <td>
                          @item.Check_Out_Date.Date.ToString("dd/MM/yyyy")
                          @DateTime.Today.Add(item.Check_Out_Time).ToString("HH:mm:ss")
                      </td>
                  }
                  else
                  {
                      <td></td>
                  }
                }
                @{DateTime StartDate = Convert.ToDateTime("2017-07-18"); }
                @if (item.Check_Out_Date <= StartDate)
                {
                    <td></td>
                }
                else
                {
                    <td>
                        <a href="@Url.Action("TransactionDetail", "FrontDeskGuestOverview", new { id = item.Stay_Info_ID })" class="btn btn-icon-only yellow" target="_blank"  data-toggle="tooltip" title="Transaction Detail">
                            <span class="fa fa-money"></span>
                        </a>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>

    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>

</div>