﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet box blue-madison">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-comments"></i>Gallery
                    </div>
                    <div class="caption" style="float:right">
                        <input type="text" id="date" class="form-control" name="date">
                    </div>
                </div>
                <div class="portlet-body" id="partialView">
                    
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>
<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 80%;
    }

    div.gallery:hover {
        border: 5px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.desc {
        padding: 10px 10px 0px 10px;
        text-align: center;
    }
</style>
<script>
    $(document).ready(function () {
        $("#date").datepicker({
            dateFormat: 'dd/mm/yy'
        });
        $("#date").val('@DateTime.Today.Date.ToString("dd/MM/yyyy")');
        var today = '@DateTime.Today.Date';
        search(today);
    });
    $("#date").change(function () {
        var dateVal = $("#date").val();
        search(dateVal);
    });
    function search(dateVal) {
        var type = "arrival";
        $.post('@Url.Action("SearchGallery")',
            { dt: dateVal, type: type }, function (data) {
                $("#partialView").html(data);
            });
    }
</script>
