﻿<table class="table table-striped table-bordered table-hover table-responsive" id="guestTable">
    <thead>
        <tr>
            <th style="width:4%">SL <br />No </th>
            <th style="width:15%">Name</th>
            <th style="width:12%">Phone</th>
            <th style="width:35%">Address</th>
            <th style="width:15%">Father's <br />Name</th>
            <th style="width:4%">Room<br />No</th>
            <th style="width:13%"></th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0;}
        @if (ViewBag.GuestList != null)
        {
            foreach (var item in ViewBag.GuestList)
            {
                <tr>
                    <td style="width:4%">
                        @{i++;}
                        @i
                    </td>
                    <td style="width:15%">@item.tbl_guest_info.Name</td>
                    <td style="width:12%">@item.tbl_guest_info.Phone</td>
                    <td style="width:35%">@item.tbl_guest_info.Address</td>
                    <td style="width:15%">@item.tbl_guest_info.Father_Name</td>
                    <td style="width:4%">@item.tbl_room_info.Room_No</td>

                    <td style="width:13%">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <a href="@Url.Action("DetailInfo", "FrontdeskGuestOverview", new { id = item.Guest_ID })" class="btn btn-success  editDialog" data-toggle="tooltip" title="View Detail">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                                <button class="btn purple-plum" onclick="printPoliceReport(1,@item.Stay_Info_ID)" data-toggle="tooltip" title="Police Report">
                                    <span class="glyphicon glyphicon-print"></span>
                                </button>

                                <button class="btn green-meadow" onclick="printPoliceReport(2,@item.Stay_Info_ID)" data-toggle="tooltip" title="Guest Card">
                                    <span class="glyphicon glyphicon-folder-open"></span>
                                </button>
                            </span>
                        </div>
                    </td>
                </tr>
                                }
                            }
    </tbody>
</table>

<script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>

<script>
    $(document).ready(function() {
        $("#count").html('@ViewBag.TotalGuest');
        $("#guestTable").DataTable({
            "paging" : false
        });
    });
    $('.editDialog').click(function (event) {
        event.preventDefault();
        $.get(this.href, function (response) {
            $('.divForAdd').html(response);
        });
        $('#Add-Model').modal({
            backdrop: 'static',
        }, 'show');
    });
    function jsonToDate(jsonDateVal) {
        var dt = jsonDateVal;
        dt = dt.replace(/[^0-9]/igm, '');
        var dt2 = parseInt(dt);
        var d = new Date(dt2);
        d = d.toString();
        return d;
    }

    function addressLengthFixer(address, len) {
        if (address.length >= len) {
            var str = address;
            var res = str.substr(1, len);
            var lastSpace = res.lastIndexOf(" ") + 1;
            var finalStr = str.substr(0, lastSpace) + '\n' + str.substr(lastSpace + 1, res.length);
            address = finalStr;
        }
        return address;
    }

    function printPoliceReport(cat,incoming_id)
    {
        var data = @Html.Raw(Json.Encode(((IEnumerable<PMS_HT.Models.tbl_guest_stay_info>)ViewBag.GuestList).Select(user => new
              {
                  stay_info_id = user.Stay_Info_ID,
                  name = user.tbl_guest_info.Name,
                  father_name = user.tbl_guest_info.Father_Name,
                  mother_name = user.tbl_guest_info.Mother_Name,
                  address = user.tbl_guest_info.Address,
                  permanent_address = user.tbl_guest_info.Permanent_Address,
                  arrival_date = user.Arrival_Date.ToString("dd/MM/yyyy HH:mm"),
                  departure_date = user.Departure_Date.ToString("dd/MM/yyyy HH:mm"),
                  checkout_date = user.Check_Out_Date.HasValue ? user.Check_Out_Date.Value.Add(user.Check_Out_Time.Value).ToString("dd/MM/yyyy HH:mm") : null,
                  age = user.tbl_guest_info.Age,
                  identification_mark = user.tbl_guest_info.Identification_Mark,
                  nationality = user.tbl_guest_info.Nationality,
                  skin_tone = user.tbl_guest_info.Skin_Color,
                  height = user.tbl_guest_info.Height,
                  occupation = user.tbl_guest_info.Occupation,
                  nid = user.tbl_guest_info.National_ID,
                  passport = user.tbl_guest_info.Passport_No,
                  visa = user.tbl_guest_info.Visa_No,
                  visa_date = user.tbl_guest_info.Visa_Date.HasValue ? user.tbl_guest_info.Visa_Date.Value.ToString("dd MMM yyyy") : null,
                  drivingLicense = user.tbl_guest_info.Driving_License,
                  alloted_room = user.tbl_room_info.Room_No,
                  arraival_date_in_country = user.tbl_guest_info.Date_of_Arr_in_Country.HasValue ? user.tbl_guest_info.Date_of_Arr_in_Country.Value.ToString("dd MMM yyyy HH:mm:ss") : null,
                  arraived_from = user.tbl_guest_info.Arrived_From,
                  going_to = user.tbl_guest_info.Going_To,
                  image = user.tbl_guest_info.Image,
                  signature = user.tbl_guest_info.Signature,
                  phone = user.tbl_guest_info.Phone,
                  marital_status = user.tbl_guest_info.Maritial_Status,
                  spouse_name = user.tbl_guest_info.Spouse_Name,
                  departure_date_from_country = "",
                  country = user.tbl_guest_info.Country_ID.HasValue ? user.tbl_guest_info.tbl_country.Country_Name : null,
                  purposeOfVisit = user.tbl_guest_info.Purpose_of_visit,
                  nearestRelative = user.tbl_guest_info.Nearest_Relative_Contact_Info,
                  vip  = user.tbl_guest_info.VIP,
                  dnr = user.tbl_guest_info.DNR
              }))
          );

        data.forEach(function (item)
        {
            var dt = new Date();
            dt = dt.toString();
            dt = dt.slice(3, 24);
            var user = document.getElementById("userName").innerHTML;
            var name = "";
            if(item.name!=null)
                name = item.name;
            var sign = "";
            if(item.signature!=null)
                sign = item.signature;
            var occupation = "";
            if(item.occupation!=null)
                occupation = item.occupation;
            var visa = "";
            if(item.visa!=null)
                visa = item.visa;
            var passport = "";
            if(item.passport!=null)
                passport = item.passport;
            var country = "";
            if(item.country!=null)
                country = item.country;
            var visa_date = "";
            if(item.visa_date!=null)
            {
                visa_date = item.visa_date;
            }
            var passport_issue_place = "";
            var registration_certificate_no = "";

            var arraival_date_in_country = "";
            if(item.arraival_date_in_country!=null)
            {
                arraival_date_in_country = item.arraival_date_in_country;
            }
            var image = "../../WebImages/person.jpg";
            if(item.image!=null)
                image = item.image;
            var arraived_from = "";
            if(item.arraived_from!=null)
                arraived_from = item.arraived_from;
            var address = "";
            if(item.address!=null)
                address = item.address;
            var permanent_address = "";
            if (item.permanent_address != null)
                permanent_address = item.permanent_address;

            var going_to = "";
            if(item.going_to!=null)
                going_to = item.going_to;
            var purposeOfVisit = "";
            if(item.purposeOfVisit!=null)
                purposeOfVisit = item.purposeOfVisit;
            var purposeDate = "";
            var purposeNo = "";
            var lastDate = "";
            var alloted_room = "";
            if(item.alloted_room!=null)
                alloted_room = item.alloted_room;
            var arrival_date = "";
            if(item.arrival_date!=null)
                arrival_date = item.arrival_date;
            var departure_date = "";
            if(item.departure_date!=null)
                departure_date = item.departure_date;
            var checkout_date = "";
            if(item.checkout_date!=null)
                checkout_date = item.checkout_date;
            var father_name = "";
            if(item.father_name!=null)
                father_name = item.father_name;
            var mother_name = "";
            if(item.mother_name!=null)
                mother_name = item.mother_name;
            var age = "";
            if(item.age!=null)
            {
                age = item.age.toString();
            }
            var identification_mark = "";
            if(item.identification_mark!=null)
                identification_mark = item.identification_mark;
            var skin_tone = "";
            if(item.skin_tone!=null)
                skin_tone = item.skin_tone;
            var height = "";
            if(item.height!=null)
                height = item.height;
            var phone = "";
            if(item.phone!=null)
                phone = item.phone;
            var nid = "";
            if(item.nid!=null)
                nid = item.nid;
            var drivingLicense = "";
            if(item.drivingLicense!=null)
                drivingLicense = item.drivingLicense;
            var nearestRelative = "";
            if(item.nearestRelative!=null)
                nearestRelative = item.nearestRelative;
            var marital_status = "";
            if(item.marital_status!=null)
                marital_status = item.marital_status;
            var spouse_name = "";
            if(item.spouse_name!=null)
                spouse_name = item.spouse_name;
            var PropertyName = '@ViewBag.PropertyName';
            var PropertyAddress = '@ViewBag.PropertyAddress';
            var PropertyPhone = '@ViewBag.PropertyPhone';
            var PropertyAddressPhone = PropertyAddress + ". " + PropertyPhone;
            var nationality = "";
            if(item.nationality!=null)
                nationality = item.nationality;
            var vip = "";
            if (item.vip != null && item.vip == true)
                vip = "VIP";
            var dnr = "";
            if (item.dnr != null && item.dnr == true)
                dnr = "DNR";
            var imData = '@ViewBag.PropertyLogo';
            var hotel = "For - "+PropertyName;

            if(cat == 1 && (incoming_id == 0 || incoming_id == item.stay_info_id))
            {
                if(nationality == "Foreigner")
                {
                    address = addressLengthFixer(address, 38);
                    permanent_address = addressLengthFixer(permanent_address, 38);
                    nearestRelative = addressLengthFixer(nearestRelative, 38);

                    var fileName = arrival_date + "_" + alloted_room+'.pdf';
                    var img = new Image();
                    img.crossOrigin = "Anonymous";

                    /*img.onload = function(){
                        var canvas = document.createElement('CANVAS');
                        var ctx = canvas.getContext('2d');
                        var dataURL;
                        canvas.height = this.height;
                        canvas.width = this.width;
                        ctx.drawImage(this, 0, 0);
                        dataURL = canvas.toDataURL('image/png');*/
                    var doc = new jsPDF('p', 'pt', 'a4');

                    doc.addImage(imData, 'jpeg', 23, 15, 60, 60);
                    //set Hotel name
                    doc.setFontSize(30);
                    doc.setFont("arial", "italic");
                    doc.text(95, 45, PropertyName);
                    //show date
                    doc.setFont("arial", "bold");
                    doc.setFontSize(10);
                    doc.setTextColor(0, 0, 0);
                    doc.setFont("arial", "normal");
                    doc.text(95, 60, PropertyAddressPhone);
                    doc.setFont("arial", "bold");
                    doc.setFontSize(13);
                    doc.text(95, 75, 'HOTEL ARRIVAL REPORT');
                    doc.setFontSize(10);
                    doc.setFont("arial", "normal");
                    doc.text(95, 90, 'THE REGISTRATION OF FOREIGNERS RULES FORM C (RULES 10 AND 14)');
                    doc.setLineWidth(2);
                    doc.line(30, 95, 565, 95);
                    doc.setFont("arial", "bold");
                    //doc.setFontSize(10);
                    doc.text(432, 105, 'Date : '+dt);
                    doc.setFontSize(12);
                    doc.setFont("arial", "normal");
                    doc.text(70, 120, 'Name of Hotel'); doc.text(230, 120, ":");
                    doc.text(70, 140, "Name"); doc.text(230, 140, ":");
                    doc.text(70, 160, "Nationality"); doc.text(230, 160, ":");
                    doc.text(70, 180, "Profession"); doc.text(230, 180, ":");
                    doc.text(70, 220, "Passport No."); doc.text(230, 220, ":");
                    doc.text(70, 240, "Date"); doc.text(230, 240, ":");
                    doc.text(70, 260, "Place of issue"); doc.text(230, 260, ":");
                    doc.text(70, 300, "Registration Certificate No"); doc.text(230, 300, ":");
                    doc.text(70, 340, "Date of Arrival in Country"); doc.text(230, 340, ":");
                    doc.text(70, 360, "From\n(Previous Address)"); doc.text(230, 360, ":");
                    doc.text(70, 410, "Probable Date of Departure"); doc.text(230, 410, ":");
                    doc.text(70, 430, "To (Intended Destination)"); doc.text(230, 430, ":");
                    doc.text(70, 480, "Purpose of Visit"); doc.text(230, 480, ":");
                    doc.text(70, 500, "Date"); doc.text(230, 500, ":");
                    doc.text(70, 520, "No."); doc.text(230, 520, ":");
                    doc.text(70, 540, "Date"); doc.text(230, 540, ":");

                    doc.text(70, 590, "Local Address"); doc.text(230, 590, ":");
                    doc.text(70, 640, "CheckIn Date"); doc.text(230, 640, ":");
                    doc.text(70, 660, "CheckOut Date"); doc.text(230, 660, ":");
                    doc.text(70, 687, "Alloted Room"); doc.text(230, 687, ":");

                    doc.text(50, 720, "Forwarded to the Registration Officer.\nChittagong");
                    doc.text(479, 740, hotel, 'center');
                    doc.line(408, 780, 550, 780);
                    doc.text(410, 795, "Served By :");
                    doc.line(50, 780, 192, 780);
                    doc.text(75, 795, "Visitor's Signature");


                    /* Data section Begin */
                    //doc.addImage(dataURL, 'jpeg', 435, 165, 130, 130);
                    doc.text(250, 120, PropertyName);
                    doc.setFont("courier", "normal");
                    doc.text(250, 140, name);
                    doc.text(250, 160, country);
                    doc.text(250, 180, occupation);
                    doc.text(250, 220, passport);
                    doc.text(250, 240, visa_date);
                    doc.text(250, 260, passport_issue_place);
                    doc.text(250, 300, registration_certificate_no);
                    doc.text(250, 340, arraival_date_in_country);
                    doc.text(250, 360, address);
                    doc.text(250, 410, departure_date);
                    doc.text(250, 430, going_to);
                    doc.text(250, 480, purposeOfVisit);
                    doc.text(250, 500, purposeDate);
                    doc.text(250, 520, purposeNo);
                    doc.text(250, 540, lastDate);
                    doc.text(250, 590, nearestRelative);
                    doc.text(250, 640, arrival_date);
                    doc.text(250, 660, checkout_date);
                    doc.text(475, 795, user);
                    doc.setFontSize(35);
                    doc.setFont("arial", "bold");
                    doc.text(250, 695, alloted_room);
                    if (sign != "" && sign != null) {
                        doc.addImage(sign, 'png', 61, 737, 120, 40);
                    }
                    /* Data section end */

                    //doc.save(fileName);
                    var base64 = doc.output('datauristring');
                    var object = '<iframe width="100%" height="100%" src="'+base64+'"></iframe>';
                    var generator = window.open("","","top=100,left=500,width=500,height=500");
                    generator.document.write(object);
                    generator.document.close();
                    //};
                    /*img.crossOrigin = "Anonymous";
                    img.src = image;
                    if (img.complete || img.complete === undefined) {
                        img.src = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==';
                        img.src = src;
                    }*/
                }
                else
                {//bangladeshi
                    address = addressLengthFixer(address, 42);
                    permanent_address = addressLengthFixer(permanent_address, 42);
                    nearestRelative = addressLengthFixer(nearestRelative, 42);

                    var fileName = arrival_date + "_" + alloted_room+'.pdf';
                    var img = new Image();
                    img.crossOrigin = "Anonymous";

                    /*img.onload = function(){
                        var canvas = document.createElement('CANVAS');
                        var ctx = canvas.getContext('2d');
                        var dataURL;
                        canvas.height = this.height;
                        canvas.width = this.width;
                        ctx.drawImage(this, 0, 0);
                        dataURL = canvas.toDataURL('image/png');   */
                    var checkedInBy = "";
                    var checkedOutBy = "";
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GuestStayData")',
                        data: { id : item.stay_info_id},
                        success:function(data){
                            if (data != "") {
                                checkedInBy = data.checkedInBy;
                                checkedOutBy = data.checkedOutBy;
                            }
                        },
                        async: false
                    });

                    var doc = new jsPDF('p', 'pt', 'a4');
                    var imData = '@ViewBag.PropertyLogo';
                    doc.addImage(imData, 'jpeg', 23, 15, 60, 60);
                    //set Hotel name
                    doc.setFontSize(30);
                    doc.setFont("arial", "normal");
                    doc.text(95, 45, PropertyName);
                    //show date
                    doc.setFont("arial", "bold");
                    doc.setFontSize(10);
                    doc.setTextColor(0, 0, 0);
                    doc.setFont("arial", "normal");
                    doc.text(95, 60, PropertyAddressPhone);
                    doc.setFont("arial", "bold");
                    doc.setFontSize(13);
                    doc.text(95, 75, 'Detail Information Form of the Boarders of the Hotel');
                    doc.setFontSize(10);
                    doc.setFont("arial", "normal");
                    doc.text(95, 90, '[Authorized by Article-28, Chittagong Metropoliton Police Ordinance - 1978]');
                    doc.setLineWidth(2);
                    doc.line(30, 95, 565, 95);
                    doc.setFont("arial", "bold");
                    //doc.setFontSize(10);
                    doc.text(35, 105, 'To be filled by the boarder');
                    doc.text(432, 105, 'Date : ' + dt);
                    doc.setFontSize(12);
                    doc.setFont("arial", "normal");
                    doc.text(40, 125, '1.  Name'); doc.text(180, 125, ":");
                    doc.text(40, 145, "2.  Father's Name"); doc.text(180, 145, ":");
                    doc.text(40, 165, "3.  Mother's Name"); doc.text(180, 165, ":");
                    doc.text(40, 185, "4.  Present Address"); doc.text(180, 185, ":");
                    doc.text(40, 225, "5.  Permanent Address"); doc.text(180, 225, ":");
                    doc.text(40, 265, "6.  Relative Address\n\t(living in Chittagong)"); doc.text(180, 265, ":");
                    doc.text(40, 305, "7.  Age"); doc.text(180, 305, ":");
                    doc.text(40, 325, "8.  Identification Mark"); doc.text(180, 325, ":");
                    doc.text(40, 345, "9.  Skin Color"); doc.text(180, 345, ":");
                    doc.text(35, 365, "10.  Height"); doc.text(180, 365, ":");
                    doc.text(35, 385, "11.  Occupation\n\t(With Address)"); doc.text(180, 385, ":");
                    doc.text(35, 415, "12.  NID No.\n\t(If any)"); doc.text(180, 415, ":");
                    doc.text(35, 445, "13.  Passport No.\n\t(If any)"); doc.text(180, 445, ":");
                    doc.text(35, 475, "14.  Driving License No.\n\t(If any)"); doc.text(180, 475, ":");
                    doc.text(35, 505, "15.  Reason of stay"); doc.text(180, 505, ":");
                    doc.text(35, 525, "16.  Phone"); doc.text(180, 525, ":");
                    doc.line(408, 555, 550, 555);
                    doc.text(410, 570, "Signature of the Boarder");
                    doc.text(410, 590, "Date :");
                    //doc.text(410, 610, "Time :");

                    var topOfLowerPortion = 605;
                    doc.setFont("arial", "bold");
                    doc.setFontSize(10);
                    doc.text(35, topOfLowerPortion, 'To be filled by Hotel Authority');
                    doc.setFontSize(12);
                    doc.setFont("arial", "normal");
                    doc.text(35, topOfLowerPortion += 20, "17.  Was The Phone No. Verified By Hotel Authority"); doc.text(380, topOfLowerPortion, ":");
                    doc.text(35, topOfLowerPortion += 20, "18.  Was The Boarder's Photograph Taken By Digital Camera"); doc.text(380, topOfLowerPortion, ":");
                    doc.text(35, topOfLowerPortion += 20, "19.  Was Columns Of The Hotel Register Book Filled Correctly"); doc.text(380, topOfLowerPortion, ":");
                    doc.text(35, topOfLowerPortion += 25, "20.  CheckIn Date"); doc.text(180, topOfLowerPortion, ":");
                    doc.text(35, topOfLowerPortion += 20, "21.  CheckOut Date"); doc.text(180, topOfLowerPortion, ":");
                    doc.text(35, topOfLowerPortion += 28, "22.  Alloted Room"); doc.text(180, topOfLowerPortion, ":");

                    topOfLowerPortion = 599;
                    doc.setDrawColor(0, 0, 0);
                    doc.setLineWidth(1);
                    doc.rect(390, topOfLowerPortion+=20, 13, 13, 'S'); doc.text(405, topOfLowerPortion+11, "YES"); doc.rect(460, topOfLowerPortion, 13, 13, 'S'); doc.text(475, topOfLowerPortion+11, "No");
                    doc.rect(390, topOfLowerPortion+=20, 13, 13, 'S'); doc.text(405, topOfLowerPortion+11, "YES"); doc.rect(460, topOfLowerPortion, 13, 13, 'S'); doc.text(475, topOfLowerPortion+11, "No");
                    doc.rect(390, topOfLowerPortion+=20, 13, 13, 'S'); doc.text(405, topOfLowerPortion+11, "YES"); doc.rect(460, topOfLowerPortion, 13, 13, 'S'); doc.text(475, topOfLowerPortion+11, "No");

                    doc.setLineWidth(2);
                    doc.line(33, 800, 185, 800);
                    doc.text(35, 815, "Checked in by :");
                    doc.line(393, 800, 550, 800);
                    doc.text(395, 815, "Checked out by :");

                    /* Data section Begin */
                    //doc.addImage(dataURL, 'jpeg', 435, 110, 130, 130);
                    doc.setFont("courier", "normal");
                    doc.text(200, 125, name);
                    doc.text(200, 145, father_name);
                    doc.text(200, 165, mother_name);
                    doc.text(200, 185, address);
                    doc.text(200, 225, permanent_address);
                    doc.text(200, 265, nearestRelative);
                    doc.text(200, 305, age);
                    doc.text(200, 325, identification_mark);
                    doc.text(200, 345, skin_tone);
                    doc.text(200, 365, height);
                    doc.text(200, 385, occupation);
                    doc.text(200, 415, nid);
                    doc.text(200, 445, visa);
                    doc.text(200, 475, drivingLicense);
                    doc.text(200, 505, purposeOfVisit);
                    doc.text(200, 525, phone);
                    doc.text(120, 815, checkedInBy);
                    doc.text(490, 815, checkedOutBy);
                    doc.setFont("arial", "normal");
                    doc.text(200, 690, arrival_date);
                    doc.text(200, 710, checkout_date);
                    doc.setFont("arial", "bold");
                    doc.setFontSize(35);
                    doc.text(200, 746, alloted_room);

                    if (sign != "" && sign != null) {
                        doc.addImage(sign, 'png', 419, 512, 120, 40);
                    }
                    /* Data section end */

                    //doc.save(fileName);
                    var base64 = doc.output('datauristring');
                    var object = '<iframe width="100%" height="100%" src="'+base64+'"></iframe>';
                    var generator = window.open("","","top=100,left=500,width=500,height=500");
                    generator.document.write(object);
                    generator.document.close();
                    //};
                    /*img.crossOrigin = "Anonymous";
                    img.src = image;
                    if (img.complete || img.complete === undefined) {
                        img.src = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==';
                        img.src = src;
                    }*/
                }
            }
            else if(cat == 2 && incoming_id == item.stay_info_id)   //Guest Card
            {
                var ds = new Date();
                var fileName = ds.getTime();
                var fileName = fileName + "_" + alloted_room + "_Guest_Card.pdf";
                var npd = nid;
                if(passport.length > npd.length){
                    npd = passport;
                }
                if(drivingLicense.length > npd.length){
                    npd = drivingLicense;
                }
                var serial_no = "A-";
                var checkout_no = "C-";
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SerialFinder")',
                    data: { types : "E",dt : arrival_date,roomNo : alloted_room },
                    success:function(data){
                        serial_no += data.toString();
                    },
                    async: false
                });
                if (checkout_date.length > 5) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("SerialFinder")',
                        data: { types : "C",dt : checkout_date,roomNo : alloted_room },
                        success:function(data){
                            checkout_no += data.toString();
                        },
                        async: false
                    });
                }
                if (nationality == "Foreigner") {
                    nationality = country;
                } else {
                    arraived_from = "";
                    going_to = "";
                    visa = "";
                }
                arrival_date = Shortifier(arrival_date, 11);
                departure_date = Shortifier(departure_date, 11);
                checkout_date = Shortifier(checkout_date, 11);
                if (address.length >= 38) {
                    var str = address;
                    var res = str.substr(1, 38);
                    var lastSpace = res.lastIndexOf(" ") + 1;
                    var finalStr = str.substr(0, lastSpace) + '\n' + str.substr(lastSpace + 1, res.length);
                    address = finalStr;
                }
                var checkedInBy = "";
                var checkedOutBy = "";
                var room_rent = "";
                var room_advance ="";
                var total_rent = "";
                var total_days = "";
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GuestStayData")',
                    data: { id : item.stay_info_id},
                    success:function(data){
                        if (data != "") {
                            checkedInBy = data.checkedInBy;
                            checkedOutBy = data.checkedOutBy;
                            room_rent = data.room_rent.toString();
                            room_advance = data.room_advance.toString();
                            total_rent = data.total_rent.toString();
                            total_days = data.total_days.toString();
                        }
                    },
                    async: false
                });
                var doc = new jsPDF('p', 'pt', 'a4');
                //load logo
                var imData = '@ViewBag.PropertyLogo';
                doc.addImage(imData, 'jpeg', 23, 15, 60, 60);
                //set Hotel name
                doc.setFontSize(30);
                doc.setFont("arial", "normal");
                doc.text(95, 37, PropertyName);
                //show date
                doc.setFont("arial", "bold");
                doc.setFontSize(10);
                doc.setTextColor(0, 0, 0);
                doc.setFont("arial", "normal");
                doc.text(95, 52, PropertyAddressPhone);
                doc.setFont("arial", "bold");
                doc.setFontSize(13);
                doc.text(95, 70, 'Guest Information');
                doc.setFont("arial", "normal");
                doc.setFontSize(9);
                doc.text(33, 80, 'Money and other valuable things must be deposited in the office safe. Otherwise the management will not be responsible for any loss');
                doc.setFontSize(10);
                doc.setLineWidth(2);
                doc.line(15, 85, 580, 85);
                doc.line(15, 10, 580, 10);
                doc.line(15, 10, 15, 390);
                doc.line(580, 10, 580, 390);
                doc.line(15, 390, 580, 390);

                //doc.line(15, 85, 580, 85);
                //doc.line(15, 10, 580, 10);
                //doc.line(15, 10, 15, 410);
                //doc.line(580, 10, 580, 410);
                //doc.line(15, 410, 580, 410);

                doc.setLineWidth(1);
                doc.line(15, 205, 580, 205);
                doc.setFont("arial", "bold");
                doc.text(555, 30, serial_no);
                doc.text(555, 50, checkout_no);
                doc.text(467, 70, dt);
                doc.setFontSize(12);
                doc.setFont("arial", "bold");
                doc.text(25, 100, '1.  Name'); doc.text(140, 100, ":");
                doc.text(25, 120, "2.  Father's Name"); doc.text(140, 120, ":");
                doc.text(375, 120, "3. Height"); doc.text(455, 120, ":");
                doc.text(25, 140, "4.  Mother's Name"); doc.text(140, 140, ":");
                doc.text(375, 140, "5. Age"); doc.text(455, 140, ":");
                doc.text(25, 160, "6.  Address"); doc.text(140, 160, ":");
                doc.text(375, 160, "7. Phone"); doc.text(455, 160, ":");
                doc.text(375, 180, "8. Profession"); doc.text(455, 180, ":");
                doc.text(25, 200, "9.  Spouse Name"); doc.text(140, 200, ":");
                doc.text(369, 200, "10. Nationality"); doc.text(455, 200, ":");

                doc.text(20, 220, "11. NID/Passport/Driving Lic."); doc.text(190, 220, ":");
                doc.text(369, 220, "12. Visa No."); doc.text(455, 220, ":");
                doc.text(20, 240, "13. Coming From"); doc.text(190, 240, ":");
                doc.text(369, 240, "14. Going To"); doc.text(455, 240, ":");
                doc.text(20, 260, "15. Purpose of Visit"); doc.text(190, 260, ":");
                doc.text(370, 259, "Remarks"); doc.text(430, 259, ":");

                if ($('#VIP:checked').length != 0) {
                    var leftVD = 432;
                    doc.setFontSize(16);
                    if ($('#VIP:checked').length != 0)
                        doc.text(leftVD += 30, 260, "VIP");
                    if (dnr.length != 0)
                        doc.text(leftVD+=30, 260, "DNR");
                }

                var dtTop = 270;
                var dtHeight = 58;
                doc.setDrawColor(0, 0, 0);
                doc.setFillColor(255, 255, 255);
                doc.rect(16, dtTop, 564, dtHeight, 'DF');
                doc.setFillColor(255, 255, 220);
                doc.rect(16, dtTop, 564, 28, 'DF');

                doc.line(100, dtTop, 100, dtTop + dtHeight);
                doc.line(260, dtTop, 260, dtTop + dtHeight);
                doc.line(420, dtTop, 420, dtTop + dtHeight);
                //doc.line(289, dtTop, 289, dtTop + dtHeight);
                //doc.line(376, dtTop, 376, dtTop + dtHeight);
                //doc.line(462, dtTop, 462, dtTop + dtHeight);
                //doc.line(498, dtTop, 498, dtTop + dtHeight);

                doc.setFillColor(255, 255, 220);
                //doc.rect(16, dtTop + dtHeight + 2, 564, 20, 'DF');

                dtTop += 18;
                var cRoomNo = 57;
                //var cRoomRent = 110;
                //var cAdvanced = 174;
                var cArrDate = 180;
                var cDepdate = 340;
                var cCkOut = 500;
                //var cTotalDays = 480;
                //var cTotalAmount = 539;
                doc.setFontSize(12);

                doc.text(cRoomNo, dtTop, "Room No", "center");
                //doc.text(cRoomRent, dtTop, "Room Rent", "center");
                //doc.text(cAdvanced, dtTop, "Advance", "center");
                doc.text(cArrDate, dtTop, "Arr. Date & Time", "center");
                doc.text(cDepdate, dtTop, "Dep. Date & Time", "center");
                doc.text(cCkOut, dtTop, "CkOut Date & Time", "center");
                //doc.text(cTotalDays, dtTop - 7, "Total\nDays", "center");
                //doc.text(cTotalAmount, dtTop, "Total Amount", "center");
                //doc.text(297, dtTop + dtHeight - 3, "CHECK OUT TIME : 11AM(LOCAL TIME) (Late Check out will be charged accordingly)", "center");

                dtTop += 30;
                doc.setFontSize(20);
                doc.text(cRoomNo, dtTop, alloted_room, "center"); 
                doc.setFontSize(12);
                doc.setFont("arial", "normal");
                //doc.text(cRoomRent, dtTop, room_rent, "center");
                //doc.text(cAdvanced, dtTop, room_advance, "center");
                doc.text(cArrDate, dtTop - 7, arrival_date, "center");
                doc.text(cDepdate, dtTop - 7, departure_date, "center");
                doc.text(cCkOut, dtTop - 7, checkout_date, "center");
                //doc.text(cTotalDays, dtTop, total_days, "center");
                //doc.text(cTotalAmount, dtTop, total_rent, "center");


                var lowerTop = dtTop + dtHeight + 8;
                doc.setFont("arial", "bold");
                doc.setFontSize(12);
                doc.text(18, lowerTop, "Checked in by"); doc.text(103, lowerTop, ":");
                doc.text(297, lowerTop, "Guest Signature", "center");
                doc.text(400, lowerTop, "Checked out by"); doc.text(490, lowerTop, ":");
                doc.line(18, lowerTop - 12, 180, lowerTop - 12);
                doc.line(210, lowerTop - 12, 380, lowerTop - 12);
                doc.line(400, lowerTop - 12, 578, lowerTop - 12);

                doc.setFont("arial", "normal");
                doc.text(108, lowerTop, checkedInBy);
                doc.text(495, lowerTop, checkedOutBy);

                doc.setDrawColor(1);
                doc.setFillColor(0, 0, 0);
                doc.setFontSize(15);
                doc.setDrawColor(0);
                doc.setFillColor(211, 211, 211);
                doc.setFontSize(12);


                doc.text(155, 100, name);
                doc.text(155, 120, father_name);
                doc.text(462, 120, height);
                doc.text(155, 140, mother_name);
                doc.text(462, 140, age);
                doc.text(155, 160, address);
                doc.text(462, 160, phone);
                doc.text(462, 180, occupation);
                doc.text(155, 200, spouse_name);
                doc.text(462, 200, nationality);

                doc.text(195, 220, npd);
                doc.text(462, 220, visa);
                doc.text(195, 240, arraived_from);
                doc.text(462, 240, going_to);
                doc.text(195, 260, purposeOfVisit);



                doc.setFontSize(35);
                doc.setFont("arial", "bold");
                if (sign != "" && sign != null) {
                    doc.addImage(sign, 'png', 220, 330, 120, 40);
                }
                /* Data section end */

                //doc.save(fileName);
                var base64 = doc.output('datauristring');
                var object = '<iframe width="100%" height="100%" src="' + base64 + '"></iframe>';
                var generator = window.open("", "", "top=100,left=500,width=500,height=500");
                generator.document.write(object);
                generator.document.close();
            }
        });
    }
    function Shortifier(src, chopPoint) {
        if (src.length <= chopPoint)
            return src;
        return finalStr = src.substr(0, chopPoint) + '\n' + src.substr(chopPoint, src.length)
    }
</script>