﻿<div class="container">
    <div class="row">
        @{int i = 0;
            if (ViewBag.GuestList != null)
            {
                foreach (var item in ViewBag.GuestList)
                {
                    <div class="col-md-3 col-lg-3 col-sm-6">
                        <div class="gallery">
                            @if (item.Image != null)
                            {
                                <a target="_blank" href="@item.Image">
                                    <img src="@item.Image" class="img-responsive" alt="@item.tbl_guest_info.Name" width="300" height="200">
                                </a>
                            }
                            else
                            {
                                <img src="~/WebImages/no-image6.png" class="img-responsive" alt="Trolltunga Norway" width="300" height="200">
                            }
                            <div class="desc">
                                @item.Arrival_Date.ToString("dd MMM yyyy HH:mm")<br />
                                <strong>@item.tbl_guest_info.Name</strong>
                                <h4>@item.tbl_room_info.Room_No</h4>
                            </div>
                        </div>
                    </div>
                    i++;
                    if (@i == 4)
                    {
                        @:</div><div class="row">
                        i = 0;
                    }
                }
            }
        }
    </div>

</div>
