﻿@model IEnumerable<PMS_HT.Models.tbl_room_transactions>
@using PMS_HT.Models
@using PMS_HT.CustomClass
@{
    ViewBag.Title = "TransactionDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    tbl_guest_stay_info GuestInfo = ViewBag.GuestInfo;
    DateTime checkoutDateTime = ViewBag.checkoutDateTime;
    List<tbl_room_transactions> regularVatSc = Model.Where(a => (a.Tran_Ref_ID == 2 || a.Tran_Ref_ID == 4 || a.Tran_Ref_ID == 17 || a.Tran_Ref_ID == 15 || a.Tran_Ref_ID == 16 || a.Tran_Ref_ID == 18) && (a.Tran_Date.Value.AddHours(3) <= checkoutDateTime || a.Tran_Date.Value.Date == GuestInfo.Arrival_Date.Date)).OrderBy(a => a.Tran_Date).ToList();

    List<tbl_room_transactions> paid = Model.Where(a => (a.Tran_Ref_ID == 3 || a.Tran_Ref_ID == 12 || a.Tran_Ref_ID == 14)).OrderBy(a => a.Tran_Date).ToList();
    List<tbl_room_transactions> discount = Model.Where(a => a.Tran_Ref_ID == 1).OrderBy(a => a.Tran_Date).ToList();
    List<tbl_room_transactions> otherBill = Model.Where(a => a.Tran_Ref_ID == 5).OrderBy(a => a.Tran_Date).ToList();


    decimal regularVatScTotal = 0, discountTotal = 0, paidTotal = 0, otherbillTotal = 0;
    decimal extraCharge = Convert.ToDecimal(Model.Where(e => e.Tran_Ref_ID == 6).Select(e => e.Debit).FirstOrDefault());
    decimal refund = Convert.ToDecimal(Model.Where(e => (e.Tran_Ref_ID == 7 || e.Tran_Ref_ID == 13)).Select(e => e.Credit).FirstOrDefault());
    decimal baddebt = Convert.ToDecimal(Model.Where(e => e.Tran_Ref_ID == 8).Select(e => e.Credit).FirstOrDefault());
    decimal surplus = Convert.ToDecimal(Model.Where(e => e.Tran_Ref_ID == 9).Select(e => e.Debit).FirstOrDefault());
    string checkOutDate = GuestInfo.Check_Out_Date.HasValue ? GuestInfo.Check_Out_Date.Value.ToString("dd/MM/yyyy") : "";
    checkOutDate += " ";
    checkOutDate += GuestInfo.Check_Out_Time.HasValue ? DateTime.Today.Add(GuestInfo.Check_Out_Time.Value).ToString("HH:mm:ss") : "";
}

<div class="row">
    <div class="portlet box yellow-casablanca">
        <div class="portlet-title">
            <div class="caption" style="padding-left:45%;">
                Guest Information
            </div>
            <div class="tools">
                @if (User.IsInRole("Super Admin"))
                {
                    <button class="btn purple-seance">
                        <a href="@Url.Action("Details", "StayInfoRepair", new { Area = "Repair", id = GuestInfo.Stay_Info_ID })">Stay Info</a>
                    </button>
                    <button class="btn blue-chambray">
                        <a href="@Url.Action("AllTransactions", "TransactionsRepair", new { Area = "Repair", id = GuestInfo.Stay_Info_ID })">Transactions</a>
                    </button>
                }
                <button class="btn grey-steel" onclick="printStatement()"><i class="fa fa-file-pdf-o" style="font-size:16px;color:red" aria-hidden="true">&nbsp;PDF</i></button>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-bordered table-hover table-responsive">
                <tr>
                    <th>Name</th>
                    <td>@GuestInfo.tbl_guest_info.Name</td>
                    <th>Phone</th>
                    <td>@GuestInfo.tbl_guest_info.Phone</td>
                    <th>Address</th>
                    <td>@GuestInfo.tbl_guest_info.Address</td>
                </tr>
                <tr>
                    <th>CheckIn Date</th>
                    <td>@GuestInfo.Arrival_Date</td>
                    <th>Departure Date</th>
                    <td>@GuestInfo.Departure_Date</td>
                    <th>CheckOut Date</th>
                    <td>@checkOutDate</td>
                </tr>
            </table>
        </div>
    </div>

    <div style="text-align:center">
        <h2>Room No @GuestInfo.tbl_room_info.Room_No </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="portlet box blue-madison">
            <div class="portlet-title">
                <div class="caption">
                    Regular Charge & VAT
                </div>
                <div class="tools">

                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover table-responsive">
                    <tr>
                        <th>
                            Particular
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Transaction Date
                        </th>
                    </tr>

                    @foreach (var item in regularVatSc)
                    {
                        string title = "";
                        if (item.tbl_emp_info != null)
                        {
                            title = item.tbl_emp_info.user_name;
                        }
                        <tr title="@title" data-toggle="tooltip" data-placement="auto">
                            @{
                                int tranRefId = (int)item.Tran_Ref_ID;
                                if (tranRefId == 2 || tranRefId == 15)
                                {
                                    <td> VAT</td>
                                }
                                else if (tranRefId == 17 || tranRefId == 18)
                                {
                                    <td> SC</td>
                                }
                                else
                                {
                                    <td> Charge </td>
                                }

                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.Debit)
                            </td>
                            <td style="width:50%">
                                @Html.DisplayFor(modelItem => item.Tran_Date)
                            </td>
                        </tr>
                        regularVatScTotal += item.Debit.Value;
                    }
                    @*@{regularVatScTotal = Rounder.Round5(regularVatScTotal); }*@
                    <tr>
                        <th>Total</th>
                        <th>@regularVatScTotal</th>
                        <th></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="portlet box blue-madison">
            <div class="portlet-title">
                <div class="caption">
                    Other Bills
                </div>
                <div class="tools">

                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover table-responsive">
                    <tr>
                        <th>
                            Particular
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Transaction Date
                        </th>
                    </tr>

                    @foreach (var item in otherBill)
                    {
                        string title = "";
                        if (item.tbl_emp_info != null)
                        {
                            title = item.tbl_emp_info.user_name;
                        }
                        <tr title="@title" data-toggle="tooltip" data-placement="auto">
                            <td>
                                @Html.DisplayFor(modelItem => item.Particulars)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Debit)
                            </td>
                            <td style="width:50%">
                                @Html.DisplayFor(modelItem => item.Tran_Date)
                            </td>
                        </tr>
                        otherbillTotal += item.Debit.Value;
                    }
                    <tr>
                        <th>Total</th>
                        <th>@otherbillTotal</th>
                        <th></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="portlet box red-intense">
            <div class="portlet-title">
                <div class="caption">
                    Discounts
                </div>
                <div class="tools">

                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover table-responsive">
                    <tr>
                        <th>
                            Particular
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Transaction Date
                        </th>
                    </tr>

                    @foreach (var item in discount)
                    {
                        string title = "";
                        if (item.tbl_emp_info != null)
                        {
                            title = item.tbl_emp_info.user_name;
                        }
                        <tr title="@title" data-toggle="tooltip" data-placement="auto">
                            <td>
                                @Html.DisplayFor(modelItem => item.Particulars)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Credit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tran_Date)
                            </td>
                        </tr>
                        discountTotal += item.Credit.Value;
                    }
                    <tr>
                        <th>Total</th>
                        <th>@discountTotal</th>
                        <th></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="portlet box green-jungle">
            <div class="portlet-title">
                <div class="caption">
                    Paid
                </div>
                <div class="tools">

                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover ">
                    <tr>
                        <th>
                            Particular
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Transaction Date
                        </th>
                    </tr>

                    @foreach (var item in paid)
                    {
                        string title = "";
                        if (item.tbl_emp_info != null)
                        {
                            title = item.tbl_emp_info.user_name;
                        }
                        <tr title="@title" data-toggle="tooltip" data-placement="auto">
                            <td>
                                @Html.DisplayFor(modelItem => item.Particulars)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Credit)
                            </td>
                            <td style="width:50%">
                                @Html.DisplayFor(modelItem => item.Tran_Date)
                            </td>
                        </tr>
                        paidTotal += item.Credit.Value;
                    }
                    <tr>
                        <th>Total</th>
                        <th>@paidTotal</th>
                        <th></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
<div style="text-align:center">
    <h2>Summery</h2>
</div>
@{
    decimal totalDebit = Rounder.Round(regularVatScTotal + otherbillTotal + extraCharge);
    decimal totalCredit = paidTotal + discountTotal - refund + baddebt;
    decimal balance = totalCredit - totalDebit;
    if (balance > -5 && balance < 5)
    {
        balance = 0;
    }
}
<div class="row">
    <div class="col-md-6">
        <div class="portlet box blue-madison">
            <div class="portlet-title">
                <div class="caption">
                    Charges
                </div>
                <div class="tools">

                </div>
            </div>
            <div class="portlet-body">
                <table class="table">
                    <tr>
                        <th>Regular Charge & VAT</th>
                        <td>@regularVatScTotal</td>
                    </tr>
                    <tr>
                        <th>Other Bill</th>
                        <td>@otherbillTotal</td>
                    </tr>
                    <tr>
                        <th>Extra Charge</th>
                        <td>@extraCharge</td>
                    </tr>
                    <tr>
                        <th> &nbsp;</th>
                        <td> &nbsp;</td>
                    </tr>

                    <tr>
                        <th>TOTAL (Rounded)</th>
                        <th>@totalDebit</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet box green-jungle">
            <div class="portlet-title">
                <div class="caption">
                    Payments
                </div>
                <div class="tools">

                </div>
            </div>
            <div class="portlet-body">
                <table class="table">
                    <tr>
                        <th>Total Paid</th>
                        <td>@paidTotal</td>
                    </tr>
                    <tr>
                        <th>Discount</th>
                        <td>@discountTotal</td>
                    </tr>
                    <tr>
                        <th>(-)Refund</th>
                        <td>@refund</td>
                    </tr>
                    <tr>
                        <th>Baddebt</th>
                        <td>@baddebt</td>
                    </tr>

                    <tr>
                        <th>TOTAL</th>
                        <th>@totalCredit</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <table class="table">
        <tr style="text-align:center;background-color:#F2784B;">
            <td>Balance = <strong>@balance</strong></td>
        </tr>
    </table>
</div>
<style type="text/css">
    .portlet.box > .portlet-body {
        padding: 0px;
    }
</style>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    function printStatement() {
        var id = '@GuestInfo.Stay_Info_ID';
        //window.location = "/PoliceReport/ExportReport/?id=" + id;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ExportReport")',
            data: { id: id },
            success: function (data) {
                if (data == "error")
                {
                    alert("Bad request");
                }
                else
                {
                    var str = "data:application/pdf;base64," + data;
                    var object = '<iframe width="100%" height="100%" src="' + str + '"></iframe>';
                    var generator = window.open("", "", "top=100,left=500,width=500,height=500");
                    generator.document.write(object);
                    generator.document.close();
                }
            }
        });
    }
</script>