﻿@model PMS_HT.Models.tbl_task_schdule

<script src="~/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
@using (Ajax.BeginForm("Edit", "HouseKeepingTaskSchedule", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }))
{
    @Html.HiddenFor(m => m.Task_Schdule_ID)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <div class="modal-body">
            <div class="row form-group">
                <div class="form-group">
                    @Html.LabelFor(model => model.Maid_ID, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Maid_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Maid_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Task_ID, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Task_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Task_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Room_ID, "Room No", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Room_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Room_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Schdule_Date_Time, "Schedule Time" , htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        <div class="input-group date form_meridian_datetime input-large">
                            @Html.EditorFor(model => model.Schdule_Date_Time, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Schdule_Date_Time, "", new { @class = "text-danger" })
                            <span class="input-group-btn">
                                <button class="btn default date-reset" type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                                <button class="btn default date-set" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Created_By, "Created By", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("Created_By", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Created_By, "", new { @class = "text-danger" })
                    </div>
                </div>

              @* <div class="form-group">
        @Html.LabelFor(model => model.Task_Schdule_Status, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Task_Schdule_Status, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Task_Schdule_Status, "", new { @class = "text-danger" })
        </div>
    </div>*@




                    @*<div class="form-group">
                        @Html.LabelFor(model => model.Task_Schdule_Status, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.Task_Schdule_Status, new List<SelectListItem> {
                       new SelectListItem {Text ="In Process", Value="In Process" },
                       new SelectListItem {Text ="Done", Value="Done"},
                       }, "--Select--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Task_Schdule_Status, "", new { @class = "text-danger" })
                        </div>
                    </div>*@


                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
            <button type="submit" class="btn btn-success" name="cmd"><i class="fa fa-check"></i>&nbsp;Save Changes</button>
        </div>
    }

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


